<style>
    #event_annotation_list table td, #event_annotation_list .badge {
        font-size: 10px;
    }
    #event_annotation_list table .help-text {
        color: #626262;
    }
    #event_annotation_list table tbody tr:hover {
        background-color: rgba(255,255,255,0.1);
        cursor: pointer; cursor: hand;
    }

    #event_annotation_list .loader {
        margin: 5px;
        display: none;
    }
    #event_annotation_list.is_loading .loader {
        display: block;
    }
    #event_annotation_list .badge {
        background-color: #919191;
    }
    #event_annotation_list .tab-pane {
        border-top: 15px solid #008cba;
        {#padding: 5px;#}
    }
</style>

<div id="event_annotation_list">
    <ul class="nav nav-pills">
      <li><a data-toggle="tab" href="#event_annotation_list-annotations"><i class="fa fa-tag"></i> Annotations</a></li>
      <li><a data-toggle="tab" href="#event_annotation_list-events"><i class="fa fa-comment"></i> Events</a></li>
        <li><i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw loader"></i></li>
    </ul>

    <div class="tab-content">
      <div id="event_annotation_list-events" class="tab-pane" data-src="/api/media_collection/{{media_collection_id}}/export?format=json&file=text&return=pose&return=&return=mediapaths&return=events&filter=has-event">
{#      <div id="event_annotation_list-events" class="tab-pane" data-src="/api/media_collection/{{media_collection_id}}/export?format=json&file=text&return=pose&return=datasetkeys&return=mediapaths-resolved&return=events">#}
        <div class="input-group">
          <span class="input-group-addon">FILTER:</span>
          <input type="text" class="form-control search-table" data-filter_rows="#event_list_tbody" data-search_index="1" placeholder="Search Events">
        </div>
          <table class="table">
            <thead>
                <tr>
                    <th width="90">Frame</th>
                    <th>Event</th>
                    <th width="200">Position</th>
{#                    <th>Dataset</th>#}
                </tr>
            </thead>
            <tbody id="event_list_tbody" data-format="event">

            </tbody>
        </table>
      </div>
      <div id="event_annotation_list-annotations" class="tab-pane" data-src="/api/annotation_set/{{ annotation_set_id }}/export?format=json&file=text&return=pose&return=mediapaths&return=labelinfo&return=datasetkeys&filter=&filter=has-label&transform=aggregate">
        <div class="input-group">
          <span class="input-group-addon">FILTER:</span>
          <input type="text" class="form-control search-table" data-filter_rows="#annotation_list_tbody" data-search_index="1" placeholder="Search Annotations">
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th width="90">Frame</th>
                    <th>Annotation</th>
                    <th width="200">Position</th>
{#                    <th>Dataset</th>#}
                </tr>
            </thead>
            <tbody id="annotation_list_tbody" data-format="annotation">

            </tbody>
        </table>
      </div>
    </div>
</div>

<!--  EVENT
  "alt": 2.06,
  "campaign_key": "Batemans201011",
  "dep": 35.482187,
  "deployment_key": "r20101120_192136_site3guz_13_densegrids",
  "event_description": "sdnf,sdmnf",
  "event_timestamp": "Sat, 20 Nov 2010 21:50:40 GMT",
  "event_type": "General comment",
  "lat": -35.63244722,
  "lon": 150.34785694,
  "media_id": 58562,
  "media_key": "PR_20101120_215040_830_LC16",
  "media_path": "https://s3-ap-southeast-2.amazonaws.com/imos-data/IMOS/AUV/auv_viewer_data/images/Batemans201011/r20101120_192136_site3guz_13_densegrids/full_res/PR_20101120_215040_830_LC16.jpg",
  "platform": "IMOS AUV",
  "pose_timestamp": "Sat, 20 Nov 2010 21:50:40 GMT",
  "thm_path": "https://s3-ap-southeast-2.amazonaws.com/imos-data/IMOS/AUV/auv_viewer_data/images/Batemans201011/r20101120_192136_site3guz_13_densegrids/thumbnails/PR_20101120_215040_830_LC16.jpg"
-->
<!-- Annotations
{
  "campaign_key": "Batemans201011",
  "class_color": "#3090c4",
  "class_id": 341,
  "class_name": "Substrate",
  "class_uuid": "16823876-bc4d-43f3-a1a8-ac5434537f6a",
  "comment": "",
  "count": 1,
  "deployment_key": "r20101120_002302_site5sz_12_densegrids",
  "media_id": 36034,
  "media_key": "PR_20101120_002943_624_LC16",
  "media_path": "https://s3-ap-southeast-2.amazonaws.com/imos-data/IMOS/AUV/auv_viewer_data/images/Batemans201011/r20101120_002302_site5sz_12_densegrids/full_res/PR_20101120_002943_624_LC16.jpg",
  "platform": "IMOS AUV Sirius",
  "pose_alt": 2.093,
  "pose_dep": 37.364962,
  "pose_lat": -35.96929653,
  "pose_lon": 150.1840375,
  "pose_timestamp": "2010-11-20T00:29:43.000000Z",
  "tags": "substrate,physical",
  "thm_path": "https://s3-ap-southeast-2.amazonaws.com/imos-data/IMOS/AUV/auv_viewer_data/images/Batemans201011/r20101120_002302_site5sz_12_densegrids/thumbnails/PR_20101120_002943_624_LC16.jpg"
}
-->

<script>
    $(document).ready(function(){
        var $container = $("#event_annotation_list");
        var media_collection_id = "{{ media_collection_id }}";
        var annotation_set_id = "{{ annotation_set_id }}";

        $container.find('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            var $tab = $($(e.target).attr("href")); // newly activated tab
            var $prev_tab = $($(e.target).attr("href"));  // previous active tab
            var src = $tab.data("src");

            $container.addClass("is_loading");
            $.getJSON(src, function(data){
                var $tbody = $tab.find("tbody").html("");
                console.log(data);
                console.log($tbody);
                if ($tbody.data("format") == "annotation") {
                    var annotations = {};
                    $(data.objects).each(function(i,el){
                        if (!annotations.hasOwnProperty(el.media_id))
                            annotations[el.media_id] = {
                                thm_path:el.thm_path, lat:el.pose_lat,lon:el.pose_lon,alt:el.pose_alt,dep:el.pose_dep,
                                pose_timestamp:el.pose_timestamp,annotations:[], media_key: el.media_key,
                                deployment_key: el.deployment_key, campaign_key: el.campaign_key
                            };
                        annotations[el.media_id].annotations.push({tags:el.tags, comment:el.comment, class_name:el.class_name, count: el.count})
                    });

                    $.each(annotations, function(media_id,el_im){
                        var $annotations_list = $("<ul>");
                        var $tr = $("<tr>").click(function () {
                            annotate_media(media_id, media_collection_id, annotation_set_id);
                        });

                        $tr.append("<td><img style='height:70px' src='"+el_im.thm_path+"'</td>");
                        $tr.append($("<td>").append($("<em>"+el_im.campaign_key+" > "+el_im.deployment_key+" > "+el_im.media_key+"</em>"),$annotations_list));
                        $tr.append("<td><span class='help-text'>"+el_im.pose_timestamp+ "</span><br>LAT:"+el_im.lat+", LON:"+el_im.lon+", DEP:"+el_im.dep+", ALT:"+el_im.alt+ "</td>");

                        $(el_im.annotations).each(function(i,el){
                            var $label = $("<li>"+el.count+" &times; <b>"+el.class_name+"</b><br><em>"+el.tags+"</em></li>");
                            $annotations_list.append($label);
                        });
                        $tbody.append($tr);
                    });
                }
                else if ($tbody.data("format") == "event") {
                    $(data.objects).each(function (i, el) {
                        var $tr = $("<tr>").click(function () {
                            annotate_media(el.media_id, media_collection_id, annotation_set_id);
                        });
                        $tr.append("<td><img style='height:70px' src='" + el.thm_path + "'</td>");
                        $tr.append("<td><b>" + el.event_type + "</b><br><em>" + el.event + "</em><br><span class='help-text'>" + el.event_timestamp + "</span></td>");
                        $tr.append("<td><span class='help-text'>" + el.pose_timestamp + "</span><br>LAT:" + el.pose_lat + ", LON:" + el.pose_lon + ", DEP:" + el.pose_dep + ", ALT:" + el.pose_alt + "</td>");
                        $tbody.append($tr);
                    });
                }
                $container.removeClass("is_loading");
                //$tab.html("<pre>"+JSON.stringify(data, null, 2)+"</pre>")
            }).fail(function(jqxr, text_status, msg){
                console.log("ERROR!", jqxr, text_status, msg);
            });
            $container.find("input.search-table").val("");
        });

        $container.find("ul.nav-pills li:first a").trigger("click");


        $container.find("input.search-table").keyup(function(e){
            var $rows = $container.find($(this).data("filter_rows")).find("tr");
            var val = $(this).val().toLowerCase().trim();
            var colind = parseInt($(this).data("search_index"));
            console.log(colind);
            $rows.each(function(i,row){
                var text  = $(row).children().eq(colind).text().toLowerCase(),
                    ind = text.indexOf(val);
                (ind >= 0) ? $(row).show() : $(row).hide();
            });
        });


        function annotate_media(media_id, media_collection_id, annotation_set_id) {
            dataset_modal.media.annotate(media_id, annotation_set_id, {}, {keyboard:true});
            /*
            var qs = '?media_q={"filters":[{"name":"media_collections","op":"any","val":{"name":"id","op":"eq","val":"' + media_collection_id + '"}}],"order_by":[{"field":"timestamp_start","direction":"asc"}]}&page=1&results_per_page=50&page_index=0';
            //var qs = ""; // do not load thumbnails (quicker)
            open_modal("/iframe/geodata/annotate/" + media_id + "/" + annotation_set_id + qs, {
                modal_id: 'media-modal-annotate',
                modal_class: 'modal-full modal-dark',
                show_close: false,
                iframe: true
            });
            */
        }
    });
</script>