<!--EXPLORE-->

<h5 style="margin-top:0" title="Choose what you would like to view. Map shows deployments, Data shows thumbnails and survey data." data-toggle="tooltip" data-placement="left">
{#    <i class="fa fa-eye"></i> Explore:#}
    <i class="fa fa-check-circle-o"></i>  Explore:
</h5>

<!--
<div class="btn-group" role="group"  style="width: 100%">
    <a class="btn btn-default btn-sm explore-tab-link" style="width: 33%"  href="#map" aria-controls="map" role="tab" data-toggle="tab"><i class="fa fa-globe"></i> Map</a>
    <a class="btn btn-default btn-sm explore-tab-link" style="width: 33%"  href="#img" aria-controls="img"  role="tab" data-toggle="tab"><i class="fa fa-image"></i> Media</a>
    <a class="btn btn-default btn-sm explore-tab-link" style="width: 33%"  href="#dat" aria-controls="dat"  role="tab" data-toggle="tab"><i class="fa fa-bar-chart"></i> Stats</a>
</div>
-->

<!--FILTERS-->
{#<h5 title="Select datasets to view in more detail" data-toggle="tooltip" data-placement="left">#}
{#    <i class="fa fa-check-circle-o"></i> View:#}
{#</h5>#}

<label>
    <i class="fa fa-info-circle" title="Show deployments for specific Platform(s) only" data-toggle="tooltip" data-placement="left"></i>
    Filter view by Platform:
</label>
<div class="form-group" id="platform-list-filter" data-filtertype="select">
    <select class="filter-list" size="1" multiple></select>
    <div class="filter-info" id="filtinfo-platform_ids"></div>
</div>
<label >
    <i class="fa fa-info-circle" title="Choose specific Deployment(s) to explore/save" data-toggle="tooltip" data-placement="left"></i>
    Select deployments:
</label>
{#     <div class="form-group">#}
{#         <select id="deployment-list" multiple onchange="update_filters()"></select>#}
{#     </div>#}
<div class="form-group filter-popoutlist" id="deployment-list-filter" >
    <div class="input-group">
        <span class="input-group-addon deployment-show"><i class="fa fa-arrow-left"></i></span>
        <input class="form-control deployment-search deployment-show" type="text" placeholder="Select/search Deployments" title="Search/select deployments" data-toggle="tooltip" data-placement="top">
        <span class="input-group-addon" onclick='$(this).siblings("input.deployment-search").val("").trigger("keyup");'><i class="fa fa-times" ></i></span>
    </div>
    <div class="filter-info" id="filtinfo-campaign_ids"></div>
{#    <label>Selected deployments:</label>#}
{#    <div class="filter-info" id="filtinfo-deployment_ids"></div>#}
    <div class="filter-list"></div>
</div>

<h5 title="Apply filters to explore or save datasets" data-toggle="tooltip" data-placement="left">
    <i class="fa fa-filter"></i> Selected deployments: <span class="pull-right" id="selected-deployment-count"></span>
</h5>
<div class="filter-info" id="filtinfo-deployment_ids"></div>

<label>
    <i class="fa fa-info-circle" title="Filter data from selected deployment(s) by Altitude (height above ground)" data-toggle="tooltip" data-placement="left"></i>
    Filter selected Media by Altitude (m):
</label>
<div class="form-group" id="alt-filter">
    <div class="input-group">
        <span class="input-group-addon">Min:</span>
        <input disabled type="number" step="0.01" name="alt_min" class="form-control pose-filter" value="{{ params.alt_gt }}" placeholder="Alt (m)">
        <span class="input-group-addon">Max:</span>
        <input disabled  type="number" step="0.01" name="alt_max" class="form-control pose-filter" value="{{ params.alt_lt }}" placeholder="Alt (m)">
    </div>
    <span class="filter-info" id="filtinfo-alt_min"></span>
    <span class="filter-info" id="filtinfo-alt_max"></span>
</div>
<label>
    <i class="fa fa-info-circle" title="Filter data from selected deployment(s) by Depth (distance below surface)" data-toggle="tooltip" data-placement="left"></i>
    Filter selected Media by Depth (m):
</label>
<div class="form-group" id="dep-filter">
    <div class="input-group">
        <span class="input-group-addon">Min:</span>
        <input disabled type="number" step="0.01" name="dep_min" class="form-control pose-filter" value="{{ params.dep_gt }}" placeholder="Depth (m)">
        <span class="input-group-addon">Max:</span>
        <input disabled type="number" step="0.01" name="dep_max" class="form-control pose-filter" value="{{ params.dep_lt }}" placeholder="Depth (m)">
    </div>
    <span class="filter-info" id="filtinfo-dep_min"></span>
    <span class="filter-info" id="filtinfo-dep_max"></span>
</div>
<label>
    <i class="fa fa-info-circle" title="Filter data from selected deployment(s) by Date & time" data-toggle="tooltip" data-placement="left"></i>
    Filter selected Media by Date & time:
</label>
<div class="form-group" id="timestamp-filter" >
{#    <div class="input-group">#}
{#        <input style="float: left; width: 50%" disabled type="datetime-local" step="1" name="ts_min" class="form-control pose-filter pose-filter-datetime"  value="{{ params.timestamp_gt }}" placeholder="After ">#}
{#        <input style="float: left; width: 50%" disabled type="datetime-local" step="1" name="ts_max" class="form-control pose-filter pose-filter-datetime"  value="{{ params.timestamp_lt }}" placeholder="Before">#}
{#    </div>#}
    <div class="input-group">
        <input disabled type="text" name="ts_min" class="form-control pose-filter pose-filter-datetime"  value="{{ params.timestamp_gt }}" placeholder="After ">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <input disabled type="text" name="ts_max" class="form-control pose-filter pose-filter-datetime"  value="{{ params.timestamp_lt }}" placeholder="Before">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
    <span class="filter-info" id="filtinfo-ts_min"></span>
    <span class="filter-info" id="filtinfo-ts_max"></span>

</div>
