{% set _container_id = resource~"-groups-"~rendered_at %}
{% set resource = args.resource %}
<div class="export-dataset-modal" id="{{ _container_id }}">
    <div class="well well-sm object-detail">
        <div style="font-size: small; color: #757575; text-transform: uppercase">
            EXPORT {{ resource }}:
        </div>
        {% include "models/"~resource~"/info_detail.html" %}
    </div>

    {% include "models/"~resource~"/export_form.html" %}
</div>