{#<header class="panel-heading">#}
{#    <h2 class="panel-title">Configure datasets</h2>#}
{#</header>#}
<div class="panel-body">
    <h2 class="panel-title">Select DEPLOYMENT</h2>
    <p class="help-block">
        When a frame capture is triggered, it gets logged to a deployment. Please select / create a deployment below.
    </p>
    <form id="rt-gui-select-dataset" role="form" onsubmit="return false;">
        <input type="hidden" name="user_id" value="{{ current_user.id }}">

        <!-- Platform -->
        <label>PLATFORM
        <div class="input-group">
            <select class="form-control" name="platform" data-resource="platform" data-refresh="campaign">
            </select>
            <span class="input-group-btn">
                <button id="new-platform-btn" type="button" data-model="platform" title="New Platform" class="btn btn-primary"><i class="fa fa-plus"></i></button>
            </span>
        </div>
        </label>

        <!-- Campaign -->
        <label>CAMPAIGN
        <div class="input-group">
            <select class="form-control" name="campaign" data-resource="campaign" data-refresh="deployment">
            </select>
            <span class="input-group-btn">
                <button id="new-campaign-btn" type="button" data-model="campaign" title="New Campaign" class="btn btn-primary"><i class="fa fa-plus"></i></button>
            </span>
        </div>
        </label>

        <!-- Deployment -->
        <label>DEPLOYMENT
        <div class="input-group">
            <select class="form-control" name="deployment" data-resource="deployment">
            </select>
            <span class="input-group-btn">
                <button id="new-deployment-btn" type="button" data-model="deployment" title="New Deployment" class="btn btn-primary"><i class="fa fa-plus"></i></button>
            </span>
        </div>
        </label>

        <button type="submit" class="btn btn-success form-control"><i class="fa fa-play"></i> START CAPTURE</button>

        <p class="help-block">
            <b>NOTE:</b> You will also need to create / select a COLLECTION &amp; ANNOTATION SET to save your annotations and events.
        </p>
    </form>


</div>

<script>
$(document).ready(function(){
    var $form = $("form#rt-gui-select-dataset");
    var $select_platform = $form.find("select[name='platform']");
    var $select_campaign = $form.find("select[name='campaign']");
    var $select_deployment = $form.find("select[name='deployment']");
    var $new_platform_btn = $form.find("#new-platform-btn");
    var $new_campaign_btn = $form.find("#new-campaign-btn");
    var $new_deployment_btn = $form.find("#new-deployment-btn");
    var $select_deployment_btn = $form.find("button[type='submit']");

    function get_resource_url(resource, filters) {
        var q ={"order_by":[{"field":"created_at","direction":"desc"}]};
        if (resource === "platform") {
            // do nothing
        }
        else if (resource === "campaign") {
            //q["filters"] = [{"name":"deployments","op":"any","val":{"name":"platform_id","op":"eq","val":filters.platform_id}}]
            // do nothing - filtering on deployments leads to empty campaign list if creating a new deployment
        }
        else if (resource === "deployment") {
            q["filters"] = [{name:"campaign_id",op:"eq",val:filters.campaign_id},
                {name:"platform_id",op:"eq",val:filters.platform_id}];
        }
        return '/api/'+resource+'?results_per_page=100&q='+JSON.stringify(q);
    }

    function get_filters() {
        return {platform_id:$select_platform.val(), campaign_id:$select_campaign.val(), deployment_id: $select_deployment.val()};
    }

    function update_list($select, id) {
        var filters = get_filters();
        var url = get_resource_url($select.data("resource"), filters);
        $.getJSON(url, function(data){
            disable_select($select, false);
            $(data.objects).each(function(i,c){
                var selected = (c.id===id) ? "selected" : "";
                $select.append("<option value='"+c.id+"' "+selected+">"+c.name+"</option>");
            });
            $select.trigger("change");
        });
    }

    function create_new() {
        var model = $(this).data("model");
        var $select = $form.find("select[name='"+model+"']");
        var qs = $.param(get_filters());
        open_modal('/ui/models/'+model+'/create.html?'+qs, {
            modal_id:'new-'+model+'-modal',
            modal_class:'modal-sm modal-dark',
            oncompleted: function(data){
                update_list($select, data.id);
            }
        });
    }

    function on_change() {
        var $this = $(this);
        var $child = $form.find("select[name='"+$this.data("refresh")+"']");
        if ($child.length > 0) {
            if ($this.val()) {
                update_list($child, null);
            }
            else {
                disable_select($child, true);
            }
        }
    }

    function disable_select($select, disabled) {
        var $btn = $form.find("button[data-model='"+$select.attr("name")+"']");
        $select.html("<option value=''>-</option>");
        $select.prop("disabled", disabled);
        $btn.prop("disabled", disabled);
        $select.trigger("change");
    }


    $new_platform_btn.click(create_new).prop("disabled",true);
    $new_campaign_btn.click(create_new).prop("disabled",true);
    $new_deployment_btn.click(create_new).prop("disabled",true);

    $select_platform.change(on_change).prop("disabled",true);
    $select_campaign.change(on_change).prop("disabled",true);
    $select_deployment.change(on_change).prop("disabled",true);

    update_list($select_platform, null);

    $select_deployment_btn.click(function(){
        var $modal = $form.parents(".modal");
        var deployment_id = parseInt($select_deployment.val());
        if (deployment_id)
            $modal.trigger("completed", {deployment_id: deployment_id});
        else
            notify.error("ERROR: No deployment has been selected!")
    });
});
</script>