{% set _container_id = "label-copy-vocab_elements-"~rendered_at %}
<div id="{{ _container_id }}">
    <div class="help-block">COPY VOCAB_ELEMENTS FROM LABEL:</div>
    <h3>
        <span class="pull-right">[ID:{{data.id}}]</span>
        <i class='fa fa-square link' style='color: {{data.color}}'></i> {{data.name}}
    </h3>
    <small class="help-block">
        <b>{{data.label_scheme.name}}:</b> {{ data.name_path }}
    </small>

    <div class="well" id="label-vocab_elements">

    </div>
    <div>
        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-success pull-right"><i class="fa fa-copy"></i> COPY ALL VOCAB_ELEMENTS</button>
    </div>
</div>

<script>
    $(document).ready(function() {
        var $container = $("#{{ _container_id }}");
        var $label_vocab_elements = $container.find("#label-vocab_elements");

        var q = {"filters":[{"name":"labels","op":"any","val":{"name":"id","op":"eq","val":"{{data.id}}"}}]};
        load_content.html('/api/vocab_element?template=models/vocab_element/mapping_table.html&q='+JSON.stringify(q)+'&label_id={{args.label_id}}', $label_vocab_elements, function(){
            $label_vocab_elements.find("a[rel='modal']").click(function(e){
                e.preventDefault();
                var modal_opts = $(this).data();
                //modal_opts.oncompleted = load_mapped_vocab_elements;
                open_modal($(this).attr("href"), modal_opts);
            });
        });
    });
</script>