{% set _container_id = "detail-label-"~rendered_at %}
<div id="{{ _container_id }}">

{#<span class="pull-right text-right">#}
{#    {% if data.is_approved %}#}
{#    <span class="badge badge-success" title="This class label has been approved by the scheme custodian"><i class="fa fa-check"></i> APPROVED</span>#}
{#    {% else %}#}
{#    <span class="badge badge-danger" title="This class label has not been approved by the custodian"><i class="fa fa-times"></i> UNAPPROVED</span>#}
{#    {% endif %}#}
{#    <br>#}
{##}
{#</span>#}
{% include "models/label/header_title.html" %}

<div id="detail-label-tabcontent-{{ rendered_at }}" >
     <div id="label-exemplars" >
        <select class="pull-right" name="exemplar_annotation_set_id" style="border: none; text-align-last: right;">
            <option value="" style="direction: rtl;">ALL EXEMPLAR SETS</option>
            {% for a in data.exemplar_annotation_sets %}
                <option style="direction: rtl;" value="{{ a.id }}">{{ a.name }}</option>
            {% endfor %}
        </select>
        <h5>
            <i class="fa fa-image" title="Example images that have '{{ data.name }}' class labels."></i>
            Select an exemplar set:
        </h5>
        <div class="media-container" style="position: relative">
            <div class="alert">
                <i class="fa fa-exclamation-triangle text-danger"></i> This Annotation Scheme does not have an associated exemplar
                dataset. Add one in the Annotation Scheme edit window.
            </div>
        </div>
    </div><br>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#label-info" role="tab" data-toggle="tab" data-parent="#detail-label-tabcontent-{{ rendered_at }}">
            <i class="fa fa-info-circle"></i> Label</a>
        </li>
        <li role="presentation"><a href="#label-mapping" role="tab" data-toggle="tab" data-parent="#detail-label-tabcontent-{{ rendered_at }}">
            <i class="fa fa-exchange"></i> Mappings </a>
        </li>
        <li role="presentation"><a href="#label-metadata" role="tab" data-toggle="tab" data-parent="#detail-label-tabcontent-{{ rendered_at }}">
            <i class="fa fa-th-list"></i> Metadata</a>
        </li>
    </ul>
    <div class="tab-content" style="">
        <div role="tabpanel" data-type="media" class="tab-pane active" id="label-info" >
            {% include "models/label/info_table.html" %}
        </div>


        <div role="tabpanel" data-type="media" class="tab-pane" id="label-metadata" >
            <h5><i class="fa fa-list-ul" title="Additional information associated with this label."></i> Metadata:</h5>
            {% include "models/label/info_table_metadata.html" %}
        </div>

        <div role="tabpanel" data-type="media" class="tab-pane" id="label-mapping">
            <div class="help-block"><i class="fa fa-info-circle"></i> Vocab Elements that are currently mapped to this Label (used for semantic translation between schemes)</div>
            <div id="mapped_vocab_elements"></div>
        </div>

        {#
        <div role="tabpanel" data-type="iframe" data-url="https://obis.org/taxon/127160" class="tab-pane" id="label-report-1">
        </div>
        <div role="tabpanel" data-type="iframe" data-url="http://www.marinespecies.org/aphia.php?p=taxdetails&id=127160#distributions" class="tab-pane" id="label-report-2">
        </div>
        <div role="tabpanel" data-type="iframe" data-url="https://www.marine.csiro.au/data/caab/taxon_report.cfm?caab_code=37017001&noheader=true" class="tab-pane" id="label-report-3">
        </div>
        <div role="tabpanel" class="tab-pane" id="label-report-4">
            <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> <b>NOTE:</b> TO BE IMPLEMENTED!</div>
            <div class="well well-sm">
                <h5>UMI report</h5>
            This does not exist yet, but will provide a distribution map from data submitted by UMI
            to the AODN plus some other stats and figures. It will also likely show data using the translation capability across annotation schemes.
            </div>
        </div>
        #}


    </div>
    <div><br>
        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
        {% if data.current_user_can_edit %}
        <a href="#" class="btn btn-danger object-edit pull-right" data-id="{{ data.id }}"><i class="fa fa-pencil-square-o"></i> EDIT LABEL</a>
        {% endif %}
        <a href="#" class="btn btn-success object-manage-mappings pull-right" data-id="{{ data.id }}"><i class="fa fa-exchange"></i> MANAGE LABEL MAPPINGS</a>

    </div>
</div>
{#<div style="text-align: right">#}
{#    <a href="javascript:void(0)" title="Edit Annotation Tag Group" onclick="notify.error('EDIT: {{data.id}}')"><i class="fa fa-pencil"></i></a>#}
{#    <a href="javascript:void(0)" title="Delete Annotation Tag Group" onclick="notify.error('DELETE: {{data.id}}')"><i class="fa fa-trash"></i></a>#}
{#</div>#}
<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $tab_nav_links = $container.find('a[data-toggle="tab"]');
        var $img_container = $container.find("#label-exemplars").find(".media-container");
        var $tab_content = $container.find(".tab-content");
        var label_id = '{{data.id}}';
        var $edit_btn = $container.find("a.object-edit");
        var $manage_mappings_btn = $container.find("a.object-manage-mappings");
        var $parent = $container.parent();
        var $modal = $container.parents(".modal");
        var $exemplar_annotation_set_id = $container.find("select[name='exemplar_annotation_set_id']");
        var $mapped_vocab_elements = $container.find("#mapped_vocab_elements");
        {#var $search_vocab_registries = $container.find("#search_vocab_registries");#}
        var $element_mappings = $container.find("#element_mappings");

        load_mapped_vocab_elements();
        //load_vocab_registries();

        $element_mappings.on('show.bs.collapse', load_mapped_vocab_elements)

        function load_mapped_vocab_elements() {
            var vocab_element_q = {filters: [{name: 'labels', op: 'any', val: {name: 'id', op: 'eq', val: label_id}}]}
            var template = "models/vocab_element/mapping_table.html";
            load_content.paginated_html(
                "/api/vocab_element?template="+template+"&q=" + JSON.stringify(vocab_element_q)+"&label_id={{ data.id }}"+
                    "&current_user_can_edit_label={{ "true" if data.current_user_can_edit else "false" }}",
                $mapped_vocab_elements, function() {
                    $mapped_vocab_elements.find("a[rel='modal']").click(function(e){
                        e.preventDefault();
                        var modal_opts = $(this).data();
                        modal_opts.oncompleted = load_mapped_vocab_elements;
                        open_modal($(this).attr("href"), modal_opts);
                    });
                    $mapped_vocab_elements.find("a[data-toggle='tooltip']").tooltip({placement:"auto"});
                }
            );
        }

        /*
        function load_vocab_registries() {
            var template = "models/vocab_registry/find_vocab_elements.html";
            load_content.html(
                '/api/vocab_registry?q={"order_by":[{"field":"name","direction":"asc"}]}&label_id={{ data.id }}&template='+template,
                $search_vocab_registries
            )
        }
        */




        {#var media = new Media($img_container, null, {thm_width_orig: 60});#}
        {#var q = {"filters":[{"name":"annotations","op":"any","val":{"name":"annotations","op":"any","val":{"name":"label_id","op":"eq","val":label_id}}}]};#}
        {#media.reload(q, 1, 12, true);#}
        $exemplar_annotation_set_id.change(function(){
            var imgurl = '/api/label/'+label_id+'/exemplars';
            if ($(this).val()) imgurl += '/' + $(this).val();
            imgurl += '?results_per_page=12&include_link=false&template=models/annotation/list_thumbnails.html';
            load_content.paginated_html(imgurl, $img_container, function () {
                $(this).find('img').magnify({delay:5000});
            });
        }).trigger("change");

        /*
        $tab_nav_links.on('shown.bs.tab', function (e) {
            var $tab_panel = $tab_content.find(e.target.getAttribute("href")+".tab-pane");
            if ($tab_panel.data("type") === "iframe" && !$tab_panel.data("loaded")){
                $tab_panel.html('<div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> <b>NOTE:</b> Reports are not properly linked yet. Illustrative example only...</div>');
                $tab_panel.append('<iframe src="'+$tab_panel.data("url")+'" style="width: 100%; min-height: 600px"></iframe>');
                $tab_panel.data("loaded", true);
            }
        });
        */

        $edit_btn.click(function (e) {
            dataset_modal.label.update($(this).data("id"), {
                oncompleted: function(data){
                    $modal.data("modified", true);
                    if (data===false)
                        $modal.modal("hide");
                    else
                        $parent.trigger("reload");
                }
            })
        });


        $manage_mappings_btn.click(function(e) {
            dataset_modal.label.manage_mappings($(this).data("id"), {
                oncompleted: function(data){
                    $modal.data("modified", true);
                    if (data===false)
                        $modal.modal("hide");
                    else
                        $parent.trigger("reload");
                }
            })
        });


        /*
        function edit_label(id, options) {
            var url = "/api/label/"+id+ "?template=models/label/edit.html";
            var opts = $.extend({
                modal_id: 'edit-label-modal',
                modal_class: 'modal-md',
                hide_open_modals: true,
                oncompleted: function(data){
                    console.debug("COMPLETED-DETAIL:",data);
                    $modal.data("modified", true);
                    if (data===false)
                        $modal.modal("hide");
                    else
                        $parent.trigger("reload");
                }
            }, options);
            return open_modal(url, opts);
        }
        */

        $container.find(".nav-tabs").find("[data-toggle='tab']")
            .filter("[href='#{{ args.active_tab or "label-exemplars" }}']").trigger("click");


    });
</script>
</div>