<link rel="stylesheet" href="/static/libs/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
<script src="/static/libs/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>

{% set _container_id = "label-container-"~rendered_at %}
<div id="{{ _container_id }}">
    <h3><i class="fa fa-tag"></i> Class label</h3>
    <br>
    <form class="form-horizontal" id="label-form"
      {% if data.id %} action="/api/label/{{data.id}}" method="PATCH"
      {% else %} action="/api/label" method="POST"{% endif %} >
    {% if data.id and data.annotation_count > 0%}
    <div class="alert alert-warning alert-dismissible">
{#        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
        <i class="fa fa-exclamation-triangle"></i> <b>IMPORTANT WARNING:</b> this class label has {{ data.annotation_count }}
        preexisting annotations! As a custodian or editor of this annotation scheme, you are permitted to edit this label.
        Before making any changes, be sure that you understand that:
        <ul><li>Any changes will change <b>all {{ data.annotation_count }} preexisting annotations</b> that use this
            Label, including those in other people's datasets that you may not have access to or even know about.</li>
            <li>You should only edit this if you are sure that all preexisting labels will still be correct.</li>
            <li><em>"With great power, comes great responsibility" (Spiderman).</em></li>
        </ul>
    </div>
    {% endif %}
    {% if msg %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6 alert alert-{{ msg.status }}">{{ msg.msg }}</div>
    </div>
    {% endif %}

    <input type="hidden" name="user_id" value="{{ data.user_id or current_user.id }}">
    <input type="hidden" name="label_scheme_id" value="{{ data.label_scheme_id or args.label_scheme_id }}">
    {% if data.id %}
    <div class="form-group">
        <label class="col-sm-3 control-label">Creator:</label>
        <div class="col-sm-9">
            <div class="form-info" style="margin: 0">
            {% if data.created_at %}{{ data.created_at }}{% endif %}
            {% with user=data.user %}
                {% include('models/users/user_badge.html') %}
            {% endwith %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="name" placeholder="Class label name" value="{{ data.name }}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">
            origin_code
        </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="origin_code" placeholder="Unique id of label's origin (used to map back to origin)" value="{{ data.origin_code or "" }}">
            <small class="help-block">Unique identifier used to map back to origin (if relevant)</small>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">
            parent_origin_code
        </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="parent_origin_code" placeholder="Unique id of parent label's origin (used to determine hierarchy)" value="{{ data.parent_origin_code or "" }}">
            <small class="help-block">Unique identifier used to map origin hierarchy (if relevant)</small>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Parent node</label>
        <div class="col-sm-9"  id="parent_control">
            <div class="input-group">
                <input onfocus="this.blur()" readonly="readonly" type="text" data-toggle="select-parent" class="form-control" placeholder="Root node. No parent." value="{{ data.parent.name~' [ID:'~data.parent.id~']' if data.parent else "" }}">
                <span class="input-group-btn">
                    <a href="javascript:void(0)" class="btn btn-primary" data-toggle="select-parent" title="Select a parent Class Label"><i class="fa fa-sitemap"></i> SELECT</a>
                </span>
            </div>
            <a href="javascript:void(0)" class="btn btn-link btn-xs" rel="clear-parent"><i class="fa fa-times"></i> Remove parent &amp; set as root node</a>
            <input type="hidden" name="parent_id" value="{{ data.parent_id or "" }}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">UUID</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="uuid" placeholder="UUID" value="{{ data.uuid }}" disabled>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Colour</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text" class="form-control" name="color" placeholder="Hexadecimal colour. Click selector to choose >>" value="{{ data.color }}">
                <span class="input-group-addon"><i></i></span>
            </div>
        </div>
    </div>

    {% if data.id %}
    <div class="form-group">
        <label class="col-sm-3 control-label">
            Suggested Tags
            <small class="help-block">(tag changes save automatically)</small>
        </label>
        <div class="col-sm-9">
            <div class="form-info">
            <a href="javascript:void(0)" rel="add-tag-modal" class="btn btn-success btn-xs pull-right"><i class="fa fa-plus"></i> ADD TAG</a>
            {% if data.tags %}
                {% for t in data.tags %}
                    <span class="badge">{{t.name}} <a href="/api/label/{{ data.id }}/tag/{{ t.id }}" rel="remove-tag" title="Unlink Suggested Tag"><i class="fa fa-times"></i></a></span>
                {% endfor %}
                <br><a href="javascript:void(0)" onclick="notify.error('Not implemented yet...')" class="btn btn-link btn-xs"><i class="fa fa-sitemap"></i> Cascade Tags to all children</a>
            {% else %}
                <em class="help-block">No Suggested Tag associations.</em>
            {% endif %}
            </div>

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Approval</label>
        <div class="col-sm-9">
            <label title="approved as an official class label">
                <input name="is_approved" type="radio" value="true" {{ "checked" if data.is_approved else ""}} {{ "" if data.current_user_is_custodian else "disabled"}}>
                <i class="fa fa-check fa-fw text-success"></i> <b>APPROVED:</b> <br><em>Official class label, part of the main list. Locked for editing by custodians only.</em>
            </label><br>
            <label title="not approved, only visible to its creator">
                <input name="is_approved" type="radio" value="false" {{ "checked" if not data.is_approved else ""}} {{ "" if data.current_user_is_custodian else "disabled"}}>
                <i class="fa fa-times fa-fw text-danger"></i> <b>NOT APPROVED:</b> <br><em>Not officially part of the main list. Still usable and editable by its creator.</em>
            </label>
            <div class="help-block">

            </div>
        </div>
    </div>
    {% endif %}


    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a href="javascript:void(0)" tabindex="100" data-dismiss="modal"  class="btn btn-default">Cancel</a>
            <button type="submit" tabindex="0" class="btn btn-primary">Save</button>
            {% if data.id %}
            <a href="/api/label/{{ data.id }}" class="btn btn-link pull-right" rel="delete-label"><span class="text-danger"><i class="fa fa-trash"></i> Delete</span></a>
            {% endif %}
        </div>
    </div>
    </form>
</div>
<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $form = $container.find("#label-form");
        var $modal = $container.parents(".modal");
        var $parent_control = $form.find("#parent_control");

        var $colpicker = $form.find("input[name='color']").parent(".input-group").colorpicker({format: 'hex'});

        $form.APIForm({
            ajax_prefill: false,
            callback:function(data, form) {
                $modal.trigger("completed", data);
            }
        });

        $parent_control.find('[data-toggle="select-parent"]').click(function(e){
            open_modal("/ui/models/label/select_modal.html?label_scheme_id={{ data.label_scheme_id or args.label_scheme_id }}", {
                modal_class: 'modal-sm',
                oncompleted: function(data){set_parent(data.id, data.name)}
            });
        });
        $parent_control.find('a[rel="clear-parent"]').click(function(e){
            set_parent("", "");
        });

        $container.find('a[rel="add-tag-modal"]').click(function(e){
            open_modal('/api/tag?q={"order_by":[{"field":"name","direction":"asc"}]}&results_per_page=100&template=models/tag/select_modal.html', {
                modal_class:"modal-sm",
                load_func:load_content.paginated_html,
                oncompleted: function(tag){
                    ajax.post("/api/label/{{ data.id }}/tag/"+tag.id).done(function(data){
                        $container_parent.trigger("reload");
                    });
                }
            })
        });
        $container.find('a[rel="remove-tag"]').click(function(e){
            e.preventDefault();
            ajax.delete($(this).attr("href"), {success: function(data){
                $container_parent.trigger("reload");
            }},false);
        });
        $container.find('a[rel="delete-label"]').click(function(e){
            e.preventDefault();
            ajax.delete($(this).attr("href"), {success: function(data){
                $modal.trigger("completed", false);
                notify.success("Class label has been deleted!");
            }},"Are you sure you want to delete this Class Label. You'll only be able to delete it if there are no " +
                "associated annotations. If there are associated annotations, you'll need to delete them or remap them.");
        });

        function set_parent(pid, pname) {
            $parent_control.find("input[name='parent_id']").val(pid);
            $parent_control.find("input[type='text']").val((pid) ? pname+" [ID:"+pid+"]" : "");
        }
    });
</script>
