<h3>
    <span class="pull-right">[ID:{{data.id}}]</span>
    <i class='fa fa-square link' style='color: {{data.color}}'></i> {{data.name}}
</h3>
<small class="help-block">
{#    <span class="pull-right" title="The number of annotations that have used this Label"> <i class="fa fa-tags"></i> {{data.annotation_count}} annotations</span>#}
    <b>{{data.label_scheme.name}}:</b> {{ data.name_path }}
</small>
