<div class="well well-sm">
    <div class="help-block">
    {% if args.is_linked=='true'  %}
        <span class="pull-right badge badge-success"><i class="fa fa-check"></i> already linked</span>
    {% else %}
        <span class="pull-right badge badge-danger"><i class="fa fa-times"></i> not linked</span>
    {% endif %}
    SELECTED LABEL:
    </div>
    {% include "models/label/header_title.html" %}
    <a class="small" href="javascript:void(0)" onclick="$(this).siblings('.info-table').toggle(200)">
        <i class="fa fa-info-circle"></i> Show/hide more info for selected LABEL
    </a>
    <div class="info-table" style="display: none; background-color: white">
        {% include "models/label/info_table.html" %}
    </div>
</div>