<table class="table table-condensed table-responsive table-striped">
    <tr><td>
        <b>UUID</b>
    </td><td>
        {{data.uuid}}
    </td></tr>
    <tr><td>
        <b>origin_code</b>
    </td><td>
        {{ data.origin_code }}
    </td></tr>
    <tr><td>
        <b>parent_origin_code</b>
    </td><td>
        {{ data.parent_origin_code }}
    </td></tr>
    {% for i in data.info %}
        <tr><td><b>info.{{i.name}}</b></td><td>{{i.value}}</td></tr>
    {% endfor %}
</table>