<table class="table table-condensed table-responsive table-striped">
{#            <tr>#}
{#                <td colspan="2"><b>Label ID</b>: {{ data.id }}, <b>Annotation count</b>: {{data.annotation_count}}</td>#}
{#            </tr>#}
    <tr><td width="190">
        <b>label_scheme.name</b>
    </td><td>
        {{data.label_scheme.name}} <span>[ID:{{data.label_scheme_id}}]</span>
    </td></tr>
    <tr><td>
        <b>lineage</b>
    </td><td>
        {{ data.name_path }}
    </td></tr>
    <tr><td>
        <b>usage</b>
    </td><td>
        {{data.annotation_count | humanize('intcomma')}} annotations use this label
    </td></tr>
    <tr><td>
        <b>node_type</b>
    </td><td>
        {{ "Child node" if data.is_child else "Root node"}},
        {{ "has "~data.descendant_count~" direct descendants" if data.descendant_count>0 else "no direct descendants" }}
    </td></tr>
    <tr title="Suggested Tags can be linked to each class label to make it easier to assign certain tags for specific class labels.">
        <td><b>suggested_tags</b></td><td>
        {% if data.tags %}
            {% for t in data.tags %}
                <span class="badge label-default">{{t.name}}</span>
            {% endfor %}
        {% else %}
            <em>No Suggested Tag associations. Click "Edit" to add some.</em>
        {% endif %}
    </td></tr>
    <tr><td>
        <b>creator</b>
    </td><td>
        {% with user=data.user, user_title='Label creator' %}
            {% include('models/users/user_text.html') %}
        {% endwith %}
    </td></tr>
    {% if data.created_at %}
    <tr><td>
        <b>created</b>
    </td><td>
        {{ data.created_at | parse_datestring | humanize }},
    </td></tr>
    {% endif %}
    {% if data.updated_at %}
    <tr><td>
        <b>last updated</b>
    </td><td>
        {{ data.updated_at | parse_datestring | humanize }}
    </td></tr>
    {% endif %}
    <tr><td>
        <b>label_scheme.custodian</b>
    </td><td>
        {% with user=data.label_scheme_custodian, user_title='Scheme custodian' %}
            {% include('models/users/user_text.html') %}
        {% endwith %}
    </td></tr>
    <tr><td><b>status</b></td><td>
        {% if data.is_approved %}
        <span class="badge badge-success" title="This class label has been approved by the scheme custodian"><i class="fa fa-check"></i> APPROVED</span>
        {% else %}
        <span class="badge badge-danger" title="This class label has not been approved by the custodian"><i class="fa fa-times"></i> UNAPPROVED</span>
        {% endif %}
    </td></tr>
{#            <tr><td><b># annotations</b></td><td>{{data.annotation_count}}</td></tr>#}
</table>