{% set _container_id = "label-map-vocab_elements"~rendered_at %}
<div id="{{ _container_id }}">

{#<span class="pull-right text-right">#}
{#    {% if data.is_approved %}#}
{#    <span class="badge badge-success" title="This class label has been approved by the scheme custodian"><i class="fa fa-check"></i> APPROVED</span>#}
{#    {% else %}#}
{#    <span class="badge badge-danger" title="This class label has not been approved by the custodian"><i class="fa fa-times"></i> UNAPPROVED</span>#}
{#    {% endif %}#}
{#    <br>#}
{##}
{#</span>#}
<div class="help-block">MAP VOCAB_ELEMENT TO LABEL:</div>
{% include "models/label/header_title.html" %}

<div id="detail-label-tabcontent-{{ rendered_at }}" >
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#existing_mappings" role="tab" data-toggle="tab" data-parent="#detail-label-tabcontent-{{ rendered_at }}">
            <i class="fa fa-tag"></i> Existing mappings</a>
        </li>
        <li role="presentation"><a href="#new_mappings" role="tab" data-toggle="tab" data-parent="#detail-label-tabcontent-{{ rendered_at }}">
            <i class="fa fa-plus-square"></i> Create new mappings</a>
        </li>
    </ul>
    <div class="tab-content" style="margin-bottom: 15px">
        <div role="tabpanel" data-type="media" class="tab-pane active" id="existing_mappings" >

        </div>
        <div role="tabpanel" data-type="media" class="tab-pane" id="new_mappings" >

        </div>
    </div>
    <div>
        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
{#        {% if data.current_user_can_edit %}#}
{#        <a href="#" class="btn btn-danger object-edit pull-right" data-id="{{ data.id }}"><i class="fa fa-pencil-square-o"></i> EDIT LABEL</a>#}
{#        {% endif %}#}
    </div>
</div>

<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $existing_mappings = $container.find("#existing_mappings");
        var $new_mappings = $container.find("#new_mappings");

        var label_id = '{{data.id}}';

        load_mapped_vocab_elements();
        load_vocab_registries();
        $container.find("a[data-toggle='tab'][href='#existing_mappings']").on('show.bs.tab', load_mapped_vocab_elements);

        function load_mapped_vocab_elements() {
            var vocab_element_q = {filters: [{name: 'labels', op: 'any', val: {name: 'id', op: 'eq', val: label_id}}]}
            var template = "models/vocab_element/mapping_table.html";
            load_content.paginated_html(
                "/api/vocab_element?template="+template+"&q=" + JSON.stringify(vocab_element_q)+"&label_id={{ data.id }}"+
                    "&current_user_can_edit_label={{ "true" if data.current_user_can_edit else "false" }}",
                $existing_mappings, function() {
                    $existing_mappings.find("a[rel='modal']").click(function(e){
                        e.preventDefault();
                        var modal_opts = $(this).data();
                        modal_opts.oncompleted = load_mapped_vocab_elements;
                        open_modal($(this).attr("href"), modal_opts);
                    });
                    $existing_mappings.find("a[data-toggle='tooltip']").tooltip({placement:"auto"});
                }
            );
        }

        function load_vocab_registries() {
            var template = "models/vocab_registry/find_vocab_elements.html";
            load_content.html(
                '/api/vocab_registry?q={"order_by":[{"field":"name","direction":"asc"}]}&label_id={{ data.id }}&template='+template,
                $new_mappings
            )
        }

        $container.find(".nav-tabs").find("[data-toggle='tab']")
            .filter("[href='#{{ args.active_tab or "existing_mappings" }}']").trigger("click");

    });
</script>
</div>