{% set _container_id = "label_parent-container-"~rendered_at %}
<div id="{{ _container_id }}">
    <h5><i class="fa fa-sitemap"></i> Class labels</h5>
    <div class="help-block">Select a class label from the list below</div>


    <div id="label_parent_select_container" style="max-height: 500px; overflow-y:auto"></div>

    <script>
        $(document).ready(function(){
            var $container = $("#{{ _container_id }}");
            var $container_parent = $container.parent();
            var $modal = $container.parents(".modal");
            var $label_scheme_container = $container.find("#label_parent_select_container");

            var label_scheme_obj = new LabelScheme($label_scheme_container, {
                on_label_click:function(data){
                    $modal.trigger("completed", data);
                }
            });
            label_scheme_obj.initList();
            label_scheme_obj.refreshList(parseInt("{{ args.label_scheme_id }}"));
        });
    </script>
</div>