{% set _container_id = "tag-container-"~rendered_at %}
<div id="{{ _container_id }}">
    <h5><i class="fa fa-tags"></i> Tags</h5>
    <div class="help-block">Click a Tag from the list below</div>
    <div style="width: 270px">
    {% include "models/paginate_model.html" %}
    </div>
    <div class="well well-sm dataset-select-list">
        <ul class="nav nav-pills nav-stacked object-list"  style="max-height: 400px; overflow-y: auto">
            {% if data.objects | length > 0 %}
                {% for o in data.objects %}
                    <li><a class="object-link" href="#" data-params='{"name":"{{ o.name }}","id":{{ o.id }}}'>{{ o.name }}</a></li>
                {% endfor %}
            {% else %}
                <li style="padding: 20px"><small>There are no <i class='fa fa-tags'></i>
                    Tags here yet. You can create a new one using the button below.
                </small></li>
            {% endif %}
        </ul>
    </div>
    <button class="btn btn-default form-control"><i class="fa fa-plus"></i> CREATE NEW TAG</button>

    <script>
        $(document).ready(function() {
            var $container = $("#{{ _container_id }}");
            var $container_parent = $container.parent();
            var $modal = $container.parents(".modal");
            var $object_links = $container.find(".object-link");


            $object_links.click(function(e){
                $modal.trigger('completed', $(this).data('params'));
            })
        });
    </script>
</div>