{#
Show advanced options if requested or if admin user
#}
{#{% set show_advanced_query=show_advanced_query==True or (current_user.is_admin if current_user.is_authenticated() else False) %}#}
{% set show_advanced_query=current_user.is_authenticated() %}
{% set _minify = request.args.minify != "false" %}
<div class="paginate-list-params">
    <div class="badge-group paginate-list-controls">
        {% if data.page %}
        {% if data.page > 1 %}
            <a href="javascript:void(0)" class="badge" rel="paginate-list" data-page="{{ data.page - 1 }}" title="Previous page">
                <i class="fa fa-chevron-left"></i> PREV
            </a>
        {% endif %}
        {% endif %}
        {% if show_advanced_query==True %}
{#            <a href="javascript:void(0)" class="badge" rel="toggle-form" title="Show/hide advanced query parameters"><i class="fa fa-sliders"></i> ADVANCED</a>#}
            <a href="javascript:void(0)" class="badge" rel="toggle-form" title="Show/hide advanced query parameters">
                <i class="fa fa-sliders"></i>
                {% if not _minify %}QUERY PARAMETERS{% endif %}
            </a>
        {% endif %}
{#        <span class="badge label-default">#}
{#            {{data.num_results | humanize('intcomma')}} RESULT{% if data.num_results>1 %}S{% endif %}#}
{#        </span>#}
        {% if data.num_results %}
        <span class="badge label-default">
            {{ data.objects | length }}/{{data.num_results | humanize('intcomma')}} result{% if data.num_results!=1 %}s{% endif %}{% if data.num_results>0 %}, page {{ data.page }}/{{ data.total_pages }}{% endif %}
        </span>
        {% endif %}

        {% if data.page %}
        <a href="javascript:void(0)" class="badge" rel="paginate-list" title="Refresh current page" data-page="{{ data.page }}">
            <i class="fa fa-refresh"></i>
            {% if not _minify %}RELOAD{% endif %}
        </a>
        {% if data.total_pages %}
        {% if data.page < data.total_pages %}
           <a href="javascript:void(0)" class="badge" rel="paginate-list" data-page="{{ data.page + 1 }}" title="Next page">
               NEXT <i class="fa fa-chevron-right"></i>
           </a>
        {% endif %}
        {% endif %}
        {% endif %}
    </div>

    {% if show_advanced_query==True %}
    <form class="form-horizontal paginate-list-form" style="display: none">
        <div class="form-group">
            <div class="input-group  input-group-sm">
                <span class="input-group-addon">q:</span>
                <input type="text" class="form-control" name="q" placeholder="JSON Query" value="{{args.q}}">
            </div>
            <div class="input-group  input-group-sm">
{#                <span class="input-group-addon"># pages: {{data.total_pages}}</span>#}
{#                <span class="input-group-addon"># results: {{data.num_results}}</span>#}
                {% if data.page %}
                <span class="input-group-addon">page:</span>
                <input type="number" min="1" max="{{data.total_pages}}" class="form-control" name="page" placeholder="page" value="{{data.page}}">
                {% endif %}
                <span class="input-group-addon">results/page:</span>
                <input type="number" min="1" max="1000" class="form-control" name="results_per_page" placeholder="results_per_page" value="{{args.results_per_page}}">
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-query" type="submit"><i class="fa fa-refresh"></i> Reload!</button>
                </span>
            </div>
            <div class="text-left" style="font-size: x-small; word-break: break-all; color: #999">
                <a href="javascript:void(0)" onclick="$(this).siblings('.request_full_path').toggle()"><i class="fa fa-link"></i> full path</a><span class="request_full_path" style="display: none;">: {{ request.full_path }}</span>
{#                For help making search queries, check the <a href="/api/help?template=api_help_page.html" target="_blank">API documentation</a>.#}
            </div>
        </div>
    </form>
    {% endif %}


</div>