<span class="badge-group">
    {% if data.current_user_can_edit %}
        <span class="badge" data-toggle='tooltip' title="You can edit this dataset">
            <i class="fa fa-pencil-square text-success" ></i>
            can edit
        </span>
    {% else %}
        <span class="badge" data-toggle='tooltip' title="You can view, but you can't edit this dataset">
            <i class="fa fa-pencil-square text-danger"></i>
            read-only
        </span>
    {% endif %}

    {% if data.is_public %}
        <span class="badge"  data-toggle='tooltip' title="This dataset is public">
            <i class="fa fa-users text-success"></i>
            public
        </span>
    {% else %}
        <span class="badge"  data-toggle='tooltip' title="This dataset is private{{ "ly shared in "~data.usergroup_count~" groups" if data.usergroup_count>0 else "" }}">
            <i class="fa fa-user"></i>
            private
        </span>
    {% endif %}

    <span class="badge" data-toggle='tooltip' title="Shared in {{ data.usergroup_count|humanize('intcomma') }} Groups">
        <i class="fa fa-share-alt"></i>
        {{ data.usergroup_count }} groups
    </span>
</span>

