{% if data.current_user_is_owner %}
    <i class="fa fa-check-square fa-fw" title="You are the owner"></i>
{% elif data.current_user_can_edit %}
    <i class="fa fa-share-alt fa-fw" title="Shared dataset. You have permission to edit"></i>
{% elif data.current_user_is_member and data.current_user_can_view%}
    <i class="fa fa-share-alt fa-fw" title="Shared dataset. You have permission to view, but not to edit"></i>
{#{% elif current_user.is_admin and data.current_user_can_view %}#}
{#    <i class="fa fa-eye-slash fa-fw text-danger" title="ADMIN VIEW - you are seeing data shared in a restricted group or you have not yet agreed to the DUA"></i>#}
{% elif data.is_public %}
    <i class="fa fa-users fa-fw" title="Publicly shared datasets. You can view but not edit."></i>
{% elif current_user.is_admin %}
    <i class="fa fa-lock fa-fw text-danger" title="ADMIN VIEW - you would normally not have access to this dataset"></i>
{% else %}
    <i class="fa fa-square fa-fw text-danger" title="Not sure why you're seeing this...?"></i>
{% endif %}