<style>
    #frame-player-instructions {
        width: 100%;
        margin: 0;
        border: 1px #666666 solid;
        border-radius: 10px;
        padding: 20px;
        text-align: left;
        color: #666666;
        background-color: rgba(0,0,0,0.1);
    }
    #media-gui-container #frame-player-instructions {
        width: 600px;
        margin: 70px auto 0 auto;
    }

    #frame-player-instructions h3 {
        margin: 0 0 10px 0;
        padding: 0 0 10px 0;
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }

    #frame-player-instructions .keystroke {
        border-radius: 3px;
        padding: 2px 5px;
        background-color: #555555;
        color: #e6e6e6;
        font-size: 10px;
        font-weight: bold;
        border: 1px solid #989898;
    }
    #frame-player-instructions .row {
        margin-bottom: 6px;
    }
    #frame-player-instructions .keystroke-col {
        text-align: center;
    }
</style>


<div id="frame-player-instructions">
<h3>Frame Player Instructions</h3>
    <p>
        This interface provides a realtime (or playback) stream of images from a deployment. Frames capturing controls a
        background process that saves images at a specified frequency during a deployment. You can use the controls
        below to annotate frames and log events in realtime (or during playback).
    </p>
    <h4>Buttons:</h4>
    <div class="row">
        <div class="col-sm-4 keystroke-col" ><span class="keystroke">START/STOP CAPTURE</span></div>
        <div class="col-sm-8">Start/stop saving frames. Frames are saved to a storage array at a defined interval. You need to be capturing frames to activate the logging functions.</div>
    </div>
    <div class="row">
        <div class="col-sm-4 keystroke-col" ><span class="keystroke">PAUSE/RESUME FEED</span></div>
        <div class="col-sm-8">Pause/resume the live feed. This does not affect the frame capture (i.e.: the saving of frames) which continues in the background. Can also be done with hotkey below.</div>
    </div>

    <h4>Keyboard shortcuts:</h4>
    <div class="row">
        <div class="col-sm-2 keystroke-col" ><span class="keystroke" title="SPACEBAR">&bbrk;</span></div>
        <div class="col-sm-10">Pause/resume live frame feed (does not affect saving of frames).</div>
    </div>
    <div class="row">
        <div class="col-sm-2 keystroke-col"><span class="keystroke" title="KEYBOARD: A">A</span></div>
        <div class="col-sm-10">ANNOTATE: Save frame to Collection and annotate in detail.</div>
    </div>
    <div class="row">
        <div class="col-sm-2 keystroke-col"><span class="keystroke" title="KEYBOARD: S">S</span></div>
        <div class="col-sm-10">QUICK SAVE: Quick-save frame to Collection.</div>
    </div>
    <div class="row">
        <div class="col-sm-2 keystroke-col"><span class="keystroke" title="KEYBOARD: T">T</span></div>
        <div class="col-sm-10">QUICK TAG: Quickly add a whole-frame annotation.</div>
    </div>
    <div class="row">
        <div class="col-sm-2 keystroke-col"><span class="keystroke" title="KEYBOARD: E">E</span></div>
        <div class="col-sm-10">LOG EVENT: record event (can also save frame to collection).</div>
    </div>
    <div class="row">
        <div class="col-sm-2 keystroke-col"><span class="keystroke" title="LEFT ARROW"><i class="fa fa-arrow-left"></i></span></div>
        <div class="col-sm-10">Pause feed and scroll back 1 thumbnail.</div>
    </div>
    <div class="row">
        <div class="col-sm-2 keystroke-col"><span class="keystroke" title="RIGHT ARROW"><i class="fa fa-arrow-right"></i></span></div>
        <div class="col-sm-10">Pause feed and scroll forward 1 thumbnail (not available in real-time playback).</div>
    </div>
    <h4>Other notes:</h4>
    <ul>
        <li>You can scroll back over past frames using the thumbnail bar at the bottom. Scrolling thumbnails will automatically pause the feed.</li>
        <li>Pausing the live feed does not stop the capturing (saving) of frames.</li>
    </ul>
</div>