{% for o in data %}
    <li class="list-item">
    <a href="/api/vocab_element/{{ o.vocab_registry_key }}/{{ o.key }}?label_id={{ args.label_id }}&template=models/vocab_element/detail.html" rel="modal" data-modal_class="modal-md" data-hide_open_modals="true">
        <i class="fa fa-plus-square fa-fw" data-key="{{ o.key }}" data-toggle="children"></i>
        <i class="fa fa-minus-square fa-fw" data-key="{{ o.key }}" data-toggle="children"></i>
        <small class="pull-right" title="{{ o.vocab_registry_key }} code"><em>[{{ o.key }}]</em></small>
        {{ o.name }}
    </a>
    <ul class="nav nav-stacked nav-nested show-active-parent list-item-children"></ul>
    </li>
{% endfor %}