{% set _container_id = "vocab_registry_browse-"~data.key~"-"~rendered_at %}
<div id="{{ _container_id }}" class="search_results">
    <h5><i class="fa fa-sitemap"></i> <b>{{ data.name }}</b></h5>
    <ul class="nav nav-stacked nav-nested browse-tree">
    </ul>

    <script>
    $(document).ready(function() {
        var $container = $("#{{ _container_id }}");
        var $browse_tree_container = $container.find(".browse-tree")

        load_children("", "{{ data.key }}", $browse_tree_container);

        function load_children(key, registry_key, $list_container) {
            load_content.html("/api/vocab_registry/"+registry_key+"/get_children?label_id={{ args.label_id }}&key="+key+
                "&template=models/vocab_registry/browse_tree_node.html", $list_container, function(){
                $list_container.find("[data-toggle='children']").click(function(e){
                    var $li = $(this).closest("li");
                    var $children_container = $li.find("ul.list-item-children").first();
                    $li.toggleClass("active");
                    if (!$children_container.data("_is_loaded")) {
                        load_children($(this).data("key"), registry_key, $children_container);
                        $children_container.data("_is_loaded", true);
                    }
                    e.preventDefault();
                    e.stopImmediatePropagation();
                })

                $list_container.find("[rel='modal']").click(function(e){
                    e.preventDefault();
                    open_modal($(this).attr("href"), $(this).data());
                })
            });
        }
    });
    </script>
</div>