{% set _container_id = "vocab_registry-element_detail-"~rendered_at %}
<div id="{{ _container_id }}">


<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");

    })
</script>
</div>