{% set _container_id = "existing_vocab_element_search-"~rendered_at %}

<div id="{{ _container_id }}">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#existing-vocab_element-browse-{{ rendered_at }}" role="tab" data-toggle="tab">
            <i class="fa fa-exchange"></i> Other schemes
        </a></li>
        <li role="presentation"><a href="#existing-vocab_element-search-{{ rendered_at }}" role="tab" data-toggle="tab">
            <i class="fa fa-search"></i> Search
        </a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="existing-vocab_element-search-{{ rendered_at }}">
            <form class="form-horizontal" id="vocab_element-search-form" action="/api/vocab_element/nested">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                    <input name="search_term" type="text" class="form-control" placeholder="Search {{ data.name }}">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary">SEARCH</button>
                    </div>
                </div>
                <div class="help-block">
                    <b><i class="fa fa-search"></i> match on:</b> &nbsp;
                    <label><input name="match_names" value="true" type="checkbox" checked> names</label> &nbsp;
                    <label><input name="match_other_names" value="true" type="checkbox" > other names</label> &nbsp;
                    <label><input name="match_mapped_labels" value="true" type="checkbox" > mapped labels</label> &nbsp;
                </div>
                <div class="search_results">
{#                    <div class="active">#}
{#                    </div>#}
                </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane active" id="existing-vocab_element-browse-{{ rendered_at }}">
            <div>
                <div class="help-block"><i class="fa fa-info-circle"></i>
                    Map label by mapping to vocab_elements associated with labels from other label_schemes
                </div>
                <select id="other_scheme_id-{{ rendered_at }}" name="label_scheme_id"></select>
            </div>
            <div id="label_scheme_label_container"></div>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        var $container = $("#{{ _container_id }}");
        var $form = $container.find("#vocab_element-search-form");
        var $label_scheme_id = $container.find("select#other_scheme_id-{{ rendered_at }}");
        var $label_scheme_label_container = $container.find("#label_scheme_label_container");

        var label_scheme_obj = new LabelScheme($label_scheme_label_container, {
            show_label_actions: false,
            on_label_click: function(data){
                if (data.is_mapped) {
                    open_modal('/api/label/' + data.id + "?template=models/label/copy_vocab_elements.html&label_id={{ args.label_id }}", {
                        hide_open_modals: true
                    });
                }
                else {
                    notify.error("That label does not have any mapped 'vocab_elements'. Please select a label scheme " +
                        "with labels that have been mapped to a vocab_registry.")
                }
            }
        });
        label_scheme_obj.initList();

        $form.submit(function(e){
            e.preventDefault();
            var url = $form.attr("action");
            var params = $form.serializeObject();
            var $results = $form.find(".search_results").html("");
            var filters = [];
            var search_term = encodeURIComponent("%"+params.search_term+"%");
            if (params.match_names)
                filters.push({name:"name", op:"ilike", val:search_term});
            if (params.match_other_names)
                filters.push({name:"other_names",op:"any",val:{name:"name",op:"ilike",val:search_term}});
            if (params.match_mapped_labels)
                filters.push({name:"label_vocab_element",op:"any",val:{name:"label",op:"has",val:{name:"name",op:"ilike",val:search_term}}});
            var q = {filters: [{or: filters}]};
            load_content.html(url+"?label_id={{ args.label_id }}&template=models/vocab_registry/nested_result.html&q="+JSON.stringify(q), $results, function(data){
                $results.find("[data-toggle='active']").click(function(e) {
                    $(this).parent("li").toggleClass("active");
                });
                $results.find("[rel='modal']").click(function(e){
                    e.preventDefault();
                    open_modal($(this).attr("href"), $(this).data());
                })
            });
            return false;
        });

        $label_scheme_id.ajax_select("/api/label_scheme", {
            results_per_page: 100,
            dropdown_parent: $container,
            template_option: '<div class="title">[[name]]</div>' +
                '<div class="description">' +
                '[[#parent_label_scheme]]<i class="fa fa-clone"></i> extends: [[name]]<br>[[/parent_label_scheme]]'+
                '<i class="fa fa-tags"></i> [[annotation_set_count]] annotation sets, ' +
                '<i class="fa fa-check-square-o"></i> [[exemplar_annotation_set_count]] exemplar sets' +
                '[[#description]]<br><em>[[description]]</em>[[/description]]' +
                '</div>',
            build_query: function(search_term) {
                var q = {filters: [],order_by: [{field:"name",direction:"asc"}]};
                if (search_term) {
                    $(search_term.split(/(\s+)/)).each(function(i,s){
                        if (s.trim())
                            q.filters.push({or:[{name:"name",op:"ilike",val:'%'+s+'%'},
                                {name:"description",op:"ilike",val:'%'+s+'%'},
                                {name:"parent_label_scheme",op:"has",val:{name:"name",op:"ilike",val:'%'+s+'%'}}]});
                    });
                }
                return q;
            }
        }).on("change", function(){
            if ($(this).val())
                label_scheme_obj.refreshList($(this).val(), null, "", true);
        });
    });
    </script>
</div>
