{% set _container_id = "vocab_registry_search-"~rendered_at %}

<div id="{{ _container_id }}">
    <div class="row">
        <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
{#                <li class="help-block">1) Try to map to existing vocab_elements:</li>#}
                <li class="active"><a href="#existing_elements-tab-{{ rendered_at }}" data-toggle="tab">
                    <small class="badge pull-right"><i class="fa fa-check text-success"></i> start here</small>
                    <b>1. Existing elements</b>
                    <div><small><em>First try map to existing elements</em></small></div>
                </a></li>
{#                <li class="help-block">2) If (1) doesn't work, try import new ones</li>#}
                {% for o in data.objects %}
                <li><a href="#{{ o.key }}-registry-tab-{{ rendered_at }}" data-toggle="tab">
                    <b>{{ loop.index + 1 }}.  {{ o.name }}</b>
                    <div><small><em>{{ o.description }}</em></small></div>
                </a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8">
            <div class="tab-content well well-sm" style="min-height: 300px">
            <div role="tabpanel" class="tab-pane active" id="existing_elements-tab-{{ rendered_at }}">
                {% include "models/vocab_registry/existing_vocab_elements.html" %}
            </div>
            {% for o in data.objects %}
            <div role="tabpanel" class="tab-pane" id="{{ o.key }}-registry-tab-{{ rendered_at }}">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#{{ o.key }}-registry-search-{{ rendered_at }}" role="tab" data-toggle="tab">
                        <i class="fa fa-search"></i> Search
                    </a></li>
                    {% if o.registry_urls.get_children_url %}
                    <li role="presentation"><a href="#{{ o.key }}-registry-browse-{{ rendered_at }}" role="tab" data-toggle="tab">
                        <i class="fa fa-sitemap"></i> Browse Tree
                    </a></li>
                    {% endif %}
                    <li role="presentation"><a href="#{{ o.key }}-registry-match-{{ rendered_at }}" role="tab" data-toggle="tab">
                        <i class="fa fa-crosshairs"></i> Match {{ o.vocab_element_key_name }}
                    </a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="{{ o.key }}-registry-search-{{ rendered_at }}">
                        {% with data = o %}
                            {% include "models/vocab_registry/form_search.html" %}
                        {% endwith %}
                    </div>
                    {% if o.registry_urls.get_children_url %}
                    <div role="tabpanel" class="tab-pane" id="{{ o.key }}-registry-browse-{{ rendered_at }}">
                        {% with data=o %}
                            {% include "models/vocab_registry/browse_tree.html" %}
                        {% endwith %}
                    </div>
                    {% endif %}
                    <div role="tabpanel" class="tab-pane" id="{{ o.key }}-registry-match-{{ rendered_at }}">
                        {% with data=o %}
                            {% include "models/vocab_registry/form_match.html" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        var $container = $("#{{ _container_id }}");

    });
    </script>
</div>
