{% set _container_id = "vocab_registry-"~data.name~"-match-"~rendered_at %}
<div id="{{ _container_id }}" >
<form class="form-horizontal" action="/api/vocab_registry/{{ data.key }}/get_element">
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-bullseye"></i>
        </div>
        <input name="key" type="text" class="form-control" placeholder="Enter specific {{ data.vocab_element_key_name }}">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary">MATCH</button>
        </div>
    </div>
    <div class="help-block">
        <i class="fa fa-info-circle"></i> Enter a <b>{{ data.vocab_element_key_name }}</b> to match it on the registry
    </div>

    <div class="search_results">

    </div>
</form>

<script>
$(document).ready(function() {
    var $container = $("#{{ _container_id }}");
    var $form = $container.find("form");

    $form.submit(function(e){
        e.preventDefault();
        var url = $form.attr("action");
        var params = $form.serialize();
        var $results = $form.find(".search_results").html("");
        load_content.html(url+"?label_id={{ args.label_id }}&template=models/vocab_registry/match_results.html&"+params, $results, function(data){
            $results.find("[rel='modal']").click(function(e){
                e.preventDefault();
                open_modal($(this).attr("href"), $(this).data());
            })
        });
    });
});
</script>
</div>