{% set _container_id = "vocab_registry-"~data.name~"-search-"~rendered_at %}
<div id="{{ _container_id }}" >
<form class="form-horizontal" action="/api/vocab_registry/{{ data.key }}/match">
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-search"></i>
        </div>
        <input name="search_term" type="text" class="form-control" placeholder="Search {{ data.name }}">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary">SEARCH</button>
        </div>
    </div>
    <div class="help-block">
    <b><i class="fa fa-search"></i> match on:</b> &nbsp;
    {% if data.registry_urls.match_name_url %}
        <label><input name="match_names" value="true" type="checkbox" checked> scientific names</label> &nbsp;
    {% endif %}
    {% if data.registry_urls.match_synonym_url %}
        <label><input name="match_synonyms" value="true" type="checkbox" > synonyms</label> &nbsp;
    {% endif %}
    {% if data.registry_urls.match_vernacular_url %}
        <label><input name="match_vernaculars" value="true" type="checkbox" > vernaculars (common names)</label> &nbsp;
    {% endif %}
    {% if data.registry_urls.match_fuzzy_name_url %}
        <label><input name="match_fuzzy_names" value="true" type="checkbox" > fuzzy search</label> &nbsp;
    {% endif %}
    </div>
    <div class="search_results">

    </div>
</form>

<script>
$(document).ready(function() {
    var $container = $("#{{ _container_id }}");
    var $form = $container.find("form");

    $form.submit(function(e){
        e.preventDefault();
        var url = $form.attr("action");
        var params = $form.serialize();
        var $results = $form.find(".search_results").html("");
        load_content.html(url+"?label_id={{ args.label_id }}&template=models/vocab_registry/search_results.html&"+params, $results, function(data){
            $results.find("[data-toggle='active']").click(function(e) {
                $(this).parent("li").toggleClass("active");
            });
            $results.find("[rel='modal']").click(function(e){
                e.preventDefault();
                open_modal($(this).attr("href"), $(this).data());
            })
        });
    });
});
</script>
</div>