{% if (data.children or (data.objects.children if data.objects else False)) %}
{% if data.num_results %}
<div class="help-block"><i class="fa fa-search"></i> search returned {{ data.num_results }} matches</div>
{% endif %}

<ul class="nav nav-stacked nav-nested show-active-parent">
    {% for k,v in (data.children or (data.objects.children if data.objects else False)).items() %}
    <li> <a href="#" data-toggle="active">
        <i class="fa fa-plus-square"></i>
        <i class="fa fa-minus-square"></i>
        {{ k }}</a>
        {% with data=v %}
        {% include "models/vocab_registry/nested_result.html" %}
        {% endwith %}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if (data.elements or (data.objects.elements if data.objects else False)) %}
<ul class="nav nav-stacked nav-nested show-active-parent">
    {% for e in (data.elements or (data.objects.elements if data.objects else False)) %}
    <li>
        {% with data=e %}
        {% include "models/vocab_element/list_item.html" %}
        {% endwith %}
    </li>
    {% endfor %}
</ul>
{% endif %}
