<ul class="nav nav-stacked nav-nested">
{% if data.matched_names %}
    <li >
        <a  href="#" data-toggle="active">
            <span class="badge pull-right">{{ data.matched_names.num_results }}</span>
            <i class="fa fa-plus-square"></i>
            <i class="fa fa-minus-square"></i>
            Matched scientific names
        </a>
        {% with data = data.matched_names.objects %}
        {% include "models/vocab_registry/nested_result.html" %}
        {% endwith %}
    </li>
{% endif %}
{% if data.matched_vernaculars %}
    <li >
        <a  href="#" data-toggle="active">
            <span class="badge pull-right">{{ data.matched_vernaculars.num_results }}</span>
            <i class="fa fa-plus-square"></i>
            <i class="fa fa-minus-square"></i>
            Matched vernaculars (common names)
        </a>
        {% with data = data.matched_vernaculars.objects %}
        {% include "models/vocab_registry/nested_result.html" %}
        {% endwith %}
    </li>
{% endif %}
{% if data.matched_synonyms %}
    <li >
        <a  href="#" data-toggle="active">
            <span class="badge pull-right">{{ data.matched_synonyms.num_results }}</span>
            <i class="fa fa-plus-square"></i>
            <i class="fa fa-minus-square"></i>
            Matched synonyms
        </a>
        {% with data = data.matched_synonyms.objects %}
        {% include "models/vocab_registry/nested_result.html" %}
        {% endwith %}
    </li>
{% endif %}
{% if data.matched_fuzzy_names %}
    <li >
        <a  href="#" data-toggle="active">
            <span class="badge pull-right">{{ data.matched_fuzzy_names.num_results }}</span>
            <i class="fa fa-plus-square"></i>
            <i class="fa fa-minus-square"></i>
            Matched names (fuzzy search)
        </a>
        {% with data = data.matched_fuzzy_names.objects %}
        {% include "models/vocab_registry/nested_result.html" %}
        {% endwith %}
    </li>
{% endif %}
</ul>
