
<style>
    #deployment_event-form label {
        display: block;
    }
    #deployment_event-form .timestamp-container {
        color: #333333;
        position: relative;
    }
</style>


<form id="deployment_event-form" action="/api/deployment_event" method="post">
    <input type="hidden" name="user_id" value="{{ current_user.id }}">
    <input type="hidden" name="deployment_id" value="{{ args.deployment_id }}">

    <label>Event Type
        <div class="input-group">
            <select  class="form-control" name="deployment_event_type_id"></select>
            <span class="input-group-btn">
                <button id="new-deployment_event_type-btn" type="button" title="New EVENT TYPE" class="btn btn-primary"><i class="fa fa-plus"></i></button>
            </span>
        </div>
    </label>
    <label>Event Details
        <textarea autofocus  name="description" class="form-control" rows="6" placeholder="Description of event"></textarea>
    </label>
    <label>Timestamp
        <div class="timestamp-container">
            <input name="timestamp" class="form-control" value="{{ args.timestamp |parse_datestring }}" placeholder="YYYY-mm-ddTHH:MM:SS">
        </div>
    </label>
{#        <input name="timestamp" class="form-control" value="{{ args.timestamp }}"> #}
    <div>Options
        {% if args.media_id %}<label><input type="checkbox" name="media_id" value="{{ args.media_id }}" checked disabled> Link to current frame (media)</label>{% endif %}
        {% if args.pose_id %}<label><input type="checkbox" name="pose_id" value="{{ args.pose_id }}" checked disabled> Link to current data (pose)</label>{% endif %}
    </div><br>
    <a href="javascript:void(0)" tabindex="100" data-dismiss="modal"  class="btn btn-default">Cancel</a>
    <button type="submit" tabindex="0" class="btn btn-primary">Save</button>
</form>
<br>
<div class="help-block">
    <p><b>Change Event Type:</b> <span class="label">SHIFT</span> + <span class="label">TAB</span> on the keyboard will switch focus from
        "Event Details" to "Event Type", which can be selected using the <span class="label">UP / DOWN</span> arrow on your keyboard.</p>
    <p><b>Quick save:</b> <span class="label">ENTER</span> on the keyboard will save and close.</p>

</div>


<script type="text/javascript">

    $(document).ready(function(){
        var $form = $('#deployment_event-form');
        var $deployment_event_type_id = $form.find("[name='deployment_event_type_id']");
        var deployment_event_type_id_init = parseInt('{{ args.event_type_id }}');
        var $timestamp = $form.find("input[name='timestamp']");
        var $description = $form.find("textarea[name='description']");
        var $new_event_type_btn = $form.find("#new-deployment_event_type-btn");

        if (!deployment_event_type_id_init && typeof(Storage) !== "undefined") {
            deployment_event_type_id_init = parseInt(localStorage.getItem("previous_deployment_event_type_id"));
            console.log("Loading previous event type id="+deployment_event_type_id_init);
        }

        $form.APIForm({
            callback:function(data, form) {
                var $modal = $form.parents('.modal.in');
                console.log(data);
                localStorage.setItem("previous_deployment_event_type_id", data.deployment_event_type_id);
                $modal.trigger("completed", data);
            }
        });

        // populate type select
        function update_event_types(id) {
            $.getJSON("/api/deployment_event_type", function (data) {
                $deployment_event_type_id.html("");
                $(data.objects).each(function (i, el) {
                    var selected = (id === el.id) ? "selected" : "";
                    $deployment_event_type_id.append("<option " + selected + " value='" + el.id + "'>" + el.name + "</option>");
                });
            });
        }


        $new_event_type_btn.click(function(){
            open_modal('/ui/models/deployment_event_type/create.html', {modal_class:'modal-sm modal-dark',
                oncompleted: function(data){
                    update_event_types(data.id);
                }});
        });


        // create timestamp picker
        $timestamp.datetimepicker({
            format: "yyyy-mm-ddThh:ii:ss",
            container: $timestamp.parent(".timestamp-container"),
            minuteStep: 2,
            forceParse: true,
            autoclose:true
        });

        // prevent enter in textarea, and submit form instead
        $description.keydown(function(event) {
            if (event.keyCode === 13) {
                $form.submit();
                event.preventDefault();
                return false;
            }
        });

        // initialise
        update_event_types(deployment_event_type_id_init);
    });

</script>