#label-list {font-size: 11px;overflow-y: auto;}
#label-list ul {list-style: none;padding-left: 11px;}
#label-list a.label-link {color: #333333 !important; margin: 0 7px 0 3px;}
#label-list a.label-link:hover,
#label-list li.label-li.selected>a.label-link {text-decoration: underline;font-weight: bold;}
#label-list a.label-info-link {
    color: #adadad;
    margin-left: 2px;
    /*background-color: rgba(185,185,185,0.6);*/
    padding: 1px 2px;
    border-radius: 4px;
    min-width: 15px;
    display: inline-block;
    text-align: center;
    font-size: xx-small;
}
#label-list a.label-info-link:hover {color: #000; background-color: #CCC}
#label-list .link {cursor: pointer; cursor: hand;}
#label-list .popover{min-width: 300px ! important;}
#label-list .popover-content {overflow-x: hidden;}
#label-list .label-icon {margin-left: 2px; color: #8b8b8b; opacity: 60%}
#label-list a.label-icon {opacity: 60%}
#label-list a.label-icon:hover {opacity: 100%}