{% set _container_id = "thumbnail_list-container-"~rendered_at %}
<div id="{{ _container_id }}">
<div class="media-list" >
<style>
    .paginate-list-params a.badge {
        color: white;
    }
</style>
{% if data.objects | length > 0 %}
    <h5><i class="fa fa-image"></i> What's down there?</h5>
    {% include "models/paginate_model.html" %}

    <div>
        {% for i in data.objects %}
        <a href="{{ request.url_root }}api/media/{{ i.media.id }}?template=models/media/preview_single.html" target="_blank" data-html="true"
{#           title="{{ i.platform.name }}<br>{{ i.campaign.name }}<br>{{ i.deployment.name }}<br>{{ i.timestamp }} ({{ i.timestamp | parse_datestring | humanize() }}){% if i.dep %}<br>Depth: {{ (i.dep | round(2)) }}m{% endif %}{% if i.alt %}<br>Altitude: {{ (i.alt | round(2)) }}m{% endif %}<br>({{ i.distance | round(2) }}m from clicked location)"#}
           title="{{ i.platform.name }} [ID:{{ i.platform.id }}]<br>{{ i.campaign.name }} [ID:{{ i.campaign.id }}]<br>{{ i.deployment.name }} [ID:{{ i.deployment.id }}]<br>{{ i.timestamp }}<br>({{ i.timestamp | parse_datestring | humanize() }}){% if i.dep %}<br>Depth: {{ (i.dep | round(2)) }}m{% endif %}{% if i.alt %}<br>Altitude: {{ (i.alt | round(2)) }}m{% endif %}"
           class="media-thm-link">
            <img class="media-thm" style="border: {{ i.color }} solid 4px; display: inline-block;max-height: 100px;" data-media_id="{{i.media.id}}" data-page_index="{{loop.index}}" src='{{i.media.path_best_thm}}'>
        </a>
        {% endfor %}
    </div>
    <small class="help-block">
        {% set depths = (data.objects | map(attribute='dep') | reject('eq',None)  | list) %}
        {% set deployment_ids = (data.objects | map(attribute='deployment') | map(attribute='id') | list) %}
{#        {% set distances = (data.objects | map(attribute='distance') | list) %}#}

        <i class="fa fa-map-marker fa-fw"></i> {{ args.lat }}, {{ args.lon }},

        {% if depths %}
        <i class="fa fa-arrow-down"></i> DEP: {{ depths[0] | round(2) }}m,
{#        <i class="fa fa-arrow-down"></i> DEP: {{ depths | min | round(2) }}m to {{ depths | max | round(2) }}m#}
        {% endif %}
        <a href="javascript:void(0)" onclick="navigator.clipboard.writeText($(this).text().trim());notify.info('Datetime copied to clipboard')">
            <i class="fa fa-clock-o"></i> {{ data.objects[0].timestamp|parse_datestring|format_datestring("%Y-%m-%dT%H:%M:%S") }}
        </a>
        <br>
        <i class="fa fa-info-circle fa-fw"></i> Showing <b>{{ data.objects | length }}</b> media items
        from <b>{{ deployment_ids | unique | list | length }}</b> deployments out of <b>{{ data.num_results }}</b> results within a
        <b>{{ args.radius }}&times;{{ args.radius }}m</b> box
{#        ({{ distances | min | round(2) }}m to {{ distances | max | round(2) }}m from clicked location)#}
    </small>
{% else %}
Nothing down here... Try clicking somewhere else...
{% endif %}
</div>
</div>