<header class="panel-heading">
    <h2 class="panel-title">New Campaign</h2>
    <p class="help-block">
        Campaigns are a group of deployments. Synonyms: Campaign / Cruise / Expedition / Site
    </p>
</header>
<div class="panel-body">
    <form id="new-campaign-form" role="form" onsubmit="return false;" target="/api/campaign">

        <input type="hidden" name="user_id" value="{{ current_user.id }}">

        <div class="form-group">
            <input name="name" type="text" class="form-control" placeholder="Campaign name">
        </div>

        <br><br>
        <button type="submit" class="btn btn-success form-control"><i class="fa fa-plus-circle"></i> CREATE CAMPAIGN</button>

    </form>
</div>

<script>
    $(document).ready(function(){

        var $form = $("form#new-campaign-form");



        $form.submit(function(e){
            var $modal = $form.parents(".modal");
            var params = {
                name: $form.find("[name='name']").val(),
                user_id: $form.find("[name='user_id']").val()
            };
            params.key = params.name.replace(/[^a-z0-9]/gi, '_').toLowerCase();

            var url = $form.attr("target");
            $.ajax({
                url: url,
                type: 'post',
                data: JSON.stringify(params),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    if (data.hasOwnProperty("id"))
                        notify.success("The Campaign was successfully created.");
                    else if (data.hasOwnProperty("message"))
                        notify.danger(data.message);
                    else
                        notify.danger(data);
                    //$modal.trigger("completed", data);
                    //$modal.modal("hide");
                }
            }).done(function(data, textstat, jqxhr){
                console.log("SUCCESS! "+ url, data);
                $modal.trigger("completed", data);
            }).fail(function(jqxhr, textstat, err){
                console.log("ERROR! could not send command: "+ url, jqxhr);
                notify.error("ERROR! "+jqxhr.responseText);
            });

            e.preventDefault();
            return false;
        });
    });
</script>