<h2><i class="fa fa-info-circle fa-fw"></i> INFORMATION </h2>
<table class="table table-condensed table-responsive">
    <tr>
        <td><b>Campaign:</b></td>
        <td>{{data.name}} <small class="pull-right">[ID:{{data.id}}]</small></td>
    </tr>
    <tr>
        <td><b>Platform(s):</b></td>
        <td>
            {% for p in data.platforms %}
{#                        <a href="javascript:void(0)" data-action="campaign_select" data-id="{{ data.id }}" data-platform_id="{{p.id}}" title="Show {{ p.name }} deployment">#}
                    {{ p.name }}
{#                        </a> #}
                <small class="pull-right">[ID:{{p.id}}]</small><br>
            {% endfor %}
        </td>
    </tr>
</table>