{#{% set _container_id = "deployment-info-"~rendered_at %}#}

<div id="{{ _container_id }}" class="map-campaign-info-popup">
    <div>
        {% include "models/campaign/dataset_info.html" %}
        {% include "models/campaign/campaign_stats.html" %}

        <div class="labeltally-chart"></div>
        <br>
        <a href="javascript:void(0)"
           data-q='{"filters":[{"name":"point","op":"has","val":{"name":"media","op":"has","val":{"name":"deployment","op":"has","val":{"name":"campaign_id","op":"eq","val":{{data.id}}}}}}]}'
           {% if current_user.is_authenticated() %}
            onclick="$(this).siblings('.labeltally-chart')
                .html('<i class=\'fa fa-circle-o-notch fa-spin fa-fw\'></i>')
                .load('/api/annotation/tally/label?template=models/annotation/tally_chart_mini.html&results_per_page=10&q='+JSON.stringify($(this).data('q')))"
           {% else %}
            onclick="notify.info('You need to be logged in to view annotation tallies')"
           {% endif %}
        >
            <i class="fa fa-tags fa-fw"></i> Dominant labels for Campaign{% if not current_user.is_authenticated() %}(needs login){%endif%}
        </a><br>
        <a href="javascript:void(0)" class="map-action" data-action="campaign_show_thumbs" data-id="{{ data.id }}">
            <i class="fa fa-image fa-fw"></i> Media thumbnails for Campaign
        </a><br><br>
        {% if data.extent %}
        <button class="btn btn-xs btn-primary form-control map-action" data-action="map_reset_bounds" data-bbox="{{ data.extent }}">
            <i class="fa fa-crosshairs"></i> ZOOM TO EXTENT
        </button>
        {% endif %}
        <button class="btn btn-xs btn-success form-control map-action" data-action="campaign_select" data-id="{{ data.id }}" data-bbox="{{ data.extent }}">
            <i class="fa fa-map-marker"></i> SHOW / HIDE ALL {{ data.stats.deployment_count }} DEPLOYMENT(S)
        </button>
{#        <!-- Single button -->#}
{#        <div class="btn-group dropup" style="display: flex;">#}
{#          <button type="button" class="btn btn-default" style="flex: 1">Dropup</button>#}
{#          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#            <span class="caret"></span>#}
{#            <span class="sr-only">Toggle Dropdown</span>#}
{#          </button>#}
{#          <ul class="dropdown-menu dropdown-menu-right">#}
{#              <li><a>Test</a></li>#}
{#              <li><a>Test</a></li>#}
{#          </ul>#}
{#        </div>#}
    </div>
</div>