<ul class="deployment-ul" {% if data.objects|length <= 0 %}style="display: none"{% endif %}>
    {% for d in data.objects %}
    <li id="cmp-lst-dpl-{{ d.id }}" title="{{ d.name }}">
        <small class="pull-right">{{ d.platform.name }}</small>
        <a rel="list_action" href="javascript:void(0);" data-id="{{ d.id }}" data-action="deployment_select">
            <i class="fa fa-square dpl-select" style="color:{{ d.color }}"></i> {{ d.name }}
        </a>
    </li>
    {% endfor %}
</ul>