<ul class="campaign-deployment-list">
    {% for c in data.objects %}
    {% set has_deployment = c.deployments|length > 0 %}
    <li id="cmp-lst-{{ c.id }}">
{#        <small class="pull-right">{{ c.platform.name }}</small>#}
        <a rel="list_action" class="cmp-show-link" href="javascript:void(0);" data-id="{{ c.id }}" data-action="campaign_deployments_show">
            {% if has_deployment %}
            <i class="fa fa-minus-square dpl-lst-toggle" style="color:{{ c.color }}"></i>
            {% else %}
            <i class="fa fa-plus-square dpl-lst-toggle" style="color:{{ c.color }}"></i>
            {% endif %}
        </a>
        <a rel="list_action" class="cmp-map-link" href="javascript:void(0);" data-id="{{ c.id }}" data-action="campaign_deployments_map">{{ c.name }}</a>

        {% with data = {"objects": c.deployments} %}
        {% include "models/campaign-deployment/get_deployment_list.html" %}
        {% endwith %}
    </li>
    {% endfor %}
</ul>