{% set _container_id = "annotation_set-clone-"~rendered_at %}
<div id="{{ _container_id }}" class="object-detail">
    <h3><i class="fa fa-copy"></i> Clone annotation_set </h3>
{#    <hr>#}
    <div class="help-block well well-sm">
        <i class="fa fa-info-circle"></i> Clone the <b>annotation_set</b> to create a new one under the same
        <b>media_collection</b>. This will clone all <b>points</b>, <b>annotations</b>,
        <b>tags</b>, <b>labels</b> including all annotation properties (<b>needs_review</b>, <b>likelihood</b>, <b>comment</b>).
    </div>
    <div id="clone_form" class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-sm-2">
            Annotation Set:
        </label>
        <div class="col-sm-9">
            <b>{{ data.media_collection.name }} <i class="fa fa-arrow-right"></i> {{ data.name }}</b><br>
            <div class="help-block">{{ data.description }}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">
            Info parameters:
        </label>
        <div class="col-sm-9">
            {% include "models/annotation_set/info_badges.html" %}
            {% if data.media_count is defined %}
            <span class="badge" >
                <i class="fa fa-image" data-toggle="tooltip" title="This media collection contains {{ data.media_count }} media items"></i>
                <b>{{ data.media_count |humanize('intcomma') }}</b>
                <span class="active-show">media items</span>
            </span>
            {% endif %}
        </div>
    </div>
    {% if data.data %}
    <div class="form-group">
        <label class="control-label col-sm-2">
            Parameters:
        </label>
        <div class="col-sm-9">
            {% include "models/annotation_set/info_parameters.html" %}
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <label class="control-label col-sm-2">
            Owner / creator:
        </label>
        <div class="col-sm-9">
            {% with user=data.user, user_title="Owner" %}
                {% include('models/users/user_badge.html') %}
            {% endwith %}

            <span class="badge active-show" title="Created: {{ data.created_at }}">
                <i class="fa fa-calendar"></i> created: {{ data.created_at | parse_datestring | humanize}}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">
            Label scheme:
        </label>
        <div class="col-sm-9">
            <span class="badge"><i class="fa fa-tags"></i> <b>{{ data.label_scheme.name }}</b></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">
            Options:
        </label>
        <div class="col-sm-9">
            <label>
                <input type="checkbox" id="translate_control">
                Translate annotation labels to another Label Scheme?
            </label>
            <select disabled id="{{ _container_id }}_target_scheme_id" name="target_scheme_id"
                    data-filters='[{"name":"id","op":"neq","val":"{{ data.label_scheme.id }}"}]'></select>
            <button disabled data-annotation_set_id="{{ data.id }}" class="btn btn-link btn-sm"
                    type="button" id="preview_translate">
                <i class="fa fa-external-link-square"></i> Preview translation
            </button>
            <div class="help-block">
                <i class="fa fa-exclamation-triangle text-danger"></i>
                <b>Note:</b> cloning does not preserve linking between annotations in observation groups.
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <a href="javascript:void(0)" tabindex="100" data-dismiss="modal"  class="btn btn-default">Cancel</a>
            <button id="clone_annotation_set_btn" type="button" tabindex="0" class="btn btn-primary"><i class="fa fa-copy"></i> CLONE</button>
        </div>
    </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function() {
            var $container = $("#{{ _container_id }}");
            var $container_parent = $container.parent();
            var $modal = $container.parents(".modal");
            var $translate_control = $container.find(":input#translate_control");
            var $target_label_scheme_id = $container.find("select#{{ _container_id }}_target_scheme_id");
            var $preview_translate_btn = $container.find("button#preview_translate");
            var $clone_annotation_set_btn = $container.find("button#clone_annotation_set_btn");

            $target_label_scheme_id.ajax_select("/api/label_scheme", {
                results_per_page: 100,
                placeholder: "Select a target label_scheme for the semantic translation",
                dropdown_parent: $container,
                template_option: '<div class="title">[[name]]</div>' +
                    '<div class="description">' +
                    '[[#parent_label_scheme]]<i class="fa fa-clone"></i> extends: [[name]]<br>[[/parent_label_scheme]]'+
                    '<i class="fa fa-tags"></i> [[annotation_set_count]] annotation sets, ' +
                    '<i class="fa fa-check-square-o"></i> [[exemplar_annotation_set_count]] exemplar sets' +
                    '[[#description]]<br><em>[[description]]</em>[[/description]]' +
                    '</div>',
                build_query: function(search_term) {
                    //var filters = $target_label_scheme_id.data("filters") || [];
                    var filters = JSON.parse(JSON.stringify($target_label_scheme_id.data("filters") || []));
                    var q = {filters: filters,order_by: [{field:"name",direction:"asc"}]};
                    if (search_term) {
                        $(search_term.split(/(\s+)/)).each(function(i,s){
                            if (s.trim())
                                q.filters.push({or:[{name:"name",op:"ilike",val:'%'+s+'%'},
                                    {name:"description",op:"ilike",val:'%'+s+'%'},
                                    {name:"parent_label_scheme",op:"has",val:{name:"name",op:"ilike",val:'%'+s+'%'}}]});
                        });
                    }
                    return q;
                }
            }).on("change", function(){
                //if ($(this).val())
                console.debug("Update filters: "+$(this).val());
                update_translate();
            });

            $translate_control.click(update_translate);

            $clone_annotation_set_btn.click(function(e){
                load_content.loader_overlay($container);
                $clone_annotation_set_btn.prop("disabled", true);
                var translate = get_translate_params();
                var url = "/api/annotation_set/{{ data.id }}/clone";
                if (translate) url += "?translate="+JSON.stringify(translate);
                ajax.post(url).done(function(data){
                    $modal.trigger("completed", data);
                }).always(function(){
                    $clone_annotation_set_btn.prop("disabled", false);
                    load_content.loader_overlay($container, true);
                });
            });

            $preview_translate_btn.click(function(e){
                if ($target_label_scheme_id.val()) {
                    var q = {filters: [{name: "annotation_set_id", op: "eq", val: "{{ data.id }}"}]};
                    var translate = get_translate_params();
                    var url = "/api/annotation/tally/label?q=" + JSON.stringify(q) + "&translate="+JSON.stringify(translate)+
                        "&template=models/annotation/tally_translate_preview.html&results_per_page=100&minify=false";
                    open_modal(url,{modal_class:"modal-xl",load_func:load_content.paginated_html});
                }
            });

            function update_translate(e) {
                if ($translate_control.is(':checked')) {
                    $target_label_scheme_id.prop("disabled", false);
                    $preview_translate_btn.prop("disabled", false);
                    console.log($target_label_scheme_id.val());
                }
                else {
                    $target_label_scheme_id.prop("disabled", true);
                    $preview_translate_btn.prop("disabled", true);
                }
            }

            function get_translate_params() {
                if ($translate_control.is(':checked') && $target_label_scheme_id.val()) {
                    return {
                        target_label_scheme_id: $target_label_scheme_id.val(),
                        vocab_registry_keys: ["worms", "caab", "catami"]
                    }
                }
                else
                    return null;
            }
        });
    </script>
</div>