{% set _container_id = "annotation_set-container-"~rendered_at %}
<div id="{{ _container_id }}">
    <h4><i class="fa fa-tags"></i> Annotation Set</h4>
    <hr>
    <form class="form-horizontal" id="annotation_set-form"
      {% if data.id %}
      action="/api/annotation_set/{{data.id}}" method="PATCH"
      {% else %}
      action="/api/annotation_set" method="POST"
      {% endif %} >
    {% if msg %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6 alert alert-{{ msg.status }}">{{ msg.msg }}</div>
    </div>
    {% endif %}

        <input type="hidden" name="user_id" value="{{ data.user_id or current_user.id }}">
        <input type="hidden" name="media_collection_id" value="{{ data.media_collection.id if data.media_collection else args.media_collection_id }}">
        <div class="form-group">
        <label class="col-sm-3 control-label">Annotation Set Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="name" placeholder="Name of Annotation Set" value="{{ data.name }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="description" placeholder="Brief description">{{ data.description }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="media_collection-sample" class="col-sm-3 control-label">Properties</label>
            <div class="col-sm-9">
                {% if data.is_public %}
                <span class="badge" title="This dataset has been shared publicly">
                <i class="fa fa-users text-success" ></i> public </span>
            {% endif %}

            <span class="badge" title="Shared in {{ data.usergroup_count|humanize('intcomma') }} Groups">
                <i class="fa fa-share-alt"></i> {{ data.usergroup_count }} groups
            </span>

            {% if data.annotation_count %}
            <span class="badge" title="Number of annotations in Annotation Set">
                <i class="fa fa-tags"></i> {{ data.annotation_count|humanize('intcomma') }}<span class="active-show"> annotations</span>
            </span>
            {% endif %}


            <span class="badge active-show" title="Owner / Creator">
                <i class="fa fa-user-circle"></i> {{ data.user.first_name }} {{ data.user.last_name }}
                {% if data.current_user_is_owner %}(me){% endif %}
            </span>
            <span class="badge active-show" title="Date Created">
                <i class="fa fa-calendar"></i> {{ data.created_at }}
            </span>

            <span class="badge active-show" title="Annotation Scheme"><i class="fa fa-tags"></i> {{ data.label_scheme.name }}</span>

            {% if data.data %}
            <div>
                <span class="badge active-show"><i class="fa fa-crosshairs"></i> add/delete points: {{ data.data.allow_add }}</span>
                <span class="badge active-show"><i class="fa fa-bullseye"></i> point layout: {{ data.data.type }}</span>
                {% if data.data.params %}
                    {% for k,v in data.data.params.items() %}
                        <span class="badge active-show">{{k}}: {{v}}</span>
                    {% endfor %}
                {% endif %}

                <span class="active-show">
                    <a href="javascript:void(0)" class="badge" title="Show/hide metadata" onclick="$(this).siblings('pre.info').toggle()">more <i class="fa fa-caret-down"></i></a>
                    <pre class="info" style="display: none; max-height: 250px; font-size: xx-small">{{ data.data | as_json }}</pre>
                </span>
            </div>
            {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <a href="javascript:void(0)" tabindex="100" data-dismiss="modal"  class="btn btn-default">Cancel</a>
                <button type="submit" tabindex="0" class="btn btn-primary">Save</button>
            </div>
        </div>

    </form>

<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $form = $container.find("#annotation_set-form");
        var $modal = $container.parents(".modal");


        $form.APIForm({
            ajax_prefill: false,
            callback:function(data, form) {
                $modal.trigger("completed", data);
            }
        });

    });
</script>
</div>
