{% set _container_id = "annotation_set-container-"~rendered_at %}
{% set _has_annotations = data.annotation_count or 0 > 0 %}
{% set _is_exemplar = data.is_exemplar or args.is_exemplar=="true" or False %}
{% set _parent_id = data.parent_id or args.parent_id or None %}

<div id="{{ _container_id }}">
    <style>
        #annotation_set-form .advanced {
            display: none;
        }

        #annotation_set-form .form-value-tabs .form-value-tab-content .value-tab {
            display: none;
        }
        #annotation_set-form .form-value-tabs .form-value-tab-content .value-tab.active {
            display: block;
        }
    </style>

    <form class="form-horizontal" id="annotation_set-form"
          action="{{ "/api/annotation_set/"~data.id if data.id else "/api/annotation_set" }}"
          method="{{ "PATCH" if data.id else "POST" }}">

        {% if not _parent_id %}
            <h4><i class="fa fa-tags"></i>  Annotation Set</h4>
        {% else %}
            <h4><i class="fa fa-tags"></i>  Supplementary Annotation Set</h4>
            <div class="help-block">
                <i class="fa fa-info-circle"></i>
                A Supplementary Annotation Set is a child Annotation Set that can be used to validate and / or provide "Magical
                Suggestions" for labels in a parent Annotation Set. This is useful for Human2Human validation, but also
                for receiving annotation suggestions from Algorithm2Human.
            </div>
        {% endif %}

        {% if msg %}
        <div class="form-group">
            <div class="col-sm-12 alert alert-{{ msg.status }}">{{ msg.msg }}</div>
        </div>
        {% endif %}

        {% if _has_annotations %}
        <div class="form-group">
            <div class="col-sm-12 alert alert-warning">
                <i class="fa fa-exclamation-triangle"></i> This Annotation Set already contains
                {{ data.annotation_count }} labels. Some options cannot be changed after annotation has started.
            </div>
        </div>
        {% endif %}
        {% if _is_exemplar %}
        <div class="form-group">
            <div class="col-sm-12 alert alert-warning">
                <i class="fa fa-exclamation-triangle"></i> This Annotation Set is an exemplar set and has limited options.
            </div>
        </div>
        {% endif %}

        <input type="hidden" name="user_id" value="{{ current_user.id }}">
        <input type="hidden" name="media_collection_id" value="{{ args.media_collection_id or data.media_collection.id }}">
        <input type="hidden" name="data" data-convert="json" value='{}'>
        {% if _parent_id %}<input type="hidden" name="parent_id" value="{{ _parent_id }}">{% endif %}
        {% if _is_exemplar %}<input type="hidden" name="is_exemplar" value="true">{% endif %}

        {% if data.id %}
        <div class="form-group object-detail">
            <label class="col-sm-3 control-label">AnnotationSet info</label>
            <div class="col-sm-9">
                {% include "models/annotation_set/info_badges.html" %}
                {% with user=data.user, user_title="Owner" %}
                    {% include('models/users/user_badge.html') %}
                {% endwith %}
            </div>
        </div>
        {% endif %}

        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">AnnotationSet Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="name" placeholder="Name of Annotation Set" value="{{ data.name or args.name}}">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
                <textarea class="form-control" name="description"  placeholder="Brief description">{{ data.description or args.description}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="label_scheme_id" class="col-sm-3 control-label">Label Scheme</label>
            <div class="col-sm-9">
                <select class="form-control" name="label_scheme_id" {{ 'disabled' if _has_annotations or _is_exemplar else '' }} id="annotation_set-label_scheme_id" data-selected="{{ data.label_scheme.id if data.label_scheme else args.label_scheme_id or "" }}"></select>
                <button class="btn btn-xs btn-link" type="button" onclick="notify.info('comming soon...')"><i class="fa fa-tags"></i> Preview selected scheme</button>
{#                <div class="input-group input-group-sm">#}
{#                    <select class="form-control" name="label_scheme_id" {{ 'disabled' if _has_annotations or _is_exemplar else '' }} id="annotation_set-label_scheme_id" data-selected="{{ data.label_scheme.id if data.label_scheme else args.label_scheme_id or "" }}"></select> #}
{#                    <span class="input-group-btn">#}
{#                        <button class="btn btn-primary" disabled><i class="fa fa-plus-circle"></i> New</button>#}
{#                    </span>#}
{#                </div>#}
            </div>
        </div>
    {% if not _parent_id %}
        <div class="form-group">
            <label for="sample" class="col-sm-3 control-label">Point layout method</label>
            <div class="col-sm-9">
                <div class="form-value-tabs" id="annotation_set-params">
                    <select class="form-control value-tab-ctl" {{ 'disabled' if _has_annotations or _is_exemplar else '' }} data-nosubmit='{"use":"none"}' data-onchange="update-data" name="type" id="annotation_set-type">
                        {% if data.data %}
                        {% set _type = data.data.type %}
                        {% endif %}
                        <option value="pointclick" {{ 'selected' if _type=='pointclick' or _is_exemplar else '' }}>Manual point-click only</option>
                        <option value="random" {{ 'selected' if _type=='random' else '' }}>N random points</option>
                        <option value="radialdisk" {{ 'selected' if _type=='radialdisk' else '' }}>N random points within radius, r (circular pattern)</option>
                        <option value="grid" {{ 'selected' if _type=='grid' else '' }}>Regular grid (nX x nY points)</option>
                        <option value="quincunx" {{ 'selected' if _type=='quincunx' else '' }}>Five point pattern (quincunx)</option>
                    </select>
                    <div class="form-value-tab-content">
                        <div class="value-tab" data-toggle_value="pointclick">
                            <div class="help-block">
                                <i class="fa fa-info-circle"></i> Double-click on media in annotation window to manually create annotation points.
                            </div>
                        </div>
                        <div class="value-tab" data-toggle_value="random">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">N:</span>
                                <input type="number" {{ 'disabled' if _has_annotations else '' }} min="0" max="150" data-default="20" value="{{ data.data.params.n if data.data and data.data.params else '20' }}" class="form-control param" data-nosubmit='{"use":"none"}' data-onchange="update-data" name="n" id="annotation_set-n" placeholder="">
                            </div>
                        </div>
                        <div class="value-tab" data-toggle_value="radialdisk">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">N:</span>
                                <input type="number" {{ 'disabled' if _has_annotations else '' }} min="0" max="150" data-default="20" value="{{ data.data.params.n if data.data and data.data.params else '20' }}" class="form-control param" data-nosubmit='{"use":"none"}' data-onchange="update-data" name="n" id="annotation_set-n" placeholder="">
                                <span class="input-group-addon">r (%):</span>
                                <input type="number" {{ 'disabled' if _has_annotations else '' }} min="0" step="1" max="50" data-default="50" value="{{ data.data.params.r if data.data and data.data.params else '50' }}" class="form-control param" data-nosubmit='{"use":"none"}' data-onchange="update-data" name="r" id="annotation_set-r" placeholder="">
                            </div>
                        </div>
                        <div class="value-tab" data-toggle_value="grid">
                            {% if data.data and data.data.params %}
                            {% set _grid = data.data.params.grid %}
                            {% endif %}
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">nX:</span>
                                <input type="number" {{ 'disabled' if _has_annotations else '' }} min="0" max="12" data-default="5" value="{{ data.data.params.nX if data.data and data.data.params else '5' }}" class="form-control param" data-nosubmit='{"use":"none"}' data-onchange="update-data" name="nX" id="annotation_set-nX" placeholder="">
                                <span class="input-group-addon">nY:</span>
                                <input type="number" {{ 'disabled' if _has_annotations else '' }} min="0" max="12" data-default="4" value="{{ data.data.params.nY if data.data and data.data.params else '4' }}" class="form-control param" data-nosubmit='{"use":"none"}' data-onchange="update-data" name="nY" id="annotation_set-nY" placeholder="">
                                <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                <select class="form-control param" data-nosubmit='{"use":"none"}' data-onchange="update-data" name="grid" title="Whether or not to show gridlines between points" data-hover="tooltip">
                                    <option value="show"  {{ 'selected' if _grid=='show' else '' }}>Show grid</option>
                                    <option value="hide" {{ 'selected' if _grid=='hide' else '' }}>Hide grid</option>
                                </select>
                            </div>
                        </div>
                        <div class="value-tab" data-toggle_value="quincunx">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                <select class="form-control param" data-nosubmit='{"use":"none"}' data-onchange="update-data" name="grid" title="Whether or not to show gridlines between points" data-hover="tooltip">
                                    <option value="show" {{ 'selected' if _grid=='show' else '' }}>Show grid</option>
                                    <option value="hide" {{ 'selected' if _grid=='hide' else '' }}>Hide grid</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="margin-params" style="display: none">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">LEFT (%):</span>
                            <input type="number" {{ 'disabled' if _has_annotations else '' }} min="0" max="50" data-default="0" value="{{ data.data.params.margin_left if data.data and data.data.params else '0' }}" class="form-control param" data-nosubmit='{"use":"none"}' data-onchange="update-data" name="margin_left" placeholder="">
                            <span class="input-group-addon">RIGHT (%):</span>
                            <input type="number" {{ 'disabled' if _has_annotations else '' }} min="0" max="50" data-default="0" value="{{ data.data.params.margin_right if data.data and data.data.params else '0' }}" class="form-control param" data-nosubmit='{"use":"none"}' data-onchange="update-data" name="margin_right" placeholder="">
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">TOP (%):</span>
                            <input type="number" {{ 'disabled' if _has_annotations else '' }} min="0" max="50" data-default="0" value="{{ data.data.params.margin_top if data.data and data.data.params else '0' }}" class="form-control param" data-nosubmit='{"use":"none"}' data-onchange="update-data" name="margin_top" placeholder="">
                            <span class="input-group-addon">BOTTOM (%):</span>
                            <input type="number" {{ 'disabled' if _has_annotations else '' }} min="0" max="50" data-default="0" value="{{ data.data.params.margin_bottom if data.data and data.data.params else '0' }}" class="form-control param" data-nosubmit='{"use":"none"}' data-onchange="update-data" name="margin_bottom" placeholder="">
                        </div>
                        <div class="help-block">
                            <i class="fa fa-info-circle"></i> The margin defines a region on the edge of the frame,
                            for which no points will be allocated. Margins are in percents. Margins will not affect
                            manual point creation, only the auto layout methods.
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-link" onclick="$(this).siblings('div.margin-params').toggle()"><i class="fa fa-caret-up"></i> Add margin parameters</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Labelling objective:</label>
            <div class="col-sm-9">
                <label class="radio">
                    <input type="radio" {{ 'disabled' if _is_exemplar else '' }} {{ '' if data and data.is_full_bio_score==False else 'checked' }} name="is_full_bio_score" value="true">
                    <b>Full biodiversity</b>:
                    every annotation will be labelled to the highest possible resolution using the full label scheme
                </label>
                <label class="radio">
                    <input type="radio" {{ 'disabled' if _is_exemplar else '' }} {{ 'checked' if data and data.is_full_bio_score==False else '' }} name="is_full_bio_score" value="false">
                    <b>Targeted</b>:
                    targeted labelling only, or some other annotation methodology that does not use the full label scheme
                </label>
{#                <div class="help-block">#}
{#                    <i class="fa fa-info-circle"></i> This affects how the labels should be interpreted#}
{#                </div>#}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Dataset objective:</label>
            <div class="col-sm-9">
                <label class="radio">
                    <input type="radio" {{ 'disabled' if _is_exemplar else '' }} {{ 'checked' if data and data.is_real_science==True else '' }} name="is_real_science" value="true">
                    <b>For science</b>:
                    these are real labels, scored by an expert for the purpose of science
                </label>
                <label class="radio">
                    <input type="radio" {{ 'disabled' if _is_exemplar else '' }} {{ '' if data and data.is_real_science==True else 'checked' }} name="is_real_science" value="false">
                    <b>For education, training or experimentation</b>:
                    the labels are for training and/or may not be of high quality and should not be deemed true/correct
                </label>
{#                <div class="help-block">#}
{#                    <i class="fa fa-info-circle"></i> This flag is important to maintain QA/QC standards for the captured annotations#}
{#                </div>#}
            </div>
        </div>

        <div class="form-group advanced">
            <label class="col-sm-3 control-label">Whole-frame annotation:</label>
            <div class="col-sm-9">
{#                <div class="form-value-tabs">#}
                    <label class="radio">
                        <input type="radio" {{ 'disabled' if _is_exemplar else '' }} {{ 'checked' if data.data and data.data.allow_wholeframe==True else '' }} data-nosubmit='{"use":"none"}' name="allow_wholeframe" data-onchange="update-data" value="true">
                        <b>YES</b>: in addition to point annotations, create a specified number of whole-frame annotations by default
                    </label>
                    <label class="radio">
                        <input type="radio" {{ 'disabled' if _is_exemplar else '' }} {{ '' if data.data and data.data.allow_wholeframe==True else 'checked' }} data-nosubmit='{"use":"none"}' name="allow_wholeframe" data-onchange="update-data" value="false">
                        <b>NO</b>: create only point annotations (no whole-frame annotations)
                    </label>
{#                    <div class="form-value-tab-content">#}
{#                        <div class="help-block value-tab" data-toggle_value="true"><b>YES:</b> in addition to point annotations, create a specified number of whole-frame annotations by default.</div>#}
{#                        <div class="help-block value-tab" data-toggle_value="false"><b>NO:</b> create only point annotations (no whole-frame annotations).</div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>

        <div class="form-group advanced">
            <label class="col-sm-3 control-label">Manual point editing:</label>
            <div class="col-sm-9">
{#                <div class="form-value-tabs">#}
                    <label class="radio">
                        <input type="radio" {{ 'checked' if data.data and data.data.allow_add==True else '' }} data-nosubmit='{"use":"none"}' name="allow_add" data-onchange="update-data" value="true">
                        <b>Allow</b>: delete, move and create points (by double-clicking). NOTE: this may bias random sampling.
                    </label>
                    <label class="radio">
                        <input type="radio" {{ '' if data.data and data.data.allow_add==True else 'checked' }} data-nosubmit='{"use":"none"}' name="allow_add" data-onchange="update-data" value="false">
                        <b>Disable</b>: points will be created using the 'Point layout method' above and can not be edited (you can still edit labels, but you won't be able to create, delete or move points)
                    </label>
{#                    <div class="form-value-tab-content">#}
{#                        <div class="help-block value-tab" data-toggle_value="true"><b>Allow:</b> you will be able to delete, move and create points (by double-clicking). NOTE: this may bias random sampling.</div>#}
{#                        <div class="help-block value-tab" data-toggle_value="false"><b>Disable:</b> points will be created using the 'Point layout method' above and can not be edited (you can still edit labels, but you won't be able to create, delete or move points).</div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
        <div class="form-group advanced">
            <label class="col-sm-3 control-label">Multi-label annotation:</label>
            <div class="col-sm-9">
                <div class="input-group input-group-sm" title="# labels per annotation point." data-hover="tooltip" data-placement="left">
                    <span class="input-group-addon"># labels/point:</span>
                    <input type="number" {{ 'disabled' if _has_annotations or _is_exemplar else '' }} min="1" max="10" data-default="1" value="{{ data.data.labels_per_point if data.data else 1 }}" class="form-control" data-nosubmit='{"use":"none"}' data-onchange="update-data" name="labels_per_point" placeholder="">
                </div>
                <div class="input-group input-group-sm" title="# labels per whole-frame annotation." data-hover="tooltip" data-placement="left">
                    <span class="input-group-addon"># labels/frame:</span>
                    <input type="number" {{ 'disabled' if _has_annotations or _is_exemplar else '' }} min="1" max="10" value="{{ data.data.labels_per_frame if data.data else 1 }}" data-default="1" class="form-control" data-nosubmit='{"use":"none"}' data-onchange="update-data" name="labels_per_frame" placeholder="">
                </div>
                <small class="help-block">
                    Multiple labels can be applied to each point during annotation, but setting above to >1 will mean
                    that each point will be initialised with a specific number of blank labels and each point will need
                    to be labeled multiple times for it to show as complete.
                </small>



                <small><a href="javascript:void(0)" onclick="$('#annotation_set-data-text').toggle()"><b>Show/hide parameters <i class="fa fa-caret-down"></i></b></a></small>
                <pre id="annotation_set-data-text" style="display: none; font-size: 9px; overflow: auto; max-height: 150px; color: #555555">

                </pre>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <a class="btn btn-link btn-xs" href="javascript:void(0)" onclick="$('#annotation_set-form').find('.advanced').toggle(200)" title="Show/hide advanced annotation options" data-hover="tooltip" data-placement="left">
                    <b><i class="fa fa-info-circle"></i> Show Advanced Options <i class="fa fa-caret-up"></i></b>
                </a>
            </div>
        </div>
    {% endif %}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <a href="javascript:void(0)" tabindex="100" data-dismiss="modal"  class="btn btn-default">Cancel</a>
                <button type="submit" tabindex="0" class="btn btn-primary">Save</button>
                {% if data.id %}
                <button id="delete-annotation_set" data-id="{{ data.id }}" type="button" class="btn btn-link pull-right">
                    <span class="text-danger"><i class="fa fa-trash"></i> DELETE</span>
                </button>
                {% endif %}
            </div>
        </div>
    </form>

    <script type="text/javascript">
        $(document).ready(function(){
            var $container = $("#{{ _container_id }}");
            var $container_parent = $container.parent();
            var $form = $container.find("#annotation_set-form");
            var $modal = $container.parents(".modal");
            var $label_scheme_id = $form.find("#annotation_set-label_scheme_id");
            var $delete_annotation_set_btn = $form.find("#delete-annotation_set");


            function update_data_field() {
                var $data_json = $form.find("input[name='data']");
                var $data_text = $form.find('#annotation_set-data-text');

                // check numbers are within bounds, if not correct them
                $form.find("input[type='number']").each(function(i, el){
                    if ($(el).val().trim() === ""){
                        $(el).val($(el).data("default"));
                    }
                    else {
                        if ($(el).attr("min")) if (parseInt($(el).val()) < parseInt($(el).attr("min"))) $(el).val($(el).attr("min"));
                        if ($(el).attr("max")) if (parseInt($(el).val()) > parseInt($(el).attr("max"))) $(el).val($(el).attr("max"));
                    }
                });

                // auto setting
                if ($form.find("select[name='type']").val() === "pointclick")
                    $form.find("input:radio[name ='allow_add'][value='true']").trigger("click");

                // handle annotation options
                var data_params = {
                    type: $form.find("select[name='type']").val(),
                    params: {},
                    allow_add: $form.find("input:radio[name ='allow_add']:checked").val() === 'true',
                    allow_wholeframe: $form.find("input:radio[name ='allow_wholeframe']:checked").val() === 'true',
                    labels_per_point: parseInt($form.find("input[name='labels_per_point']").val()),
                    labels_per_frame: parseInt($form.find("input[name='labels_per_frame']").val())
                };

                // add params
                var $params = $form.find("#annotation_set-params").find('[data-toggle_value="'+data_params.type+'"] .param, .margin-params .param');
                $params.each(function(i,p){
                    data_params.params[$(p).attr("name")] = ($(p).attr("type") === "number") ? parseInt($(p).val()) : $(p).val();
                });

                // handle contraints on options
                if (data_params.allow_wholeframe) $form.find("input[name='labels_per_frame']").parent('.input-group').show();
                else $form.find("input[name='labels_per_frame']").parent('.input-group').hide();
                $form.find("input:radio[name ='allow_add'][value='false']").prop( "disabled", (data_params.type === "pointclick") );

                // update hidden field and UI
                $data_json.val(JSON.stringify(data_params));
                $data_text.html(JSON.stringify(data_params, null, 2));
                //console.log(data_params);
            }

            // populate label_scheme_id select
            $label_scheme_id.ajax_select("/api/label_scheme", {
                results_per_page: 100,
                dropdown_parent: $container,
                template_option: '<div class="title">[[name]]</div>' +
                    '<div class="description">' +
                    '[[#parent_label_scheme]]<i class="fa fa-clone"></i> extends: [[name]]<br>[[/parent_label_scheme]]'+
                    '<i class="fa fa-tags"></i> [[annotation_set_count]] annotation sets, ' +
                    '<i class="fa fa-check-square-o"></i> [[exemplar_annotation_set_count]] exemplar sets' +
                    '[[#description]]<br><em>[[description]]</em>[[/description]]' +
                    '</div>',
                build_query: function(search_term) {
                    var q = {filters: [],order_by: [{field:"name",direction:"asc"}]};
                    if (search_term) {
                        $(search_term.split(/(\s+)/)).each(function(i,s){
                            if (s.trim())
                                q.filters.push({or:[{name:"name",op:"ilike",val:'%'+s+'%'},
                                    {name:"description",op:"ilike",val:'%'+s+'%'},
                                    {name:"parent_label_scheme",op:"has",val:{name:"name",op:"ilike",val:'%'+s+'%'}}]});
                        });
                    }
                    return q;
                }
            }).ajax_select_val($label_scheme_id.data('selected'));
            /*
            ajax.get("/api/label_scheme?results_per_page=500", {success:function(data){
                var selected_id = $label_scheme_id.data("selected");
                $(data.objects).each(function(i,el){
                    var selected = (parseInt(el.id)===parseInt(selected_id)) ? "selected" : '';
                    $label_scheme_id.append("<option "+selected+" value='"+el.id+"'>"+el.name+"</option>");
                });
            }});

             */

            // add update data param action
            $form.find('*[data-onchange="update-data"]').on("change", function(){
                update_data_field();
            });

            // on select change, show appropriate params
            $form.find(".value-tab-ctl").on("change", function(){
                var val = $form.find('[name="'+$(this).attr('name')+'"]:checked').val()
                    || $form.find('[name="'+$(this).attr('name')+'"]').val();
                $(this).parents('.form-value-tabs').find('.value-tab.active').removeClass("active");
                $(this).parents('.form-value-tabs').find('.value-tab[data-toggle_value="'+val+'"]').addClass('active');
            }).trigger('change');  // trigger change to initialise

            $form.find("[data-hover='tooltip']").tooltip();


            $form.APIForm({
                ajax_prefill: false,
                callback:function(data, form) {
                    $modal.trigger("completed", data);
                }
            });

            $delete_annotation_set_btn.click(function (e){
                dataset_modal.annotation_set.remove($(this).data("id"), {
                    success: function(){$modal.trigger("completed", null);}
                });
            });

            // initialise set data field
            update_data_field();

        });
    </script>
</div>