<h2 style="text-align: center"><i class="fa fa-bar-chart loading"></i> Data & Export</h2>
<div class="row well" style="min-height: 20px">
    <div id="export_annotation_set_info" class="col-sm-offset-1 col-sm-2">
        <h4>Dataset info:</h4>
        <div class="small">
            <div class='dataset-field'><i class='fa fa-list-ul'></i> Media Collection:</div>
            {{ data.media_collection.name}} [ID: {{ data.media_collection.id}}]
            <div class='dataset-field'><i class='fa fa-tags'></i> Annotation Set:</div>
            {{data.name}} [ID: {{data.id}}]
            <div class='dataset-field'>Label Scheme:</div>
            {{data.label_scheme.name }}
            <div class='dataset-field'>Counts:</div>
            Media items: {{data.media_count }}
            <br>Total points : {{ data.point_count }}
            <br>Annotations: {{ data.annotation_count }}
            <br>Unlabeled points: {{data.unannotated_point_count}}
        </div>
        <br>
        <h4>Datasource / Attribution:</h4>
        <div class="help-block"><i class="fa fa-info-circle"></i> this dataset contains media from:</div>
        <div class="small>">
        {% with data=data.media_collection %}
        {% include "models/media_collection/media_attribution.html" %}
        {% endwith %}
        </div>
    </div>
    <div id="export_annotation_set_options" class="col-sm-4">
        <h4>Export Annotations:</h4>
        {% include "models/annotation_set/export_form.html" %}
    </div>
    <div class="col-sm-4">
        <h4>Export Media Collection:</h4>
        {% with data=data.media_collection %}
            {% include "models/media_collection/export_form.html" %}
        {% endwith %}
        <div class="alert">
            <i class="fa fa-info-circle"></i> Click <a href="javascript:doc_modal.wiki('{{ config.WIKI_PAGES.media_download_help }}')">
            here
        </a> for instructions on how to download all the media items for a media_collection
        </div>
{#        <hr>#}
{#        <form class="form-horizontal form-export" method="get" action="" style="margin-bottom: 0">#}
{#            <h4>Export Events by Deployment:</h4>#}
{#            <small class="help-block">Media data. Also include:</small>#}
{#            <input name="return" value="events" type="hidden">#}
{#            <label><input name="return" value="pose" type="checkbox" checked> Lat, Lon, Alt &amp; Depth</label><br>#}
{#            <label><input name="return" value="posedata" type="checkbox" checked> Additional Sensor Data</label><br>#}
{#            <label><input name="return" value="datasetkeys" type="checkbox" checked> Campaign, Deployment &amp; Platform keys</label><br>#}
{#            <label><input name="return" value="mediapaths-resolved" type="checkbox"> URLs for Media &amp; Thumbnail</label><br>#}
{#            <select id="event_export_deployment_select" class="form-control">#}
{#                <option>SELECT DEPLOYMENT</option>#}
{#            </select>#}
{#            <br><button disabled type="submit" class="btn btn-primary"><i class="fa fa-download"></i> EXPORT EVENT LOG</button>#}
{#        </form>#}
    </div>
</div>
<div class="row" style="padding-top: 25px">
    <div class="col-sm-offset-1 col-sm-2 text-right">
        <h4>Tally annotations by:</h4>
    </div>
    <div class="col-sm-2">
        <select id="select_tally_type" class="form-control">
            <option value="label_frequency" selected>Class labels</option>
            <option value="deployment">Deployments</option>
        </select>
    </div>
    <div class="col-sm-offset-1 col-sm-10">
        <div id="collection_labels_chart">

        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    var $select_tally_type = $("#select_tally_type");
    var $collection_labels_chart = $("#collection_labels_chart");
    $select_tally_type.change(function(){
        load_content.paginated_html("/api/annotation_set/{{ data.id }}/annotations/"+$(this).val()+"?results_per_page=100&template=models/annotation_set/plot_tally.html", $collection_labels_chart);
    });
    $select_tally_type.trigger("change");
});
</script>