{% set _container_id = "annotation_set-export-container-"~rendered_at %}
<style>
    .export-form-container h5 {
        margin-top: 20px;
    }
    .export-form-container .export-form-group .export-form-group-options {
        display: none;
        padding: 0 0 10px 10px;
    }
    .export-form-container .export-form-group label {
        display: block;
    }
    .export-form-container .export-form-group.expanded .export-form-group-options {
        display: block;
    }
    .export-form-container #advanced-options {
        display: none;
    }
</style>
<div id="{{ _container_id }}"  class="export-form-container">
    <div id="annotation_set_sharing_alert"></div>

    <div id="export-annotation_set-controls">

        {#        <label><input type="radio" name="template" value="dataframe.xlsx"> dataframe.xlsx</label><br><br>#}
        <h5>Include fields:</h5>
        <div class="export-form-group">
            <label>
                <input type="checkbox" checked data-toggle="children" data-select_cols='["label.id","label.uuid","label.name","label.lineage_names","comment","tag_names","updated_at","needs_review"]'>
                Annotation information (label, tags, comments)

                <a href="javascript:void(0)" data-toggle="options" class="badge label-default">
                    <i class="fa fa-caret-down"></i> options
                    <span class="col-count">(0)</span>
                </a>
            </label>
            <div class="export-form-group-options">
                <label><input type="checkbox" data-toggle="column" alt="label_id" value="label.id"> ID of label (<code>label.id</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="label_uuid" value="label.uuid"> UUID of label (<code>label.uuid</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="label_name" value="label.name"> Label name (<code>label.name</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="label_lineage" value="label.lineage_names"> Label parents/hierarchy lineage names (<code>label.lineage_names</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="comment" value="comment"> Annotation comment (<code>comment</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="needs_review" value="needs_review"> Review status (<code>needs_review</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="likelihood" value="likelihood"> Likelihood / probability (<code>likelihood</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="tags" value="tag_names"> Annotation tags (<code>tag_names</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="point_updated_at" value="updated_at"> Timestamp of annotation update (<code>updated_at</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="annotated_by" value="user.username"> Username of annotator (<code>user.username</code>)</label>
                <label>
                    <input type="checkbox" data-toggle="column" alt="object_id" value="object_id"> Object ID for linked observations of same object between frames (<code>object_id</code>)
                </label>
                <label><input type="checkbox" data-toggle="column" alt="annotation_id" value="id"> ID of annotation (<code>id</code>)</label>
            </div>
        </div>
        <div class="export-form-group">
            <label>
                <input type="checkbox" checked data-toggle="children" data-select_cols='["point.id","point.x","point.y","point.t","point.data"]'>
                Point information (x,y,t,polygon)
                <a href="javascript:void(0)" data-toggle="options" class="badge label-default">
                    <i class="fa fa-caret-down"></i> options
                    <span class="col-count">(0)</span>
                </a>
            </label>
            <div class="export-form-group-options">
                <label><input type="checkbox" data-toggle="column" alt="point_id" value="point.id"> ID of point. Needed if point has multiple annotations (<code>point.id</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="point_x" value="point.x"> X location of point (<code>point.x</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="point_y" value="point.y"> Y location of point (<code>point.y</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="point_t" value="point.t"> t relative runtime of point, eg: video (<code>point.t</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="point_data" value="point.data"> Point data, eg: polygon, point creation (<code>point.data</code>)</label>
            </div>
        </div>
        <div class="export-form-group">
            <label>
                <input type="checkbox" checked data-toggle="children" data-select_cols='["point.media.id","point.media.key","point.media.path_best"]'>
                Media information (url, key)
                <a href="javascript:void(0)" data-toggle="options" class="badge label-default">
                    <i class="fa fa-caret-down"></i> options
                    <span class="col-count">(0)</span>
                </a>
            </label>
            <div class="export-form-group-options">
                <label><input type="checkbox" data-toggle="column" alt="media_id" value="point.media.id"> ID of related media item (<code>point.media.id</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="media_key" value="point.media.key"> Media key (<code>point.media.key</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="media_path_best" value="point.media.path_best"> URL/path of media item (<code>point.media.path_best</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="media_path_best_thm" value="point.media.path_best_thm"> URL/path of thumbnail for media item (<code>point.media.path_best_thm</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="media_timestamp_start" value="point.media.timestamp_start"> UTC start timestamp of media item, eg: video (<code>point.media.timestamp_start</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="media_timestamp_start_local" value="point.media.timestamp_start_local"> LOCAL timestamp of media item (<code>point.media.timestamp_start_local</code>)
                    <br><small class="text-muted"><i class="fa fa-exclamation-triangle text-danger"></i> converted from <code>pose.lat</code>, <code>pose.lon</code> and <code>media.timestamp_start_local</code></small></label>
            </div>
        </div>
        <div class="export-form-group">
            <label>
                <input type="checkbox" checked data-toggle="children" data-select_cols='["point.pose.timestamp","point.pose.lat","point.pose.lon","point.pose.alt","point.pose.dep"]'>
                Pose information (lat, lon, alt, dep, timestamp, sensors)
                <a href="javascript:void(0)" data-toggle="options" class="badge label-default">
                    <i class="fa fa-caret-down"></i> options
                    <span class="col-count">(0)</span>
                </a>
            </label>
            <div class="export-form-group-options">
                <label><input type="checkbox" data-toggle="column" alt="pose_timestamp" value="point.pose.timestamp"> UTC timestamp of pose (<code>point.pose.timestamp</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="pose_timestamp_local" value="point.pose.timestamp_local"> LOCAL timestamp of pose (<code>point.pose.timestamp_local</code>)
                    <br><small class="text-muted"><i class="fa fa-exclamation-triangle text-danger" ></i> converted from <code>lat</code>, <code>lon</code> and <code>timestamp_local</code></small></label>
                <label><input type="checkbox" data-toggle="column" alt="pose_lat" value="point.pose.lat"> Latitude (<code>point.pose.lat</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="pose_lon" value="point.pose.lon"> Longitude (<code>point.pose.lon</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="pose_alt" value="point.pose.alt"> Altitude (<code>point.pose.alt</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="pose_dep" value="point.pose.dep"> Depth (<code>point.pose.dep</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="pose_data" value="point.pose.data"> Additional sensor data (<code>point.pose.data</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="pose_id" value="point.pose.id"> ID of pose (<code>point.pose.id</code>)</label>
            </div>
        </div>
        <div class="export-form-group">
            <label>
                <input type="checkbox" checked data-toggle="children" data-select_cols='["point.media.deployment.key","point.media.deployment.campaign.key"]'>
                Dataset keys / IDs (campaign, deployment, platform)
                <a href="javascript:void(0)" data-toggle="options" class="badge label-default">
                    <i class="fa fa-caret-down"></i> options
                    <span class="col-count">(0)</span>
                </a>
            </label>
            <div class="export-form-group-options">
                <label><input type="checkbox" data-toggle="column" alt="deployment_key" value="point.media.deployment.key"> Deployment key (<code>point.media.deployment.key</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="campaign_key" value="point.media.deployment.campaign.key"> Campaign key (<code>point.media.deployment.campaign.key</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="deployment_id" value="point.media.deployment.id"> Deployment ID (<code>point.media.deployment.id</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="campaign_id" value="point.media.deployment.campaign.id"> Campaign ID (<code>point.media.deployment.campaign.id</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="deployment_name" value="point.media.deployment.name"> Deployment name (<code>point.media.deployment.name</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="campaign_name" value="point.media.deployment.campaign.name"> Campaign name (<code>point.media.deployment.campaign.name</code>)</label>
            </div>
        </div>
{#        <div class="export-form-group">#}
{#            <label  title="This option can slow down the export, so don't check it if you don't have linked observations">#}
{#                <input type="checkbox" data-toggle="column" value="object_id">#}
{#                Object ID, link observations of same object, eg: video#}
{#                <i class="fa fa-exclamation-triangle text-danger"></i> SLOW#}
{#                (<code>object_id</code>)#}
{#            </label>#}
{#        </div>#}

        <h5>Filters:</h5>
        <div class="export-form-group">
            <label><input type="radio" name="_annotation_type" data-toggle="filter" value='[]' checked> All label types (whole-frame and point annotations)</label>
            <label><input type="radio" name="_annotation_type" data-toggle="filter"
                          value='[{"name":"point","op":"has","val":{"name":"has_xy","op":"eq","val":true}}]'> Exclude whole-frame annotations</label>
            <label><input type="radio" name="_annotation_type" data-toggle="filter"
                          value='[{"name":"point","op":"has","val":{"name":"has_xy","op":"eq","val":false}}]'> Only whole-frame annotations</label>
            <label><input type="checkbox" data-toggle="filter"
                          value='[{"name":"is_child","op":"eq","val":false}]'> Only export primary observation for linked annotations of the same object</label>
            <label><input type="checkbox" checked data-toggle="filter"
                          value='[{"name":"label_id","op":"is_not_null"}]'> Exclude unannotated points</label>

            <label>
                <input type="checkbox" name="label-filter" >
                Only export specific labels
            </label>
            <input type="hidden" id="label_id_filt" data-toggle="filter" value='[]'>
            <select multiple disabled id="label_ids" name="label_ids" data-filters='[{"name":"annotation_set_id","op":"eq","val":"{{ data.id }}"}]'></select>

        </div>

        <h5>Translate annotations to target Label Scheme:</h5>
        <div class="export-form-group">
            <span class="help-block"><i class="fa fa-info-circle"></i>
                Use the options below to translate between Label Schemes (where possible).
                The process uses a combination of semantic translation, tree traversal and direct mappings. Click
                <a href="javascript:void(0)" onclick="notify.info('Coming soon...')">here</a> for more information.
            </span>
            <label>
                <input type="checkbox" data-toggle="children"
                       data-select_cols='["label.translated.id","label.translated.uuid","label.translated.name","label.translated.lineage_names","label.translated.translation_info"]'>
                Translated annotation labels
                <a href="javascript:void(0)" data-toggle="options" class="badge label-default">
                    <i class="fa fa-caret-down"></i> options
                    <span class="col-count">(0)</span>
                </a>
            </label>
            <div class="export-form-group-options">
                <label><input type="checkbox" data-toggle="column" alt="translated_label_id" value="label.translated.id"> ID of label (<code>label.translated.id</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="translated_label_uuid" value="label.translated.uuid"> UUID of label (<code>label.translated.uuid</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="translated_label_name" value="label.translated.name"> Label name (<code>label.translated.name</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="translated_label_lineage" value="label.translated.lineage_names"> Label parents/hierarchy lineage names (<code>label.translated.lineage_names</code>)</label>
                <label><input type="checkbox" data-toggle="column" alt="translated_translation_info" value="label.translated.translation_info"> Translation match information (<code>label.translated.translation_info</code>)</label>
            </div>
            <select disabled id="translate_target_scheme_id" name="target_scheme_id" data-filters='[{"name":"id","op":"neq","val":"{{ data.label_scheme.id }}"}]'></select>
            <button disabled data-annotation_set_id="{{ data.id }}" class="btn btn-link btn-sm" type="button" id="preview_translate">
                <i class="fa fa-external-link-square"></i> Preview translation
            </button>
        </div>

        <h5>Transform output:</h5>
        <div class="export-form-group">
            <span class="help-block"><i class="fa fa-exclamation-triangle"></i> These options may alter included fields</span>
            <label><input type="checkbox" data-toggle="operation"
                       value='[{"method":"fillna","kwargs":{"value":"-"}},{"module":"pandas","method":"count_unstack","kwargs":{"columns":["label.id","label.uuid","label.name","label.lineage_names","comment","tag_names","label.translated.translation_info","label.translated.id","label.translated.name","label.translated.uuid","label.translated.lineage_names"]}}]'
                       data-disable_cols='["id","updated_at","user.username","point.id","point.x","point.y","point.t","point.data","needs_review","likelihood","object_id",""]'
                       data-select_cols='["point.media.key"]'
                       data-unselect_cols='["comment", "tag_names"]'>
                Aggregated counts (row per frame, labels as cols)
                {% if data.children %}
                    <br><i class="fa fa-exclamation-triangle text-danger"></i> This will not work if you select a child annotation_set validation option
                {% endif %}
            </label>
{#            <label><input type="checkbox" data-toggle="operation" name="rename_columns" value='' data-disable_cols='["point.pose.data","point.data"]'>#}
{#                Rename fields to simplify header names (remove periods ".") - EXPERIMENTAL#}
{#            </label>#}
        </div>
        {% if data.children %}
        <h5>Supplementary labels (validate):</h5>
        <div class="export-form-group">
            <div class="help-block">
                <i class="fa fa-info-circle"></i>
                This AnnotationSet has suggested/supplementary labels. Select a child annotation_set below to compare labels.
            </div>
            <label><input type="checkbox" data-toggle="column" alt="supplementary_label" value="supplementary_label"> Include supplementary labels</label>
        </div>
        {% endif %}
    </div>
    <form class="form-horizontal" id="export-annotation_set-form"
          action="/api/annotation_set/{{ data.id }}/export"
          method="GET" target="_blank">
        {% if data.children %}
            <select class="form-control" name="supplementary_annotation_set_id">
                <option value="">From ALL supplementary sets</option>
                {% for i in data.children %}
                <option value="{{ i.id }}">{{ i.name }} [{{ i.created_at }}]</option>
                {% endfor %}
            </select>
        {% endif %}

{#        <div class="export-form-group">#}
{#            <label><input type="radio" name="template" value="dataframe.csv"> dataframe.csv</label>#}
{#            <label><input type="radio" name="template" value="dataframe.json"> dataframe.json</label>#}
{#            <label><input type="radio" name="template" value="dataframe.html"> dataframe.html</label>#}
{#        </div>#}

        <div id="advanced-options" class="export-form-group">
            <h5>
                Advanced options / API request parameters
                <a href="javascript:void(0)" onclick="$(this).parents('.export-form-group').hide(200)" class="badge label-default"><i class="fa fa-caret-up"></i> hide</a>
            </h5>
            <div class="well well-sm">
                <label>Output format (<code>template</code>):
                    <select class="form-control" name="template">
                        <option value="dataframe.csv" selected>CSV (dataframe.csv)</option>
                        <option value="dataframe.json">JSON (dataframe.json)</option>
                        <option value="dataframe.html">HTML table (dataframe.html)</option>
                        <option value="dataframe.txt">TXT [tabs,noindex,noheader] (dataframe.txt)</option>
                        <option value="">NONE: attempt to automatically format response</option>
                    </select>
                </label>
                <label>Export type (<code>disposition</code>):
                    <select class="form-control" name="disposition">
                        <option value="attachment" selected>Download as file (attachment)</option>
                        <option value="inline">Open in browser tab (inline)</option>
                    </select>
                </label>
                <label>Included fields (<code>include_columns</code> for the <code>annotation</code> resource):
                    <input type="text" class="form-control input-sm" name="include_columns" value='[]'>
                </label>
{#                <div class="help-block"><i class="fa fa-info-circle"></i> <code>include_columns</code> for the <code>annotation</code> resource. See API documentation for more.</div>#}
                <label>Data operations / transformation (<code>f</code>):
                    <input type="text" class="form-control input-sm" name="f" value='{}'>
                </label>
                <label>Query / filters (<code>q</code>):
                    <input type="text" class="form-control input-sm" name="q" value="{}">
                </label>
                <label>Translate parameters (<code>translate</code> property for the <code>label</code> resource):
                    <input type="text" class="form-control input-sm" name="translate" value='{"vocab_registry_keys":{{ config.TRANSLATION_REGISTRY_KEY_ORDER|tojson }}}'>
                </label>
                <label><a href="javascript:void(0)" onclick="$(this).siblings('#qs').toggle(200)">Show full API querystring <i class="fa fa-caret-down"></i> </a>
                    <div class="well well-sm" id="qs" style="overflow-x: auto; display: none"></div>
                </label>
            </div>
        </div>

        <br>
        <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> EXPORT ANNOTATIONS</button>
        <button type="button" class="btn btn-link" onclick="$(this).siblings('#advanced-options').toggle(200)"><i class="fa fa-caret-up"></i> ADVANCED</button>
    </form>

    <script>
        $(document).ready(function () {
            var $container = $("#{{_container_id}}");
            var $form = $container.find("#export-annotation_set-form");
            var $controls = $container.find("#export-annotation_set-controls");
            var $control_inputs = $controls.find(":input");
            var $form_inputs = $form.find(":input");
            var $column_inputs = $controls.find(":input[data-toggle='column']");
            var $q_input = $form.find(":input[name='q']");
            var $f_input = $form.find(":input[name='f']");
            var $include_columns_input = $form.find(":input[name='include_columns']");
            var $translate_input = $form.find(":input[name='translate']");
            var $translate_column_inputs = $column_inputs.filter("[value^='label.translated.']");
            var $preview_translate_btn = $controls.find("button#preview_translate");
            //var $rename_columns_input = $controls.find(":input[name='rename_columns']");
            var $qs_info = $form.find("#qs");
            var $sharing_alert = $container.find("#annotation_set_sharing_alert");
            var $label_filter_control = $controls.find(":input[name='label-filter']");
            var $label_id_filt = $controls.find(":input#label_id_filt");

            var $label_ids = $container.find("select#label_ids")
            var $target_label_scheme_id = $container.find("select#translate_target_scheme_id");


            $control_inputs.change(function(){
                var $this = $(this);
                var $export_group = $this.parents(".export-form-group");
                $($this.data('disable_cols')).each(function(i, c){
                    $column_inputs.filter("[value='"+c+"']").prop( "disabled", $this.is(':checked')).trigger('change');
                });
                if ($this.is(':checked')) {
                    $($this.data('select_cols')).each(function (i, c) {
                        $column_inputs.filter("[value='" + c + "']").prop("checked", true).trigger('change');
                    });
                    $($this.data('unselect_cols')).each(function (i, c) {
                        $column_inputs.filter("[value='" + c + "']").prop("checked", false).trigger('change');
                    });
                }  // unchecked children
                else if ($this.data('toggle')==='children') {
                    $this.parents('.export-form-group').find(":input[data-toggle='column']:checked").prop("checked", false).trigger("change");
                }
                if ($this.data('toggle')==='filter') update_filters();
                else if ($this.data('toggle')==='operation') update_operations();
                else if ($this.data('toggle')==='column') update_columns();

                $export_group.find(".col-count").html("("+$export_group.find(":input[data-toggle='column']:checked:not(:disabled)").length+")");
            });


            $translate_column_inputs.change(update_translate);
            $target_label_scheme_id.change(update_translate);
            $label_filter_control.change(update_label_filters);
            $label_ids.change(update_label_filters);


            $form_inputs.change(function(){
                $qs_info.html($form.attr("action")+"?"+decodeURIComponent($form.serialize()));
            });

            $container.find("[data-toggle='options']").click(function(e){
                $(this).parents('.export-form-group').toggleClass('expanded')
            });

            $target_label_scheme_id.ajax_select("/api/label_scheme", {
                results_per_page: 100,
                placeholder: "Select a target label_scheme for the semantic translation",
                dropdown_parent: $container,
                template_option: '<div class="title">[[name]]</div>' +
                    '<div class="description">' +
                    '[[#parent_label_scheme]]<i class="fa fa-clone"></i> extends: [[name]]<br>[[/parent_label_scheme]]'+
                    '<i class="fa fa-tags"></i> [[annotation_set_count]] annotation sets, ' +
                    '<i class="fa fa-check-square-o"></i> [[exemplar_annotation_set_count]] exemplar sets' +
                    '[[#description]]<br><em>[[description]]</em>[[/description]]' +
                    '</div>',
                build_query: function(search_term) {
                    //var filters = $target_label_scheme_id.data("filters") || [];
                    var filters = JSON.parse(JSON.stringify($target_label_scheme_id.data("filters") || []));
                    var q = {filters: filters,order_by: [{field:"name",direction:"asc"}]};
                    if (search_term) {
                        $(search_term.split(/(\s+)/)).each(function(i,s){
                            if (s.trim())
                                q.filters.push({or:[{name:"name",op:"ilike",val:'%'+s+'%'},
                                    {name:"description",op:"ilike",val:'%'+s+'%'},
                                    {name:"parent_label_scheme",op:"has",val:{name:"name",op:"ilike",val:'%'+s+'%'}}]});
                        });
                    }
                    return q;
                }
            }).on("change", function(){
                //if ($(this).val())
                console.debug("Update filters: "+$(this).val())

            });

            $label_ids.ajax_select("/api/annotation/tally/label", {
                results_per_page: 100,
                placeholder: "Select one or more label to filter",
                dropdown_parent: $container,
                template_option: '<div class="title"><i class="fa fa-square" style="color:[[color]]"></i> [[name]]</div>' +
                    '<div class="description"><i class="fa fa-tags"></i> [[count]] annotations </div>',
                build_query: function(search_term) {
                    var filters = JSON.parse(JSON.stringify($label_ids.data("filters") || []));
                    var q = {filters: filters,order_by: []}; // {field:"label__name",direction:"asc"}
                    console.log(filters)
                    if (search_term) {
                        $(search_term.split(",")).each(function(i,s){
                            if (s.trim())
                                q.filters.push({name:"label",op:"has",val:{name:"name",op:"ilike",val:'%'+s+'%'}});
                        });
                    }
                    return q;
                }
            }).on("change", function(){
                //if ($(this).val())
                console.debug("Update filters: "+$(this).val())

            });


            function update_label_filters() {
                if ($label_filter_control.filter(':checked').length > 0) {
                    $label_ids.prop("disabled", false);
                    $label_id_filt.val(JSON.stringify([{name:"label_id",op:"in",val:$label_ids.val() ||[]}]));
                    $label_id_filt.trigger('change');
                }
                else {
                    $label_ids.prop("disabled", true);
                    $label_id_filt.val('[]');
                    $label_id_filt.trigger('change');
                }
            }

            $preview_translate_btn.click(function(e){
                if ($target_label_scheme_id.val()) {
                    var q = {filters: [{name: "annotation_set_id", op: "eq", val: $(this).data('annotation_set_id')}]};
                    var translate = $translate_input.val()
                    var url = "/api/annotation/tally/label?q=" + JSON.stringify(q) + "&translate="+translate+
                        "&template=models/annotation/tally_translate_preview.html&results_per_page=100&minify=false";
                    open_modal(url,{modal_class:"modal-xl",load_func:load_content.paginated_html});
                }
            });


            function update_translate() {
                var translate = JSON.parse($translate_input.val() || '{}');
                if ($translate_column_inputs.filter(':checked').length > 0) {
                    $target_label_scheme_id.prop("disabled", false);
                    $preview_translate_btn.prop("disabled", false);
                    translate["target_label_scheme_id"] = $target_label_scheme_id.val();
                }
                else {
                    $target_label_scheme_id.prop("disabled", true);
                    $preview_translate_btn.prop("disabled", true);
                    if (translate.hasOwnProperty('target_label_scheme_id'))
                        delete translate.target_label_scheme_id;
                }
                $translate_input.val(JSON.stringify(translate)).trigger("change");
            }

            function update_filters() {
                var filters = [];
                $control_inputs.filter("[data-toggle='filter']").each(function(i, el){
                    if ($(el).is(":checkbox,:radio")) {
                        if ($(el).is(':checked'))
                            $(JSON.parse($(el).val())).each(function(j,f){filters.push(f)})
                    } else {
                        $(JSON.parse($(el).val())).each(function(j,f){filters.push(f)})
                    }
                });
                $q_input.val(JSON.stringify({filters:filters})).trigger("change");
            }

            function update_operations() {
                var operations = [{module:"pandas", method:"json_normalize"},{method:"sort_index",kwargs:{"axis":1}}];
                $control_inputs.filter("[data-toggle='operation']").each(function(i, el){
                    if ($(el).is(':checked'))
                        $(JSON.parse($(el).val())).each(function(j,o){operations.push(o)})
                });
                $f_input.val(JSON.stringify({operations:operations})).trigger("change");
            }

            function update_columns() {
                //var columns = $.map($column_inputs, function(c, i){
                //    return ($(c).is(':checked') && !$(c).is(":disabled")) ? $(c).val() : null;
                //});
                var include_columns = [];
                //var rename_columns = {};
                $($column_inputs).each(function(i, c){
                    if ($(c).is(':checked') && !$(c).is(":disabled")){
                        include_columns.push($(c).val());
                        //rename_columns[$(c).val()] = ($(c).attr("alt")) ? $(c).attr("alt") : $(c).val();
                    }
                });

                $include_columns_input.val(JSON.stringify(include_columns)).trigger("change");
                //$rename_columns_input.val(JSON.stringify({method:'rename',kwargs:{columns:rename_columns}}));
            }

            function check_DUA() {
                var q = {filters:[{name:"shared_annotation_sets",op:"any",val:{name:"id",op:"eq",val:"{{data.id}}"}},
                        {name:"is_restricted",op:"eq",val:false}, {or:[{name:"current_user_is_member",op:"eq",val:true},
                                {name:"current_user_is_owner",op:"eq",val:true},{name:"is_public",op:"eq",val:"true"}]}]};
                var url = '/api/groups?template=models/groups/dua_alerts_list.html&q='+JSON.stringify(q);
                load_content.html(url, $sharing_alert);
            }

            $control_inputs.filter(":checked").trigger("change");
            update_operations();
            update_filters();
            update_columns();
            check_DUA();
        });
    </script>
</div>