{% set _form_id = "annotation_set-status-form-"~rendered_at %}
<h2>
    <small class="pull-right">[ID:{{ data.id }}]</small>
    {% include "models/usergroup_icon.html" %}
    {{ data.name }}
</h2>
{#<p>From the <span class="badge">{{ data.media_collection.name }}</span> media collection</p>#}


<table class="object-detail-table"><tbody>
    {% if data.description %}
    <tr><td>
        DESCRIPTION:
    </td><td>
        {{ data.description }}
    </td></tr>
    {% endif %}
    <tr><td>
        MEDIA COLLECTION:
    </td><td>
        <small class="pull-right">[ID: {{ data.media_collection.id }}]</small>
        <span class="badge" title="Media Collection">
            <i class="fa fa-th-list"></i>
            {{ data.media_collection.name }}
        </span>
        {% if data.media_count is defined %}
        <span class="badge" >
            <i class="fa fa-image" data-toggle="tooltip" title="This media collection contains {{ data.media_count }} media items"></i>
            <b>{{ data.media_count |humanize('intcomma') }}</b>
            <span class="active-show">media items</span>
        </span>
        {% endif %}
    </td></tr>
    <tr><td>
        ANNOTATION SET:
    </td><td>
        {% include "models/annotation_set/info_badges.html" %}
    </td></tr>
{#    <tr><td>#}
{#        LABEL SCHEME:#}
{#    </td><td>#}
{#        <span class="badge" title="Annotation Scheme">#}
{#            <i class="fa fa-tags"></i> {{ data.label_scheme.name }}#}
{#        </span>#}
{#        <small class="pull-right">[ID: {{ data.label_scheme.id }}]</small>#}
{#    </td></tr>#}
    {% if data.data %}
    <tr><td>
        PARAMETERS:
    </td><td>
        {% include "models/annotation_set/info_parameters.html" %}
    </td></tr>
    {% endif %}
    <tr><td>
        OWNER/CREATOR:
    </td><td>
        {% with user=data.user, user_title="Owner" %}
            {% include('models/users/user_badge.html') %}
        {% endwith %}

        <span class="badge active-show" title="Created: {{ data.created_at }}">
            <i class="fa fa-calendar"></i> created: {{ data.created_at | parse_datestring | humanize}}
        </span>
    </td></tr>

    <tr><td>
        DATASET STATUS:
        <div class="help-block">
            (click button on<br> right to update<br> status flags)
        </div>
    </td><td>
        <form id="{{ _form_id }}" action="/api/annotation_set/{{ data.id }}" method="patch" class="form-inline well well-sm" style="margin-bottom: 0px">
        <button type="submit" class="btn btn-primary btn-sm pull-right">UPDATE STATUS</button>
        <label class="radio">
            <input type="checkbox" name="is_qaqc" value="true" {{ "checked" if data and data.is_qaqc else "" }}>
            <b>QA/QC is done</b>
            <div class="help-block">All annotations have been verified and checked for correctness</div>
        </label><br>
        <label class="radio">
            <input type="checkbox" name="is_final" value="true" {{ "checked" if data and data.is_final else "" }}>
            <b>Annotation complete &amp; finalised</b>
            <div class="help-block">Annotation is complete and not expected to change.</div>
        </label>
        </form>
    </td></tr>
</tbody></table>

<script>
    $(document).ready(function(){
        var $form = $("#{{ _form_id }}");
        var $modal = $form.parents(".modal");
        $form.APIForm({
            ajax_prefill: false,
            callback:function(data, form) {
                notify.success("AnnotationSet status has been updated!")
                console.log(data);
                $modal.trigger('reload');
            }
        });
    })
</script>