    <span class="badge-group ">
        <span class="badge"><i class="fa fa-mouse-pointer"></i> add/delete points: {{ data.data.allow_add }}</span>
        <span class="badge"><i class="fa fa-bullseye"></i> point layout: {{ data.data.type }}</span>
        {% if data.data.params %}
            {% for k,v in data.data.params.items() %}
                <span class="badge">{{k}}: {{v}}</span>
            {% endfor %}
        {% endif %}
    </span>

    <span>
        <a href="javascript:void(0)" class="badge" title="Show/hide metadata" onclick="$(this).siblings('pre.info').toggle()">more <i class="fa fa-caret-down"></i></a>
        <pre class="info" style="display: none">{{ data.data | as_json }}</pre>
    </span>
