{% include "models/usergroup_info_badges.html" %}

<span class="badge" data-toggle="tooltip" title="{{ data.annotation_count }} annotations using {{ data.label_scheme.name }} scheme">
    <i class="fa fa-tags"></i>
    {% if data.annotation_count is defined %}
    <b>{{ data.annotation_count|humanize('intcomma') }}</b>
    <span class="active-show"> annotations</span> |
    {% endif %}
    {{ data.label_scheme.name }}
</span>


<span class="badge-group">
    <span class="badge">
        {% if data.is_full_bio_score %}
            <span data-toggle="tooltip" title="Full biodiversity labeling">
            <i class="fa fa-sitemap"></i>
            <span class="active-show">full-bio</span>
            </span>
        {% else %}
            <span  data-toggle="tooltip" title="Targeted labeling (not full biodiversity / full label scheme)">
            <i class="fa fa-crosshairs text-danger"></i>
            <span class="active-show">targeted</span>
            </span>
        {% endif %}
    </span>
    <span class="badge">
        {% if data.is_real_science %}
            <span data-toggle="tooltip" title="Dataset is for science" >
            <i class="fa fa-bar-chart"></i>
            <span class="active-show">for science</span>
            </span>
        {% else %}
            <span data-toggle="tooltip" title="Dataset is educational / experimental" >
            <i class="fa fa-graduation-cap text-danger"></i>
            <span class="active-show">experimental</span>
            </span>
        {% endif %}
    </span>
    <span class="badge"  data-toggle="tooltip" title="Is QA/QC'd?">
        {% if data.is_qaqc %}
            <i class="fa fa-check-square-o text-success"></i>
        {% else %}
            <i class="fa fa-times"></i>
        {% endif %}
        <span class="active-show">QA/QC</span>
    </span>
    <span class="badge" data-toggle="tooltip" title="Is finalised?" >
        {% if data.is_final %}
            <i class="fa fa-lock  text-success"></i>
            <span class="active-show">finalised</span>
        {% else %}
            <i class="fa fa-unlock"></i>
            <span class="active-show">not finalised</span>
        {% endif %}
    </span>
</span>