<li class="{{ 'active' if (args.annotation_set_id|string) == (data.id|string) else '' }}">
{#<b>Name:</b> {{ data.name }}<br>#}
{#<small>#}
{#    <span class="badge"><i class="fa fa-user"></i> {{ data.user.first_name }} {{ data.user.last_name }}</span>#}
{#    <span class="badge"><i class="fa fa-calendar"></i> {{ data.created_at }}</span>#}
{#    <span class="badge" title="This Annotation Set is using the {{ data.label_scheme.name }} scheme. ({{ data.label_scheme.description }})"><i class="fa fa-tag"></i> {{ data.label_scheme.name }}</span>#}
{#    <span class="badge" title="Dynamic point-click label creation">Click-to-create: {{ data.data.allow_add }}</span>#}
{#    <span class="badge">Type: {{ data.data.type }}</span>#}
{#    {% for k,v in data.data.params.items() %}#}
{#        <span class="badge">{{k}}: {{v}}</span>#}
{#    {% endfor %}#}
{#    <br>#}
{#    <em>{{ data.description }}</em>#}
{#</small><br>#}

<span class='object-ctl'>
    <small class="active-show">[ID:{{ data.id }}]</small>
    {% if data.current_user_can_edit %}
{#    <i class='fa fa-trash object-delete' data-id="{{ data.id }}" title="Delete"></i>#}
    <i class='fa fa-pencil object-edit active-show' data-id="{{ data.id }}" title="Edit"></i>
    {% endif %}
    <i class='fa fa-copy object-clone active-show' data-id="{{ data.id }}" title="Clone"></i>
    <i class='fa fa-share-alt object-share' data-id="{{ data.id }}" title="Share"></i>
    <i class="fa fa-download object-export" data-id="{{ data.id }}" title="Export"></i>
</span>
<a class="object-link" data-id="{{ data.id }}" data-mcid="{{ data.media_collection.id }}" title="{{ data.name }}" href='javascript:void(0)'>
    {% include "models/usergroup_icon.html" %}
    {{ data.name }}
</a>

{% if data.description %}
    <div class="object-description active-show">{{ data.description }}</div>
{% endif %}


<div class='object-description'>
{#        <span class="active-hide" style="color: #dddddd">&boxur;&boxh;</span>#}
    {% include "models/annotation_set/info_badges.html" %}

    {% with user=data.user, user_title="Owner" %}
        {% include('models/users/user_badge.html') %}
    {% endwith %}

    <span class="badge active-show">
        <i class="fa fa-calendar" data-toggle="tooltip" title="Created: {{ data.created_at }}"></i>
        created: {{ data.created_at | parse_datestring | humanize}}
    </span>


    {% if data.data %}
{#    <div class="active-show">#}
{#    <h6>PARAMETERS:</h6>#}
    {% include "models/annotation_set/info_parameters.html" %}
{#    </div>#}
    {% endif %}

{% if data.children | length > 0 %}
<div class="active-show">
    <h6><i class="fa fa-magic fa fw"></i> MAGICAL SUGGESTIONS (supplementary Annotation Sets):</h6>
    <div class="object-children">
    <ul>
    {% for c in data.children %}
        <li>
            <span class='object-ctl'>
                [ID:{{ c.id }}]
                <i class='fa fa-pencil object-edit' data-id="{{ c.id }}" title="Edit child Annotation Set"></i>
                <i class='fa fa-external-link-square object-open' title="Open child Annotation Set" data-id="{{ c.id }}"></i>
{#                <i class='fa fa-trash object-delete' title="Delete child Annotation Set" data-id="{{ c.id }}"></i>#}
            </span>
            {{ c.name }}
{#                <span class="badge" title="User"><i class="fa fa-user"></i> {{ data.user.username }} </span>#}
            <span class="badge" title="Created: {{ c.created_at }}"><i class="fa fa-calendar"></i> {{ c.created_at | parse_datestring | humanize}}</span>
        </li>
    {% endfor %}
    </ul>
    </div>
</div>
{% endif %}
<a href="javascript:void(0)" class="btn btn-sm btn-link active-show object-create-child" data-label_scheme_id="{{ data.label_scheme.id }}" data-parent_id="{{ data.id }}">
    <i class="fa fa-plus"></i> create new supplementary Annotation Set (validate / suggest)
</a>

</div>
