<div class="tally-chart">
{% if data.objects %}
    {% set max_value = data.objects[0].count %}
    {% for i in data.objects %}
        <div class='tally-chart-row'>
            <div class='tally-chart-name'>{{ i.name }}</div><div class='tally-chart-val'>
                {% set width = (i.count / max_value * 100) if max_value else 0 %}
                <div class='tally-chart-val-bar' title="{{ i.name }}: {{ i.count }}" rel="tooltip" style='width: {{ width }}%; background-color: {{ i.color }}'>
                    <span>{{ i.count }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>