{% set _container_id = "qaqc_thumbnail_list-"~rendered_at %}

<style>
    .hist-list-select {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .hist-list-select li.hist .hist-bar {
        display: block;
        height: 5px;
        background-color: #ccc;
        width: 100%;
    }
    .hist-list-select li.hist .hist-label {
        float: right;
        font-size: smaller;
        padding: 2px;
        border-radius: 4px;
        background-color: rgba(200,200,200,0.8);
    }
    .hist-list-select li.hist {
        padding: 3px;
        border: 1px solid transparent;
        cursor: pointer;
    }
    .hist-list-select li.hist:hover, .hist-list-select li.hist.selected {
        background-color: #eaeaea;
        border: 1px solid #ccc;
    }
    .hist-list-select li.hist.selected {
        font-weight: bold;
    }

    .row-scroll-cols {
        position: absolute !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        overflow: hidden;
        width: 100%;
    }
    .row-scroll-cols *[class^='col-'] {
        height: 100%;
        overflow-y: auto;
    }

    #label_scheme_container {
        position: relative;
    }
    #label_scheme_container .quick-label-list {
        position: absolute;
        top: 36px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.95);
        border: 1px solid rgb(204, 204, 204);
    }

    #label_exemplars .label-thumbnail-list {
        white-space: nowrap;
        max-height: 180px;
        overflow: auto;
        overflow-y: hidden;
    }
    #label_exemplars .label-thumbnail-list .label-thumbnail {
        border: 0px;
    }


</style>

<div id="{{ _container_id }}" class="row row-scroll-cols">
{#    <div class="row row-scroll-cols">#}
        <div class="col-sm-2">
{#            <select id="label_id" class="form-control" multiple style="height:620px">#}
{#                <option value="">SELECT A CLASS LABEL</option>#}
{#                <option value="null">Unlabeled points</option>#}
{#            </select>#}
            <h5><i class="fa fa-filter"></i> Apply filters (optional)</h5>
            <div class="well well-sm">
{#                <button onclick="notify.info('Not implemented yet. Coming soon!')" class="btn btn-sm btn-default" title="Filter thumbnails by tags"><i class="fa fa-tag"></i> TAGS</button>#}
{#                <button onclick="notify.info('Not implemented yet. Coming soon!')" class="btn btn-sm btn-default" title="Filter thumbnails by annotator"><i class="fa fa-user-circle"></i> ANNOTATORS</button>#}
                <form class="annotation-filter-form" onsubmit="return false">
                {% include "models/annotation/create_filter.html" %}
                </form>
            </div>
            <h5><i class="fa fa-tags"></i> Select labels</h5>
            <div id="label_list_container"></div>
{#            <ul id="label_id_list" class="hist-list-select">#}
{##}
{#            </ul>#}
{#            <div class="help-block" style="margin-top: 10px; padding-top: 10px; border-top: 1px solid #ccc;">#}
            <div class="help-block text-center">
                <i class="fa fa-info-circle"></i>
                <b>TIP:</b> to select multiple class labels, <br>try holding
                <span class="label label-default">{{ "&#8984;"|safe if request.user_agent.platform=="macos" else "CTRL" }}</span>
                or <span class="label label-default">SHIFT</span> while clicking.
            </div>
        </div>
        <div class="col-sm-8">
            <div>
                <h5><i class="fa fa-image"></i> Exemplar Images</h5>
                <div id="label_exemplars" class="well well-sm">ROW OF EXEMPLARS</div>
            </div>
            <h5><i class="fa fa-crosshairs"></i> Point-annotation Thumbnails</h5>
            <div class="well sell-sm help-block">
                <i class="fa fa-info-circle fa-fw"></i>
                Shows thumbnails with point location cropped to default {{ (config['MEDIA_THM_BBOX_DEFAULT_SIZE']*100)|int }}% of image or to polygon/bounding box if defined for the point.
                <br><i class="fa fa-lightbulb-o fa-fw"></i> Multi-select: try holding
                <span class="label label-default">{{ "&#8984;"|safe if request.user_agent.platform=="macos" else "CTRL" }}</span>
                or <span class="label label-default">SHIFT</span> on your keyboard while clicking.<br><br>
                <div id="label_thumbs" >
                <i class="fa fa-exclamation-triangle fa-fw text-warning"></i> Select a label from this list to show point-labelled thumbnails.
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <h5><i class="fa fa-tags"></i> Batch assign Tags</h5>
            <select id="batch-tag-select-qaqc" class="form-control" name="tags" multiple></select>
            <button id="batch-tag-btn" type="button" class="btn btn-primary btn-xs" style="width: 100%"><i class="fa fa-tag"></i> UPDATE TAG(S)</button>
            <h5><i class="fa fa-tags"></i> Batch assign Labels</h5>
            <div id="label_scheme_container"></div>
        </div>
{#    </div>#}



<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        //var $label_id = $container.find("#label_id");
        //var $label_id_list = $container.find("#label_id_list");
        var $label_list_container = $container.find("#label_list_container");
        var $label_thumbs = $container.find("#label_thumbs");
        var $label_exemplars = $container.find("#label_exemplars");
        var $label_scheme_container = $container.find("#label_scheme_container");
        var $annotation_filter_form = $container.find("form.annotation-filter-form");
        var annotation_set_id = '{{ data.id }}';

        var $batch_tag_select = $container.find("#batch-tag-select-qaqc");
        var $batch_tag_btn = $container.find("#batch-tag-btn");


        // TEMP WIP NOTICE
        //notify.warning("NOTE QA/QC TAB IS NOT FULLY FUNCTIONAL YET. STILL UNDER CONSTRUCTION.");
        // END: TEMP WIP NOTICE


        build_label_list();
        var label_scheme_obj = new LabelScheme($label_scheme_container, {
            annotation_set_id:annotation_set_id,
            on_label_click: patch_annotations
        });
        label_scheme_obj.initList();
        label_scheme_obj.refreshList(parseInt('{{ data.label_scheme.id }}'), null, "", true);
        $label_exemplars.parent().hide();



        $batch_tag_btn.click(function(e){
            patch_annotation_tags($batch_tag_select.val());
        });

        $batch_tag_select.ajax_select('/api/tag', {
            results_per_page:100,
            placeholder: "Search or select one or more Tags to apply",
            dropdown_parent: $container,
            template_option: '<div class="title">[[name]]</div><div class="description">[[description]]</div>',
            build_query: function(search_term) {
                var q = {filters: [], order_by: [{field:"name",direction:"asc"}]}
                if (search_term) {
                    $(search_term.split(/(\s+)/)).each(function(i,s){
                        if (s.trim().length)
                            q.filters.push({or:[{name:"name",op:"ilike",val:'%'+s+'%'},{name:"description",op:"ilike",val:'%'+s+'%'}]});
                    });
                }
                return q;
            }
        });


        function patch_annotations(tgdata) {
            var annotation_ids = get_selected_ids($label_thumbs, 'id');
            if (annotation_ids.length>0) {
                var q={filters:[{name:"id",op:"in",val:annotation_ids}]};
                var data = JSON.stringify({label_id: tgdata.id});
                ajax.patch("/api/annotation?q="+JSON.stringify(q), data, {success:function(data){
                    build_label_list(get_selected_ids($label_list_container, 'label_id'));
                    //get_annotation_thumbnails();
                    $label_thumbs.trigger("reload");
                }})
            }
        }

        function patch_annotation_tags(tags) {
            var annotation_ids = get_selected_ids($label_thumbs, 'id');
            if (!tags && !$.isArray(tags)) {  // if no tag selected, confirm reset of tags
                notify.confirm("Are you sure you want to remove the tags from all selected Annotations?", {
                    ok: function() {
                        patch_annotation_tags([]);  // reset with empty list
                    }
                })
            }
            else {
                if (annotation_ids.length>0) {
                    var q={filters:[{name:"id",op:"in",val:annotation_ids}]};
                    var data = JSON.stringify({tags: tags});
                    ajax.patch("/api/annotation?q="+JSON.stringify(q), data, {success:function(data){
                        build_label_list(get_selected_ids($label_list_container, 'label_id'));
                        //get_annotation_thumbnails();
                        $label_thumbs.trigger("reload");
                    }})
                }
            }
        }

        function get_selected_ids ($list_container, id_field) {
            var selected_ids = [];
            $.each($list_container.find(".selected"), function(i, el){
                selected_ids.push($(this).data(id_field));
            });
            return selected_ids;
            // return $list_container.find(".selected").map(function(){return $(this).data(id_field)}).get();
        }

        function build_label_list(selected_label_ids) {
            // first get annotation_set object to get unannotated count
            ajax.get("/api/annotation_set/{{ data.id }}").done(function(data){
                //var tally_url = "/api/annotation_set/{{ data.id }}/annotations/label_frequency?results_per_page=100";
                var tally_url = '/api/annotation/tally/label?q={"filters":[{"name":"annotation_set_id","op":"eq","val":{{ data.id }}}]}';
                if (typeof selected_label_ids === "undefined") selected_label_ids=[];
                tally_url += "&results_per_page=100&unannotated_point_count=" + data.unannotated_point_count+
                    "&template=models/annotation_set/qaqc_label_tally_select_list.html";

                load_content.paginated_html(tally_url, $label_list_container, function(){
                    $label_list_container.find('ul.hist-list-select').multiSelect({
                        unselectOn: false,
                        keepSelection: false
                    }).find("li").each(function(i, el){
                        if (selected_label_ids.indexOf($(el).data('label_id'))>=0)
                            $(el).addClass("selected");
                        $(el).click(function(e){
                            get_annotation_thumbnails();
                        });
                    });
                });
            });

            /*
            //var tally_url = "/api/annotation_set/{{ data.id }}/annotations/label_frequency?results_per_page=100";
            var tally_url = '/api/annotation/tally/label?q={"filters":[{"name":"annotation_set_id","op":"eq","val":{{ data.id }}}]}&results_per_page=100';
            if (typeof selected_label_ids === "undefined") selected_label_ids=[];
            // START test
            tally_url += "&template=models/annotation_set/qaqc_label_tally_select_list.html";

            load_content.paginated_html(tally_url, $label_list_container, function(){
                $label_list_container.find('ul.hist-list-select').multiSelect({
                    unselectOn: false,
                    keepSelection: false
                }).find("li").each(function(i, el){
                    if (selected_label_ids.indexOf($(el).data('label_id'))>=0)
                        $(el).addClass("selected");
                    $(el).click(function(e){
                        get_annotation_thumbnails();
                    });
                });
            });
            // END test
            */


            /*
            ajax.get(tally_url, {success: function(data){
                var unlabeled_count = data.metadata.unannotated_point_count; //data.metadata.point_count-data.metadata.annotation_count;
                var max_count = (data.objects.length>0) ? Math.max(data.objects[0].count, unlabeled_count) : unlabeled_count;
                var $null_li = create_label_hist_li("UNLABELED POINTS", "null", unlabeled_count, "#ccc", max_count);
                $label_id_list.html($null_li);
                $(data.objects).each(function(i,el){
                    var $li = create_label_hist_li(el.name, el.id, el.count, el.color, max_count);
                    $label_id_list.append($li);
                });
                $label_id_list.multiSelect({
                    unselectOn: false,
                    keepSelection: false
                }).find("li").each(function(i, el){
                    if (selected_label_ids.indexOf($(el).data('label_id'))>=0)
                        $(el).addClass("selected");
                    $(el).click(function(e){
                        get_annotation_thumbnails();
                    });
                });
            }});
            */
        }

        /*
        function create_label_hist_li(label, label_id, count, color, max_count) {
            return $('<li class="hist">').data('label_id', label_id).append(
                $('<span class="hist-bar">').css({'background-color': color, width: count/max_count*100+"%"}),
                $('<span class="hist-label">'+count+'</span>'),
                $('<span>'+label+'</span>')
            )
        }
        */

        function get_annotation_filters(label_ids, show_null) {
            var filts = $annotation_filter_form.serializeObject();

            console.log(filts);
            var q = {filters:[], order_by:[{field:"label_id",direction:"asc"}]};

            if (show_null)
                q.filters.push({or:[{name:"label_id",op:"in",val:label_ids}, {name:"label_id",op:"is_null"}]});
            else
                q.filters.push({name:"label_id",op:"in",val:label_ids});

            if (filts.hasOwnProperty("annotators")) {
                q.filters.push({name:'user_id',op:$.isArray(filts.annotators)?"in":"eq", val: filts.annotators});
            }
            if (filts.hasOwnProperty("tags")) {
                q.filters.push({name:'tags',op:'any',val:{name:'id',op:$.isArray(filts.tags)?"in":"eq", val: filts.tags}});
            }
            if (filts.hasOwnProperty("needs_review")) {
                q.filters.push({name:'needs_review',op:'eq',val: true});
            }
            if (typeof filts.comment === "string") {
                if (filts.comment.trim()) q.filters.push({name:'comment',op:'ilike',val:"%"+filts.comment.trim()+"%"});
            }
            return q;
        }

        function get_annotation_thumbnails() {
            var label_ids = get_selected_ids($label_list_container, 'label_id');
            var null_ind = label_ids.indexOf(null);
            var show_null = false;
            if (null_ind>=0) {
                label_ids.splice(null_ind,1);
                show_null = true;
            }
            // load exemplars, if only one class label has been selected
            $label_exemplars.parent().hide();
            if (label_ids.length === 1 && !show_null) {
                var exemurl = '/api/label/' + label_ids[0] + '/exemplars?results_per_page=12&template=models/annotation/list_thumbnails.html&hide_pagination=true';
                load_content.paginated_html(exemurl, $label_exemplars, function () {
                    $label_exemplars.find('img').magnify({delay: 5000});
                });
                $label_exemplars.parent().show();
            }
            // generate filters
            var filters = get_annotation_filters(label_ids, show_null);

            var imgurl = '/api/annotation_set/{{ data.id }}/annotations' +
                '?include_columns=["label_id","id","point","point.media_id","point.id","point.updated_at","needs_review"]' +
                '&include_methods=["current_user_can_edit","color","tag_names"]' +
                '&q='+JSON.stringify(filters)+'&results_per_page=100' +
                '&template=models/annotation/list_thumbnails.html';
            load_content.paginated_html(imgurl, $label_thumbs, function(){
                $label_thumbs.find('.label-thumbnail-list').multiSelect({
                    //unselectOn: false,
                    toggleSelection: true,
                    //keepSelection: false,
                    start_multi: function(){$label_thumbs.find(".thumbnail-tools").hide();},
                    stop_multi: function(){$label_thumbs.find(".thumbnail-tools").show();}
                }).find(".thm-ctl").click(function (e) {
                    e.stopImmediatePropagation();
                    e.stopPropagation();
                    e.preventDefault();
                    if ($(this).data('action')==="annotate") {
                        var media_id = $(this).data("media_id");
                        var point_id = $(this).data("point_id");
                        dataset_modal.media.annotate(media_id, annotation_set_id, {point_ids:[point_id]}, {keyboard:true});
                    }
                });

            });
        }
    });


</script>
</div>
