<ul id="label_id_list" class="hist-list-select">
    {% if data.objects %}
        {% set max_count = [data.objects[0].count, args.unannotated_point_count|default(0)|int]|max %}
        {% if args.unannotated_point_count %}
        <li class="hist" data-label_id="null">
            <span class="hist-bar" style="background-color: #ccc; width: {{ (args.unannotated_point_count|int)/max_count*100 }}%"></span>
            <span class="hist-label">{{ args.unannotated_point_count }}</span>
            <span>UNLABELED POINTS</span>
        </li>
        {% endif %}
        {% for l in data.objects %}
        <li class="hist" data-label_id="{{ l.id }}">
            <span class="hist-bar" style="background-color: {{ l.color }}; width: {{ l.count/max_count*100 }}%"></span>
            <span class="hist-label">{{ l.count }}</span>
            <span>{{ l.name }}</span>
        </li>
        {% endfor %}
    {% else %}
        <li class="hist" data-label_id="null">
            <span class="hist-bar" style="background-color: #ccc; width: 100%"></span>
            <span class="hist-label">{{ args.unannotated_point_count }}</span>
            <span>UNLABELED POINTS</span>
        </li>
    {% endif %}
</ul>
<hr>
<div class="text-center">
{% include "models/paginate_model.html" %}
</div>