
{% set _container_id = "annotation_set_list-"~rendered_at %}
<div id="{{ _container_id }}">
    <span class="pull-right text-right">
        {% include "models/paginate_model.html" %}
    </span>
    <h5><i class='fa fa-tags'></i> Annotation Sets</h5>
    <div class="well well-sm ">
    <ul class="nav nav-pills nav-stacked object-list">
        {% if data.objects | length > 0 %}
{#            {% if data.objects | length == 1 %}{% set _annotation_set_id = data.objects[0].id%}{% endif %}#}
            {% for o in data.objects %}
                {% with data = o %}
                {% include "models/annotation_set/list_item.html" %}
                {% endwith %}
            {% endfor %}
        {% else %}
            <li><div class="alert">
                <i class="fa fa-exclamation-triangle"></i>
                There are no visible <code>Annotation Sets</code> here.
                You can create a Annotation Set using the button below.
                If this is a shared dataset and you were expecting to see Annotation Sets here, you may need to ask
                the custodian to share them with you.

            </div></li>
        {% endif %}
    </ul>
    <button class="btn btn-default form-control" id="btn_new_annotation_set"><i class="fa fa-plus-square"></i> New Annotation Set</button>
    </div>


{#    <hr style="margin-top: 5px; margin-bottom: 5px">#}
    <button class="btn btn-primary form-control" id="annotation_set-select-btn"><i class="fa fa-external-link"></i> Open selected Annotation Set</button>

<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $modal = $container.parents(".modal.in");
        var $list_container = $container.find("ul.object-list");
        var current_media_collection_id = parseInt("{{ args.media_collection_id }}");
        var current_annotation_set_id = parseInt("{{ args.annotation_set_id }}");
        var $select_btn = $container.find("#annotation_set-select-btn").prop('disabled', true);
        var $object_links = $list_container.find(".object-link");
        var $object_edit_links = $list_container.find(".object-edit").tooltip({placement:"bottom", container: $container_parent});
        var $object_open_links = $list_container.find(".object-open").tooltip({placement:"bottom", container: $container_parent});
        var $object_share_links = $list_container.find(".object-share").tooltip({placement:"bottom", container: $container_parent});
        var $object_export_links = $list_container.find(".object-export").tooltip({placement:"bottom", container: $container_parent});
        var $object_delete_links = $list_container.find(".object-delete").tooltip({placement:"bottom", container: $container_parent});
        var $object_clone_links = $list_container.find(".object-clone").tooltip({placement:"bottom", container: $container_parent});
        var $object_create_child = $list_container.find(".object-create-child");
        var $btn_new_annotation_set = $container.find("#btn_new_annotation_set");


        $container.find("[data-toggle='tooltip']").tooltip({placement:'auto', container:$container});

        // Build current URI
        {#var current_uri = "{{ base_url }}";#}
        {#{% for k,v in args.items() %}current_uri = current_uri.updateURIParam('{{ k | safe }}', '{{ v | safe }}');#}
        {#{% endfor %}#}

        // click action for annotation_sets
        $object_links.click(function(){
            current_annotation_set_id = $(this).data("id");
            $object_links.parent("li.active").removeClass("active");
            $(this).parent("li").addClass("active");
            $select_btn.prop('disabled', false);
        }).filter("[data-id='"+current_annotation_set_id+"']").trigger("click");

        // handle delete links
        $object_delete_links.click(function(){
            dataset_modal.annotation_set.remove($(this).data("id"), {
                success: function(){refresh_list()}
            });
        });

        $object_create_child.click(function(){
            var d = $(this).data();
            dataset_modal.annotation_set.create(current_media_collection_id, {parent_id:d.parent_id, label_scheme_id:d.label_scheme_id}, {
                oncompleted: function (data) {refresh_list(d.parent_id)}
            });
        });

        // handle edit links
        $object_edit_links.click(function(){
            var object_id = $(this).data("id");
            dataset_modal.annotation_set.update(object_id, {
                oncompleted: function (data) {refresh_list(data ? data.id : object_id)}
            });
        });

        $object_open_links.click(function(){
            var $active_link = $container.find("li.active").find("a.object-link");
            if ($active_link.length > 0)
                $modal.trigger("completed", {media_collection_id: $active_link.data("mcid"), annotation_set_id: $(this).data("id")});
        })

        // handle select button click
        $select_btn.click(function(){
            var $active_link = $container.find("li.active").find("a.object-link");
            if ($active_link.length > 0)
                $modal.trigger("completed", {media_collection_id: $active_link.data("mcid"), annotation_set_id: $active_link.data("id")});
        });

        $object_share_links.click(function(){
            var object_id = $(this).data("id");
            dataset_modal.annotation_set.share(object_id, {
                onhidden: function (){refresh_list(object_id)}
            });
        });

        $object_export_links.click(function(){
            var object_id = $(this).data("id");
            dataset_modal.annotation_set.export(object_id, {});
        });

        $object_clone_links.click(function(){
            var object_id = $(this).data("id");
            open_modal("/api/annotation_set/"+object_id+"?template=models/annotation_set/clone_form.html", {
                oncompleted:  function (data) {refresh_list(data.id)},
                hide_open_modals: true
            });
        });

        // handle new annotation_set button
        $btn_new_annotation_set.click(function(){
            dataset_modal.annotation_set.create(current_media_collection_id, {}, {
                oncompleted: function (data) {refresh_list(data.id)}
            });
        });

        function refresh_list(selected_annotation_set_id) {
            if (typeof selected_annotation_set_id === 'undefined') selected_annotation_set_id=current_annotation_set_id;
            var url = $container_parent.data("url").updateURIParam("annotation_set_id", selected_annotation_set_id);
                //.updateURIParam("page", 1);
            //load_content.paginated_html(url, $container_parent);
            $container_parent.trigger("reload", url);
        }
    });

</script>

</div>
