<p>
{% for i in data.objects %}
    <div class="small">
    <b>{{ i.name }}</b>:
    <em>{{ i.description }}</em>
    {% if i.reference %}
    <div class="help-block">{{ i.reference }}</div>
    {% endif %}
    </div>
{% endfor %}
</p>
