
        <h5>
            <i class="fa fa-cogs"></i> ENDPOINTS
        </h5>
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr><td width="60">METHOD</td><td>ENDPOINT</td></tr>
            </thead>
            <tbody>
            {% for ep in o.endpoints %}
                <tr>
                    <td><span class="label label-{{ 'success' if ep.method=="GET" else ('warning' if ep.method=="POST" else ('danger' if ep.method=="DELETE" else "info")) }}">
                        {{ ep.method }}
                    </span> </td>
                    <td>
                        <p><b>{{ ep.endpoint }}</b></p>
                        <div>
                        {{ ep.description | md_to_html(wrap_paragraphs=True) | safe }}
                        </div>
                        {% if ep.fields or ep.methods or ep.preprocessors or ep.postprocessors %}
                        <div class="well well-sm api-endpoint-more">
                        {% if ep.fields or ep.methods %}
                        <p>
                            <b>Included fields:</b><br>
                            {% for f in ep.fields or [] %}{% if loop.index>1 %}, {% endif %}<code title="Field">{{ f }}</code>{% endfor %}
                            {% for m in ep.methods or [] %}{% if loop.index>1 %}, {% endif %}<code title="Method">{{ m }}</code>{% endfor %}
                            <em>(see below for more details)</em>
                        </p>
                        {% endif %}
{#                        {% if ep.methods %}#}
{#                        <b>Included methods:</b><br>#}
{#                        {% for m in ep.methods %}#}
{#                            {% if loop.index>1 %}, {% endif %}<code title="Method">{{ m }}()</code>#}
{#                        {% endfor %}<br>#}
{#                        {% endif %}#}
                        {% if ep.preprocessors %}
                        <p>
                            <b>Preprocessors:</b>
                            <ul>
                            {% for p in ep.preprocessors %}
                                <li>{{ p.doc | md_to_html | safe }} (<code title="Field">{{ p.name }}</code>)</li>
{#                                <br><code title="Field">{{ p.name }}()</code>: {{ p.doc | md_to_html | safe }}#}
                            {% endfor %}
                            </ul>
                        </p>
                        {% endif %}
                        {% if ep.postprocessors %}
                        <p>
                            <b>Postprocessors:</b>
                            <ul>
                            {% for p in ep.postprocessors %}
                                <li>{{ p.doc | md_to_html | safe }} (<code title="Field">{{ p.name }}</code>)</li>
{#                                <br><code title="Field">{{ p.name }}()</code>: {{ p.doc | md_to_html | safe}}#}
                            {% endfor %}
                            </ul>
                        </p>
                        {% endif %}
                        </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% if o.columns %}
        <h5>
            <i class="fa fa-list-ul"></i> MODEL COLUMNS
            <span class="badge badge-success pull-right" title="Can be used to construct search queries on supported API endpoints"><a href="#api_query" target="doc_link"><i class="fa fa-check-square"></i> FILTERABLE</a></span>
        </h5>
        <div class="help-block">
            These attributes map to database columns and can be used when building filters (for endpoints that support
            filtering, see <a href="#api_query" target="doc_link"> Making API queries</a> )
        </div>
        <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <td width="60">NAME</td>
                <td width="60">TYPE</td>
                <td width="60">DEFAULT</td>
                <td width="60">NULLABLE</td>
                <td width="60">UNIQUE</td>
                <td width="60">PRIM_KEY</td>
                <td width="60">FORGN_KEY</td>
                <td>DESCRIPTION</td>
            </tr>
            </thead>
            <tbody>
            {% for c in o.columns %}
                <tr>
                <td>{{ c.name }}</td>
                <td>{{ c.type }}</td>
                <td>{{ c.default }}</td>
                <td>{{ c.nullable}}</td>
                <td>{{ c.unique}}</td>
                <td>{{ c.primary_key or "-"}}</td>
                <td>{{ c.foreign_key or "-" }}</td>
                <td>{{ c.doc | md_to_html(wrap_paragraphs=True) | safe}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% endif %}
        {% if o.relations %}
        <h5>
            <i class="fa fa-external-link-square"></i> RELATED MODELS
            <span class="badge badge-success pull-right" title="Can be used to construct search queries on supported API endpoints"><a href="#api_query" target="doc_link"><i class="fa fa-check-square"></i> FILTERABLE</a></span>
        </h5>
        <div class="help-block">
            These attributes expose related objects. Relations can either be single elements or a collection of elements.
            Related models can be used to contruct filters (for endpoints that support
            filtering, see <a href="#api_query" target="doc_link"> Making API queries</a> )
        </div>
        <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <td width="60">FIELD</td>
                <td width="60">RELATION</td>
                <td width="60">DIRECTION</td>
                <td>DESCRIPTION</td>
            </tr>
            </thead>
            <tbody>
            {% for c in o.relations %}
                <tr>
                <td>{{ c.key }}</td>
                <td><a href="#{{ c.model }}" target="doc_link"><code>{{ c.model }}</code></a></td>
                <td>{{ c.direction }}</td>
                <td>{{ c.doc | md_to_html(wrap_paragraphs=True) | safe }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% endif %}

        {% if o.association_proxies %}
        <h5>
            <i class="fa fa-external-link-square"></i> ASSOCIATION PROXIES
            <span class="badge badge-success pull-right" title="Can be used to construct search queries on supported API endpoints"><a href="#api_query" target="doc_link"><i class="fa fa-check-square"></i> FILTERABLE</a></span>
        </h5>
        <div class="help-block">
            These attributes map linked objects from collections (eg: many-to-many relationships that have an association table)
            Association proxies can be used when building filters (for endpoints that support
            filtering, see <a href="#api_query" target="doc_link"> Making API queries</a> )
        </div>
        <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <td width="60">ATTRIBUTE</td>
                <td width="60">MODEL</td>
                <td>COLLECTION</td>
                <td>DESCRIPTION</td>
            </tr>
            </thead>
            <tbody>
            {% for c in o.association_proxies %}
                <tr>
                <td>{{ c.name }}</td>
                <td><a href="#{{ c.model }}" target="doc_link"><code>{{ c.model }}</code></a></td>
                <td>{{ c.target_collection }}</td>
                <td>Proxy attribute that presents the linked <a href="#{{ c.model }}" target="doc_link"><code>{{ c.model }}</code></a> objects from the <code>{{ c.target_collection }}</code> collection</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% endif %}

        {% if o.hybrid_properties %}
        <h5>
            <i class="fa fa-list-alt"></i> HYBRID ATTRIBUTES
            <span class="badge badge-success pull-right" title="Can be used to construct search queries on supported API endpoints"><a href="#api_query" target="doc_link"><i class="fa fa-check-square"></i> FILTERABLE</a></span>
        </h5>
        <div class="help-block">
            These are special defined attributes return dynamically processed results and support both query and instance property operations.
            HYBRID ATTRIBUTES can be used when building filters (for endpoints that support
            filtering, see <a href="#api_query" target="doc_link"> Making API queries</a> ).
            Note <code>HYBRID METHODS</code> may require input parameters.
        </div>
        <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <td width="60">NAME</td>
                <td>TYPE</td>
                <td>ARGS</td>
                <td>DESCRIPTION</td>
            </tr>
            </thead>
            <tbody>
            {% for c in o.hybrid_properties %}
                <tr>
                <td>{{ c.name }}</td>
                <td>{{ c.type }}</td>
                <td>{{ c.args|join(', ') or '-' }}</td>
                <td>{{ c.doc | md_to_html(wrap_paragraphs=True) | safe }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% endif %}
        {% if o.methods %}
        <h5>
            <i class="fa fa-list-alt"></i> OTHER MODEL ATTRIBUTES
            <span class="badge badge-danger pull-right" title="Not supported in qury filtering"><i class="fa fa-times-rectangle"></i> FILTERABLE</span>
        </h5>
        <div class="help-block">
            These are special defined attributes return dynamically processed results. These attributes do not work in filter queries.
        </div>
        <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <td width="60">NAME</td>
                <td>TYPE</td>
                <td>DESCRIPTION</td>
            </tr>
            </thead>
            <tbody>
            {% for c in o.methods %}
                <tr>
                <td>{{ c.name }}</td>
                <td>{{ c.type }}</td>
                <td>{{ c.doc | md_to_html(wrap_paragraphs=True) | safe }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% endif %}