<a id="api_examples"></a><h2><i class="fa fa-exclamation fa-fw"></i> API Example queries</h2>
    <div class="well well-sm">
        <p>
            Get all <code>media_collections</code> that contain media from a specific <code>campaign</code> matching
            the <code>key</code> "Batemans201011":
        </p>
<pre>/api/media_collection?q={"filters":[{"name":"media","op":"any","val":{"name":"deployment","op":"has","val":{"name":"campaign","op":"has","val":{"name":"key","op":"eq","val":"Batemans201011"}}}}]}</pre>

        <p>
            Get all <code>annotation_sets</code> that contain media from <code>deployment</code> with a
            <code>name</code> starting with "site5" (ignoring case):
        </p>
<pre>/api/annotation_set?q={"filters":[{"name":"media_collection","op":"has","val":{"name":"media","op":"any","val":{"name":"deployment","op":"has","val":{"name":"name","op":"ilike","val":"site5%"}}}}]}</pre>

        <p>
            Search for all <code>media</code> that contains <code>annotations</code> with the name that includes "ecklonia" (ignoring case)
        </p>
<pre>/api/media?q={"filters":[{"name":"annotations","op":"any","val":{"name":"annotations","op":"any","val":{"name":"label","op":"has","val":{"name":"name","op":"ilike","val":"%ecklonia%"}}}}]}</pre>

        <p>
            Search for all <code>media</code> that contains <code>annotations</code> with a <code>tag</code> that includes the word "review" (ignoring case)
        </p>
    <pre>/api/media?q={"filters":[{"name":"annotations","op":"any","val":{"name":"annotations","op":"any","val":{"name":"tags","op":"any","val":{"name":"name","op":"ilike","val":"%review%"}}}}]}</pre>
    <p>
        Search for annotations in an annotation_set matching id=84 that have the label_id=310
    </p>
    <pre>/api/annotation_set/84/annotations?include_columns=["label_id","id","color","point","point.media_id","point.id"]&q={"filters":[{"name":"label_id","op":"eq","val":310}]}&results_per_page=100</pre>
</div>