<h2><i class="fa fa-exclamation fa-fw"></i> Code snippets</h2>
    <div class="well well-sm">
        <p>Create an empty <code>media_collection</code> </p>
<pre><code class="lang-python"># Setup initial params
api_token = "..."               # Set this to your API token for your account
url = "https://squidle.org"     # Be sure to set this to the correct instance that you're working on

# get user_id
params={"q": json.dumps({"filters":[{"name":"api_token","op":"eq","val":api_token}],"single":True})}
user_id = requests.get(url+"/api/users", params=params).json().get("id")

# parameters for new media_collection
payload = {
    "name": "API test 01",
    "description":"Testing API-created media_collection",
    "user_id": user_id
}
headers={
    "auth-token": api_token,
    "Content-type": "application/json",
    "Accept": "application/json",
}

# Make resquest
r = requests.post(
    url+"/api/media_collection",
    headers=headers,
    json=payload,
)

# Check results
new_media_collection = r.json()
media_collection_id = new_media_collection.get("id")
</code></pre>

    </div>
