<div class="stats-panel">
    <a href="#"><i class="fa fa-bar-chart"></i> QUICK STATS:</a><i class="fa fa-caret-down pull-right"></i>
    <div class="stats-panel-info">
        <table class="table table-condensed">
            {% if data.userdata %}
                <tr><td align="right">
                    {{ data.userdata.users|humanize('intcomma') }}
                </td><td>
                    <i class="fa fa-user fa-fw"></i> users
                </td></tr>
                <tr><td align="right">
                    {{ data.userdata.groups|humanize('intcomma') }}
                </td> <td>
                    <i class="fa fa-users fa-fw"></i> groups
                </td></tr>
                <tr><td align="right">
                    {{ data.userdata.annotations|humanize('intcomma') }}
                </td> <td>
                    <i class="fa fa-tags fa-fw"></i> annotations
                </td></tr>
                <tr><td align="right">
                    {{ data.userdata.annotation_sets|humanize('intcomma') }}
                </td> <td>
                    <i class="fa fa-th-list fa-fw"></i> annotation sets
                </td></tr>
            {% endif %}
            {% if data.datasets %}
                <tr><td align="right">
                    {{ data.datasets.platforms|humanize('intcomma') }}
                </td> <td>
                    <i class="fa fa-location-arrow fa-fw"></i> platforms
                </td></tr>
                <tr><td align="right">
                    {{ data.datasets.campaigns|humanize('intcomma') }}
                </td> <td>
                    <i class="fa fa-ship fa-fw"></i> campaigns
                </td></tr>
                <tr><td align="right">
                    {{ data.datasets.deployments|humanize('intcomma') }}
                </td> <td>
                    <i class="fa fa-map-marker fa-fw"></i> deployments
                </td></tr>
                <tr><td align="right">
                    {{ data.datasets.media|humanize('intcomma') }}
                </td> <td>
                    <i class="fa fa-picture-o fa-fw"></i> media
                </td></tr>
                {#</div>#}
            {% endif %}
        </table>

{#        <ul>#}
{#            {% if data.userdata %}#}
{#            <li><i class="fa fa-user fa-fw"></i> {{ data.userdata.users|humanize('intcomma') }} users</li>#}
{#            <li><i class="fa fa-users fa-fw"></i> {{ data.userdata.groups|humanize('intcomma') }} groups</li>#}
{#            <li><i class="fa fa-tags fa-fw"></i> {{ data.userdata.annotations|humanize('intcomma') }} annotations</li>#}
{#            {% endif %}#}
{#            {% if data.datasets %}#}
{#            <li><i class="fa fa-location-arrow fa-fw"></i> {{ data.datasets.platforms|humanize('intcomma') }} platforms</li>#}
{#            <li><i class="fa fa-ship fa-fw"></i> {{ data.datasets.campaigns|humanize('intcomma') }} campaigns</li>#}
{#            <li><i class="fa fa-map-marker fa-fw"></i> {{ data.datasets.deployments|humanize('intcomma') }} deployments</li>#}
{#            <li><i class="fa fa-files-o fa-fw"></i> {{ data.datasets.media|humanize('intcomma') }} media</li>#}
            {#</div>#}
{#            {% endif %}#}
{#        </ul>#}
        <a href="/geodata/explore#dat"><i class="fa fa-external-link"></i> more stats...</a>
    </div>
</div>
