<small>
    <a href="/wiki/{{ document }}"><b>{% if section %}{{ section }} &#xbb; {% endif %}
        {% if name %}{{ name }}{% endif %}</b></a>
    | <em>last edited by: {{ updated_by }} ({{ updated_at }})
{#    , created by: {{ created_by }} ({{ created_at }})#}
    </em>
</small>
<div class="wiki-content">
    {{ content | safe }}
</div>