{% set _container_id = "detail-vocab_element-"~rendered_at %}
{% set is_linked = namespace(value=False) %}   {# NEED TO USE NAMESPACE to deal with setting in loop scope #}
{% for l in data.mapped_labels %}
    {% if l.id|string == args.label_id|string %}{% set is_linked.value = True %}{% endif %}
{% endfor %}
<div id="{{ _container_id }}" data-label_id="{{ args.label_id }}">
    <div class="help-block">
        <b>VOCAB_ELEMENT</b> |
        {{ data.vocab_registry.vocab_element_key_name if data.vocab_registry else "Code" }}: {{ data.key }} |
        {% if data.id %}
            ID: {{data.id}} |
            <i class="fa fa-check-square text-success"></i> IMPORTED:
            <b>{{ data.mapped_labels|length }}</b> mapping(s)
        {% else %}
            <i class="fa fa-warning text-danger"></i> NOT IMPORTED
        {% endif %}
    </div>
    <h3>
        <i class="fa fa-tag"></i> {{data.name}}
    </h3>
    <div class="help-block">
        <b>{{ data.vocab_registry.name  if data.vocab_registry else data.vocab_registry_key }}</b>
        {% for j in data.lineage%}
            <i class="fa fa-caret-right text-danger"></i>&nbsp;{{j.name}}&nbsp;{% if j.rank %}<em>({{j.rank}})</em>{% endif %}
        {% endfor %}
        <i class="fa fa-caret-right text-danger"></i>&nbsp;{{data.name}}<br>
    </div>
    <div class="well well-sm">
    <a class="small" href="javascript:void(0)" onclick="$(this).siblings('.info-table').toggleClass('show-hidden-info', 200)">
        <i class="fa fa-info-circle fa-fw"></i> Show/hide more VOCAB_ELEMENT details <i class="fa fa-caret-down"></i>
    </a>
    <div class="info-table">
        {% include "models/vocab_element/info_table.html" %}
    </div>
    </div>


{#    <h5><i class="fa fa-exchange fa-fw"></i> Existing label mappings</h5>#}
{#    <div class="">#}
{#        {% if data.mapped_labels %}#}
{#        <table class="table table-condensed table-responsive table-striped">#}
{#        {% for l in data.mapped_labels %}#}
{#            {% set is_selected = l.id|string == args.label_id|string %}#}
{#            {% if is_selected %}{% set is_linked.value = True %}{% endif %}#}
{#            <tr>#}
{#                <td>#}
{#                    {% if is_selected %}#}
{#                        <span class="badge label-default"><i class="fa fa-check-square text-success"></i> selected</span>#}
{#                    {% endif %}#}
{#                    <b>{{ l.label_scheme.name }}:</b> {{ l.name_path }} [ID:{{ l.id }}]#}
{#                </td>#}
{#                <td style="width: 65px">#}
{#                    <a class="text-danger btn-action"  data-action="unlink"  data-label_id="{{ l.id }}" href="javascript:void(0)"><i class="fa fa-unlink"></i> unlink</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </table>#}
{#        {% else %}#}
{#            <div class="alert">#}
{#            <b><i class="fa fa-warning text-danger"></i> No mappings found for this Vocab Element.</b> It is recommended that you#}
{#            link to Vocab Elements with existing Label mappings whenever possible to enable cross Label Scheme translations.#}
{#            </div>#}
{#        {% endif %}#}
{##}
{#    </div>#}



    {% if args.label_id %}
    <div id="label_info"></div>
    {% endif %}







    <div>
        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
        {% if data.id %}
        <button type="button" data-action="refresh" class="btn btn-primary btn-action">
            <i class="fa fa-refresh"></i> REIMPORT
        </button>
        {% endif %}

        {% if args.label_id %}
            {% if is_linked.value == True %}
                <button type="button" data-action="unlink" data-label_id="{{ args.label_id }}" class="btn btn-danger btn-action pull-right"><i class="fa fa-unlink"></i> UNLINK LABEL / VOCAB_ELEMENT</button>
            {% else %}
                <button type="button" data-action="link" data-label_id="{{ args.label_id }}" class="btn btn-success btn-action pull-right"><i class="fa fa-link"></i> LINK LABEL / VOCAB_ELEMENT</button>
            {% endif %}
        {% endif %}
    </div>
</div>
<script>
    $(document).ready(function() {
        var $container = $("#{{ _container_id }}");
        var $modal = $container.parents(".modal");
        var $container_parent = $container.parent();
        var $action_btn = $container.find(".btn-action");
        var label_id = $container.data("label_id");
        var registry_key = "{{ data.vocab_registry.key if data.vocab_registry else data.vocab_registry_key }}";
        var key = "{{ data.key }}";
        var $label_info = $container.find("#label_info");

        $("[data-toggle='tooltip']").tooltip();


        $action_btn.click(function(e){
            var action = $(this).data("action");
            var label_id = $(this).data("label_id");
            $(this).prop("disabled", true);
            if (action==="refresh") {
                ajax.patch("/api/vocab_element/"+registry_key+"/"+key).done(
                    function(data) {
                        notify.success("Vocab Element has been successfully updated.");
                        $container_parent.trigger("reload");
                    }
                );
            }
            else if (action==="link") {
                ajax.post("/api/vocab_element/"+registry_key+"/"+key+"/label/"+label_id).done(
                    function(data) {
                        notify.success("Selected vocab_element(s) successfully mapped to selected label! ("+
                            data.nelements_linked+ " new mapping(s), "+data.nelements_imported+" new import(s), out of "+
                            data.nelements+" registry mappings)");
                        $container_parent.trigger("reload");
                    }
                );
            }
            else if (action==="unlink") {
                ajax.delete("/api/vocab_element/"+registry_key+"/"+key+"/label/"+label_id, {success:
                    function(data) {
                        notify.success("Vocab Element have been unlinked.");
                        $modal.trigger("completed", null);
                    }}, "Are you sure you want to unlink this vocab element from this label? Semantic mappings will be lost."
                );
            }
        });

        {% if args.label_id %}
        load_content.html("/api/label/{{ args.label_id }}?template=models/label/info_panel.html&is_linked={{ 'true' if is_linked.value == True else 'false' }}", $label_info);
        {% endif %}


    });
</script>