<table class="table table-condensed table-responsive table-striped">
    {% if data.vocab_registry %}
    <tr class="hidden-info-row">
        <td>
            <b>Vocab&nbsp;Registry</b>
        </td>
        <td>
            {{ data.vocab_registry.name }}: {{ data.vocab_registry.description }}
        </td>
    </tr>
    {% endif %}
    <tr class="hidden-info-row">
        <td><b>{{ data.vocab_registry.vocab_element_key_name if data.vocab_registry else "Code" }}</b></td>
        <td>
            {{ data.key }} {% if data.reference_url and data.vocab_registry %} |
            <a target="_blank" href="{{ data.reference_url }}" title="External registry link / reference" data-toggle="tooltip">
                External link to {{ data.vocab_registry.name }} record <i class="fa fa-external-link"></i>
            </a>{% endif %}
        </td>
    </tr>
    <tr class="hidden-info-row">
        <td><b>Parent&nbsp;{{ data.vocab_registry.vocab_element_key_name if data.vocab_registry else "Code" }}</b></td>
        <td>
            {% if data.parent_key %}
            {{ data.parent_key }} {% if data.reference_url_parent and data.vocab_registry %}|
            <a target="_blank" href="{{ data.reference_url_parent }}" title="External registry link / reference" data-toggle="tooltip">
                External link to parent {{ data.vocab_registry.name }} record <i class="fa fa-external-link"></i>
            </a>{% endif %}
            {% else %}
                <i class="fa fa-exclamation-triangle text-danger"></i> No parent node!
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><b>Mapped labels</b></td>
        <td>
            {% if data.mapped_labels %}
            {% for l in data.mapped_labels %}
                {% set is_selected = l.id|string == args.label_id|string %}
                <p>
                    <a class="text-danger btn-action pull-right"  data-action="unlink" data-toggle="tooltip" title="unlink this label"  data-label_id="{{ l.id }}" href="javascript:void(0)">
                        <i class="fa fa-unlink"></i>
                    </a>
                    <i class="fa fa-star text-success fa-fw"></i>
                    <b>{{ l.label_scheme.name }}</b>
                    {% if is_selected %}<i class="fa fa-check-square text-success" data-toggle="tooltip" title="Currently selected label"></i>{% endif %}
                <br>
                {% for c in l.label_scheme.children %}
                    <i class="fa fa-star text-success fa-fw"></i> {{ c.name }}
                    <i class="fa fa-clone" data-toggle="tooltip" title="{{ l.label_scheme.name }} extension: also includes this label"></i><br>
                {% endfor %}
                <small>
                    <span class="pull-right">[ID:{{ l.id }}]</span>
                    {{ l.name_path }}
{#                    {% if is_selected %}<span class="badge label-default"><i class="fa fa-check-square text-success"></i> selected</span>{% endif %}#}
                </small>
                </p>
            {% endfor %}
            {% else %}
                <b><i class="fa fa-warning text-danger"></i> No mappings found for this Vocab Element.</b> It is recommended that you
                link to Vocab Elements with existing Label mappings whenever possible to enable cross Label Scheme translations.
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><b>Other&nbsp;names (AKA)</b></td>
        <td>
        {% for j in data.other_names %}
            <i class="fa fa-tag text-danger"></i> {{j.name}}<br>
        {% endfor %}
        </td>
    </tr>

    <tr class="hidden-info-row">
        <td><b>{{ data.vocab_registry.vocab_element_key_name if data.vocab_registry}}&nbsp;last&nbsp;updated</b></td>
        <td>
            {{ data.origin_updated_at }}
        </td>
    </tr>
    {% if data.description %}
    <tr class="hidden-info-row">
        <td><b>Description</b></td>
        <td>{{ data.description }}</td>
    </tr>
    {% endif %}
    {% if data.mapped_registries %}
    <tr>
        <td><b>Cross-mapping</b></td>
        <td>
            {% for l in data.mapped_registries %}
                <i class="fa fa-exchange text-success fa-fw"></i> <b>{{ l.registry_key }}:</b> {{ l.key }}<br>
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    <tr class="hidden-info-row">
        <td><b>Origin&nbsp;data</b></td>
        <td>
            <a href="javascript:void(0)" onclick="$(this).siblings('pre#vocab_element_data').toggle()">
                Show/hide origin raw data <i class="fa fa-caret-down"></i>
            </a>
            <pre id="vocab_element_data" style="font-size: x-small; max-height: 150px; display: none;"><code class="lang-json">{{ data.data | as_json }}</code></pre>
        </td>
    </tr>
    {% if data.id %}
    <tr class="hidden-info-row">
        <td><b>Status</b></td>
        <td>
            {% if data.id %}
                <span class="badge badge-success">
                    <i class="fa fa-check-square"></i> IMPORTED
                </span>
                <small class="help-block">
                First imported: {{ data.created_at|parse_datestring|humanize }} by
                {% with user=data.user %}
                    {% include('models/users/user_text.html') %}
                {% endwith %}
                <br>Last synced: {{ data.updated_at|parse_datestring|humanize }}
                </small>
            {% else %}
                <span class="badge badge-danger">
                    <i class="fa fa-times"></i> NOT IMPORTED
                </span>
            {% endif %}
        </td>
    </tr>
    {% endif %}
</table>