{#<a href="javascript:void(0)" data-key="{{ data.key }}">#}
<a href="/api/vocab_element/{{ data.vocab_registry_key or data.vocab_registry.key }}/{{ data.key }}?template=models/vocab_element/detail.html&label_id={{ args.label_id }}" rel="modal" data-modal_class="modal-md" data-hide_open_modals="true">
    <small class="pull-right">[{{ data.vocab_registry.vocab_element_key_name if data.vocab_registry else "KEY"}}:{{ data.key }}]</small>
    <i class="fa fa-tag"></i>
    <b>{{ data.name }}</b>
    <br><small>
    <b>{{ data.vocab_registry.name if data.vocab_registry else data.vocab_registry_key }}</b>
    {% for j in data.lineage%}
        <i class="fa fa-caret-right text-danger"></i>&nbsp;{{j.name}}&nbsp;{% if j.rank %}<em>({{j.rank}})</em>{% endif %}
    {% endfor %}
    </small>
    {% if data.other_names %}
    <br><small>
        <em>Also known as:</em> {% for j in data.other_names %} <i class="fa fa-tag text-info" title="Other name"></i> {{j.name}}{% endfor %}
    </small>
    {% endif %}
    {% if data.mapped_registries %}
    <br><small>
        <em>Also maps to:</em> {% for j in data.mapped_registries %} <i class="fa fa-exchange text-success"></i> {{j.registry_key}}:{{j.key}}{% endfor %}
    </small>
    {% endif %}
</a>
