{% set _container_id = "vocab_elements_table-"~rendered_at %}
<div id="{{ _container_id }}">

    <ul class="nav nav-stacked nav-nested">
    {% for i in data.objects %}
        <li>
        {% with data=i %}
        {% include "models/vocab_element/list_item.html" %}
        {% endwith %}
        </li>
    {% else %}
        <li><div class="alert">
            <b><i class="fa fa-exclamation-triangle text-danger fa-fw"></i> No mappings found.</b>
            Without vocab_element mappings, this label may not translate properly to other label schemes.
            <br><br>
            <i class="fa fa-info-circle fa-fw"></i> Click "Create new mappings" to link vocab_elements.
        </div> </li>
    {% endfor %}
    </ul>
{#<table class="table table-condensed table-responsive table-striped">#}
{#    <thead>#}
{#        <tr><th>#}
{#            registry/key#}
{#        </th><th>#}
{#            mapped element#}
{#        </th></tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    {% for i in data.objects %}#}
{#        </td><td>#}
{#            <a target="_blank" href="{{ i.reference_url }}" title="External link to {{ i.vocab_registry.name }} record"#}
{#               data-toggle="tooltip">#}
{#                <b>{{ i.vocab_registry.vocab_element_key_name }}</b>:#}
{#                {{ i.key }}&nbsp;<i class="fa fa-external-link"></i>#}
{#            </a>#}
{#        </td><td>#}
{#            <span class="pull-right">[ID:{{ i.id }}]</span>#}
{#            <a rel="modal" data-hide_open_modals="true" data-modal_class="modal-md" title="More details for this vocab_element" data-toggle="tooltip"#}
{#              href="/api/vocab_element/{{ i.vocab_registry.key }}/{{ i.key }}?template=models/vocab_element/detail.html">#}
{#                <i class="fa fa-info-circle"></i> <b>{{ i.name }}</b>#}
{#            </a>#}
{#            <div class="help-block">#}
{#            <b>{{ i.vocab_registry.name }}</b>#}
{#            {% for j in i.lineage%}#}
{#                <i class="fa fa-caret-right text-danger"></i>&nbsp;{{j.name}}&nbsp;<em>({{j.rank}})</em>#}
{#            {% endfor %}</div>#}
{#            <div class="help-block">#}
{#            <em>other names</em>: {% for j in i.other_names %} <i class="fa fa-tag text-danger"></i> {{j.name}}{% endfor %}#}
{#            </div>#}
{#        </td></tr>#}
{#    {% else %}#}
{#        <tr><td colspan="2">#}
{#            <div class="alert">#}
{#                <i class="fa fa-exclamation-triangle text-danger"></i>#}
{#                No vocab_registry mappings found. Vocab registry mappings are used for translating between labels in#}
{#                other schemes. Define new mappings using the search below.#}
{#            </div>#}
{#        </td><td>#}
{#    {% endfor %}#}
{#    </tbody>#}
{#</table>#}

</div>
<script>
    $(document).ready(function() {
        var $container = $("#{{ _container_id }}");
        var $vocab_search_btn = $container.find("#vocab_search_btn");



    });
</script>