{% set _container_id = "media_collection-"~rendered_at %}
<div id="{{ _container_id }}">

<form class="form-horizontal" id="media_collection-form"
      action="{{ "/api/media_collection/"~data.id if data.id else "/api/media_collection" }}"
      method="{{ "PATCH" if data.id else "POST" }}">
    <h4><i class="fa fa-list-ul"></i> Media Collection</h4>
    {% if msg %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9 alert alert-{{ msg.status }}">{{ msg.msg }}</div>
    </div>
    {% endif %}

    <input type="hidden" name="user_id" value="{{ data.user_id or current_user.id }}">

{#    <div class="form-group">#}
{#        <label class="col-sm-3 control-label">Add to new or existing:</label>#}
{#        <div class="col-sm-9">#}
{#            <select name="existing_media_collection"  class="form-control" id="media_collection_select"></select>#}
{#        </div>#}
{#    </div>#}

    <div class="form-group">
        <label for="media_collection-name" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="name" id="media_collection-name" placeholder="Name of Collection" value="{{ data.name or args.name }}">
        </div>
    </div>
    <div class="form-group">
        <label for="media_collection-description" class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">
            <textarea class="form-control" rows="5" name="description" id="media_collection-description" placeholder="Brief description">{{ data.description or args.description }}</textarea>
        </div>
    </div>
    {% if data.id %}
    <div class="form-group object-detail">
        <label class="col-sm-3 control-label">INFO</label>
        <div class="col-sm-9">
            {% include "models/media_collection/info_badges.html" %}
        </div>
    </div>
    {% endif %}
{% if args.addmedia_q %}
    <div class="form-group hide-nomedia">
        <label for="media_collection-sample" class="col-sm-3 control-label">Sampling options <br>Total: <strong><span class="info_media_count"></span></strong></label>
        <div class="col-sm-9">
            <div class="input-group">
                <select class="form-control" data-nosubmit='{"use":"none"}' data-onchange="update-query" name="sample" id="media_collection-sample">
                    {% if data.data %}
                    {% set _method = data.data.method %}
                    {% endif %}
                    <option {{ 'selected' if _method=='' else '' }} value="">None</option>
                    <option {{ 'selected' if _method=='random' else '' }} value="random">Random Sample</option>
                    <option {{ 'selected' if _method=='stratified' else '' }} value="stratified">Stratified Sample</option>
                </select>
                <span class="input-group-addon">N:</span>
                <input type="number" class="form-control" data-nosubmit='{"use":"none"}' data-onchange="update-query" name="sample-n" id="media_collection-sample-n" placeholder="" disabled value="{{ data.data.n if data.data else '' }}">
            </div>
        </div>
        <div class="col-sm-offset-3 col-sm-7 help-block" id="media_collection-sample-help">

        </div>
    </div>
{% endif %}

{% if args.addmedia_q %}
    <div class="form-group  hide-nomedia">
        <div class="col-sm-offset-3 col-sm-9" style="color: #7e7e7e; max-height: 300px; overflow-x: auto; font-size: 10px">
            <textarea id="media_query" class="form-control media-query" style="display: none; font-size: small; height: 200px">{{ (args.addmedia_q or {}) | from_json | as_json }}</textarea>
        </div>
    </div>
{% elif data.id %}
    <div class="form-group  hide-nomedia">
        <div class="col-sm-offset-3 col-sm-9" style="color: #7e7e7e; max-height: 300px; overflow-x: auto; font-size: 10px">
            <pre class="media-query" style="display: none; font-size: small; height: 200px">{{ data.data | as_json }}</pre>
        </div>
    </div>
{% endif %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="button" class="btn btn-link pull-right" onclick="$(this).parents('form#media_collection-form').find('.media-query').toggle()">
                <i class="fa fa-caret-up"></i> Show/hide filters
            </button>
            <a href="javascript:void(0)" tabindex="100" data-dismiss="modal"  class="btn btn-default">Cancel</a>
            <button type="submit" tabindex="0" class="btn btn-primary">
                Save
            </button>
            {% if data.id %}
            <button id="delete-media_collection" data-id="{{ data.id }}" type="button" class="btn btn-link pull-right">
                <span class="text-danger"><i class="fa fa-trash"></i> DELETE</span>
            </button>
            {% endif %}
        </div>
    </div>
{#    <div  class="help-block" style="color: #ccc">#}
{#        <small><b>COLLECTION FILTER: </b><span id="media_collection-query-text">{{ args.addmedia_q|safe }}</span></small>#}
{#    </div>#}
</form>

<script type="text/javascript">

    $( document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $form = $container.find('#media_collection-form');
        var $modal = $form.parents(".modal");
        var $media_query = $form.find("#media_query");
        var $delete_media_collection_btn = $form.find("#delete-media_collection");
        var $media_collection_select = $container.find("select#media_collection_select");

        {#//var query = '{{ args.addmedia_q|safe }}';#}

        //query = (query.trim() !== "")? query = JSON.parse(query) : null;
        /*
        else {
            query = null;
            $form.find(".hide-nomedia").hide();
        }
        */

        function preview_query(){
            var q = get_query();
            if (q !== null) {
                ajax.get("/api/media?results_per_page=1&q=" + JSON.stringify(q)).done(function (data) {
                    console.log(data);
                    console.log(data.num_results, $form.find(".info_media_count"));
                    $form.find(".info_media_count").text(data.num_results);
                })
            }
        }

        /*
        $media_collection_select.ajax_select("/api/media_collection", {
            placeholder: 'Select existing, or leave bank for new',
            allow_clear: true,
            dropdown_parent: $form,
            template_item:  "[[&name]]",
            template_option: '<small class="pull-right" title="Creation date" xmlns="http://www.w3.org/1999/html"><i class="fa fa-calendar"></i> created: [[created_at]]</small> ' +
                    '<div class="title">' +
                    '[[#current_user_is_owner]] <i class="fa fa-check-square text-success"></i>[[/current_user_is_owner]]' +
                    ' [[name]]</div><div class="description">' +
                    '<small>[[description]]</small> '+
                    '<i class="fa fa-user-circle"></i> [[user.first_name]] [[user.last_name]], ' +
                    '<i class="fa fa-male"></i> [[member_count]] members, ' +
                    '[[#is_public]]<i class="fa fa-users text-success"></i> public[[/is_public]][[^is_public]]<i class="fa fa-user"></i> private[[/is_public]]',
            build_query: function(search_term) {
                var q = {
                  filters: [
                    {"name":"current_user_is_owner","op":"eq","val":true}
                  ],
                  order_by: [{"field":"created_at","direction":"desc"}]
                }
                if (search_term) {
                    $(search_term.split(/(\s+)/)).each(function(i,s){
                        if (s.trim().length)
                            q.filters.push({or: [
                                {name:"name",op:"ilike",val:'%'+s+'%'},
                                {name:"user", op: "has", val:{name:"first_name",op:"ilike",val:'%'+s+'%'}},
                                {name:"user", op: "has", val:{name:"last_name",op:"ilike",val:'%'+s+'%'}}
                          ]});
                    });
                }
                return q;
            }
        });

         */




        {#//set_query(JSON.parse('{{ args.addmedia_q|safe or "{}"}}'));#}

        $form.find('*[data-onchange="update-query"]').on("change", function(){
            select_sample_method();
        });

        $delete_media_collection_btn.click(function (e){
            dataset_modal.media_collection.remove($(this).data("id"), {
                success: function(){close_and_continue()}
            });
        });


        function get_query() {
            try {
                return JSON.parse($media_query.val());
            }
            catch(err) {
                return null;
            }
        }

        function set_query(query) {
            $media_query.val(JSON.stringify(query, null, 2));
        }


        function select_sample_method() {
            var $sample_method = $form.find("#media_collection-sample");
            var $sample_n = $form.find("#media_collection-sample-n");
            var $sample_help = $form.find("#media_collection-sample-help");

            var method = $sample_method.val();
            var n = $sample_n.val();

            var help_text = {
                "random": "Sub sample N random items from chosen selection.",
                "stratified": "Sub sample every Nth item from chosen selection."
            };

            if (method !== "") {
                $sample_n.prop("disabled", false);
                $sample_help.html(help_text[method]);
            }
            else {
                $sample_n.prop("disabled", true);
                $sample_help.html("");
            }

            update_query(method, n);
        }

        function update_query(method, n) {
            var query = get_query();
            if (method && n && query !== null) {
                query['sample'] = {
                    "method": method,
                    "n": n
                }
            }
            else if (query.hasOwnProperty('sample')) {
                delete query['sample'];
            }

            //$("#media_collection-query-text").html(JSON.stringify(query, null, 2));
            set_query(query);
        }

        $form.APIForm({
            callback:function(data, form) {
                var query = get_query();
                var append = "{{ 'true' if args.append == 'true' else 'false' }}"
                if (query !== null) {
                    ajax.post('/api/media_collection/' + data.id + '/media?append='+append, JSON.stringify({q:JSON.stringify(query)}), {success: function(data2){
                        close_and_continue(data);
                    }});
                }
                else {
                    close_and_continue(data);
                }
            }
        });

        function close_and_continue(data) {
            $modal.trigger("completed", data);
        }

        preview_query();
    });



</script>
</div>
