{% set _container_id = "media_collection-container-"~rendered_at %}
<div id="{{ _container_id }}">
    <h4><i class="fa fa-list-ul"></i> Media Collection</h4>
    <hr>
    <form class="form-horizontal" id="media_collection-form"
      {% if data.id %} action="/api/media_collection/{{data.id}}" method="PATCH"
      {% else %} action="/api/media_collection" method="POST"{% endif %} >
    {% if msg %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6 alert alert-{{ msg.status }}">{{ msg.msg }}</div>
    </div>
    {% endif %}

    <input type="hidden" name="user_id" value="{{ data.user_id or current_user.id }}">
    <div class="form-group">
        <label for="media_collection-name" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="name" id="media_collection-name" placeholder="Name of Collection" value="{{ data.name }}">
        </div>
    </div>
    <div class="form-group">
        <label for="media_collection-description" class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">
            <textarea class="form-control" name="description" id="media_collection-description" placeholder="Brief description">{{ data.description }}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="media_collection-sample" class="col-sm-3 control-label">Properties</label>
        <div class="col-sm-9">
            {% if data.is_public %}
                <span class="badge" title="This dataset has been shared publicly">
                <i class="fa fa-users text-success" ></i> public </span>
            {% endif %}

            <span class="badge" title="Shared in {{ data.usergroup_count|humanize('intcomma') }} Groups">
                <i class="fa fa-share-alt"></i> {{ data.usergroup_count }} groups
            </span>

            {% if data.media_count %}
            <span class="badge" title="Number of Media items in this Media Collection">
                <i class="fa fa-image"></i> {{ data.media_count |humanize('intcomma') }} media items
            </span>
            {% endif %}


            <span class="badge active-show" title="Owner / Creator">
                <i class="fa fa-user-circle"></i> {{ data.user.first_name }} {{ data.user.last_name }}
                {% if data.current_user_is_owner %}(me){% endif %}
            </span>
            <span class="badge active-show" title="Date Created">
                <i class="fa fa-calendar"></i> {{ data.created_at }}
            </span>

            {% if data.data %}
            <div>
                <a href="javascript:void(0)" class="" onclick="$(this).siblings('pre.info').toggle()">more <i class="fa fa-caret-down"></i></a>
                <pre class="info" style="display: none; max-height: 250px; font-size: xx-small">{{ data.data | as_json }}</pre>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a href="javascript:void(0)" tabindex="100" data-dismiss="modal"  class="btn btn-default">Cancel</a>
            <button type="submit" tabindex="0" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $form = $container.find("#media_collection-form");
        var $modal = $container.parents(".modal");


        $form.APIForm({
            ajax_prefill: false,
            callback:function(data, form) {
                $modal.trigger("completed", data);
            }
        });

    });
</script>
</div>