{% set _container_id = "media_collection-export-container-"~rendered_at %}
<style>
    .export-form-container h5 {
        margin-top: 20px;
    }
    .export-form-container .export-form-group .export-form-group-options {
        display: none;
        padding: 0 0 10px 10px;
    }
    .export-form-container .export-form-group label {
        display: block;
    }
    .export-form-container .export-form-group.expanded .export-form-group-options {
        display: block;
    }
    .export-form-container #advanced-options {
        display: none;
    }
</style>

{#<label><input type="checkbox" data-toggle="column" value="id"> ??? (<code>id</code></label>#}
{#<label><input type="checkbox" data-toggle="column" value="key"> ??? (<code>key</code></label>#}
{#<label><input type="checkbox" data-toggle="column" value="timestamp_start"> ??? (<code>timestamp_start</code></label>#}
{#<label><input type="checkbox" data-toggle="column" value="path_best"> ??? (<code>path_best</code></label>#}
{#<label><input type="checkbox" data-toggle="column" value="path_best_thm"> ??? (<code>path_best_thm</code></label>#}
{#<label><input type="checkbox" data-toggle="column" value="pose.timestamp"> ??? (<code>pose.timestamp</code></label>#}
{#<label><input type="checkbox" data-toggle="column" value="pose.lat"> ??? (<code>pose.lat</code></label>#}
{#<label><input type="checkbox" data-toggle="column" value="pose.lon"> ??? (<code>pose.lon</code></label>#}
{#<label><input type="checkbox" data-toggle="column" value="pose.alt"> ??? (<code>pose.alt</code></label>#}
{#<label><input type="checkbox" data-toggle="column" value="pose.dep"> ??? (<code>pose.dep</code></label>#}
{#<label><input type="checkbox" data-toggle="column" value="pose.data"> ??? (<code>pose.data</code></label>#}
{#<label><input type="checkbox" data-toggle="column" value="pose.id"> ??? (<code>pose.id</code></label>#}
{#<label><input type="checkbox" data-toggle="column" value="media.deployment.key"> ??? (<code>media.deployment.key</code></label>#}
{#<label><input type="checkbox" data-toggle="column" value="media.deployment.campaign.key"> ??? (<code>media.deployment.campaign.key</code></label>#}
{#<label><input type="checkbox" data-toggle="column" value="media.deployment.id"> ??? (<code>media.deployment.id</code></label>#}
{#<label><input type="checkbox" data-toggle="column" value="media.deployment.campaign.id"> ??? (<code>media.deployment.campaign.id"</code></label>#}

<div id="{{ _container_id }}"  class="export-form-container">
    <div id="media_collection_sharing_alert"></div>
    <div id="export-media_collection-controls">

        {#        <label><input type="radio" name="template" value="dataframe.xlsx"> dataframe.xlsx</label><br><br>#}
        <h5>Include fields:</h5>
        <div class="export-form-group">
            <label>
                <input type="checkbox" checked data-toggle="children" data-select_cols='["id","key","path_best"]'>
                Media information (url, key)
                <a href="javascript:void(0)" data-toggle="options" class="badge label-default">
                    <i class="fa fa-caret-down"></i> options
                    <span class="col-count">(0)</span>
                </a>
            </label>
            <div class="export-form-group-options">
                <label><input type="checkbox" data-toggle="column" value="id"> ID of related media item (<code>id</code>)</label>
                <label><input type="checkbox" data-toggle="column" value="key"> Media key (<code>key</code>)</label>
                <label><input type="checkbox" data-toggle="column" value="path_best"> URL/path of media item (<code>path_best</code>)</label>
                <label><input type="checkbox" data-toggle="column" value="timestamp_start"> Start timestamp of media item, eg: video (<code>timestamp_start</code>)</label>
                <label><input type="checkbox" data-toggle="column" value="path_best_thm"> URL/path of thumbnail for media item (<code>path_best_thm</code>)</label>
            </div>
        </div>
        <div class="export-form-group">
            <label>
                <input type="checkbox" checked data-toggle="children" data-select_cols='["pose.timestamp","pose.lat","pose.lon","pose.alt","pose.dep"]'>
                Pose information (lat, lon, alt, dep, timestamp, sensors)
                <a href="javascript:void(0)" data-toggle="options" class="badge label-default">
                    <i class="fa fa-caret-down"></i> options
                    <span class="col-count">(0)</span>
                </a>
            </label>
            <div class="export-form-group-options">
                <label><input type="checkbox" data-toggle="column" value="pose.timestamp"> Timestamp of pose (<code>pose.timestamp</code>)</label>
                <label><input type="checkbox" data-toggle="column" value="pose.lat"> Latitude (<code>pose.lat</code>)</label>
                <label><input type="checkbox" data-toggle="column" value="pose.lon"> Longitude (<code>pose.lon</code>)</label>
                <label><input type="checkbox" data-toggle="column" value="pose.alt"> Altitude (<code>pose.alt</code>)</label>
                <label><input type="checkbox" data-toggle="column" value="pose.dep"> Depth (<code>pose.dep</code>)</label>
                <label><input type="checkbox" data-toggle="column" value="pose.data"> Additional sensor data (<code>pose.data</code>)</label>
                <label><input type="checkbox" data-toggle="column" value="pose.id"> ID of pose (<code>pose.id</code>)</label>
            </div>
        </div>
        <div class="export-form-group">
            <label>
                <input type="checkbox" data-toggle="children" data-select_cols='["deployment.key","deployment.campaign.key"]'>
                Dataset keys / IDs (campaign, deployment, platform)
                <a href="javascript:void(0)" data-toggle="options" class="badge label-default">
                    <i class="fa fa-caret-down"></i> options
                    <span class="col-count">(0)</span>
                </a>
            </label>
            <div class="export-form-group-options">
                <label><input type="checkbox" data-toggle="column" value="deployment.key"> Deployment key (<code>deployment.key</code>)</label>
                <label><input type="checkbox" data-toggle="column" value="deployment.campaign.key"> Campaign key (<code>deployment.campaign.key</code>)</label>
                <label><input type="checkbox" data-toggle="column" value="deployment.id"> Deployment ID (<code>deployment.id</code>)</label>
                <label><input type="checkbox" data-toggle="column" value="deployment.campaign.id"> Campaign ID (<code>deployment.campaign.id</code>)</label>
            </div>
        </div>
        <div class="export-form-group">
            <label><input type="checkbox" data-toggle="column" value="event_log"> Include logged events (<code>event_log</code>)</label>
        </div>

        <h5>Options:</h5>
        <div class="export-form-group">
            <label><input type="radio" name="_event_filter" data-toggle="filter"
                          value='[]' checked>
                All media items</label>
            <label><input type="radio" name="_event_filter" data-toggle="filter"
                          value='[{"name":"events","op":"any","val":{"name":"id","op":"is_not_null"}}]'>
                Only media items with logged events</label>
        </div>

{#        <h5>Transform output:</h5>#}
{#        <div class="export-form-group">#}
{#            <span class="help-block"><i class="fa fa-exclamation-triangle"></i> These options may alter included fields</span>#}
{#            <label><input type="checkbox" data-toggle="operation"#}
{#                       value='[{"method":"fillna","kwargs":{"value":"-"}},{"module":"pandas","method":"count_unstack","kwargs":{"columns":["label.id","label.uuid","label.name","label.lineage_names","comment","tag_names"]}}]'#}
{#                       data-disable_cols='["id","updated_at","user.username","point.id","point.x","point.y","point.t","point.data"]'#}
{#                       data-select_cols='["point.media.key"]'#}
{#                       data-unselect_cols='["comment", "tag_names"]'>#}
{#                Aggregated counts (row per frame, labels as cols)#}
{#            </label>#}
{#            <label><input type="checkbox" data-toggle="operation" name="rename_columns"#}
{#                       value=''#}
{#                       data-disable_cols='["pose.data","point.data"]'#}
{#                       data-select_cols='["point.media.key"]'#}
{#                       data-unselect_cols='["comment", "tag_names"]'#}
{#                    >#}
{#                Rename fields to simplify header names (remove periods ".") - EXPERIMENTAL#}
{#            </label>#}
{#        </div>#}

    </div>
    <form class="form-horizontal" id="export-media_collection-form"
          action="/api/media_collection/{{ data.id }}/export"
          method="GET" target="_blank">

{#        <div class="export-form-group">#}
{#            <label><input type="radio" name="template" value="dataframe.csv"> dataframe.csv</label>#}
{#            <label><input type="radio" name="template" value="dataframe.json"> dataframe.json</label>#}
{#            <label><input type="radio" name="template" value="dataframe.html"> dataframe.html</label>#}
{#        </div>#}

        <div id="advanced-options" class="export-form-group">
            <h5>
                Advanced options / API request parameters
                <a href="javascript:void(0)" onclick="$(this).parents('.export-form-group').hide(200)" class="badge label-default"><i class="fa fa-caret-up"></i> hide</a>
            </h5>
            <div class="well well-sm">
                <label>Output format (<code>template</code>):
                    <select class="form-control" name="template">
                        <option value="dataframe.csv" selected>CSV (dataframe.csv)</option>
                        <option value="dataframe.json">JSON (dataframe.json)</option>
                        <option value="dataframe.html">HTML table (dataframe.html)</option>
                        <option value="dataframe.txt">TXT [tabs,noindex,noheader] (dataframe.txt)</option>
                        <option value="">NONE: attempt to automatically format response</option>
                    </select>
                </label>
                <label>Export type (<code>disposition</code>):
                    <select class="form-control" name="disposition">
                        <option value="attachment" selected>Download as file (attachment)</option>
                        <option value="inline">Open in browser tab (inline)</option>
                    </select>
                </label>
                <label>Included fields (<code>include_columns</code> for the <code>media</code> resource):
                    <input type="text" class="form-control input-sm" name="include_columns" value='[]'>
                </label>
{#                <div class="help-block"><i class="fa fa-info-circle"></i> <code>include_columns</code> for the <code>annotation</code> resource. See API documentation for more.</div>#}
                <label>Data operations / transformation (<code>f</code>):
                    <input type="text" class="form-control input-sm" name="f" value='{}'>
                </label>
                <label>Query / filters (<code>q</code>):
                    <input type="text" class="form-control input-sm" name="q" value="{}">
                </label>
                <label><a href="javascript:void(0)" onclick="$(this).siblings('#qs').toggle(200)">Show full API querystring <i class="fa fa-caret-down"></i> </a>
                    <div class="well well-sm" id="qs" style="overflow-x: auto; display: none"></div>
                </label>
            </div>
        </div>

        <br>
        <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> EXPORT MEDIA</button>
        <button type="button" class="btn btn-link" onclick="$(this).siblings('#advanced-options').toggle(200)"><i class="fa fa-caret-up"></i> ADVANCED</button>
    </form>



    <script>
        $(document).ready(function () {
            var $container = $("#{{_container_id}}");
            var $form = $container.find("#export-media_collection-form");
            var $controls = $container.find("#export-media_collection-controls");
            var $control_inputs = $controls.find(":input");
            var $form_inputs = $form.find(":input");
            var $column_inputs = $controls.find(":input[data-toggle='column']");
            var $q_input = $form.find(":input[name='q']");
            var $f_input = $form.find(":input[name='f']");
            var $include_columns_input = $form.find(":input[name='include_columns']");
            //var $rename_columns_input = $controls.find(":input[name='rename_columns']");
            var $qs_info = $form.find("#qs");
            var $sharing_alert = $container.find("#media_collection_sharing_alert");

            $control_inputs.change(function(){
                var $this = $(this);
                var $export_group = $this.parents(".export-form-group");
                $($this.data('disable_cols')).each(function(i, c){
                    $column_inputs.filter("[value='"+c+"']").prop( "disabled", $this.is(':checked')).trigger('change');
                });
                if ($this.is(':checked')) {
                    $($this.data('select_cols')).each(function (i, c) {
                        $column_inputs.filter("[value='" + c + "']").prop("checked", true).trigger('change');
                    });
                    $($this.data('unselect_cols')).each(function (i, c) {
                        $column_inputs.filter("[value='" + c + "']").prop("checked", false).trigger('change');
                    });
                }  // unchecked children
                else if ($this.data('toggle')==='children') {
                    $this.parents('.export-form-group').find(":input[data-toggle='column']:checked").prop("checked", false).trigger("change");
                }
                if ($this.data('toggle')==='filter') update_filters();
                else if ($this.data('toggle')==='operation') update_operations();
                else if ($this.data('toggle')==='column') update_columns();

                $export_group.find(".col-count").html("("+$export_group.find(":input[data-toggle='column']:checked:not(:disabled)").length+")");
            });

            $form_inputs.change(function(){
                $qs_info.html($form.attr("action")+"?"+decodeURIComponent($form.serialize()));
            });

            $container.find("[data-toggle='options']").click(function(e){
                $(this).parents('.export-form-group').toggleClass('expanded')
            });


            function update_filters() {
                var filters = [];
                $control_inputs.filter("[data-toggle='filter']").each(function(i, el){
                    if ($(el).is(':checked'))
                        $(JSON.parse($(el).val())).each(function(j,f){filters.push(f)})
                });
                $q_input.val(JSON.stringify({filters:filters})).trigger("change");
            }

            function update_operations() {
                var operations = [{module:"pandas", method:"json_normalize"}];
                $control_inputs.filter("[data-toggle='operation']").each(function(i, el){
                    if ($(el).is(':checked'))
                        $(JSON.parse($(el).val())).each(function(j,o){operations.push(o)})
                });
                $f_input.val(JSON.stringify({operations:operations})).trigger("change");
            }

            function update_columns() {
                //var columns = $.map($column_inputs, function(c, i){
                //    return ($(c).is(':checked') && !$(c).is(":disabled")) ? $(c).val() : null;
                //});
                var include_columns = [];
                var rename_columns = {};
                $($column_inputs).each(function(i, c){
                    if ($(c).is(':checked') && !$(c).is(":disabled")){
                        include_columns.push($(c).val());
                        rename_columns[$(c).val()] = ($(c).attr("alt")) ? $(c).attr("alt") : $(c).val();
                    }
                });
                $include_columns_input.val(JSON.stringify(include_columns)).trigger("change");
                //$rename_columns_input.val(JSON.stringify({method:'rename',kwargs:{columns:rename_columns}}));
            }

            function check_DUA() {
                var q = {filters:[{name:"shared_media_collections",op:"any",val:{name:"id",op:"eq",val:"{{data.id}}"}},
                        {name:"is_restricted",op:"eq",val:false}, {or:[{name:"current_user_is_member",op:"eq",val:true},
                                {name:"current_user_is_owner",op:"eq",val:true},{name:"is_public",op:"eq",val:"true"}]}]};
                var url = '/api/groups?template=models/groups/dua_alerts_list.html&q='+JSON.stringify(q);
                load_content.html(url, $sharing_alert);
            }


            $control_inputs.filter(":checked").trigger("change");
            update_operations();
            update_filters();
            update_columns();
            check_DUA();

        });
    </script>
</div>