{% set _container_id = "project_list-"~rendered_at %}
<div class="dataset-select-list dataset-select-modal" id="{{ _container_id }}">
    <div class="row">
        <div class="col-sm-4">
            <div class="" id="group-list">
                <span class="pull-right">
                    {% include "models/paginate_model.html" %}
                </span>
                <h5><i class='fa fa-share-alt'></i> Share Groups</h5>
                <div class="well well-sm">
                <ul class="nav nav-pills nav-stacked object-list">
                    <li><a class="object-link" data-filters='[]' href="#"><i class="fa fa-asterisk text-danger fa-fw"></i> All datasets</a></li>
                    <li class="active"><a class="object-link" data-filters='[{"name":"current_user_is_owner","op":"eq","val":true}]' href="#">
                        <i class="fa fa-check-square fa-fw text-success"></i> My datasets</a></li>
                    <li><a class="object-link" data-filters='[{"name":"current_user_is_owner","op":"eq","val":false},{"name":"current_user_is_member","op":"eq","val":true}]' href="#">
                        <i class="fa fa-share-alt fa-fw text-success"></i> Datasets shared with me</a></li>
                    <li><a class="object-link" data-filters='[{"name":"is_public","op":"eq","val":true}]' href="#">
                        <i class="fa fa-users fa-fw text-success"></i> Public datasets</a></li>
{#                    <li><a class="object-link" data-filters='[{"name":"current_user_can_edit","op":"eq","val":true},{"name":"current_user_is_owner","op":"eq","val":false}]' href="#"><i class="fa fa-share-alt text-success"></i> Shared with me (editable)</a></li>#}
{#                    <li><a class="object-link" data-filters='[{"name":"current_user_can_view","op":"eq","val":true},{"name":"current_user_can_edit","op":"eq","val":false}]' href="#"><i class="fa fa-share-alt"></i> Shared with me (read-only)</a></li>#}
                    <li style="height:1px; background-color: #e6e6e6; margin:0; padding: 0"></li>
{#                    <li>My Project Groups:</li>#}
                    {% if data.objects | length > 0 %}
                        {% for o in data.objects %}
                        <li>
                            {% with data = o %}
                            {% include "models/groups/list_item.html" %}
                            {% endwith %}
                        </li>
                        {% endfor %}
                    {% else %}
                        <li style="padding: 20px"><small>There are no <i class='fa fa-share-alt'></i> Project Groups here yet.</small></li>
                    {% endif %}
                </ul>
                <button class="btn btn-default form-control" id="btn_manage_groups"><i class="fa fa-share-alt"></i> Manage Memberships / Join Groups</button>
                </div>
                <small class="help-block">
{#                    <i class="fa fa-info-circle fa-fw"></i> NB: only groups that have shared datasets will appear above.<br>#}
                    <i class="fa fa-check-square fa-fw"></i> You are the creator or owner.<br>
                    <i class="fa fa-share-alt fa-fw"></i> Shared with you (as a Group member).<br>
                    <i class="fa fa-users fa-fw"></i> Visible because it has been shared publicly.
                </small>

            </div>
        </div>
        <div class="col-sm-8" id="media_collection_container">
        </div>
    </div>

<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $list_container = $container.find("#group-list");
        var $object_links = $list_container.find(".object-link");
        var $object_add = $list_container.find(".object-add");
        var $object_edit = $list_container.find(".object-edit");
        var $object_delete = $list_container.find(".object-delete");
        var $media_collection_container = $container.find("#media_collection_container");
        var $btn_manage_groups = $container.find("#btn_manage_groups");
        var media_collection_template = "models/media_collection/select_list.html";
        var media_collection_q = {order_by:[
            //{field:"current_user_is_owner", direction:"desc"},
            //{field:"current_user_can_edit", direction:"desc"},
            {field:"created_at",direction:"desc"}]};

        $object_links.click(function(e){
            var q = $.extend(true, {}, media_collection_q);
            $object_links.parent("li.active").removeClass("active");
            $(this).parent("li").addClass("active");
            if ($(this).data("filters").length > 0)
                q["filters"] = $(this).data("filters");
            var url = "/api/media_collection?q="+JSON.stringify(q)+'&template='+media_collection_template+
                '&results_per_page=100&media_collection_id={{ args.media_collection_id }}'+
                '&annotation_set_id={{ args.annotation_set_id }}';
            load_content.paginated_html(url, $media_collection_container);
            //$media_collection_container.trigger("reload", url);
            e.preventDefault();
        });

        $object_add.click(function(e){
            var url = '/api/groups/'+$(this).data("id")+'?template=models/groups/add_user_to_group.html';
            open_modal(url, {
                modal_id: 'add_users_to_group-modal',
                modal_class: 'modal-md',
                hide_open_modals: true
            });
            e.preventDefault();
        });

        $object_edit.click(function (e) {
            var url = '/api/groups/'+$(this).data("id")+"?template=models/groups/edit.html";
            open_modal(url, {
                modal_id: 'edit_group-modal',
                modal_class: 'modal-md',
                hide_open_modals: true,
                oncompleted: function(data){
                    $container_parent.trigger("reload");
                }
            });
            e.preventDefault();
        });

        // handle delete links
        $object_delete.click(function(e){
            ajax.delete('/api/groups/'+$(this).data("id"), {success: function(){
                //$container_parent.load(current_uri);
                $container_parent.trigger("reload");
            }}, "Are you sure you want to delete this Group? <br><b>NOTE:</b> Datasets will not be deleted, but all " +
                "sharing through this group will be undone! <br><br>You can <b>not</b> undo this operation.");
        });

        $btn_manage_groups.click(function(e){
            dataset_modal.manage_groups({hide_open_modals: true, onhidden: function(data){
                //load_content.paginated_html('{{ url|safe }}', $container_parent);
                $container_parent.trigger("reload");
            }});
            e.preventDefault();
        });

        $list_container.find("li.active>a").trigger("click");
    });

</script>

</div>
