<h2>
    <small class="pull-right">[ID:{{ data.id }}]</small>
    {% include "models/usergroup_icon.html" %}
    {{ data.name }}
</h2>


<table class="object-detail-table"><tbody>
    {% if data.description %}
    <tr><td>
        DESCRIPTION:
    </td><td>
        {{ data.description }}
    </td></tr>
    {% endif %}
    <tr><td>
        PROPERTIES:
    </td><td>
        {% include "models/media_collection/info_badges.html" %}
    </td></tr>
    {% if data.data %}
    <tr><td>
        CREATION&nbsp;DATA:
    </td><td>
        <span class="active-show">
            <a href="javascript:void(0)" class="badge" onclick="$(this).siblings('pre.info').toggle()">show/hide <i class="fa fa-caret-down"></i></a>
            <pre class="info" style="display: none; max-height: 250px; overflow: auto; font-size: x-small">{{ data.data | as_json }}</pre>
        </span>
    </td></tr>
    {% endif %}
</tbody></table>