{% include "models/usergroup_info_badges.html" %}

{% with user=data.user, user_title="Owner" %}
    {% include('models/users/user_badge.html') %}
{% endwith %}

<span class="badge active-show">
    <i class="fa fa-calendar" data-toggle="tooltip" title="Created: {{ data.created_at }}"></i> created: {{ data.created_at | parse_datestring | humanize}}
</span>

{% if data.media_count %}
<span class="badge" >
    <i class="fa fa-image" data-toggle="tooltip" title="This media collection contains {{ data.media_count }} media items"></i>
    <b>{{ data.media_count |humanize('intcomma') }}</b>
    <span class="active-show">media items</span>
</span>
{% endif %}

