<li class="{{ 'active' if args.media_collection_id == data.id else '' }}">
    {#<b>Name:</b> {{ data.name }}<br>#}
    {#<small>#}
    {#    <span class="badge"><i class="fa fa-calendar"></i> {{ data.created_at }}</span><br>#}
    {#    <em>{{ data.description }}</em>#}
    {#    <a href="javascript:void(0)" onclick="$(this).siblings('pre.data-info').toggle()">Metadata <i class="fa fa-arrow-circle-down"></i></a>#}
    {#    <pre class="data-info" style="font-size: 9px; display: none;">{{data.data | as_json}}</pre>#}
    {#</small>#}
    <span class='object-ctl'>
        <small class="active-show">[ID:{{ data.id }}]</small>
        {% if data.current_user_can_edit %}
{#            <i class='fa fa-trash object-delete' data-id="{{ data.id }}" title="Delete"></i>#}
            <i class='fa fa-pencil object-edit active-show' data-id="{{ data.id }}" title="Edit"></i>
        {% endif %}
        <i class='fa fa-share-alt object-share' data-id="{{ data.id }}" title="Share"></i>
        <i class="fa fa-download object-export" data-id="{{ data.id }}" title="Export"></i>
    </span>
    <a class="object-link" data-id="{{ data.id }}" href='javascript:void(0)' title="{{ data.name }}">
        {% include "models/usergroup_icon.html" %}
        {{ data.name }}
    </a>

    {% if data.description %}
    <div class="object-description active-show">{{ data.description }}</div>
    {% endif %}


    <div class='object-description'>
{#        <span class="active-hide" style="color: #dddddd">&boxur;&boxh;</span>#}
        {% include "models/media_collection/info_badges.html" %}

        {% if data.data %}
        <span class="active-show">
            <a href="javascript:void(0)" class="badge" onclick="$(this).siblings('pre.info').toggle()">more <i class="fa fa-caret-down"></i></a>
            <pre class="info" style="display: none">{{ data.data | as_json }}</pre>
        </span>
        {% endif %}
    </div>

    {% if data.children | length > 0 %}
    <div class="object-children active-show">
        Children
        <ul>
        {% for c in data.children %}
            <li>{{ c.name }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}


</li>