{% set _container_id = "media_collection-attribution-container-"~rendered_at %}
<div id="{{ _container_id }}" style="max-height: 420px; overflow-y: auto;">
    <div class="dataset-field">PLATFORM(S):</div>
    <div id="platform-attribution"></div>
    <div class="dataset-field">CAMPAIGNS(S):</div>
    <div id="campaign-attribution"></div>
</div>
<script>
    $(document).ready(function(){
        var $container = $("#{{_container_id}}");
        var $platform_attribution = $container.find("#platform-attribution");
        var $campaign_attribution = $container.find("#campaign-attribution");

        var filters = {filters:[{name:"deployments",op:"any",val:{name:"media",op:"any",val:{name:"media_collection_media",op:"any",val:{name:"media_collection_id",op:"eq",val:{{data.id}}}}}}]};
        load_content.html('/api/platform?q='+JSON.stringify(filters)+"&template=models/platform/list_attribution.html", $platform_attribution);
        load_content.html('/api/campaign?q='+JSON.stringify(filters)+"&template=models/campaign/list_attribution.html", $campaign_attribution);

    });
</script>