{% set _container_id = "media_collection_select-"~rendered_at %}

<div class="dataset-select-list" id="{{ _container_id }}">

    <h3><i class="fa fa-list"></i> Select an existing Media Collection</h3>
    <form style="min-height: 600px">
        <select class="form-control" name="media_collection_id">
        </select>
        <button type="submit" class="btn btn-success">ADD TO COLLECTION</button>
    </form>
    <script type="text/javascript">
    $(document).ready(function() {
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $modal = $container.parents(".modal");
        var $form = $container.find("form");
        var $media_collection_id = $form.find("select[name='media_collection_id']");


        $media_collection_id.ajax_select("/api/media_collection", {
            results_per_page: 100,
            placeholder: "Select a Media Collection",
            dropdown_parent: $form,
            /*
            template_item: "[[&name]]",
            template_option: '<div class="title">[[name]]</div>' +
                '<div class="description">' +
                '<i class="fa fa-user-circle"></i> [[user.first_name]] [[user.last_name]]'+
                '<i class="fa fa-share"></i> [[usergroup_count]] groups, ' +
                '[[#description]]<br><em>[[description]]</em>[[/description]]' +
                '</div>',
            */
            build_query: function(search_term) {
                //var filters = $target_label_scheme_id.data("filters") || [];
                var filters = [{name:"current_user_is_owner","op":"eq","val":true}];
                var q = {filters: filters,order_by: [{field:"name",direction:"asc"}]};
                if (search_term) {
                    $(search_term.split(/(\s+)/)).each(function(i,s){
                        if (s.trim())
                            q.filters.push({or:[{name:"name",op:"ilike",val:'%'+s+'%'},
                                {name:"description",op:"ilike",val:'%'+s+'%'}]});
                    });
                }
                return q;
            }
        });

        $form.on("submit",function (e){
            e.preventDefault();
            $modal.trigger("completed", {id: $media_collection_id.val()});
        });
    });
    </script>
</div>