{% set _container_id = "media_collection_list-"~rendered_at %}

<div class="dataset-select-list" id="{{ _container_id }}">
    <div class="row">
        <div class="col-sm-6">
            <div class="" id="media_collection-list">
                <span class="pull-right text-right">
                    {% include "models/paginate_model.html" %}
                </span>
                <h5><i class='fa fa-list-ul'></i> Media Collections</h5>
                <div class="well well-sm">
                <ul class="nav nav-pills nav-stacked object-list">
                    {% if data.objects | length > 0 %}
                        {% for o in data.objects %}
                            {% with data = o %}
                            {% include "models/media_collection/list_item.html" %}
                            {% endwith %}
                        {% endfor %}
                    {% else %}

                        <li><div class="alert">
                            <i class="fa fa-exclamation-triangle"></i>
                            There are no visible <code>Media Collections</code> here.
                            You can create a new one using the button below.
                        </div></li>
                    {% endif %}
                </ul>
                <button id="new-annotation_set-btn" class="btn btn-default form-control"><i class="fa fa-plus-square"></i> New Media Collection</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="" id="annotation_set-list">
            </div>
        </div>
    </div>


<script type="text/javascript">
    $(document).ready(function(){
        //var current_user_id = parseInt("{{ current_user.id }}");
        var current_media_collection_id = parseInt("{{ args.media_collection_id }}");
        var current_annotation_set_id = parseInt("{{ args.annotation_set_id }}");
        //var selected_media_collection_id = null;
        //var selected_annotation_set_id = null;
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $list_container = $container.find("#media_collection-list");
        var $annotation_set_container = $container.find("#annotation_set-list");
        var annotation_set_list_template = "models/annotation_set/select_list.html";
        var $object_links = $list_container.find(".object-link");
        var $object_edit_links = $list_container.find(".object-edit").tooltip({placement:"bottom", container: $container_parent});
        var $new_annotation_set_btn = $container.find("#new-annotation_set-btn");
        var $object_share_links = $list_container.find(".object-share").tooltip({placement:"bottom", container: $container_parent});
        var $object_export_links = $list_container.find(".object-export").tooltip({placement:"bottom", container: $container_parent});


        $container.find("[data-toggle='tooltip']").tooltip({placement:'auto', container:$container});

        // Build current URI
        {#var current_uri = "{{ base_url }}";#}
        {#{% for k,v in args.items() %}current_uri = current_uri.updateURIParam('{{ k | safe }}', '{{ v | safe }}');#}
        {#{% endfor %}#}

        // click action for media collection links
        $object_links.click(function(){
            // select/deselect list item if collection changed
            if (current_media_collection_id !== $(this).data("id")) {
                current_media_collection_id = $(this).data("id");
                current_annotation_set_id = null;
            }
            $object_links.parent("li.active").removeClass("active");
            $(this).parent("li").addClass("active");

            // load annotation_sets
            var annotation_set_filter = {filters:[{name: "media_collection_id", op:"eq", val:current_media_collection_id},
                {name:"parent_id", op:"is_null"}], order_by:[{field:'created_at',direction:'desc'}]};
            var annotation_sets_url = '/api/annotation_set?q='+JSON.stringify(annotation_set_filter)+
                "&template="+annotation_set_list_template+ "&annotation_set_id="+current_annotation_set_id+
                "&media_collection_id="+current_media_collection_id+"&results_per_page=100";
            load_content.paginated_html(annotation_sets_url, $annotation_set_container);
        }).filter("[data-id='"+current_media_collection_id+"']").trigger("click");

        // handle edit links
        $object_edit_links.click(function(){
            var object_id = $(this).data("id");
            dataset_modal.media_collection.update(object_id, {
                oncompleted: function(data){
                    refresh_list(data ? data.id : object_id);
                }
            });
        });

        $object_share_links.click(function(){
            var object_id = $(this).data("id");
            dataset_modal.media_collection.share(object_id, {
                onhidden: function(){refresh_list(object_id)}
            });
        });

        $object_export_links.click(function(){
            var object_id = $(this).data("id");
            dataset_modal.media_collection.export(object_id, {});
        });

        // handle new button
        $new_annotation_set_btn.click(function(){
            location.href = "/geodata/explore?action=newcollection";
        });

        function refresh_list(media_collection_id, annotation_set_id) {
            if (typeof annotation_set_id === 'undefined')
                annotation_set_id=current_annotation_set_id;
            if (typeof media_collection_id === 'undefined')
                media_collection_id=current_media_collection_id;
            //var url = $container_parent.data("url")
            //    .updateURIParam("media_collection_id", media_collection_id)
            //    .updateURIParam("annotation_set_id", annotation_set_id);
            //load_content.paginated_html(url, $container_parent);
            $container_parent.trigger("reload", {media_collection_id:media_collection_id,annotation_set_id:annotation_set_id});
        }
    });
</script>
</div>
