{% set _container_id = "media_annotation-media-filter-container-"~rendered_at %}
<div id="{{ _container_id }}" data-annotation_set_id="{{ data.id if data else (args.annotation_set_id if args else "") }}">
{#    <h4>Filter Media Objects:</h4>#}
{#    <p class="well">#}
{#        <b class="text-danger"><i class="fa fa-exclamation-triangle"></i> COMING SOON:</b>#}
{#        This popup will contain a GUI for building advanced#}
{#        queries which can be used to search and sort the list of thumbnails. You'll be able to filter by annotation#}
{#        label, tags, date-time or deployment. Also you'll be able to configure how things get sorted.#}
{#    </p>#}
    <form onsubmit="return false;" id="media_collection-media-filters">
{#        {% include "models/annotation/create_filter.html" %}#}
        <h6><i class="fa fa-filter"></i> FILTER BY LABEL STATUS:</h6>
        <label>
            <input type="radio" name="label_status" value="" {{ 'checked' if not args.label_status }}>
            ALL Media - with and without labels
        </label><br>
        <label>
            <input type="radio" name="label_status" value="has_no_annotations" {{ 'checked' if args.label_status=="has_no_annotations" else '' }}>
            Show Media with no labels
        </label><br>
        <label>
            <input type="radio" name="label_status" value="has_unlabeled_annotations" {{ 'checked' if args.label_status=="has_unlabeled_annotations" else '' }}>
            Show Media with one or more unlabelled annotations
        </label><br>
        <label>
            <input type="radio" name="label_status" value="fully_labelled" {{ 'checked' if args.label_status=="fully_labelled" else '' }}>
            Show fully labelled Media
        </label>
        <br>
        <h6><i class="fa fa-filter"></i> FILTER MEDIA OBJECTS BY DEPLOYMENT:</h6>
        <select class="form-control" name="deployment_ids"></select>
        <hr>
        <h6><i class="fa fa-sort"></i> SORT MEDIA OBJECTS:</h6>
        <label>
            <input type="radio" name="order_by" value="deployment_id-timestamp" {{ 'checked' if args.order_by=="deployment-timestamp" or not args.order_by else '' }}>
            deployment / timestamp
        </label><br>
        <label>
            <input type="radio" name="order_by" value="timestamp" {{ 'checked' if args.order_by=="timestamp" else '' }}>
            timestamp
        </label><br>
        <label>
            <input type="radio" name="order_by" value="created_at" {{ 'checked' if args.order_by=="created_at" else '' }}>
            datetime added to collection
        </label><br>
        <hr>
        <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> APPLY FILTERS</button>
        <button type="button" class="btn btn-link pull-right" id="clear-filters"><i class="fa fa-times"></i> CLEAR FILTERS</button>
    </form>
{#    <small>{{ args.q }}</small>#}

    <script>
    $(document).ready(function() {
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $modal = $container.parents(".modal");
        var $deployment_list = $container.find("[name='deployment_ids']");
        var $clear_filters_btn = $container.find("button#clear-filters");

        var $filter_form = $container.find("form#media_collection-media-filters");

        $deployment_list.ajax_select("/api/annotation/tally/deployment", {
            placeholder: 'Search deployment name / key',
            allow_clear: true,
            dropdown_parent: $container_parent,
            template_item:  "[[&campaign_name]] > [[&name]]",
            template_option: '<span class="title">[[campaign_name]] > [[name]]</span> ' +
                    '<small class="pull-right description"><i class="fa fa-tags"></i> [[count]] annotations</small> ',
            build_query: function(search_term) {
                var q = {filters: [{name:"annotation_set_id",op:"eq",val:$container.data('annotation_set_id')}]}
                if (search_term) {
                    $(search_term.split(/(\s+)/)).each(function(i,s){
                        if (s.trim().length)
                            q.filters.push({or: [
                                {name:"deployment",op:"has",val:{name:"name",op:"ilike",val:'%'+s+'%'}},
                                {name:"deployment",op:"has",val:{name:"key",op:"ilike",val:'%'+s+'%'}}
                          ]});
                    });
                }
                return q;
            }
        });

        $filter_form.on("submit", function(){
            $modal.trigger("completed", $filter_form.serializeObject());
        });

        $clear_filters_btn.click(function(){
            $modal.trigger("completed", {});
        })
    });
    </script>
</div>