

{% set _container_id="media-info-"~rendered_at %}
<style>
    .media-info-container {
        overflow: hidden;
    }
    .media-info-container table {
        font-size: smaller;
        margin: 5px 5px 10px 5px;
        border: none;
    }
    .media-info-container table tr td {
        padding-top: 3px;
    }
    .media-info-container table tr td:first-child {
        padding-right: 15px;
        /*min-width: 100px;*/
        vertical-align: top;
    }

</style>

<div id="{{ _container_id }}" class="media-info-container">
    <div>
    <div class="media-info-section">
        <b><i class="fa fa-picture-o"></i> MEDIA/DEPLOYMENT:</b>
{#        <br><em>Campaign:</em><br>{{ data.deployment.campaign.name }}#}
{#        <br><em>Deployment:</em><br>{{ data.deployment.name }}#}
{#        <br><em>Media KEY:</em><br>{{ data.key }}#}
{#        <br><em>Deployment timestamp:</em><br>{{ data.deployment.timestamp }}#}
{#        <br><em>Media timestamp:</em><br>{{ data.timestamp_start }}#}
        <table border="0" class="table table-striped table-sm">
            <tr><td>Platform:</td><td title="{{ data.deployment.platform.name }}">
                <small class="pull-right">[{{ data.deployment.platform.id }}]</small> {{ data.deployment.platform.name }}
            </td></tr>
            <tr><td>Campaign:</td><td title="{{ data.deployment.campaign.name }}">
                <small class="pull-right">[{{ data.deployment.campaign.id }}]</small> {{ data.deployment.campaign.name }}
            </td></tr>
            <tr><td>Deployment:</td><td title="{{ data.deployment.name }}">
                {{ data.deployment.name }} <small class="pull-right">[{{ data.deployment.id }}]</small>
{#                <br><i class="fa fa-clock-o"></i> {{ data.deployment.timestamp|parse_datestring }}#}
                <br><i class="fa fa-calendar"></i> <em>{{ data.deployment.timestamp }} ({{ data.deployment.timestamp|parse_datestring|humanize() }})</em>
            </td></tr>
            <tr><td>Media:</td><td title="{{ data.key }}">
                {{ data.key }} <small class="pull-right">[{{ data.id }}]</small>
{#                <br><i class="fa fa-clock-o"></i> {{ data.timestamp_start|parse_datestring }}#}
                <br><i class="fa fa-calendar"></i> <em>{{ data.timestamp_start|parse_datestring }}</em>
            </td></tr>
{#            <tr><td>Deployment timestamp:</td><td>{{ data.deployment.timestamp }}</td></tr>#}
{#            <tr><td>Media timestamp:</td><td>{{ data.timestamp_start }}</td></tr>#}
        </table>
    </div>
    <div class="media-info-section">
        <b><i class="fa fa-map-marker"></i> POSITION:</b> <small class="pull-right">[{{ data.pose_count }} pose{% if data.pose_count != 1 %}s{% endif %}]</small>
        <table border="0" class="table table-striped table-sm">
{#            <tr><td># poses:</td><td> {{ data.pose_count }}</td></tr>#}
            {% if data.pose %}
                <tr><td>Pose timestamp:</td><td>{{ data.pose.timestamp }}</td></tr>
                <tr><td>Depth:</td><td> {{ data.pose.dep~"m" if data.pose.dep else "-" }}</td></tr>
                <tr><td>Altitude:</td><td> {{ data.pose.alt~"m" if data.pose.alt else "-" }}</td></tr>
                <tr><td>Latitude:</td><td> {{ data.pose.lat }}&deg;</td></tr>
                <tr><td>Longitude:</td><td> {{ data.pose.lon }}&deg;</td></tr>
            {% endif %}
        </table>
    </div>
    </div>
    <div>
    <div class="media-info-section">
        <b><i class="fa fa-bar-chart"></i> DATA:</b>
        <table border="0" class="table table-striped table-sm">
            {% if data.pose %}
                {% for d in data.pose.data %}
                    <tr><td>{{ d.name }}:</td><td> {{ d.value }}</td></tr>
                {% endfor %}
            {% endif %}
        </table>

    </div>
    <div class="media-info-section">
        <b><i class="fa fa-bar-chart"></i> OBSERVATIONS:</b>
        <table class="table table-striped table-sm">
            <tr><td># Annotation count:</td><td> {{ data.annotation_count }}</td></tr>
            {% for e in data.events %}
                <tr><td><b>{{ e.deployment_event_type }}</b><br><small><i class="fa fa-calendar"></i> {{ e.timestamp }}</small></td><td><em>{{ e.description }}</em></td></tr>
            {% else %}
                <tr><td colspan="2">
                <span class="text-muted">No events logged</span>
                </td></tr>
            {% endfor %}
        </table>
    </div>
    </div>
</div>