{% set _container_id = "media-list-container-"~rendered_at %}
<div id="{{ _container_id }}" style="position: relative;">
    <div class="help-block">
        <div style="text-align: center; margin: 10px">
            {% with show_advanced_query=True %}
            {% include "models/paginate_model.html" %}
            {% endwith %}
        </div>
    </div>

    {% include "models/media/list_thumbnails.html" %}

    <div class="help-block" style="text-align: center; margin: 10px">
        {% include "models/paginate_model.html" %}
    </div>
</div>
