{#<link rel="stylesheet" href="/static/api_libs/annotation/label_scheme.css">#}
<style>
    #frame-labels-container {
        height: 100%;
    }
    #frame-labels-container #tag-scheme-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 500px;
    }

    #frame-labels-container  #tag-scheme-container #label-list {
        flex-grow: 1;
    }

    #frame-labels-container #tag-scheme-container #label-list a.label-link {
        color: #cccccc !important;
    }

    #frame-labels-container .annotation_label_container {
        border: 1px solid rgba(255,255,255,0.2); border-radius: 5px; padding: 5px;
    }
    #frame-labels-container .annotation_label_container .annotation_label {
        /*border-radius: 5px;*/
        padding: 5px;
        background-color: rgba(255,255,255,0.05);
        cursor:pointer; cursor: hand;
    }
    #frame-labels-container #frame-labels-list h2 {
        font-size: 15px;
        margin: 5px 0;
        padding: 5px 0 0 0;
        border-top: 1px solid rgba(255,255,255,0.2);
    }
    #frame-labels-container #frame-labels-list {
        overflow: auto;
        min-height: 150px;
    }
    #frame-labels-container #frame-labels-list .btn-addlabel {
        float: right;
        color: white;
        border: none;
        padding: 2px 4px;
        background-color: rgba(255,255,255,0.1);
        border-radius: 3px;
    }
    #frame-labels-container #frame-labels-list .ctl-btn {
        font-size: 15px;
        margin: 5px 0;
        padding: 5px 0 0 0;
    }
    #frame-labels-container .annotation_label_container .annotation_label .annotation_label-comment {
        border: 0;
        padding: 0 5px;
        background: none;
        color: #ddd;
    }
    #frame-labels-container .annotation_label_container .annotation_label.selected {
        background-color: rgba(255,255,255,0.3);
        font-weight: bold;
    }
    #frame-labels-container .annotation_label_container .annotation_label.selected input::placeholder {
        color: #fff;
    }
    #frame-labels-container .annotation_label_container .annotation_label::-webkit-input-placeholder,
    #frame-labels-container .annotation_label_container .annotation_label::-moz-placeholder,
    #frame-labels-container .annotation_label_container .annotation_label:-ms-input-placeholder,
    #frame-labels-container .annotation_label_container .annotation_label::-moz-placeholder {
      color: #ccc;
    }
</style>


<div id="frame-labels-container">
    <div id="tag-scheme-container" class="fill-height"></div>
    <div id="frame-labels-list"></div>
</div>





{#<script src="/static/api_libs/annotation/label_scheme.js?v=0.41"></script>#}
{#<script src="/static/api_libs/geodata/templates/templates.js"></script>#}

<script>
    $(document).ready(function(){
        var $frame_label_container = $("#frame-labels-container");
        var $label_scheme_container = $frame_label_container.find("#tag-scheme-container");
        var $label_list = $frame_label_container.find("#frame-labels-list");
        var media_id = parseInt('{{args.media_id}}');
        var annotation_set_id = parseInt('{{args.annotation_set_id}}');
        var user_id = parseInt('{{ current_user.id }}');

        var label_scheme_obj = new LabelScheme($label_scheme_container,{
            annotation_set_id: annotation_set_id,
            on_label_click: function (tg_info) {
                console.log(tg_info);
                //media_obj.set_label_selected({label_id:tg_info.id});
                labels_obj.patch_annotations({label_id: tg_info.id});
            }});
        label_scheme_obj.initList();
        //label_scheme_obj.annotation_set_id = annotation_set_id;

        // TODO: make this an annotation set parameter
        //label_scheme_obj.init_list_level = 1; // Set list to level by default
        //label_scheme_obj.$popover_container = $frame_label_container;

        var labels_obj = new FrameAnnotationLabels($label_list, media_id, annotation_set_id, user_id);
        $frame_label_container.find(".fill-height").css("flex-grow", "1").parent().css({display: 'flex', 'flex-direction': 'column'});


        function FrameAnnotationLabels($label_list, media_id, annotation_set_id, user_id) {
            this.$label_list = $label_list;
            this.media_id = media_id;
            this.annotation_set_id = annotation_set_id;
            this.user_id = user_id;
            this.label_scheme_id = null;

            var _this = this;

            //var label_template = Handlebars.compile($("#frame-label-label-template").html());


            /*
             * Methods
             */

            this.init = function() {
                ajax.get("/api/annotation_set/"+_this.annotation_set_id, {success: function(data){
                    label_scheme_obj.refreshList(data.label_scheme.id, function(){
                        label_scheme_obj.$search.focus();
                    })
                }});

                _this.refresh_labels(_this.media_id, _this.annotation_set_id);
            };

            this.get_selected_labels = function () {
                var annotation_label_ids = [];
                _this.$label_list.find(".annotation_label.selected").each(function(i,el) {
                    annotation_label_ids.push($(el).data("annotation_label_id"));
                });
                return annotation_label_ids;
            };

            this.patch_annotations = function (data, annotation_label_ids) {
                if (typeof annotation_label_ids === "undefined")
                    annotation_label_ids = _this.get_selected_labels(); // infer id from selected if not supplied

                if (annotation_label_ids.length === 0) {
                    this.new_frame_annotation(data.label_id);
                }
                else {
                    var url;
                    if (typeof annotation_label_ids === 'number') {   // if id, single patch
                        url = '/api/annotation/' + annotation_label_ids;
                    }
                    else if (typeof annotation_label_ids === 'object') { // if array, patch many
                        if (annotation_label_ids.length <= 0) return;  // skip out if nothing is selected
                        var patch_filter = {"filters": [{"name": "id", "op": "in", "val": annotation_label_ids}]};
                        url = '/api/annotation?q=' + JSON.stringify(patch_filter);
                    }

                    ajax.patch(url, JSON.stringify(data), { success: function (data) {
                        _this.refresh_labels(_this.media_id, _this.annotation_set_id);
                        notify.success("Success! Label info updated. Add additional labels, or close panel to continue [ESC].", 3000, "notify-frame-label-saved");
                    }});
                }
            };

            this.new_frame_annotation = function(label_id) {
                //var lbl = {user_id: _this.user_id, annotation_set_id: _this.annotation_set_id};
                //if (typeof label_id === "number") lbl.label_id = label_id;
                var annotation = {
                    x: null, y: null, t: null,
                    media_id: _this.media_id,
                    annotation_set_id: _this.annotation_set_id,
                    data: {user_created: true},
                    user_id: _this.user_id,
                    annotation_label: {id: (typeof label_id === "number") ? label_id : null}
                    //annotations: [lbl]
                };
                console.log(annotation);
                $.ajax({
                    url: "/api/point",
                    data : JSON.stringify(annotation),
                    dataType: 'json',
                    type : 'POST',
                    contentType : 'application/json',
                    success: function(data){
                        console.log(data);
                        _this.refresh_labels(_this.media_id, _this.annotation_set_id);
                        notify.success("Success! Frame tag saved. Add additional labels, or close panel to continue [ESC].", 3000, "notify-frame-label-saved");
                    }
                    // TODO: add error handling
                });
            };

            this.refresh_labels = function (media_id, annotation_set_id) {
                var url = "/api/media/" + media_id + "/annotations/" + annotation_set_id + "?return=frame&return=label" +
                    "&template=models/point/select_list.html";
                //$.getJSON("/api/media/" + media_id + "/annotations/" + annotation_set_id + "?return=frame",
                return load_content.html(url, _this.$label_list, function(data) {
                    _this.$label_list.find("input[name='comment']").change(function(){
                        console.log({comment: $(this).val()}, parseInt($(this).parents(".annotation_label").data("annotation_label_id")));
                        _this.patch_annotations({comment: $(this).val()}, parseInt($(this).parents(".annotation_label").data("annotation_label_id")));
                    });
                    _this.$label_list.find(".annotation_label").click(function(e){
                        if (!$(e.target).is(":input")) {
                            $(this).siblings(".annotation_label.selected").removeClass("selected");
                            $(this).toggleClass("selected");
                            label_scheme_obj.$search.focus().select();
                        }
                    });
                    _this.$label_list.find("a[rel='remove-annotation']").click(function(e){
                        ajax.delete("/api/point/"+$(this).data("id"), {
                            success: function(data) {
                                _this.refresh_labels(media_id, annotation_set_id);
                            }
                        }, false);  // delete without confirm
                    });
                });
            };

            _this.init();
            return _this;
        }


    });
</script>

