<html>
<style>
    body {
        padding: 0;
        margin: 0;
        overflow-x: auto;
    }
    .info {
        position: absolute;
        top: 0;
        padding: 3px;
        font-family: 'Verdana', 'Helvetica', 'Arial', sans-serif;
        font-size: 10px;
        font-weight: bold;
        color: white;
        text-shadow:1px 1px 3px #000, 1px 1px 3px #000;
    }
    .info a, .info a:active, .info a:visited {
        color: white;
    }
    .media-list img.media-thm {
        height:90px
    }
</style>
<body style="">
<span class="info">Showing {{ data.objects|length }} sample thumbnails | <a href="#" onclick="location.reload();">RELOAD</a> </span>
{% include "models/media/list_thumbnails.html" %}
</body>
</html>