<div class="media-list" data-q='{{ args.q }}' data-page="{{ args.page }}" data-results_per_page="{{ args.results_per_page }}">
    {% if args.show_info=='true' %}
        <div>{{ data.objects | length }}/{{data.num_results | humanize('intcomma')}} result{% if data.num_results!=1 %}s{% endif %}
        {% if data.num_results>0 %}, page {{ data.page }}/{{ data.total_pages }}{% endif %}</div>
    {% endif %}
    {% for i in data.objects %}
    <a
        {% if args.include_link_iframe=='true' %}
            href = "{{ request.url_root }}iframe/api/media/{{ i.id }}?template=models/media/preview_single.html&nologin=true&fullwidth=true"
            target="_blank"
        {% elif args.include_link=='true' %}
            href = "{{ request.url_root }}api/media/{{ i.id }}?template=models/media/preview_single.html"
            target="_blank"
        {% else %}
            href = "javascript:void(0)"
        {% endif %}
        class="media-thm-link">
        <img class="media-thm" style="display: inline-block;max-height: 115px;" data-media_id="{{i.id}}" data-page_index="{{loop.index}}" src='{{i.path_best_thm}}'>
        <span class="media-thm-info" >
            {% if args.results_per_page %}
            {% set ind = loop.index + (data.page  - 1) * (args.results_per_page | int) %}
            <span title="Thumbnail {{ ind | humanize('intcomma') }} out of {{data.num_results | humanize('intcomma')}} results in this list">
                <i class="fa fa-hashtag text-muted"></i>{{ ind }}
            </span>
            {% endif %}
            {% if i.point_count is defined %}
            | <span title="{{ i.annotation_count }} out of {{ i.point_count }} labels have been annotated">
                <i class="fa fa-tags {% if i.annotation_count==0 %}text-danger{% elif i.annotation_count==i.point_count%}text-success{% else %}text-warning{% endif %}"></i>
                {{ i.annotation_count }}/{{ i.point_count }}
            </span>
            {% endif %}
        </span>
    </a>
    {% endfor %}
</div>