{% set _container_id = "media-container-single-"~rendered_at %}
<div id="{{ _container_id }}" class="media-info-container row">
    <div class="col-sm-9">
        <img id="media-image" src="{{ data.path_best }}" style="width: 100%">

    </div>
    <div class="col-sm-3">

        <div class="input-group  input-group-sm">
            <span class="input-group-addon">MEDIA URL:</span>
            <input type="text" class="form-control" value="{{ data.path_best }}" readonly="readonly">
            <a class="input-group-addon" href="javascript:void(0)" onclick="window.open('{{ data.path_best }}', '_blank');">
                &#x2197;
            </a>
        </div>
        <div class="input-group  input-group-sm">
            <span class="input-group-addon">THUMB URL:</span>
            <input type="text" class="form-control" value="{{ data.path_best_thm }}" readonly="readonly">
            <a class="input-group-addon" href="javascript:void(0)" onclick="window.open('{{ data.path_best_thm }}', '_blank');">
                &#x2197;
            </a>
        </div>
        <br><br>
        <div class="media-info-panel">
            {% include "models/media/detail_single.html" %}
        </div>
        {% if data.current_user_can_edit %}
            <button id="delete-button" onclick="dataset_modal.media.remove('{{ data.id }}')" type="button" class="btn btn-danger">
            <i class="fa fa-trash"></i> DELETE MEDIA OBJECT
            </button>
        {% else %}
            <div class="help-block"><i class="fa fa-info-circle"></i> Only the Deployment custodian can edit/delete Media Objects</div>
        {% endif %}
{#        <a class="btn btn-info" target="_blank" href="/api/media/{{ data.id }}/download"><i class="fa fa-download"></i> DOWNLOAD ZIP</a>#}
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $modal = $container.parents(".modal");
        /*
        var $delete_button = $container.find("#delete-button");

        $delete_button.click(function(e){
            ajax.delete('/api/media/{{ data.id }}', {
                success: function(){
                    $modal.trigger('completed', null);
                }},
                'Are you sure you want to delete this Media object? It contains {{ data.annotation_count }} annotations. This cannot be undone.'
            )
        });
        */
    });
</script>

