{% if not _title_prefix is defined %}
{% set _title_prefix = "You" %}
{% endif %}

<span class="badge-group">
    <span class="badge">
    {% if data.can_edit or data.current_user_is_edit_member %}
        <i class="fa fa-pencil-square text-success"  data-toggle="tooltip" title="{{ _title_prefix }} can edit datasets shared through this Group"></i>
        <span class="active-show">can edit</span>
    {% else %}
        <i class="fa fa-pencil-square text-danger" data-toggle="tooltip" title="{{ _title_prefix }} can't edit datasets shared through the Group"></i>
        <span class="active-show">can't edit</span>
    {% endif %}
    </span>

    <span class="badge">
    {% if data.can_add_members or data.current_user_can_add_member %}
        <i class="fa fa-user-plus text-success" data-toggle="tooltip" title="{{ _title_prefix }} can add Members to this Group"></i>
        <span class="active-show">can add members</span>
    {% else %}
        <i class="fa fa-user-plus text-danger" data-toggle="tooltip" title="{{ _title_prefix }} can't add Members to this Group"></i>
        <span class="active-show">can't add members</span>
    {% endif %}
    </span>

    <span class="badge">
    {% if data.can_share_data or data.current_user_can_share_data %}
        <i class="fa fa-plus-square text-success" data-toggle="tooltip" title="{{ _title_prefix }} can share data with this Group"></i>
        <span class="active-show">can share data</span>
    {% else %}
        <i class="fa fa-plus-square text-danger" data-toggle="tooltip" title="{{ _title_prefix }} can't share data to this Group"></i>
        <span class="active-show">can't share data</span>
    {% endif %}
    </span>

    {% if data.current_user_is_owner or data.user.id==current_user.id %}
    <span class="badge">
        <i class="fa fa-check-square text-success" data-toggle="tooltip" title="You are the custodian of this group"></i>
        <span class="active-show">custodian</span>
    </span>
    {% else %}
    <span class="badge">
    {% if data.approved or (data.current_user_is_pending_approval is defined and data.current_user_is_member and not data.current_user_is_pending_approval) %}
        <i class="fa fa-thumbs-up text-success" data-toggle="tooltip" title="Has been approved"></i>
        <span class="active-show">approved</span>
    {% else %}
        <i class="fa fa-thumbs-down text-danger" data-toggle="tooltip" title="Hasn't been approved"></i>
        <span class="active-show">not approved</span>
    {% endif %}
    </span>

    {% if data.requires_agreement or (data.group is defined and data.group.requires_agreement) %}
    <span class="badge">
    {% if data.has_agreed or data.current_user_has_agreed %}
        <i class="fa fa-handshake-o text-success" data-toggle="tooltip" title="{{ _title_prefix }} agreed to the Data Usage Agreement"></i>
        <span class="active-show">agreed to D.U.A.</span>
    {% else %}
        <i class="fa fa-handshake-o text-danger" data-toggle="tooltip" title="No Data Usage Agreement"></i>
        <span class="active-show">hasn't agreed to D.U.A.</span>
    {% endif %}
    </span>
    {% endif %}
    {% endif %}
</span>
