{% set _alert_count=0 %}
<span class="active-show">
    {% if not data.approved %}
        {% set _alert_count = _alert_count + 1 %}
        <div class="object-alert">
            <i class="fa fa-exclamation-triangle text-danger"></i>
            {% if data.group.user_id==current_user.id %}
                Waiting for your approval!
            {% else %}
                Awaiting approval from the custodian
            {% endif %}
        </div>
    {% endif %}
    {% if data.group.requires_agreement and not data.has_agreed %}
        {% set _alert_count = _alert_count + 1 %}
        <div class="object-alert active-show">
            <i class="fa fa-exclamation-triangle text-danger"></i>
            Has not agreed to group data usage agreement
        </div>
    {% endif %}
</span>

{% if _alert_count>0 %}
    <span class="label label-danger active-hide" title="{{ _alert_count }} membership alert(s)"><i class="fa fa-exclamation-triangle"></i>{{ _alert_count }}</span>
{% endif %}