{% set _container_id = "usergroups_list-"~rendered_at %}
<div id="{{ _container_id }}">
<span class="pull-right">
    {% include "models/paginate_model.html" %}
</span>
<h5><i class="fa fa-users"></i> CURRENT GROUP MEMBERS:</h5>
<div class="well well-sm">
{% if data.num_results > 0 %}
<br>
<ul class="nav nav-pills nav-stacked object-list">
    {% for m in data.objects %}
    <li {% if not m.approved and m.group.user_id==current_user.id %}class="active object-edit"{% endif %}>
        <span class='object-ctl'>
            <small class="active-show">[ID:{{ m.user.id }}]</small>
            {% if m.user.id != current_user.id %}
                <i class="fa fa-envelope active-show"  data-toggle="tooltip" title="Contact Member"  onclick="user_modal.contact({{ m.user.id }})"></i>
                {% if m.added_by_user.id==current_user.id or m.group.user_id==current_user.id %}
                    <i class="fa fa-chain-broken fa-fw text-danger object-remove active-show" data-id="{{ m.user.id }}" data-group_id="{{ m.group.id }}" data-toggle="tooltip" title="Remove this Member from Group"></i>
                {% endif %}
            {% elif m.user.id == current_user.id %}
                <i class="fa fa-chain-broken fa-fw text-danger object-remove" data-id="{{ m.user.id }}" data-group_id="{{ m.group.id }}" data-toggle="tooltip" title="Leave / cancel your membership"></i>
            {% endif %}
        </span>
        <a class="object-link" href='javascript:void(0)'>
            {% if not m.approved %}
                <i class="fa fa-thumbs-down fa-fw text-danger" title="PENDING APPROVAL FROM THE GROUP CUSTODIAN!"></i>
            {% elif m.can_edit %}
                <i class="fa fa-pencil-square fa-fw text-success" title="Has edit permission"></i>
            {% else %}
                <i class="fa fa-pencil-square fa-fw text-danger" title="Has read-only access"></i>
            {% endif %}

            {{ m.user.first_name }} {{ m.user.last_name }}
{#            <small>{% for a in m.user.affiliations %}| {{ a.name }} {% endfor %}</small>#}

            <span class="badge" title="Time that user became a group member">
                <i class="fa fa-calendar-plus-o"></i> added: {{ m.created_at|parse_datestring|humanize() }}
            </span>
            <span class="badge" title="User that added this member">
                <i class="fa fa-user-plus"></i> by: {{ m.added_by_user.first_name }} {{ m.added_by_user.last_name }}
            </span>

        </a>
        <span class="active-block object-description">
{#            <span class="active-show">MEMBERSHIP:</span>#}
            {% with data = m, _title_prefix="This member" if m.user.id!=current_user.id else "You" %}
            {% include "models/usergroups/info_badges.html" %}
            {% endwith %}

            {% if m.added_by_user.id==current_user.id or m.group.user_id==current_user.id %}
            <span class="active-show">
                | <button class="btn btn-xs btn-link" onclick='$(this).parents("li").toggleClass("object-edit")'>
                    EDIT MEMBERSHIP <i class="fa fa-caret-down"></i>
                </button>
            </span>
            {% endif %}

            {% with data=m %}
            {% include "models/usergroups/info_membership_alerts.html" %}
            {% endwith %}
        </span>

        {% if m.added_by_user.id==current_user.id or m.group.user_id==current_user.id %}
        <form class="object-edit-form active-show" method="PATCH" action="/api/users/{{ m.user.id }}/group/{{ m.group.id }}">

{#            UPDATE:#}

            <label title="Checking this will mean that the user will be able to edit datasets shared in this group. If it is not checked, the member will have read-only access.">
                <input type="checkbox" name="can_edit" value="true" {% if m.can_edit %}checked{% endif %}>  CAN EDIT
            </label> |
            <label title="">
                <input type="checkbox" name="can_add_members" value="true" {% if m.can_add_members %}checked{% endif %}>
                CAN ADD MEMBERS
            </label> |
            <label title="">
                <input type="checkbox" name="can_share_data" value="true" {% if m.can_share_data %}checked{% endif %}>
                CAN SHARE DATA
            </label> |
            <label title="This should normally be checked. If the user is not approved, membership will be pending and the user will not have access.">
                <input type="checkbox" name="approved" value="true" {% if m.group.user_id!=current_user.id %}disabled{% endif %} {% if m.approved %}checked{% endif %}> IS APPROVED
            </label> |
{#            <label title="">#}
{#                <input type="checkbox" name="has_agreed" value="true" disabled {% if m.has_agreed %}checked{% endif %}>#}
{#                HAS AGREED#}
{#            </label> |#}

            <button class="btn btn-success btn-xs" type="submit">
                <i class="fa fa-refresh"></i> UPDATE
            </button>
            <button data-id="{{ m.user.id }}" data-group_id="{{ m.group.id }}" class="btn btn-danger btn-xs object-remove" type="button">
                <i class="fa fa-unlink"></i> REMOVE
            </button>

        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<div class="alert">
    <i class="fa fa-share-alt"></i> No members have been added. Select from the list above to add members to this group.
</div>
{% endif %}
</div>
<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();

        var $object_links = $container.find(".object-link");
        var $object_remove = $container.find(".object-remove");
        var $object_update_forms = $container.find("form.object-edit-form");

        $container.find("[data-toggle='tooltip']").tooltip({container:$container});

        $object_links.click(function (e) {
            // select/deselect list item
            $object_links.parent("li.active").removeClass("active");
            $(this).parent("li").addClass("active");
        });

        $object_remove.click(function (e) {
            var url = "/api/users/" + $(this).data("id") + "/group/"+$(this).data("group_id");
            ajax.delete(url,{success: function(){
                notify.success("User has been removed from the Group.");
                $container_parent.trigger("reload");
            }}, "Are you sure you want to remove this Member from this Group?")
        });

        $object_update_forms.on("submit", function (e) {
            e.preventDefault();
            var default_data = {approved: false, can_edit: false, can_add_members:false, can_share_data:false};
            var data = $.extend({}, default_data, $(this).serializeObject());
            ajax.patch($(this).attr("action"), JSON.stringify(data),{
                success:function(data){
                    notify.success("User permissions have been updated.");
                    $container_parent.trigger("reload");
                }});
        });
    });
</script>
</div>