{% set _container_id = "api_token-modal-"~rendered_at %}
<div id="{{ _container_id }}"><div class="well text-center">
    <h2><i class="fa fa-key"></i> API TOKEN</h2>
    <p><small>
        Use your API TOKEN to interact with the API from Third Party apps or scripts.
        If you do not intend to access the API from Third Party apps or scripts, it is best to not activate you API TOKEN.
        <b>Do not share your API TOKEN with anyone.</b>
    </small></p>
    <p>
        <span class="badge-group">
            <span class="badge" id="user_api_key-api_key"></span>
            <a href="javascript:void(0)" class="badge label-danger" title="Copy to clipboard" id="user_api_key-copy"><i class="fa fa-clone"></i></a>
        </span>
    </p>
    <p>
        <a href="javascript:void(0)" class="btn btn-danger" id="user_api_key-reset"></a>
        <a href="javascript:void(0)" class="btn btn-info" id="user_api_key-delete">DELETE API TOKEN</a>
    </p>
</div>

<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");

        $container.find("#user_api_key-reset").click(function(){
            $.ajax({
                url: '/api/users/api_token',
                type: 'PATCH',
                success: function(data) {
                    set_api_key(data);
                }
            });
        });

        $container.find("#user_api_key-copy").click(function(){
            navigator.clipboard.writeText($container.find("#user_api_key-api_key").text());
            notify.success("API token has been copied to clipboard.");
        });

        $container.find("#user_api_key-delete").click(function(){
            $.ajax({
                url: '/api/users/api_token',
                type: 'DELETE',
                success: function(data) {
                    set_api_key(data);
                }
            });
        });

        $.getJSON("/api/users/api_token", function(data){
            set_api_key(data);
        });

        function set_api_key(data){
            if (data.api_token) {
                $container.find("#user_api_key-api_key").html("<b>" + data.api_token + "</b>");
                $container.find("#user_api_key-reset").html("RESET API TOKEN");
                $container.find("#user_api_key-delete").show();
            }
            else {
                $container.find("#user_api_key-api_key").html("<b>Your API TOKEN is not active.</b>");
                $container.find("#user_api_key-reset").html("ACTIVATE API TOKEN");
                $container.find("#user_api_key-delete").hide();
            }
        }
    });
</script>
</div>