{% set _container_id = "group-form-container-"~rendered_at %}
<div id="{{ _container_id }}">
    <h4><i class="fa fa-user"></i> User details</h4>
{#    <hr>#}
    <form class="form-horizontal" id="signup"
    {% if data.id %} action="/api/users/{{ data.id }}"  method="PATCH"
    {% else %} action="/api/users" method="POST" {% endif %}>
    {% if msg %}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6 alert alert-{{ msg.status }}">{{ msg.msg }}</div>
        </div>
    {% endif %}
        <div class="form-group">
            <label for="signup-first_name" class="col-sm-3 control-label">Your name</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="first_name" value="{{ data.first_name }}" id="signup-first_name" placeholder="First Name">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="last_name" value="{{ data.last_name }}" id="signup-last_name" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <label for="signup-email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" name="email" value="{{ data.email }}" id="signup-email" placeholder="Email">
            </div>
    {#        <div class="col-sm-6 col-sm-offset-3">#}
    {#            <input type="email" class="form-control" data-nosubmit='{"use":"xvalidate","field":"email"}' name="retypeemail" id="signup-retypeemail" placeholder="Retype email">#}
    {#        </div>#}
        </div>

    {% if not current_user.is_authenticated() %}
        <div class="form-group">
            <label for="signup-username" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="username"  id="signup-username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="signup-password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" name="password" id="signup-password" placeholder="Password">
            </div>
            <div class="col-sm-3">
                <input type="password" class="form-control" data-nosubmit='{"use":"xvalidate","field":"password"}' name="retypepassword" id="signup-retypepassword" placeholder="Retype password">
            </div>
        </div>
    {% endif %}
        <div class="form-group">
            <label for="signup-affiliations" class="col-sm-3 control-label">Affiliation(s)</label>
            <div class="col-sm-6">
                <select data-selected="{{ data.affiliation_ids }}" class="form-control" name="affiliation_ids" id="signup-affiliations" multiple>
                </select>
                <button class="btn btn-link btn-xs pull-right" type="button" id="btn-affiliation"><i class="fa fa-plus-square"></i> Create a new Affiliation</button>
            </div>
        </div>
        <div class="form-group">
            <label for="signup-info" class="col-sm-3 control-label">Short bio</label>
            <div class="col-sm-6">
                <textarea class="form-control" name="info" id="signup-info" placeholder="Some information about yourself">{{ data.info }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <a href="javascript:void(0)" tabindex="100" data-dismiss="modal"  class="btn btn-default">Close</a>
                {% if not current_user.is_authenticated() %}
                <button type="submit" tabindex="0" class="btn btn-primary">Register!</button>
                <small class="pull-right" style="text-align: right;">
                    <a href="javascript:void(0)" data-dismiss="modal" onclick="user_modal.login()">Already a member?</a>
                </small>
                {% else %}
                <button type="submit" tabindex="0" class="btn btn-primary">Save!</button>
                <small class="pull-right" style="text-align: right;">
                    <a href="javascript:void(0)" onclick="user_modal.reset_password()">Change your password?</a>
                </small>
                {% endif %}
            </div>
        </div>
    </form>

<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $modal = $container.parents('.modal');
        var $form = $container.find("#signup");
        var $affiliations_select = $container.find("#signup-affiliations");
        var $affiliations_button = $container.find("#btn-affiliation");

        $form.APIForm({
            ajax_prefill: false,
            callback:function(data, form) {
                console.log(data);
                $modal.trigger("completed", data);
            }
        });

        $affiliations_select.ajax_select('/api/groups?results_per_page=500', {
            placeholder: 'Search affiliations',
            dropdown_parent: $container,
            template_item: "[[&name]]",
            template_option: '<div class="title">[[name]]</div><div class="description">[[#groupinfo]]<em>[[groupinfo]]</em>[[/groupinfo]]</div>',
            build_query: function(search_term) {
                var q = {
                  filters: [{name:"group_type",op:"has",val:{name:"name",op:"eq",val:"affiliation"}}],
                  order_by: [{field:"name",direction:"asc"}]
                }
                if (search_term) {
                    $(search_term.split(/(\s+)/)).each(function(i,s){
                        if (s.trim().length)
                            q.filters.push({or: [
                                {name:"name",op:"ilike",val:'%'+s+'%'}, {name:"groupinfo",op:"ilike",val:'%'+s+'%'}
                            ]});
                    });
                }
                return q;
            }
        }); //.ajax_select_val($affiliations_select.data('selected'));

        $affiliations_button.click(function(e){
            open_modal("/ui/models/groups/edit_affiliation.html", {oncompleted: function(data){
                    $affiliations_select.ajax_select_val(data.id);
                }
            });
        });

        /*
        $affiliations_select.APISelect({
            query:{q: '{"filters":[{"name":"group_type","op":"has","val":{"name":"name","op":"eq","val":"affiliation"}}]}'},
            url: '/api/groups?results_per_page=500',
            quickaddfields: [{attr:{name:"name", type:"text", placeholder:"Organisation name"}},
                            {attr:{name:"groupinfo", type:"text", placeholder:"City, Country"}},
                            {attr:{name:"is_public", type:"hidden", value:"true"}},
                            {attr:{name:"group_type_name", type:"hidden", value:"affiliation"}}]
        });
         */
    })
</script>
</div>