{# project/templates/email_password_reset.html #}

<p>Hello {{ user.first_name }},</p>
<p>
    <b>A request has been received to change the password for your "{{ request.host }}" account.</b><br>
    Click the link below to reset your password.
</p>
<p>
<a href="{{ reset_link }}">{{ reset_link }}</a>
</p>

<p>
    --
    <br>
    Message generated from {{ request.host }}
</p>