{{ message | safe }}

<p style="color: #ccc">
    --
{#    {% set affiliations=[] %}#}
{#    {% for i in current_user.affiliations %}#}
{#    {% do affiliations.append(i.name) %}#}
{#    {% endfor %}#}
{#    {% if affiliations %}#}
{#        <br><b>{{ current_user.first_name }}'s affiliation(s):</b> {{ affiliations|join(", ")}}#}
{#    {% endif %}#}
    <br><b>{{ current_user.first_name }}'s affiliation(s):</b> {{ current_user.affiliations_names() }}
    <br>Message sent from {{ request.host }}. You can reply directly to this email to respond.
</p>