{% set _container_id = "group-form-container-"~rendered_at %}
<div id="{{ _container_id }}"><h3><i class="fa fa-user"></i> Login</h3>
<hr>
{% if msg %}
<div class="alert alert-{{ msg.status }}">{{ msg.msg }}</div>
{% endif %}
<form id="signin" method="POST" class="form-horizontal" action="/api/users/login" role="login">
{#  {{ form.hidden_tag() }}#}
    <div  style="padding: 80px 0;">
        <div class="form-group">
            <label for="signin-username" class="col-sm-4 control-label">Email or username</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="username" id="signin-username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="signin-password" class="col-sm-4 control-label">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" name="password" id="signin-password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" class="btn btn-primary">Log in</button>
                <small class="pull-right" style="text-align: right;">
                    <a  href="javascript:void(0)" data-dismiss="modal" onclick="user_modal.create()">Not a member?</a><br>
                    <a  href="javascript:void(0)" onclick="user_modal.reset_password()">Forgotten password?</a>
                </small>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $modal = $container.parents('.modal');
        var $form = $container.find("#signin");

        $form.APIForm({
            callback:function(data, form) {
                console.log(data);
                $modal.trigger("completed");
            }
        });
    })
</script>
</div>