{% set _container_id = "email-user-container-"~rendered_at %}
<div id="{{ _container_id }}">
<form id="email_user_form" action="/api/users/{{ data.id }}/email" method="POST">
    <h4><i class="fa fa-envelope"></i> CONTACT MEMBER:</h4>
    <div class="form-group">
        <label>Send a message to:</label>
        <div class="well well-sm">
            <b>{{ data.first_name }} {{ data.last_name }}</b>
            {% set affiliations=[] %}
            {% for i in data.affiliations %}
            {% do affiliations.append(i.name) %}
            {% endfor %}
            <br><em><small>{{ affiliations|join(", ") }}</small></em>
{#                {% if data.affiliations %}#}
{#                    ({% for a in data.affiliations %}{{ a.name }} {% endfor %})#}
{#                {% endif %}#}
        </div>
    </div>
  <div class="form-group">
{#    <label >Message:</label>#}
    <div>
{#        <input type="hidden" value="{{ current_user.id }}" name="current_user_id">#}
        <textarea name="message" class="form-control" rows="5" placeholder="Enter an message to send to {{ data.first_name }}"></textarea>
    </div>
  </div>
  <div class="form-group">
      <div class="help-block">
          <i class="fa fa-info-circle"></i> This will initiate an email conversation.
          Your email address: <b>{{ current_user.email }}</b> will be sent to {{ data.first_name }} and
          subsequent replies/messages will be directly via email.
      </div>
{#    <div >#}
{#      <div class="checkbox">#}
{#        <label>#}
{#          <input type="checkbox"> Send a copy to me#}
{#        </label>#}
{#      </div>#}
{#    </div>#}
  </div>
  <div class="form-group">
    <div >
      <button type="submit" class="btn btn-primary"><i class="fa fa-envelope"></i> SEND MESSAGE</button>
    </div>
  </div>

<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $modal = $container.parents('.modal');
        var $form = $container.find("#email_user_form");
        var $message = $container.find('textarea[name="message"]');

        //notify.error("Member messaging has not been implemented yet. This will not work yet, but it's coming soon.");
        $.trumbowyg.svgPath = '{{ request.host_url }}static/libs/trumbowyg-wysiwyg/dist/ui/icons.svg';
        $message.trumbowyg({
            //autogrow: true,
            btns: [
                //['viewHTML'],
                ['undo', 'redo'], // Only supported in Blink browsers
                //['formatting'],
                //['strong', 'em', 'del'],
                ['strong', 'em'],
                //['superscript', 'subscript'],
                //['link'],
                //['insertImage'],
                //['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                ['unorderedList', 'orderedList'],
                //['horizontalRule'],
                ['removeformat'],
                ['fullscreen']
            ]
        });

        $form.submit(function(e){
            var payload = JSON.stringify({message: $message.val()});
            load_content.loader_overlay($form);
            ajax.post($form.attr("action"), payload).done(function(data){
                notify.success(data.message);
                $modal.modal("hide");
            }).always(function(){
                load_content.loader_overlay($form, true);
            });
            e.preventDefault();
        })
    })
</script>

</form>
</div>