{% set _container_id = "password-reset-"~rendered_at %}
<div id="{{ _container_id }}">
<h3><i class="fa fa-key"></i> Password reset</h3>
<hr>
<form id="reset_password" method="POST" onsubmit="return false;" class="form-horizontal" action="/api/users/reset_password">
{#  {{ form.hidden_tag() }}#}
    <div >
        {% if current_user.is_authenticated() %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8 help-block">
            To reset your password, you need to send yourself a reset link.
            <input type="hidden" name="email" value="{{ current_user.email }}">
            </div>
        </div>
        {% else %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8 help-block">
            To reset your password, please provide your email address below.
            </div>
        </div>
        <div class="form-group">
            <label for="reset-email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="email" id="reset-email" placeholder="Email"
                       value="{{ current_user.email if current_user.is_authenticated() else "" }}">
            </div>
        </div>

        {% endif %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-primary"><i class="fa fa-envelope"></i> Send reset email!</button>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $form = $container.find("#reset_password");
        var $submit = $form.find("button[type='submit']");

        $form.submit(function(e){
            $submit.attr("disabled", true);
            ajax.post($form.attr("action"), JSON.stringify($form.serializeObject())).done(function(){
                window.location.href = "/";
            }).always(function(){
                $submit.attr("disabled", false);
            });
            e.preventDefault();
        });

        /*
        $form.APIForm({
            callback:function(data, form) {
                if (data.status === "success")
                    window.location.href = "/";
            }
        });
        */
    });
</script>
</div>