{% set _affiliations=[] %}
{% for i in user._affiliations %}
{% do _affiliations.append(i.name) %}
{% endfor %}
    <span title="{{ user_title|default('User', true) }}{% if _affiliations %}, Affiliation: {{ _affiliations|join(", ") }}{% endif %}">
        {{ user.first_name~' '~user.last_name }}
        {% if current_user.is_authenticated() and current_user.id == user.id %}<b>(me)</b>{% endif %}
    </span>
{% if current_user.is_authenticated() %}
    {% if current_user.id != user.id and _hide_contact!=True %}
    <a href="javascript:void(0)"  data-toggle="tooltip" onclick="user_modal.contact({{ user.id }})" class="badge label-default" title="Email {{ user_title|default('User', true) }}: {{ user.first_name }}"><i class="fa fa-envelope"></i></a>
    {% endif %}
    {% if current_user.id != user.id and current_user.is_admin and user.username %}
    <a href="javascript:void(0)"  data-toggle="tooltip" onclick="user_modal.admin_switch('{{ user.username }}')"
       class="badge label-danger" title="ADMIN login as: {{ user.username|default('user', true) }}"><i class="fa fa-share"></i><i class="fa fa-unlock-alt"></i></a>
    {% endif %}
{% endif %}