{% extends "layout.html" %}
{% block page_subtitle %}: ABOUT{% endblock %}
{% block css %}
    <style>
    #stats_content {
        display: inline-block;
        width: 250px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        margin: 30px 0 5px 5px;
        float: right;
    }
    @media (max-width: 767px) {
        #stats_content {
            display: inline-block;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 10px;
            margin: 5px;
            float: unset;
        }
    }
    </style>
{% endblock %}
{% block content %}
<div class="body-content" style="min-height: 500px">
    <div id="stats_content">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div id="info_content">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        $("#info_content").load('/wiki_page/{{ config.WIKI_PAGES.about_info }}');
        $("#stats_content").load('/api/stats?include=datasets&include=userdata&template=partials%2Fstats_simple.html');
    })
</script>
{% endblock %}