<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>{{ config.PROJECT_NAME }} under maintenance...</title>

{% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

<!-- JavaScript at the bottom for fast page loading -->
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

</head>
<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <div class="col-sm-offset-3 col-sm-6">
        <h1 class="display-4"><i class="fa fa-wrench"></i> We're making some changes!</h1>
        <p class="lead">
            {{ config.PROJECT_NAME }} is currently undergoing planned maintenance!
            We should be back up and running soon.
            Sorry for any inconvenience.
        </p>
          <p>
          - {{ config.PROJECT_NAME }} support
          </p>
      </div>
  </div>
</div>
</body>
</html>