<html>
<head>
{% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% assets "css_annotate" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

<!-- JavaScript at the bottom for fast page loading -->
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "js_annotate" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{#<script src="/static/api_libs/public/templates/templates.js" type="text/javascript"></script>#}
{#<script src="/static/api_libs/geodata/templates/templates.js" type="text/javascript"></script>#}

{% block css %}{% endblock %}

</head>
<body style="padding-top: 0; background-color: transparent;">
{#<span class="dropdown pull-right btn">#}
{#{% if current_user and current_user.is_authenticated() %}#}
{#    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color: #87bc09"><i class="fa fa-user"></i></a>#}
{#    <ul class="dropdown-menu" role="menu">#}
{#        <li class="dropdown-header">Logged in as: {{ current_user.username }}</li>#}
{#        <li><a class="navbar-link" href="{{ url_for('user.logout') }}">Sign out</a></li>#}
{#        <li><a href="javascript:void(0)" onclick="mainmodal('{{ url_for('user.signup') }}', 'user-login-modal')">Edit details</a></li>#}
{#    </ul>#}
{#{% else %}#}
{#    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color: #ccc"><i class="fa fa-user"></i></a>#}
{#    <ul class="dropdown-menu" role="menu">#}
{#        <li><a href="javascript:void(0)" onclick="mainmodal('{{ url_for('user.login') }}', 'user-login-modal')">Log in</a></li>#}
{#        <li><a href="javascript:void(0)" onclick="mainmodal('{{ url_for('user.signup') }}', 'user-login-modal')">Sign up</a></li>#}
{#    </ul>#}
{#{% endif %}#}
{#</span>#}




{#{% include snippet %}#}
<div id="content" class="{{ 'container' if request.args.fullwidth != 'true' }}"></div>



<script>
    $(document).ready(function(){
        var url = "/{{ snippet}}?{{ request.query_string.decode()|safe }}";
        load_content.paginated_html(url, $("#content"));
    })
    /*
    $( "#content" ).load("/{{ snippet}}?{{ request.query_string.decode()|safe }}", function( response, status, xhr ) {
        if ( status == "error" )
            $( "#content").html("<div class='alert alert-danger'>ERROR: "+xhr.status + " " + xhr.statusText+"</div>");
    });
    */

    {% if not current_user.is_authenticated() and request.args.nologin != "true" %}
        user_modal.login();
    {% endif %}
</script>

{% block js %}{% endblock %}
</body>
</html>
