
{% extends "layout.html" %}

{% block content %}
<div class="body-content" style="min-height: 500px">
    {% if snippet %}
    {% include snippet %}
    {% endif %}
    {% if snippet_ajax %}
        <div id="ajax_content"></div>
        <script>
        $(document).ready(function(){
            $("#ajax_content").load('{{ snippet_ajax }}');
        })
        </script>
    {% endif %}
</div>
{% endblock %}

{% block js %}
{#<script src="/static/api_libs/public/templates/templates.js" type="text/javascript"></script>#}
{#<script src="/static/api_libs/geodata/templates/templates.js" type="text/javascript"></script>#}
{% endblock %}