<style>
#userissue-modal .tab-content .tab-pane{
    border-left: #ddd solid 1px;
    border-bottom: #ddd solid 1px;
    border-right: #ddd solid 1px;
    padding: 10px;
    min-height: 300px;
}
#userissue-modal .userissue-list li a {
    padding: 5px 10px;
}
#userissue-modal .userissue-list li.active .help-block {
    color: white;
}
#userissue-modal .userissue-list li .list-info {
    display: none;
    font-size: 10px;
}
#userissue-modal .userissue-list li.active .list-info {
    display: block;
}

#userissue-modal .userissue-list li pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    /*word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: keep-all; /*this stops the word breaking*/
    font-family: 'Verdana', 'Helvetica', 'Arial', sans-serif;
    margin: 5px;
}
</style>
<h3><i class="fa fa-bug"></i> Feature request / bug report</h3>
<hr>
<!-- tabs left -->
<div id="userissue-modal" class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#userissue-new" data-toggle="tab">New issue</a></li>
        <li><a href="#userissue-existing" data-toggle="tab">Known user-logged issues</a></li>
        <li><a href="#userissue-other" data-toggle="tab">Other known issues</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="userissue-new">
            <form style="padding-top: 20px;" class="form-horizontal" id="userissue-form" action="/userissue" method="POST">
                {% if msg %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6 alert alert-{{ msg.status }}">{{ msg.msg }}</div>
                </div>
                {% endif %}
                <div class="form-group">
                    <label class="col-sm-3 control-label">Issue type</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <select class="form-control" name="story_type">
                                <option value="bug">I found a BUG!</option>
                                <option value="feature">I have a feature request</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Issue title</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="name" placeholder="Title/brief description of issue">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Description/details</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" name="description" placeholder="Details"></textarea>
                        <div class="help-block">
                            <b>Note:</b> some identifying information and details about your browser will be automatically logged.
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-7">
                        <a href="javascript:void(0)" tabindex="100" data-dismiss="modal"  class="btn btn-default">Cancel</a>
                        <button type="submit" tabindex="0" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="userissue-existing">
            <div class="userissue-list" id="userissue-list-known">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>
        </div>
        <div class="tab-pane" id="userissue-other">
            <div class="userissue-list" id="userissue-list-other">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>
        </div>
    </div>
</div>
<!-- /tabs -->



<script>
$(document).ready(function() {
    var $form = $("form#userissue-form");
    $form.submit(function() {
        $.ajax({
            url: $form.attr("action"),
            type: "POST",
            data: $form.serialize(),
            success: function(json_data){
                data = JSON.parse(json_data);
                $form.html($("<div class='alert alert-info'><i class='fa fa-info-circle'></i> Your <b>"+data.story_type+"</b> entitled <b>'"+data.name+"'</b> was logged successfully!</div>"));
            }
        });
        return false; // prevent normal submit
    });

    $("#userissue-modal .nav-tabs a[href='#userissue-existing']").click(function(){
        getIssueList($("#userissue-list-known"), "{{user_label}}");
    });

    $("#userissue-modal .nav-tabs a[href='#userissue-other']").click(function(){
        getIssueList($("#userissue-list-other"), "public");
    });

    function getIssueList($container, label){

        var state_msg = {
            unscheduled: {msg:"This issue has been logged, but has not yet been scheduled.", cls:"badge badge-danger", label:"Unstarted"},
            unstarted: {msg:"This issue has been logged and scheduled, but not yet started", cls:"badge badge-danger", label:"Unstarted"},
            started: {msg:"This issue is currently being worked on at the moment!", cls:"badge", label:"Started"},
            finished: {msg:"This issue has already been dealt with!", cls:"badge badge-success", label:"Resolved!"},
            delivered: {msg:"This issue has been dealt with and is marked as delivered!", cls:"badge badge-success", label:"Resolved!"},
            accepted: {msg:"This issue has been dealt with and is marked as accepted!", cls:"badge badge-success", label:"Resolved!"},
            rejected: {msg:"This issue has been rejected", cls:"badge badge-danger", label:"Rejected!"}
        };
        $container.html('<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>');
        //$.getJSON('/userissue?filter=label:"'+label+'" and (state:unscheduled or state:unstarted)', function(data){
        $.getJSON('/userissue?filter=label:"'+label+'"', function(data){
            //console.log(data);
            var $issue_list = $('<ul class="nav nav-pills nav-stacked"></ul>');
            $(data).each(function(i,el){
                var img = (el.story_type === "bug")
                        ? "/static/images/icons/bug.png"
                        : "/static/images/icons/feature.png";
                var labels = "";
                var state = el.current_state;
                var description = (el.description) ? el.description.replace(/^USER: .*$/m, 'USER: (hidden)') : "";
                $issue_list.append("<li><a data-toggle='tab' href='#'><b class='badge'><img height='12' src='"+img+"'/> "+el.story_type+"</b> "+el.name +labels+" <div class='help-block'><span class='"+state_msg[state].cls+"'>"+state_msg[state].label+"</span> "+state_msg[state].msg+"</div><pre class='list-info'>"+description+"</pre><div class='list-info'>LOGGED: "+el.created_at+"</div></a></li>");
            });
            $container.html($issue_list);
        });
    }
});
</script>