{% extends "layout.html" %}
{% block css %}
{% endblock %}

{% block page_subtitle %} WIKI{% endblock %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}

{% block content %}

<div class="body-content" style="min-height: 500px">
<div class="row">

  <!-- Navigation Buttons -->
  <div class="col-md-3">
{#  <div class="affix">#}
      <h4><a href="/wiki"><i class="fa fa-question-circle"></i> USER MANUAL / WIKI</a></h4>
    <ul class="nav nav-pills nav-stacked" id="myTabs">
        {% for sec in toc %}
            <li>
                <a href="javascript:void(0)" ><b>{{ sec.name }}</b></a>
                <ul class="nav nav-pills nav-stacked" style="margin-left: 10px; margin-right: 10px">
                    {% for p in sec.documents %}
                        <li class="doc_item"><a href="#" class="doc_link" title="{{ p.section }}: {{ p.name }}" data-document="{{ p.document }}">{{ p.name }}</a></li>
                    {% endfor %}
                </ul>
              </li>
        {% endfor %}
    </ul>
{#  </div>#}
{#    <pre>{{ toc|as_json }}</pre>#}
  </div>

  <!-- Content -->
  <div class="col-md-9">
    <div class="tab-content">
      <div id="wiki_content" class="wiki-content">
          <h1>Welcome to the {{ config.PROJECT_NAME }} manual / wiki</h1>
          <p>This page contains various topics and instructions that explain how to use the platform's tools.
              Click some of the help topics on the left. If you'd like to contribute, or improve the manual pages,
              please checkout the wiki <a href="https://bitbucket.org/ariell/sqwiki" target="_blank">git repo.</a></p>
      </div>
    </div>
  </div>

</div>
<p>&nbsp;</p>
{#<pre>{{ toc | as_json }}</pre>#}

</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        var document = "{{ document or "" }}".replace(/\.md$/, '');  // get rid of .md extension if present
        var $wiki_content = $("#wiki_content");
        var $doc_links = $("a.doc_link");
        var $doc_items = $("li.doc_item");

        $doc_links.click(function(e){
            var $link = $(this);
            if ($link.data("document")) {
                var url = "/wiki/" + $link.data("document");
                load_wiki_doc($link.data("document"));
                window.history.pushState({document: $link.data("document")}, "WIKI: " + $link.attr("title"), url);
                e.preventDefault();
            }
        });

        window.addEventListener('popstate', function(event){
            // enable back-forward buttons to work
            try {
                var document = event.state.document;
                load_wiki_doc(document);
            }
            catch (err) {
                //window.location.href = "/wiki"
            }
        });

        function load_wiki_doc(document) {
            $doc_items.filter(".active").removeClass('active');
            doc_modal.wiki(document, {$container: $wiki_content});
            $doc_links.filter("[data-document='" + document + "']").parents("li.doc_item").addClass("active");
        }

        if (document) load_wiki_doc(document);  // load page

    });
</script>
{% endblock %}

<pre>{{ toc | as_json }}</pre>


