.annotate-media-container #media-container {
    position: relative;
    padding-right: 3px;  /*add some padding for mouse events*/
}


.annotate-media-container #media-container.drawing-polygon {
    cursor: crosshair;
}
.annotate-media-container #media-container.drawing-polygon svg.annotation-point circle {
    display: none;
}
.annotate-media-container #media-container.drawing-polygon svg.annotation-point {
    pointer-events: none;
}


/* POINT LABELS */
.annotate-media-container #media-container svg.annotation-point {
    position: absolute;
    height: 24px;
    width: 24px;
    margin: -12px;
    -webkit-filter: drop-shadow( 0 0 4px black );
    filter: drop-shadow( 0 0 4px black );
    cursor: pointer; cursor: hand;
    overflow: visible;
}

.annotate-media-container svg.annotation-point text.point-icon {
    font-family: FontAwesome;
    fill: red;
    stroke:white;
    text-anchor: middle;
}

.annotate-media-container svg.annotation-point text.point-icon .point-icon-flash{
    animation: blink-fill 1.0s infinite;
}

.annotate-media-container #media-container svg.frame-poly {
    position: absolute;
    height: 1px;
    width: 1px;
    /*margin: -12px;*/
    top: 0;
    left: 0;
    overflow: visible;
}


.annotate-media-container #media-container svg.annotation-point circle {
    fill: #ccc;
    stroke: white;
    stroke-width:1;
    transform-origin: 12px 12px;
    -webkit-transform-origin: 12px 12px;   /*Chrome*/
    transform: scale(1,1);
    -webkit-transform: scale(1, 1);     /*Chrome*/
    cx: 12;
    cy: 12;
    r: 7;
}

.annotate-media-container #media-container svg.annotation-point.unlabeled {
    -webkit-filter: drop-shadow( 0 0 7px white);
    filter: drop-shadow( 0 0 7px white );
}
.annotate-media-container #media-container svg.annotation-point.unlabeled circle {
    stroke: white;
    stroke-width:4;
    fill-opacity: 0.8;
}
.annotate-media-container #media-container svg.annotation-point.unlabeled.suggestion {
    /*optional extra styling for unlabeled point with suggestion*/
    /*-webkit-filter: drop-shadow( 0 0 10px yellow);*/
    /*filter: drop-shadow( 0 0 10px yellow );*/
}
.annotate-media-container #media-container svg.annotation-point.unlabeled.suggestion circle {
    /*optional extra styling for unlabeled point with suggestion*/
    /*stroke: yellow;*/
    fill-opacity: 1.0;
}
.annotate-media-container #media-container svg.annotation-point:hover {
    -webkit-filter: none;
    filter: none;
}
.annotate-media-container #media-container svg.annotation-point:hover circle{
    fill-opacity: 0;
    stroke-width:1;
    /*r: 9;*/
    transform: scale(1.3,1.3);
    -webkit-transform: scale(1.3, 1.3);     /*Chrome*/

}
.annotate-media-container #media-container svg.annotation-point.selected {
    -webkit-filter: drop-shadow( 0 0 8px black );
    filter: drop-shadow( 0 0 8px black );
}
.annotate-media-container #media-container svg.annotation-point.selected circle {
    stroke-width:2;
    transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5, 1.5);     /*Chrome*/
    /*r: 11;*/
    fill: black !important;
    stroke: white;
    fill-opacity: 0.6 !important;  /* override hover */
}


/* WHOLE-FRAME MEDIA LABELS */
.annotate-media-container #media-labels svg.annotation-point {
    position: relative;
    height: 24px;
    width: 24px;
    /*-webkit-filter: drop-shadow( 0 0 4px black );*/
    /*filter: drop-shadow( 0 0 4px black );*/
    cursor: pointer; cursor: hand;
    margin: 0 2px -2px 0;
}
.annotate-media-container #media-labels svg.annotation-point rect {
    fill: #ccc;
    stroke: white;
    stroke-width:1;
    transform-origin: 10px 10px;
    -webkit-transform-origin: 10px 10px;   /*Chrome*/
    transform: scale(1,1);
    -webkit-transform: scale(1, 1);     /*Chrome*/
}
.annotate-media-container #media-labels svg.annotation-point.unlabeled {
    /*-webkit-filter: drop-shadow( 0 0 7px white);*/
    /*filter: drop-shadow( 0 0 7px white );*/
}
.annotate-media-container #media-labels svg.annotation-point.unlabeled rect {
    stroke: white;
    stroke-width:4;
    fill-opacity: 0.8;
}
.annotate-media-container #media-labels svg.annotation-point.unlabeled.suggestion rect {
    /*optional extra styling for unlabeled point with suggestion*/
    /*stroke: #c3ffc2;*/
}
.annotate-media-container #media-labels svg.annotation-point:hover {
    -webkit-filter: none;
    filter: none;
}
.annotate-media-container #media-labels svg.annotation-point:hover rect{
    fill-opacity: 0.5;
    stroke-width:1;
    /*r: 9;*/
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2, 1.2);     /*Chrome*/

}
.annotate-media-container #media-labels svg.annotation-point.selected {
    /*-webkit-filter: drop-shadow( 0 0 8px white );*/
    /*filter: drop-shadow( 0 0 8px white );*/
}
.annotate-media-container #media-labels svg.annotation-point.selected rect {
    stroke-width:3;
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1, 1.1);     /*Chrome*/
    /*r: 11;*/
    fill: black !important;
    stroke: white;
    /*stroke-width:2;*/
    fill-opacity: 1 !important;  /* override hover */
}

.annotate-media-container #media-container svg.annotation-point polygon.point-poly,
.annotate-media-container #media-container svg.frame-poly polygon.point-poly {
    pointer-events: none; /*stroke;*/
    fill-opacity:0;
    stroke:white;
    stroke-width:2;
    stroke-opacity:0.7;
    cursor: pointer; cursor: hand;
    /*margin: -12px;  !* to match point margin and ensure it ends up in the right place *!*/
}
.annotate-media-container #media-container svg.annotation-point:hover polygon.point-poly {
    stroke-width:2;
    stroke-opacity:1;
}
.annotate-media-container #media-container svg.annotation-point.selected polygon.point-poly {
    stroke-width:3;
    stroke-opacity:1;
}


/*#media-container svg.annotation-point.selected circle,*/
/*#media-labels svg.annotation-media-label.selected rect {*/
    /*animation-name: blink-point;*/
    /*animation-duration: 1.5s;*/
    /*animation-iteration-count: infinite;*/
/*}*/

/*@keyframes blink-point {*/
    /*0% { stroke-opacity: 1.0;}*/
    /*20% { stroke-opacity: 0.8;}*/
    /*40% { stroke-opacity: 0.4;}*/
    /*60% { stroke-opacity: 0.2;}*/
    /*80% { stroke-opacity: 0.4;}*/
    /*100% { stroke-opacity: 0.8;}*/
/*}*/





/* OTHER STUFF */
.annotate-media-container #media-container .drawnBox {
    border: 1px solid #222;
    background: #e1e1e1;
    opacity: 0.5;
    position: absolute;
    z-index: 3000;
    top: 0;
    left: 0;
}


.annotate-media-container  .well {
    color: #333;
}

.annotate-media-container  .magical-suggestions {
    margin: 3px 0 0 0;
    max-height: 200px;
    overflow-y: auto;
    padding: 3px;
    background-color: #3d3d3d;
    border: 1px solid #4a4a4a;
}
.annotate-media-container  .magical-suggestions a {
    color: white;
}
.annotate-media-container  .magical-suggestions a:hover {
    text-decoration: none;
    font-weight: bold;
}
.annotate-media-container  .magical-suggestions .badge {
    font-size: 9px;
    background-color: #6b6b6b;
}
.annotate-media-container  .help-text {
    color: #717171;
    font-size: 10px;
}

.annotate-media-container {
    background-color: #2b2b2b;
    font-size: 12px;
}
.annotate-media-container nav {
    margin-bottom: 0;
}
.annotate-media-container .zoombox {
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
    text-shadow: 0 0 5px #000000;
    text-align: center;
    position: relative;
    border: 1px solid #ccc;
    margin-top: 10px;
    image-orientation: none;
}
.annotate-media-container .zoombox svg.annotation-point {
    position: absolute;
    height: 24px;
    width: 24px;
    margin: -12px;
    -webkit-filter: drop-shadow( 0 0 4px black );
    filter: drop-shadow( 0 0 4px black );
    cursor: pointer; cursor: hand;
}
.annotate-media-container .zoombox .zoomctl {
    display: block;
    padding: 5px;
    text-align: left;
}
.annotate-media-container .zoombox .zoomctl .sliders {
    display: none;
}
.annotate-media-container .zoombox .zoomctl .zoomtools {
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    display: none;
    /*padding-left: 30px;*/
}
.annotate-media-container .zoombox .zoomctl .zoomtools-toggle {
    background-color: rgba(0,0,0,0.3);
    color: white;
    padding: 2px;
    display: inline-block;
    width: 25px;
    text-align: center;
    position: absolute;
    top: 5px; left: 5px;
}
.annotate-media-container .zoombox .zoomctl:hover .zoomtools {
    display: block;
}

.annotate-media-container .zoombox svg.annotation-point {
    position: absolute;
    height: 24px;
    width: 24px;
    -webkit-filter: drop-shadow( 0 0 4px black );
    filter: drop-shadow( 0 0 4px black );
    left: 50%;
    margin-left: -12px;
    top: 50%;
    margin-top: -12px;
}

.annotate-media-container .zoombox svg.annotation-point circle {
    fill: none;
    stroke: white;
    stroke-width:1;
    cx: 12;
    cy: 12;
    r: 10;
}
.annotate-media-container .zoombox.blink-point svg.annotation-point circle {
    animation-name: blink-stroke;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.annotate-media-container #media-info table {
    color: white;
}
.annotate-media-container #media-info {
    font-size: 12px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
}
@keyframes blink-stroke {
    0% { stroke-opacity: 1.0; }
    50% { stroke-opacity: 0.0; }
    100% { stroke-opacity: 0.0; }
}
@keyframes blink-fill {
  100%,
  0% {
    fill-opacity: 0.0;
    stroke-opacity: 0.4;
  }
  60% {
    fill-opacity: 1.0;
    stroke-opacity: 1.0;
  }
}

.annotate-media-container label.media-tool {
    display: block;
    width: 100%;
}
.annotate-media-container label.media-tool input[type='range'] {
    /*float: right;*/
    width: 100%;
}


.annotate-media-container .ctl-container {width: 350px;}
.annotate-media-container .media-container {right: 350px;}


#tag-scheme-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.annotate-media-container  #tag-scheme-container #label-list {
    flex-grow: 1;
    height: 100%;
}

#tag-scheme-container .quick-label-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 37px;
    background: #4c4c4c;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
#tag-scheme-container .quick-label-list .ul-container {
    display: flex;
    flex-direction: column;
    max-height: 350px;
}

#tag-scheme-container .quick-label-list select {
    color: #333;
}


.annotate-media-container #tag-scheme-container #label-list a.label-link {
    color: #cccccc !important;
}

.annotate-media-container #media-container {
    text-align: left;
    vertical-align: top;
    margin: 0 0 0 5px;
    border-left: 1px solid rgba(255,255,255,0.1)
}
/*
.annotate-media-container .ctl-mini-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    margin: 0;
    text-align: center;
}

.annotate-media-container .ctl-mini-container h2 {
    font-size: 18px;
    color: #999;
    text-align: center;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    padding: 5px 0;
    margin: 5px 0 5px 0;
}

.annotate-media-container .ctl-mini-container .ctl-btn {
    color: white;
    font-size: 18px;
    text-align: center;
    display: block;
    width: 100%;
    border-top: solid 1px rgba(255,255,255,0.1);
    padding: 10px 0;
}
*/
.annotate-media-container #media-labels {
    /*
    height: 30px;
    margin-top: 0px;
    width: 100%;
    padding-left: 1px;
    */
}
.annotate-media-container #media-labels-container .ctl-btn {
    font-size: 18px;
}

.annotate-media-container .ctl-settings input[type='text'] {
    background-color: #ccc;
}
.annotate-media-container .ctl-settings input[type='text']:focus {
    background-color: #fff;

}

.annotate-media-container #annotate_parameters label {
    display: block;
}

.annotate-media-container #media-labels-container h2 {
    display: inline-block;
    font-size: 9px;
    text-align: right;
    border-right: 1px solid rgba(255,255,255,0.2);
    margin: 0 5px 0 0;
    padding: 0 5px 0 0;
}

#annotate-exemplar .annotate-media-container #media-container {
    border: solid 5px #43ac6a;
}
#annotate-exemplar .annotate-media-container .ctl-container {
    border: solid 5px #43ac6a;
    border-left: 0;
}

.annotate-media-container .popover-content .popover-close {
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
}
.annotate-media-container .popover-content:hover .popover-close {
    display: inline;
}
.annotate-media-container .popover-content .label-thumbnail img {
    height: 80px;
}