.leaflet-container .marker-cluster {
    background-color: rgba(0,0,0,0.7);
}
.leaflet-container .marker-cluster span {
    text-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff;
}
.leaflet-container {
    min-height: 500px;
}
.leaflet-container #progress {
    display: none;
    position:absolute;
    bottom: 20px;
    left:20px;
    z-index: 1000;
    width: 300px;
    height: 10px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2px;
}
.leaflet-container #progress-bar {
    width: 0;
    height: 100%;
    background-color: #76A6FC;
    border-radius: 4px;
}