
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.marker-campaign {
    background-clip: padding-box;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.7);
    z-index: 600 !important;
}
.marker-campaign div {
    width: 36px;
    height: 36px;
    margin-left: 2px;
    margin-top: 2px;
    text-align: center;
    border-radius: 18px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff;
    color: #000;
    opacity: 0.8;
}
.marker-campaign div span {
    line-height: 36px;
}
.marker-deployment {
    background-clip: padding-box;
    border-radius: 12px;
    background-color: rgba(0,0,0,0.7);
    z-index: 700 !important;
}
.marker-deployment div {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-top: 2px;
    text-align: center;
    border-radius: 10px;
    font: 10px "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-shadow: 0 0 0.2em #000, 0 0 0.2em #000;
    color: #fff;
}
.marker-deployment div span {
    line-height: 20px;
}
.marker-cluster-campaign {
    border-radius: 25px;
}
.marker-cluster-campaign div {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 20px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff;
    color: #000;
    opacity: 0.8;
}
.marker-cluster-campaign div span {
    line-height: 40px;
}

#progress {
    display: none;
    position:absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    color: #000000;
    /*width: 300px;*/
    /*height: 10px;*/
    /*background-color: #fff;*/
    /*background-color: rgba(255, 255, 255, 0.7);*/
    /*border-radius: 4px;*/
    /*padding: 2px;*/
}


.filters {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.map-filters {
    min-width: 230px;
    max-width: 230px;
    width: 230px;
}
.filters h4 {
    padding: 0 0 5px;
    margin: 0 0 5px;
    color: #777;
    border-bottom: 2px #eee solid;
}

.filter-container .map-filters>label {
    color: #989898;
    display: block;
}

.filter-container h4 a, #map-filter-form h4 a:hover {
    text-decoration: none;
}

.filter-container ul.multiselect-container li>a {
    padding: 0;
}

ul.map-popup-ul {
    padding-left: 15px;
    max-height: 150px;
    overflow: auto;
}

.filter-list-popout {
    min-height: 100px;
    max-height: 400px;
    overflow-y: auto;
    width: 300px;
    position: absolute;
    left: -300px;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    border-radius: 5px;
    color: #333;
    display: none;
}

.filter-list-popout ul.filter-list {
    list-style-type: none;
    white-space: nowrap;
    overflow-x: auto;
    padding: 0;
    font-size: 9px;
}

ul.filter-selection {
    max-height: 100px;
    overflow-y: auto;
    white-space: nowrap;
    font-size: 10px;
    list-style: none;
    padding: 0;
}

ul.filter-selection li {
    background-color: #007196;
    color: white;
    border-radius: 5px;
    display: inline;
    float: left;
    padding: 0 3px;
}
ul.filter-selection li a, ul.filter-selection li a:hover {
    color: white;
}

.filter-container.filters-collapse .map-filters {
    display:none;
}

.filter-container .filters-collapse-show {
    display: none;
}

.filter-container.filters-collapse .filters-collapse-show {
    display: block;
}

/*
    Filters
*/
.filter-options label i {
    color: #a8a8a8;
}
.filter-options label i:hover {
    color: #333;
}
.filter-popoutlist .filter-list {
    margin-bottom: 0;
    padding: 9px;
    border-radius: 0;
    min-height: 20px;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);

    width: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    margin-left: -400px;
    z-index: 1001;
    display: none;
    overflow-y: scroll;
    opacity: 0.95;
}
.filter-popoutlist .filter-list .campaign-deployment-list ul.deployment-ul {
    list-style: none;
    padding-left: 10px;
    font-size: 11px;
    white-space: nowrap;
}
.filter-popoutlist .filter-list .campaign-deployment-list {
    list-style: none;
    padding-left: 0;
}
.filter-popoutlist .filter-list .campaign-deployment-list>li {
    font-size: 12px;
    margin-top: 5px;
    /*margin-bottom: 5px;*/
}
.filter-popoutlist .filter-list .campaign-deployment-list>li a {
    text-decoration: none;
    color: #333;
}
/*.filter-popoutlist .filter-list .campaign-deployment-list>li>a.cmp-map-link:before {*/
    /*content: "\f0c8";*/
    /*font-family: "FontAwesome";*/
/*}*/
.filter-popoutlist .filter-list .campaign-deployment-list .deployment-info {
    color: #9c9c9c;
    font-size: 9px;
    text-align: right;
    float: right;
}
.filter-popoutlist .filter-list .campaign-deployment-list ul.deployment-ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}
.filter-popoutlist .filter-list .campaign-deployment-list ul.deployment-ul li a:hover {
    text-decoration: none;
    color: #616161;
    background-color: #eee;
}
.filter-popoutlist .filter-list .campaign-deployment-list ul.deployment-ul li.active a {
    font-weight: bold;
    background-color: #eee;
}
.filter-info {
    /*text-align: right;*/
    max-height: 100px;
    overflow-y: auto;
    font-size: 10px;
}
.filter-info .badge {
    max-width: 50%;
    padding-right: 17px;
    font-size: 10px;
}
.filter-info .badge .filter-info-text {
    width: 100%;
    overflow: hidden;
    display: inline-block;
}
.filter-info .badge a.clear-filter {
    color: #ffffff;
    /*text-shadow: 0 0 3px #000;*/
    float: right;
    margin-right: -12px
}
.filter-info .badge a.clear-filter:hover {
    color: #000;
}




/* Leaflet map */
.leaflet-popup-content h1 {
    font-size: 16px;
}

.leaflet-overlay-pane {
    z-index: 650;
}

.leaflet-marker-pane {
    z-index: 600;
}

.map-deployment-info-popup h2 {
    font-size: 1.2em;
    font-weight: normal;
    margin-top: 0;
}
.map-deployment-info-popup {
    /*min-width: 286px;*/
    width: 100%;
    overflow-x: hidden;
}

.map-campaign-info-popup h2 {
    font-size: 1.2em;
    font-weight: normal;
    margin-top: 0;
}
.map-campaign-info-popup {
    /*min-width: 286px;*/
    width: 100%;
    overflow-x: hidden;
}
