.media-thm {
    /*width:150px;*/
    height: 115px;
    border: 1px solid white;
}
.media-thm-link {
    border: 1px solid white;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.media-thm-link.active {
    border-color: #000;
}
.media-thm:hover {
}
.media-list {
    text-align: center;
    font-size: 0;
}
.popover {
    max-width: 320px;
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0px 0px 5px #fff;
}

.btn-media-list, .btn-media-list:link {
    margin: 0 10px;
    text-decoration: none;
}

.media-list .media-thm-link .media-thm-info {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 10px;
    color: white;
    font-weight: bold;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}


.label-thumbnail-container .label-thumbnail-list {
    margin-bottom: 10px;
    font-size: 0;
}
.label-thumbnail-container .label-thumbnail-list .label-thumbnail {
    border: 5px solid;
    margin: 3px;
    padding: 0;
    display: inline-block;
    position: relative;
}
.label-thumbnail-container .label-thumbnail-list .label-thumbnail img {
    height:150px;
    border: 0;
}

.label-thumbnail-container .label-thumbnail-list .label-thumbnail .thumbnail-tools {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 18px;
    color: #d2d2d2;
    -webkit-filter: drop-shadow(0 0 4px black);
    filter: drop-shadow(0 0 4px black);
}
.label-thumbnail-container .label-thumbnail-list .label-thumbnail .thumbnail-tools .thm-ctl{
    display: none;
}
.label-thumbnail-container .label-thumbnail-list .label-thumbnail:hover .thumbnail-tools .thm-ctl{
    display: inline-block;
}
.label-thumbnail-container .label-thumbnail-list .label-thumbnail .thumbnail-tools .thm-ctl:hover{
    color: white;
}

.label-thumbnail-container .label-thumbnail-list .label-thumbnail:hover,
.label-thumbnail-container .label-thumbnail-list .label-thumbnail.selected {
    border: 7px solid;
    margin: 1px;
    padding: 0;
}
.label-thumbnail-container .label-thumbnail-list .label-thumbnail .select-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    font-size: 18px;
    color: #07ff00;
    -webkit-filter: drop-shadow(0 0 4px black);
    filter: drop-shadow(0 0 4px black);
}
.label-thumbnail-container .label-thumbnail-list .label-thumbnail.selected .select-icon {
    display: inline-block;
}
.label-thumbnail-container .label-thumbnail-list .magnify-large {
    z-index: 9999;
    width: 300px;
    height: 300px;
}
