{% extends "layout.html" %}
{% block content %}

<h3><i class="fa fa-key"></i> Reset password</h3>
<hr>
{% if msg %}
<div class="alert alert-{{ msg.status }}">{{ msg.msg }}</div>
{% endif %}
<form id="reset_password_token" method="POST" class="form-horizontal" action="/api/users/reset_password/{{ token }}">
{#  {{ form.hidden_tag() }}#}
    <div  style="padding: 80px 0;">
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6 help-block">
            Enter a new password in the fields below to reset your password.
            </div>
        </div>

        <div class="form-group">
            <label for="reset-password" class="col-sm-3 control-label">New password</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="col-sm-3">
                <input type="password" class="form-control" name="retyped_password" placeholder="Retype password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" class="btn btn-primary">Reset password</button>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function(){
        var $form = $("#reset_password_token");

        $form.submit(function(e){
            var data = $form.serializeObject();
            if (!data.retyped_password.trim()) notify.error("Enter a new password.");
            else if (data.retyped_password !== data.password) notify.error("Password do not match.");
            else ajax.post($form.attr("action"), JSON.stringify(data)).done(function (data) {
                console.debug(data);
                window.location.href = "/";
            });
            e.preventDefault();
        });
    });
</script>
{% endblock %}
