<header class="panel-heading">
    <h2 class="panel-title">New Deployment</h2>
    <p class="help-block">
        All captured frames need to be saved to a deployment record. This is different to the media collection, which
        is a subset of media selected for analysis.
    </p>
</header>
<div class="panel-body">

    <form id="new-deployment-form" role="form" onsubmit="return false;" target="/api/deployment">

        <input type="hidden" name="user_id" value="{{ current_user.id }}">

        <div class="form-group">
            <label>Deployment name</label>
            <input name="name" type="text" class="form-control" placeholder="Deployment name">
            <div class="help-block">
                Synonyms: Deployment / Dive / Lowering / Transect
            </div>
        </div>

        {% if not args.campaign_id %}
        <div class="input-group">
            <select class="form-control" name="campaign_id" id="new-deployment-campaign">
                <option>Select a Campaign</option>
            </select>
            <span class="input-group-btn">
                <button id="new-campaign-btn" type="button" title="New Campaign" class="btn btn-primary"><i class="fa fa-plus"></i></button>
            </span>
        </div>
        {% else %}
        <input type="hidden" name="campaign_id" value="{{ args.campaign_id }}">
        {% endif %}
        {% if not args.platform_id %}
        <div class="input-group">
            <select class="form-control" name="platform_id" id="new-campaign-platform">
                <option>Select a Platform</option>
            </select>
            <span class="input-group-btn">
                <button id="new-platform-btn" type="button" title="New Campaign" class="btn btn-primary"><i class="fa fa-plus"></i></button>
            </span>
        </div>
        {% else %}
        <input type="hidden" name="platform_id" value="{{ args.platform_id }}">
        {% endif %}


        <div class="form-group">
            <label>Platform Datasource
            </label>
            <div class="input-group">
                <select class="form-control" name="datasource_id" id="new-deployment-datasource_id">
                    <option value="">Select a Datasource</option>
                </select>
                <span class="input-group-btn">
                    <button id="new-datasource-btn" type="button" title="New Datasource" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                </span>
            </div>

            <div class="help-block">
                Defines the data storage properties for this Platform/Deployment
            </div>
        </div>
        <br><br>
        <button type="submit" class="btn btn-success form-control"><i class="fa fa-plus-circle"></i> CREATE DEPLOYMENT</button>

    </form>
</div>

<script>
    $(document).ready(function(){

        var $form = $("form#new-deployment-form");
        var $platform_id = $form.find("[name='platform_id']");
        var $datasource_select = $form.find("select[name='datasource_id']");
        var $new_datasource_btn = $form.find("#new-datasource-btn");

        {% if not args.campaign_id %}
        var $campaign_select = $form.find("select#new-deployment-campaign");
        var $new_campaign_btn = $form.find("#new-campaign-btn");

        update_campaigns($campaign_select);

        $new_campaign_btn.click(function(){
            open_modal('/ui/models/campaign/create.html', {modal_class:'modal-sm',
                oncompleted: function(data){
                    update_campaigns($campaign_select, data.id);
                }
            });
        });

        function update_campaigns($select, id) {
            $select.html("<option>Select a Campaign</option>");
            $.getJSON('/api/campaign?q={"order_by":[{"field":"created_at","direction":"desc"}]}&results_per_page=200', function(data){
                $(data.objects).each(function(i,c){
                    //$select.append("<option value='"+c.id+"'>"+c.platform.name+" | "+c.name+"</option>");
                    var selected = (c.id==id) ? "selected" : "";
                    $select.append("<option value='"+c.id+"' "+selected+">"+c.name+"</option>");
                });
            });
        }
        {% endif %}

        {% if not args.platform_id %}
        var $platform_select = $form.find("select#new-campaign-platform");
        var $new_platform_btn = $form.find("#new-platform-btn");

        update_platforms($platform_select);

        $platform_select.change(function (){
            update_datasouces($datasource_select, null, $(this).val());
        });

        $new_platform_btn.click(function(){
            open_modal('/ui/models/platform/create.html', {modal_class:'modal-sm',
                oncompleted: function(data){
                    update_platforms($platform_select, data.id);
                }});
        });

        function update_platforms($select, id) {
            $select.html("<option>Select a Platform</option>");
            $.getJSON('/api/platform?q={"order_by":[{"field":"created_at","direction":"desc"}]}&results_per_page=200', function(data){
                $(data.objects).each(function(i,c){
                    var selected = (c.id==id) ? "selected" : "";
                    $select.append("<option value='"+c.id+"' "+selected+">"+c.name+"</option>");
                });
            });
        }
        {% endif %}

        update_datasouces($datasource_select, null, $platform_id.val());

        $new_datasource_btn.click(function(){
            open_modal("/ui/models/datasource/edit.html?platform_id="+$platform_id.val(), {modal_class:'modal-lg modal-dark',
                oncompleted:function(data){
                    console.debug(data);
                    update_datasouces($datasource_select, data.id, $platform_id.val());
                }
            });
        });

        function update_datasouces($select, id, platform_id) {
            $select.html("");
            $.getJSON('/api/datasource?q={"filters":[{"name":"platform_id","op":"eq", "val": '+platform_id+'}]}', function(data){
                $(data.objects).each(function(i,c){
                    var selected = (c.id===id) ? "selected" : "";
                    $select.append("<option value='"+c.id+"' "+selected+">"+c.name+"</option>");
                });
            });
        }

        $form.submit(function(e){
            e.preventDefault();
            var $modal = $form.parents(".modal");
            var params = {
                name: $form.find("[name='name']").val(),
                campaign_id: $form.find("[name='campaign_id']").val(),
                platform_id: $form.find("[name='platform_id']").val(),
                user_id: $form.find("[name='user_id']").val(),
                datasource_id: $form.find("[name='datasource_id']").val()
            };
            params.key = params.name.replace(/[^a-z0-9]/gi, '_').toLowerCase();

            var url = $form.attr("target");
            $.ajax({
                url: url,
                type: 'post',
                data: JSON.stringify(params),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    if (data.hasOwnProperty("id"))
                        notify.success("The Deployment was successfully created.");
                    else if (data.hasOwnProperty("message"))
                        notify.danger(data.message);
                    else
                        notify.danger(data);
                    //$modal.modal("hide");
                }
            }).done(function(data, textstat, jqxhr){
                console.log("SUCCESS! "+ url, data);
                $modal.trigger("completed", data);
            }).fail(function(jqxhr, textstat, err){
                console.log("ERROR! could not send command: "+ url, jqxhr);
                notify.error("ERROR! "+jqxhr.responseText);
            });

            return false;
        });
    });
</script>