<div class="table-responsive">
    <h2><i class="fa fa-map-marker fa-fw"></i> INFORMATION</h2>
    <table class="table table-condensed">
{#        <thead>#}
{#        <tr><th colspan="3"><i class="fa fa-info-circle fa-fw"></i> DEPLOYMENT INFO</th> </tr>#}
{#        </thead>#}
        <tbody id="dpl-info-tbody">
        <tr>
            <td><b>Campaign:</b></td>
            <td><span title="{{data.campaign.name}}">{{data.campaign.name}}</span></td>
            <td><small>[ID:{{data.campaign.id}}]</small></td>
        </tr>
        <tr>
            <td><b>Platform:</b></td>
            <td>{{data.platform.name}}</td>
            <td><small>[ID:{{data.platform.id}}]</small></td>
        </tr>
        <tr>
            <td><b>Deployment:</b></td>
            <td style="max-width: 160px;overflow-wrap: break-word;"><span title="{{data.name}}" >{{data.name}}</span></td>
            <td><small>[ID:{{data.id}}]</small></td>
        </tr>
        {% if data.description %}
            <td><b>Description:</b></td>
            <td colspan="2">{{data.description}}</td>
        {% endif %}
        </tbody>
    </table>
</div>