<div class="table-responsive">
    <h2><i class="fa fa-info-circle fa-fw"></i> DATA</h2>
    <table class="table table-condensed">
        <tbody id="dpl-info-tbody">
        <tr>
            <td><i class="fa fa-picture-o fa-fw" title="# media / poses"></i></td>
            <td>{{ data.media_count|humanize('intcomma') }} media items / {{ data.pose_stats.pose_count|humanize('intcomma') }} poses</td>
        </tr>
        <tr>
            <td><i class="fa fa-calendar fa-fw" title="Date-time span"></i></td>
            <td><b>from:</b> {{ data.pose_stats.ts_min }} <br><b>to:</b> {{ data.pose_stats.ts_max }} (UTC)</td>
        </tr>
        {% if data.pose_stats.ts_max and data.pose_stats.ts_min %}
        <tr>
            <td><i class="fa fa-clock-o fa-fw" title="Duration"></i></td>
            <td>{{ (data.pose_stats.ts_max - data.pose_stats.ts_min) }} duration</td>
        </tr>
        {% endif %}
        <tr>
            <td><i class="fa fa-tag fa-fw" title="Annotations"></i></td>
            <td>{{ data.total_annotation_count|humanize('intcomma') }} annotations ({{ data.public_annotation_count|humanize('intcomma') }} public)</td>
        </tr>
        </tbody>
    </table>
</div>