{% if data.features %}
<div class="table-responsive">
{#    <small class="pull-right">credit: <a target="_blank" href="https://geospatial.tnc.org/datasets/ed2be4cf8b7a451f84fd093c2e7660e3_0">The Nature Conservancy</a></small>#}
    <h2><i class="fa fa-globe fa-fw"></i> ECOREGION</h2>
    <table class="table table-condensed">
{#        <thead><tr>#}
{#            <th><i class="fa fa-globe fa-fw"></i>ECOREGION</th><th><small class="pull-right">credit: <a target="_blank" href="https://geospatial.tnc.org/datasets/ed2be4cf8b7a451f84fd093c2e7660e3_0">The Nature Conservancy</a></small></th>#}
{#        </tr></thead>#}
        <tbody>
            {% for f in data.features %}
                {% for k, v in f.attributes.items() %}
                    <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
