<div class="table-responsive">
    <h2><i class="fa fa-bar-chart fa-fw"></i> POSE STATS</h2>
    <table class="table table-condensed">
    <thead>
      <tr>
        <th>Stat</th>
        <th>min</th>
        <th>max</th>
        <th>avg</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Alt</td>
        <td>{{ "%.2f"|format(data.alt_min) if data.alt_min != None else "-" }}</td>
        <td>{{ "%.2f"|format(data.alt_max) if data.alt_max != None else "-" }}</td>
        <td>{{ "%.2f"|format(data.alt_avg) if data.alt_avg != None else "-" }}</td>
      </tr>
      <tr>
        <td>Dep</td>
        <td>{{ "%.2f"|format(data.dep_min) if data.dep_min != None else "-" }}</td>
        <td>{{ "%.2f"|format(data.dep_max) if data.dep_max != None else "-" }}</td>
        <td>{{ "%.2f"|format(data.dep_avg) if data.dep_avg != None else "-" }}</td>
      </tr>
      <tr>
        <td>Lat</td>
        <td>{{ "%.6f"|format(data.lat_min) if data.lat_min != None else "-" }}</td>
        <td>{{ "%.6f"|format(data.lat_max) if data.lat_max != None else "-" }}</td>
        <td>{{ "%.6f"|format(data.lat_avg) if data.lat_avg != None else "-" }}</td>
      </tr>
      <tr>
        <td>Lon</td>
        <td>{{ "%.6f"|format(data.lon_min) if data.lon_min != None else "-" }}</td>
        <td>{{ "%.6f"|format(data.lon_max) if data.lon_max != None else "-" }}</td>
        <td>{{ "%.6f"|format(data.lon_avg) if data.lon_avg != None else "-" }}</td>
      </tr>
    </tbody>
    </table>
</div>