{% set _container_id = "deployment-info-"~rendered_at %}

<div id="{{ _container_id }}" class="map-deployment-info-popup">

    {% include "models/deployment/dataset_info.html" %}
    {% include "models/deployment/deployment_stats.html" %}


{#        <span title="{{data.campaign.name}}"><small class="pull-right">[ID:{{data.campaign.id}}]</small><b>Campaign:</b> {{data.campaign.name}}</span> <br>#}
{#        <small class="pull-right">[ID:{{data.platform.id}}]</small><b>Platform:</b>&nbsp;{{data.platform.name}} <br>#}
{#        <span title="{{data.name}}"><small class="pull-right">[ID:{{ data.id }}]</small><b>Deployment:</b> {{data.name}}</span><br>#}

    <div class="stats-table"></div>
    <div class="ecoregion-table"></div>
    <div class="labeltally-chart"></div>

{#    <b><i class="fa fa-picture-o fa-fw"></i></b> {{ data.media_count|humanize('intcomma') }} media items / {{ data.pose_stats.pose_count|humanize('intcomma') }} poses<br>#}
{#        {% if data.timestamp_range %}#}
{#    <b><i class="fa fa-calendar fa-fw"></i></b> {{ data.pose_stats.ts_min }} <b>to</b> {{ data.pose_stats.ts_max }} (UTC)<br>#}
{#    {% if data.pose_stats.ts_max and data.pose_stats.ts_min %}#}
{#    <b><i class="fa fa-clock-o fa-fw"></i></b> {{ data.pose_stats.ts_max - data.pose_stats.ts_min }} duration<br>#}
{#    {% endif %}#}
{#        {% endif %}#}


    <br>
    <a href="javascript:void(0)"
       data-q='{"filters":[{"name":"point","op":"has","val":{"name":"media","op":"has","val":{"name":"deployment_id","op":"eq","val":{{data.id}}}}}]}'
      {% if current_user.is_authenticated() %}
       onclick="$(this).siblings('.labeltally-chart')
            .html('<i class=\'fa fa-circle-o-notch fa-spin fa-fw\'></i>')
            .load('/api/annotation/tally/label?template=models/annotation/tally_chart_mini.html&results_per_page=10&q='+JSON.stringify($(this).data('q')))"
      {% else %}
       onclick="notify.info('You need to be logged in to view annotation tallies')"
      {% endif %}
    >
        <i class="fa fa-tags fa-fw"></i> Dominant labels for Deployment {% if not current_user.is_authenticated() %}(needs login){%endif%}
    </a><br>
    <a href="javascript:void(0)" onclick="$(this).siblings('.stats-table')
            .html('<i class=\'fa fa-circle-o-notch fa-spin fa-fw\'></i>')
            .load('/api/pose/stats?template=models/pose/get_stats_table.html&q=%7B%22filters%22%3A%5B%7B%22name%22%3A%22media%22%2C%22op%22%3A%22has%22%2C%22val%22%3A%7B%22name%22%3A%22deployment_id%22%2C%22op%22%3A%22eq%22%2C%22val%22%3A{{ data.id }}%7D%7D%5D%7D')">
        <i class="fa fa-bar-chart fa-fw"></i> Pose statistics for Deployment
    </a><br>
    <a href="javascript:void(0)" onclick="$(this).siblings('.ecoregion-table')
            .html('<i class=\'fa fa-circle-o-notch fa-spin fa-fw\'></i>')
            .load('/api/deployment/{{ data.id }}/ecoregion?template=models/deployment/ecoregion_info.html&fields=ECOREGION,PROVINCE,REALM,Lat_Zone')">
        <i class="fa fa-globe fa-fw"></i> Ecoregion Information for Deployment
    </a><br>
    <a href="javascript:void(0)" class="map-action" data-action="deployment_show_thumbs" data-id="{{ data.id }}">
        <i class="fa fa-image fa-fw"></i> Media thumbnails for Deployment
    </a><br>
    <a href="javascript:void(0)" onclick="open_modal(
        '/api/deployment/{{ data.id }}?template=models/deployment/info_modal.html',
        {modal_class:'modal-lg'}
    )">
        <i class="fa fa-external-link-square fa-fw"></i> Full deployment record
    </a><br>
{#    {% for l in data.layers %}#}
{#    <a href="javascript:void(0)" class="map-action" data-action="deployment_show_track" data-layer='{{ l | tojson }}' data-latlon='{{ data.pose | tojson }}'>#}
{#        <i class="fa fa-map-marker fa-fw"></i> Map: {{ l.name }} layer</a><br>#}
{#    {% endfor %}#}
    <br>
    <button class="btn btn-success btn-xs form-control map-action" data-action="deployment_toggle_select" data-id="{{ data.id }}">
        <i class="fa fa-plus-square-o fa-fw"></i> ADD TO / REMOVE FROM COLLECTION
    </button>

</div>