{% set _container_id = "deployment-info-modal-"~rendered_at %}
<div id="{{ _container_id }}"  class="">
<div class="row">
    <div class="col-sm-12">
        <h1>{{ config.PROJECT_NAME }} Deployment Information</h1>
        <div class="well">

        {% include "models/deployment/dataset_info.html" %}
        {% include "models/deployment/deployment_stats.html" %}

        <h2><i class="fa fa-fw fa-image"></i> RANDOM SAMPLE IMAGES</h2>
        <div class="media-preview" style="position: relative"></div>
        <div class="stats-table" style="position: relative"></div>
        <div class="ecoregion-table" style="position: relative"></div>
        <div class="labeltally-chart" style="position: relative"></div>

        </div>
    </div>
<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var q;
        load_content.html(
            //'/api/deployment/{{ data.id }}/stats?template=models/deployment/get_stats_table.html',
            '/api/pose/stats?template=models/pose/get_stats_table.html&q=%7B%22filters%22%3A%5B%7B%22name%22%3A%22media%22%2C%22op%22%3A%22has%22%2C%22val%22%3A%7B%22name%22%3A%22deployment_id%22%2C%22op%22%3A%22eq%22%2C%22val%22%3A{{ data.id }}%7D%7D%5D%7D',
            $container.find('.stats-table')
        );
        load_content.html(
            '/api/deployment/{{ data.id }}/ecoregion?template=models/deployment/ecoregion_info.html&fields=ECOREGION,PROVINCE,REALM,Lat_Zone',
            $container.find('.ecoregion-table')
        );
        q = {filters:[{name:'deployment_id',op:'eq',val:'{{ data.id }}'}],"order_by":[{"random":true}],limit:12}
        load_content.paginated_html(
            '/api/media?template=models/media/get_many.html&results_per_page=20&q='+JSON.stringify(q),
            $container.find('.media-preview'),
            function(){
                $container.find('.media-preview').find(".media-thm")
                    .click(function() {
                        dataset_modal.media.view($(this).data('media_id'));
                    }).popover();
            }
        )
        {% if current_user.is_authenticated() %}
        q={filters:[{name:"point",op:"has",val:{name:"media",op:"has",val:{name:"deployment_id",op:"eq",val:'{{data.id}}'}}}]}
        load_content.html(
            '/api/annotation/tally/label?template=models/annotation/tally_chart_mini.html&results_per_page=10&q='+JSON.stringify(q),
            $container.find('.labeltally-chart')
        );
        {% endif %}
    })
</script>
</div>
</div>