html, body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
body {
    padding-top: 45px;
}
div[role="main"] {
    height:100%;
}
.column-collapsible-container {
    height:100%;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.column-collapsible-container .row, .column {
   min-height: 100%;
   margin-left:0;
   margin-right:0;
   margin-bottom: 0;
}
.column-collapsible-container .column {
    /* overflow-y: scroll;*/
}
.column-collapsible-container .row {
    position: relative;
    min-height: 500px;
}
.column-collapsible h5 {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: bold;
    color: #585858;
}
.column-collapsible label {
    color: #7f7f7f;
}
.column-collapsible .form-group {
    margin-bottom: 5px;
}
.column:before, .column:after {
    content: "";
    display: table;
}
.column-collapsible {
}



.column-expandable {
    padding: 0;
}
.collapse-link {
    float: right;
}
.column-collapsible.collapsed {
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    padding: 0;
    overflow: hidden;
}
.column-expandable.collapsed {
    width: 100%;
    padding-right: 50px;
    position: relative;
}
.column.collapsed .collapsed-hide {
    display: none;
}
.column .collapsed-show {
    display: none;
}
.column.collapsed .collapsed-show {
    display: inherit;
}