.dataset-select-modal .object-list{
    max-height: 600px;
    min-height: 400px;
}

/*
Dataset select list
 */
.dataset-select-list {
    /*min-height: 400px;*/
    color: #000;
}

.dataset-select-list .object-list {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    margin-bottom: 5px;
}
.dataset-select-list .object-list.nav-stacked li>a{
    padding: 3px 5px;
}
/*.dataset-select-list .object-list li .object-info {*/
    /*!*display: none;*!*/
    /*padding: 0 10px 3px 10px;*/
    /*color: #3c3c3c;*/
/*}*/
.dataset-select-list .object-list li .object-ctl {
    /*display: none;*/
    float: right;
    /*font-size: 11px;*/
    color: #4b4b4b;
    margin-right: 3px;
    /*position: relative;*/
    background-color: #e8e8e8;
    padding: 0 2px;
    border-radius: 4px;
}
.dataset-select-list .object-list li .object-ctl i {
    cursor: pointer;
    cursor: hand;
    margin: 2px;
}
/*.dataset-select-list .object-list li.active .object-ctl,*/
/*.dataset-select-list.hover-list .object-list li:hover .object-ctl {*/
    /*display: inline-block;*/
/*}*/
.dataset-select-list .object-list li.active .object-info {
    display: inline-block;
    padding: 0 5px;
}
/*.dataset-select-list .object-list li.active .object-link,*/
/*.dataset-select-list.hover-list .object-list li:hover .object-link {*/
    /*margin-right: 90px;*/
/*}*/
.dataset-select-list .object-list li .object-children {
    border: solid 1px #ccc;
    margin: 5px 0;
    padding: 3px;
    border-radius: 10px;
    /*font-style: italic;*/
}
.dataset-select-list .object-list li .object-children ul {
    padding-left: 25px;
    list-style: square;
}
.dataset-select-list .object-list li a {
    display: inline;
    /*color: #333;*/
}
.dataset-select-list .object-list li a:hover {
    background-color: transparent;
}
.dataset-select-list .object-list li:hover {
    background-color: #e8e8e8;
}
.dataset-select-list .object-list li.active a {
    background-color: transparent;
    color: #000000;
    font-weight: bold;
}
.dataset-select-list .object-list li.active {
    background-color: #e8e8e8;
    padding: 10px 5px;
    border: 1px solid #dcdcdc;
}

.dataset-select-list .object-edit-form {
    /*font-size: x-small;*/
    margin: 2px 5px;
    font-style: normal;
    /*border-top: 1px solid #ccc;*/
    display: none;
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 5px;
}
.dataset-select-list .object-edit .object-edit-form {
    display: block;
}
.dataset-select-list .object-edit-form button {
    /*border-radius: 10px;*/
    /*padding: 1px 5px;*/
}
/*
.dataset-select-list .object-edit-form label.checkbox-inline{
    padding: 0;
    font-size: x-small;
    margin: 0 5px;
}
.dataset-select-list .object-edit-form label.badge{
    color: black;
}
.dataset-select-list .object-edit-form label.checkbox-inline input[type="checkbox"] {
    position: relative;
    margin: 0 3px;
}
*/


.dataset-select-list .object-description {
    font-size: small;
    /*border-bottom: solid 1px #ccc;*/
    margin: 2px 5px;
    padding: 3px;
    /* border-radius: 5px; */
    font-style: italic;
}
.dataset-select-list h6 {
    font-size: inherit;
    margin: 8px 0 0 0;
    color: #ababab;
}
.dataset-select-list .object-list li .badge {
    /*font-size: x-small;*/
    background-color: rgba(0,0,0,0.05);
    border: 1px solid rgba(255,255,255,0.3);
    color: #a2a2a2;
    margin: 0;
    padding: 3px;
}
.dataset-select-list .object-list li .label {
    font-style: normal;
    font-size: inherit;
    border-radius: 5px;
}
.dataset-select-list .object-list li.active .badge {
    color: #666;
}
.dataset-select-list .object-list li.active a.badge {
    background-color: #cecece;
}
.dataset-select-list .object-list li.active a.badge:hover {
    background-color: #7d7d7d;
    color: #ffffff;
}
.dataset-select-list .object-list li .badge.badge-icon {
    background-color: transparent;
    padding: 0px;
    border: 0;
}

.dataset-select-list .object-list .object-alert {
    font-size: small;
    /*margin-left: 10px;*/
}
.dataset-select-list .object-list .object-alert:first-of-type {
    margin-top: 7px;
}
.dataset-select-list .object-list .object-alert:last-of-type {
    margin-bottom: 7px;
}


.dataset-select-list h5 {
    border-bottom: #ccc solid 1px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.dataset-select-list pre.info {
    display: none;
    font-size: 9px;
    max-height: 200px;
    overflow: auto;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    margin: 5px;
    color: #888;
}

.dataset-select-list li:not(.active) .active-show {
    display: none;
}

.dataset-select-list li.active .active-hide {
    display: none;
}

.dataset-select-list li.active .active-block {
    display: block;
}

/*
Handle share-to-group lists differently
 */
/*
.dataset-select-list .object-list li .object-ctl .object-remove {
    display: none;
}
.dataset-select-list.share-to-group .object-list li .object-ctl .object-remove {
    display: inline-block;
}
.dataset-select-list.share-to-group .object-list li .object-ctl .object-delete,
.dataset-select-list.share-to-group .object-list li .object-ctl .object-edit {
    display: none;
}
*/
/*
.dataset-select-list.share-to-group .object-list li .object-ctl {
    display: inline-block;
    color: black;
}
*/

/*
.dataset-select-list .row.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
*/

/*
Dataset info
*/

.dataset-info {
    font-size: 12px;
    list-style: none;
    padding: 0;
    overflow-x: hidden;
}
.dataset-info pre {
    font-size: 9px;
    max-height: 200px;
    overflow: auto;
}
.dataset-info .object-link {
    color: #2b2b2b;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    white-space: nowrap;
}
.dataset-info .object-ctl {
    display: none;
}
.dataset-info .badge {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.05);
    color: #666666;
    font-size: smaller;
}
.dataset-info a.badge {
    color: #333;
}
.dataset-info .help-block {
    font-size: 10px;
    margin-bottom: 0px;
}

.dataset-info .object-edit-form {
    display: none;
    /*
    font-size: x-small;
    margin: 5px 0;
    padding: 3px 0 0 0;
    font-style: normal;
    border-top: 1px solid #ccc;
    */
}
.dataset-info .object-description {
    font-size: x-small;
    /*border: solid 1px #ccc;*/
    /*border-top: 1px solid #ccc;*/
    /*border-bottom: 1px solid #ccc;*/
    margin: 0 0 5px 0;
    padding: 3px;
    /*border-radius: 5px;*/
    font-style: italic;
}
/*
.dataset-info .object-edit-form button {
    border-radius: 10px;
    padding: 1px 5px;
}
.dataset-info .object-edit-form label.checkbox-inline{
    padding: 0;
    font-size: x-small;
    margin: 0 5px;
}
.dataset-info .object-edit-form label.checkbox-inline input[type="checkbox"] {
    position: relative;
    margin: 0 3px;
}
*/