.media-gui-container .media-container {
    position: fixed; top: 0; bottom: 75px; left: 0; right: 300px;
    padding: 0 0 0 0;
    overflow: hidden;
    text-align: center;
    color: #666666;
    vertical-align: middle;
    border-left: solid 1px #1c1c1c;
    background: #222222; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#444444, #333333, #222222); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#444444, #333333, #222222); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#444444, #333333, #222222); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#444444, #333333, #222222); /* Standard syntax */
}
.media-gui-container .ctl-container {
    position: fixed; top: 0; bottom: 75px; right: 0;
    width: 300px;
    padding: 5px;
    /*overflow-y: scroll;*/
    background: #222222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #222222, #333333); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #222222, #333333); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #222222, #333333); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #222222, #333333); /* Standard syntax */
}
.media-gui-container .thumbnail-container {
    height: 75px;
    position: fixed; bottom: 0; left: 0; right: 0;
    border-top: solid 1px #1c1c1c;
    padding: 5px;
    line-height: 55px;

    overflow: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;

    background: #222222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#222222, #333333, #222222); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222222, #333333, #222222); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222222, #333333, #222222); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222222, #333333, #222222); /* Standard syntax */
}
.media-gui-container .thumbnail-container .thm {
    display: inline-block;
}
.media-gui-container .thumbnail-container .thm img {
    max-height: 60px;
    height: 60px;
    margin: 0 5px 0 0;
    width: auto;
}
.media-gui-container .thumbnail-container:hover {
    height: 150px;
    transition: height 0.25s ease-in;
    line-height: 130px;
}

.media-gui-container .thumbnail-container .nav-btn {
    width: 25px;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    color: #bbb;
    margin: -10px 0;
}
.media-gui-container .thumbnail-container .nav-btn:hover {
    color: #fff;
}

.media-gui-container .thumbnail-container:hover img {
    max-height: 130px;
    height: 130px;
}
.media-gui-container .thumbnail-container a.active img {
    box-shadow: 3px 3px 3px white, -3px 3px 3px white, 3px -3px 3px white, -3px -3px 3px white;
}


.media-gui-container .ctl-settings {
    background-color: rgba(255,255,255,0.04);
    border-radius: 5px;
    border: solid 1px rgba(255,255,255,0.2);
    padding: 5px;
    color: #ccc;
    margin-bottom: 5px;
}
.media-gui-container .ctl-settings h2 {
    color: #aaa;
    border-bottom: solid 1px rgba(255,255,255,0.05);
    padding: 2px 0;
    margin: 0 0 3px 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.media-gui-container .media-container img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.media-gui-container.logging-stopped .thumbnail-container {
    overflow-x: hidden !important;
}

.media-gui-container.logging-stopped .fade-stopped,
.media-gui-container.logging-started .fade-started,
.media-gui-container.playback-paused .fade-paused,
.media-gui-container.playback-playing .fade-playing {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.media-gui-container.logging-stopped .hide-stopped,
.media-gui-container.logging-started .hide-started,
.media-gui-container.playback-paused .hide-paused,
.media-gui-container.playback-playing .hide-playing {
    display: none;
}

.media-gui-container:not(.logging-stopped).playback-paused .ctl-settings,
.media-gui-container:not(.logging-stopped).playback-paused .thumbnail-container {
    border-color: red;
}

.media-gui-container .help-block {
    margin: 10px 0 5px 0;
}

.media-gui-container button.btn-main {
    /*margin-top: 5px;*/
    width: 100%;
}

.btn-flex {
    display: flex;
    align-items: stretch;
    align-content: stretch;
}

.btn-flex .btn:first-child {
    flex-grow: 1;
}

.btn-2-col {
    width: 100%;
}
.btn-2-col .btn {
    width: 50%;
    float: left;
}
.btn-3-col {
    width: 100%;
    display: block;
}
.btn-3-col .btn {
    width: 33.3%;
    float: left;
}



@keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    60% { opacity: 0.9; }
    100% { opacity: 1.0; }
}

/* Firefox 1+ */
@-webkit-keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    60% { opacity: 0.9; }
    100% { opacity: 1.0; }
}

/* Safari 3-4 */
@-moz-keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    60% { opacity: 0.9; }
    100% { opacity: 1.0; }
}

.media-gui-container.logging-started #resume-playback,
.media-gui-container.logging-stopped #start-logging,
.media-gui-container .flash {
    animation-name: flash;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    /* Firefox 1+ */
    -webkit-animation-name: flash;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    /* Safari 3-4 */
    -moz-animation-name: flash;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
}

.media-gui-container .ctl-settings .parameters {
    display: none;
}
.media-gui-container .ctl-settings .ctl-btn {
    /*float: right;*/
    color: white;
    font-size: 15px;
    margin-left: 3px;
}
.media-gui-container .ctl-settings .ctl-controls {
    margin-right: -1px;
    overflow: hidden;
}
.media-gui-container .ctl-settings .ctl-controls .ctl-btn {
    margin: 0 0 0 6px;
    padding: 0 6px 0 0;
    border-right: 1px solid rgba(255,255,255,0.2);
}
.media-gui-container .ctl-settings .ctl-controls .ctl-btn:first-child {
    border-right: none;
}

.media-gui-container .ctl-settings .tab-content {
    padding: 0;
    border: 0;
}


.media-gui-container .thumbnail-container-info {
    position: fixed; bottom: 2px; right: 2px;
    opacity: 0.5;
}

.media-gui-container .tooltip.bottom .tooltip-inner {background-color:black;}
.media-gui-container .tooltip.bottom .tooltip-arrow {border-bottom-color: black;}
.media-gui-container .tooltip.top .tooltip-inner {background-color:black;}
.media-gui-container .tooltip.top .tooltip-arrow {border-top-color: black;}
.media-gui-container .tooltip.left .tooltip-inner {background-color:black;}
.media-gui-container .tooltip.left .tooltip-arrow {border-left-color: black;}
.media-gui-container .tooltip.right .tooltip-inner {background-color:black;}
.media-gui-container .tooltip.right .tooltip-arrow {border-right-color: black;}

.media-gui-container .notifications {
    position: fixed; top: 10px; left: 10px;
    max-width: 500px;
}

.media-gui-container.hide-thumbnails .media-container,
.media-gui-container.hide-thumbnails .ctl-container,
.media-gui-container.nomedialist .media-container,
.media-gui-container.nomedialist .ctl-container {
    bottom: 0;
}

.media-gui-container.hide-thumbnails .thumbnail-container,
.media-gui-container.nomedialist .thumbnail-container {
    display: none;
}

.media-gui-container.nomedialist .hide-nomedialist {
    display: none !important;
}