/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  /*overflow-y: scroll;*/
}

body {
  padding-top: 45px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.full-height {
    height: 100%;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}



/*
UPLOADER
*/
#dropbox {
    border: 2px dashed #000000;
    padding: 20px;
}

#dropbox.active {
    border: 4px dashed #FF0000;
}

.progress-trough {
    border: 1px solid #000000;
    height: 24px;
    width: 100%;
    position: relative;
}

.progress-bar {
    width: 50%;
    height: 100%;
    background-color: #0099FF;
}

#campaign-list .nav > li > a {
    padding: 3px 3px 3px 15px;
}
#campaign-list .nav > li > a > .badge {
    background-color: #cccccc;
}
#campaign-list .nav > li > a small {
    font-style: italic;
}
#campaign-list .nav > li.active > a > .badge {
    background-color: #fff;
}

#campaign-list {
    overflow-y: scroll;
    min-height: 150px;
}

.two-columns {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    list-style-position: inside;
}

.map-control {
    min-height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.map-control h3 {
    text-transform: capitalize;
    font-size: 11px;
    font-weight: bold;
    margin: 2px 0 0 0;
}
.map-control h2 {
    font-size: 13px;
    margin: 0;
}
.map-control hr {
    margin: 2px 0;
}

.map-control select {
    font-size: 11px;
    max-width: 200px;
}

.leaflet-map-pane {
    z-index: 2 !important;
}

.leaflet-google-layer {
    z-index: 1 !important;
}

.badge-danger {
    background-color: red;
}

.badge-success {
    background-color: green;
}

.ms-drop {
    position: absolute;
    right: 202px;
    top: 0 !important;
}

.leaflet-popup-content .badge {
    font-size: 11px;
    margin: 2px 2px 0 0;
}

.leaflet-clickable {

}

.form-error {
    color: red;
    font-size: 11px;
}


.modal {
    overflow-y: auto;
}

.modal h3 {
    margin: 0;
    padding: 0;
    /*text-align: center;*/
}

.modal .close {
    margin-top: -20px;
    margin-right: -15px;
}

.modal .modal-body {
    min-height: 100px;
}

.modal-xl {
    width: 100%;
    padding: 0 30px;
}

.modal-full {
    width: auto;
    margin: 0;
    padding: 10px;
    height: 100%;
}

.modal-full .modal-body, .modal-full .modal-content, .modal-full .modal-html {
    height: 100%;
}

.modal-full .close {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.modal-dark .modal-content {
    color: #FFF;
    background-color: #2b2b2b;
}
.modal-dark table {
  color: #fff;
}
.modal-dark h1, .modal-dark h2, .modal-dark h3, .modal-dark h4, .modal-dark h5 {
    color: #fff;
}
.modal-dark .close {
    color: #fff;
}
.modal-dark .well {
    background: #a7a7a7;
    border-color: #616161;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #8787871c;
}

.modal-right-panel {
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    bottom: 0;
    width: 320px;
    height: 100%;
}

.modal-right-panel .modal-content,
.modal-right-panel .modal-body,
.modal-right-panel .modal-html {
    height: 100%;
}

input.error, select.error, textarea.error {
    border-color: red;
    background-color: #f5dad8;
}

form.quickadd {
    margin-top: 10px;
    font-size: 11px;
    color: black;
}
form.quickadd a:hover {
    text-decoration: none;
}

form.quickadd {
    text-align: center;
}
form.quickadd input, form.quickadd textarea {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border: 1px #ccc solid;
    /*width: 80%;*/
}

.badge a {
    color: inherit;
}

.shorten .shortcontent {
    display: inline;
}


.autocomplete-suggestions {
    background-color: whitesmoke;
    border: 1px solid #ccc;
}

.autocomplete-suggestion {
    cursor: pointer;
    cursor: hand;
    padding: 4px 10px;
}

.autocomplete-selected {
    background-color: #ccc;
}

.multiselect-container {
    max-height: 400px;
    overflow-y: auto;
}

/*#data-tab-nav > li > a {*/
    /*background-color: #969696;*/
    /*color: #FFFFFF;*/
/*}*/
/*#data-tab-nav > li.active > a {*/
    /*background-color: #ffffff;*/
    /*color: #969696;*/
/*}*/

#flash-message {
    position: absolute;
    width: 500px;
    /* padding: 10px 20%; */
    z-index: 9999;
    top: 20px;
    right: 20px;
}

#flash-message:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#notifications {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    margin: 0;
    pointer-events: none;
}
#notifications .alert {
    width: 500px;
    min-width: 400px;
    margin: 10px auto 5px auto;
    opacity: 0.85;
    pointer-events: auto;
    /*font-size: 15px;*/
}
#notifications .alert a {
    color: inherit;
    font-weight: bold;
}
/*#notifications .alert:hover {*/
    /*opacity: 0.30;*/
/*}*/

#confirmation-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    width: 100%;
    margin: 0;
    background-color: rgba(0,0,0,0.7);
}
#confirmation-backdrop .confirm-dialog {
    width: 500px;
    min-width: 400px;
    margin: 150px auto 10px auto;
    border: 1px solid black;
    padding: 25px;
    background-color: #333;
    color: white;
    border-radius: 5px;
}
#confirmation-backdrop .confirm-dialog p {
    margin-bottom: 20px;
}

.loader-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    z-index: 1000;
    color: black;
}
.modal-dark .loader-mask {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.modal-hidden {
    display: none !important;
}

.paginate-list-params {
    display: inline-block;
}

.badge-group {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
.badge-group .badge {
    float: left;
    margin-left: 1px;
}
.badge-group .badge:first-child {
    border-radius: 10px 0 0 10px;
    margin-left: 0;
}
.badge-group .badge:last-child {
    border-radius: 0 10px 10px 0;
}
.badge-group .badge:not(:last-child):not(:first-child) {
    border-radius: 0;
}
.badge-group .badge:first-child:last-child {
    border-radius: 10px;
}

.tab-content {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 10px;
}

.form-info {
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 15px;
    color: #6f6f6f;
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.paginate-list-form .input-group-sm > .form-control,
.paginate-list-form .input-group-sm > .input-group-addon,
.paginate-list-form .input-group-sm > .input-group-btn > .btn {
    padding: 6px 5px;
    height: inherit;
}
.paginate-list-form .form-group {
    margin: 0;
}

.select2-results>.select2-results__options {
    max-height: 350px !important;
}
.select2-results__options .select2-option {
    /*padding: 8px 12px;*/
}
.select2-results__options .select2-option .title {
    font-weight: bold;
}
.select2-results__options .select2-option .description {
    font-size: small;
    line-height: normal;
    opacity: 80%;
    padding: 3px;
}
.select2-results__options .select2-option .badge {
    background-color: #ccc;
    font-size: x-small;
    color: #333;
    opacity: 80%;
}

.select2-container .select2-selection--single {
    padding: 5px;
    height: 40px;
}

.select2-container .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #d2d2d2;
    color: black;
}
.select2-dropdown {
    color: black;
}

.object-detail .badge {
    background-color: #dedede;
    color: #333;
}
.object-detail .object-detail-table {
    border-spacing: 12px;
    border-collapse: separate;
    margin: 10px 0;
    width: 100%;
}
.object-detail .object-detail-table td {
    vertical-align: top;
}
.object-detail .object-alert {
    padding: 15px;
    background-color: rgba(255,0,0,0.2);
    display: block;
    font-weight: bold;
}
.object-detail .object-alert a {
    text-decoration: none;
    color: inherit;
}

.search_results {max-height: 1000px; overflow-y: auto;}
.search_results .show-active-parent {display: none;}
.search_results .active > .show-active-parent, .search_results > ul.show-active-parent {display: revert;}
.search_results .active > .hide-active-parent {display: none;}
.search_results .nav-nested {padding-left: 15px;}
.search_results .nav-nested > li > a {padding: 5px 10px;}
.search_results .nav-nested li > a > i.fa-plus-square {display: revert}
.search_results .nav-nested li > a > i.fa-minus-square {display: none}
.search_results .nav-nested li.active > a > i.fa-plus-square {display: none}
.search_results .nav-nested li.active > a > i.fa-minus-square {display: revert}

.info-table .hidden-info-row {
    display: none;
}
.info-table.show-hidden-info .hidden-info-row {
    display: table-row;
}

.search-controls .dropdown-menu {
    padding: 10px;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.media-gui-container .ctl-settings {
    background-color: rgba(255,255,255,0.04);
    border-radius: 5px;
    border: solid 1px rgba(255,255,255,0.2);
    padding: 5px;
    color: #ccc;
    margin-bottom: 5px;
}
.annotate-media-container {
    background-color: #2b2b2b;
    font-size: 12px;
}
.modal-dark .search-controls .dropdown-menu {
    background-color: #4c4c4c;
}


.wiki-content img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wiki-content h1, .wiki-content h2, .wiki-content h3, .wiki-content h4 {
    margin-bottom: 1.5ex;
    margin-top: 2.5ex;
}
.wiki-content h1 {
    margin-top: 15px;
}
.wiki-content table td, .wiki-content table th {
    padding: 5px;
    vertical-align: top;
}
.wiki-content table {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
}


/*
 Tally plots templates
 */
.tally-chart .tally-chart-row {
    width: 100%;
    display: block;
    cursor: hand;
    font-size: 9px;
}
.tally-chart .tally-chart-name {
    width: 30%;
    text-align: right;
    display: inline-block;
    padding: 2px 5px;
    height: 15px;
    /*overflow: hidden;*/
    /*line-height: 15px;*/
    text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff;
}
.tally-chart .tally-chart-val {
    width: 70%;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.tally-chart .tally-chart-val-bar {
    top: 0;
    text-align: left;
    position: relative;
    height: 15px;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.tally-chart .tally-chart-val-bar span{
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*margin-right: -50px;*/
    width: 50px;
    color: #000;
    padding-left: 3px;
    text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff;
}
.tally-chart .tally-chart-row:hover .tally-chart-val-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}
.tally-chart .tally-chart-row:hover {
    font-weight: bold;
}

.tally-chart.tally-chart-sm .tally-chart-row {
    position: relative;
    height: 18px;
}
.tally-chart.tally-chart-sm .tally-chart-name {
    position: absolute;
    left: 30px;
    z-index: 30;
    width: auto;
    text-align: left;
    line-height: 8px;
}
.tally-chart.tally-chart-sm .tally-chart-val {
    position: absolute;
    left: 0;
    z-index: 20;
    width: 100%;
}