{% set _container_id = "point-popover-"~rendered_at %}
<div id="{{ _container_id }}">
{#<a class="popover-close" href="javascript:void(0)" style="float: right; margin: -10px -12px 0 0; color: white;"><i#}
{#        class="fa fa-times"></i></a>#}
{% set ns = namespace(has_labels=False) %}
{% if data.annotations %}
    {% for l in data.annotations %}
        <div style="padding-bottom: 6px; margin-bottom: 6px; border-bottom: 1px solid #4d4d4d">
            {% if l.label %}
                {% set ns.has_label = True %}
                <div style="margin-bottom: 7px">
                    <i class='fa fa-square link' style='color: {{ l.color }}'></i>
                    <b>{{ l.label.name }}</b>
                    <div><em class="small">{{ l.label.lineage_names }}</em></div>
                </div>
                    {% if args.mode == 'edit' %}
                        <form class="annotation-edit-comment form-horizontal small" onsubmit="return false" style="border: 1px solid #6d6d6d;padding: 5px;border-radius: 5px;">
                            <div style="margin-bottom: 5px">
                                <i class="fa fa-bar-chart fa-fw"></i> LIKELIHOOD / PROBABILITY: <span class="value-label">{{ l.likelihood if l.likelihood is not none else 1.00 | round(2)}}</span>
                                <input id="likelihood" name="likelihood" type="range"  min="0" max="1" step="0.01" value="{{ l.likelihood if l.likelihood is not none else 1.00}}" oninput="$(this).siblings('span.value-label').text($(this).val())"/>
                            </div>

                            <div style="margin-bottom: 5px">
                                <i class="fa fa-tags fa-fw"></i> TAGS:
                                <a href="javascript:void(0)" class="annotation-edit-tag-add pull-right" data-annotation_id="{{ l.id }}"><b><i class="fa fa-pencil"></i> edit tags</b></a>
                                <div style="color: #000">
                                    {% set tag_data = namespace(ids=[]) %}
                                    {% for t in l.tags %}{% set tag_data.ids = tag_data.ids + [t.id] %}{% endfor %}
                                    <select class="form-control" name="tags" multiple data-selected='{{ tag_data.ids|tojson }}'></select>
                                </div>
                            </div>

                            <div style="margin-bottom: 5px">
                                <i class="fa fa-comment fa-fw"></i> COMMENT</span>
    {#                            <div class="input-group input-group-sm" style="margin: 2px 0">#}
                                    <input type="hidden" name="annotation_id" value="{{ l.id }}">
                                    <input type="text" name="comment" class="form-control input-sm"
                                           value="{% if l.comment %}{{ l.comment }}{% endif %}" placeholder="Free-form text comment">
    {#                                <span class="input-group-btn">#}
    {#                                    <button class="btn btn-sm btn-default" type="submit" title="Save comment/tags/likelihood">#}
    {#                                        SAVE#}
    {#                                    </button>#}
    {#                                </span>#}
    {#                            </div>#}
                            </div>

                            <div style="margin-bottom: 5px">
                                <i class="fa fa-flag fa-fw"></i>REVIEW REQUIRED?<br>
                                <div class="btn-group btn-group-xs" data-toggle="buttons">
                                    <label class="btn btn-danger btn-xm {{ '' if l.needs_review else 'active' }}">
                                        <input name="needs_review" type="radio" value="false" {{ '' if l.needs_review else 'checked' }}> <i class="fa fa-times"></i> NO
                                    </label>
                                    <label class="btn btn-danger  btn-xm {{ 'active' if l.needs_review else '' }}">
                                        <input name="needs_review" type="radio" value="true" {{ 'checked' if l.needs_review else '' }}> <i class="fa fa-check"></i> YES
                                    </label>
                                </div>
                                <button class="btn btn-xs btn-success pull-right" type="submit" title="Save comment/tags/likelihood/review">
                                    <i class="fa fa-save"></i> <b>SAVE</b>
                                </button>

{#                                <label class="">#}
{#                                    <input name="needs_review" type="radio" value="false" {{ '' if l.needs_review else 'checked' }}> NO#}
{#                                </label>&nbsp; &nbsp;#}
{#                                <label class="">#}
{#                                    <input name="needs_review" type="radio" value="true" {{ 'checked' if l.needs_review else '' }}> YES: flag for review#}
{#                                </label>#}
                            </div>

                            <div style="margin-bottom: 5px">
                                <a href="javascript:void(0)" class="btn btn-xs btn-link annotation-edit-lbl-rst"
                                   data-annotation_id="{{ l.id }}" title="Reset label"><i class="fa fa-remove text-warning"></i> Reset label</a>
                                {% if loop.length > 1 %}
                                    <a href="javascript:void(0)" class="btn btn-xs btn-link annotation-edit-lbl-del"
                                       data-annotation_id="{{ l.id }}" title="Delete label"><i class="fa fa-trash text-danger"></i> Delete label</a>
                                {% endif %}
                                <a href="javascript:void(0)" class="btn btn-xs btn-link annotation-edit-lbl-lnk"
                                   data-annotation_id="{{ l.id }}" title="Link multiple observations of the same object"><i class="fa fa-link text-success"></i> Link label</a>
                            </div>
                        </form>

                    {% elif args.mode == "exemplars" %}
                        <span class="label label-default pull-right">EXEMPLARS</span>
                        <div class="label-exemplar-container" data-label_id="{{ l.label.id }}" style="border: 1px solid #6d6d6d;padding: 5px;border-radius: 5px;">EXEMPLARS</div>
                    {% else %}
{#                        <small>#}
                            {% if l.likelihood is not none %}
                                <div><i class="fa fa-bar-chart fa-fw"></i> LIKELIHOOD / PROBABILITY: <span style="color: #ccc"> {{ l.likelihood | round(2) }}</span></div>
                            {% endif %}
                            {% if l.tags %}
                            <i class="fa fa-tags fa-fw"></i> TAGS:
                            {% for t in l.tags %}
                                <span class="badge" style="font-size: 9px; margin: 1px">{{ t.name }}   {% if data.edit %}
                                    <a href="javascript:void(0)" class="annotation-edit-tag-del" data-tag_id="{{ t.id }}"
                                       data-annotation_id="{{ l.id }}"><i class="fa fa-remove"></i></a>{% endif %}<br></span>
                            {% endfor %}
                            {% endif %}
                            {% if l.comment %}
                                <div><i class="fa fa-comment fa-fw"></i> COMMENT: <span style="color: #ccc"> {{ l.comment }}</span></div>
                            {% endif %}

    {#                        <div class="progress" style="height:10px" title="Label likelihood: {{ l.likelihood*100 }}%">#}
    {#                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ l.likelihood*100 }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ l.likelihood*100 }}%;"></div>#}
    {#                        </div>#}
{#                        </small>#}
                    {% endif %}
            {% else %}
                <div>
                    <i class='fa fa-square link' style='color: {{ l.color }}'></i> Not labeled yet
                </div>

                {% if args.mode == 'edit' %}
                    {% if loop.length > 1 %}
                        <div class="">
                            <a href="javascript:void(0)" class="btn btn-xs btn-link annotation-edit-lbl-del"
                               data-annotation_id="{{ l.id }}"><i class="fa fa-trash text-danger" title="Delete label"></i> Delete Label</a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
            <div class="">
{#                <em class="small">{{ l.label.lineage_names }}</em><br>#}
                <div title="Name of annotator"><i class="fa fa-user fa-fw"></i> ANNOTATOR: <em>{{ l.user.full_name }}</em></div>
                <div title="Object ID (or Point ID) - useful for linking labels"><i class="fa fa-link fa-fw"></i>
                {% if l.object_id %} OID: {{ l.object_id }}{% endif %}
                {% if l.observation_count > 1 %}
                    | <a href="javascript:void(0)" data-annotation_id="{{ l.id }}" class="annotation-edit-lbl-lnk" title="This object has multiple linked observations">
                        <b class="text-success"> {{ l.observation_count }} linked observations</b>&nbsp;
                    </a>
                {% endif %}
                </div>
                {% if l.version_count > 1 %}
                <div title="This object has previous versions">
                    <a href="javascript:void(0)" onclick="open_modal('/api/annotation/{{ l.id }}/versions?template=datatable.html',{class:'modal-md',backdrop:true})" data-annotation_id="{{ l.id }}" ><i class="fa fa-history fa-fw"></i>{{ l.version_count }} previous edits</a>
                </div>
                {% endif %}
                {% if l.needs_review %}
                <div class="text-danger" title="This annotation has been flagged for review"><b><i class="fa fa-flag fa-fw"></i> FLAGGED FOR REVIEW!</b></div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
    Not labeled yet
{% endif %}



{% if args.mode == 'edit' %}
{#    <div class="btn-group" role="group">#}
    <button class="btn btn-success btn-xs annotation-edit-lbl-add" title="Add an additional label to this annotation point">
        <i class="fa fa-plus"></i>
        Add label
    </button>
{#    {% if data.data.polygon %}#}
    {% if data.x and data.y %}
    <button class="btn btn-warning btn-xs annotation-edit-pt-polygon" title="Edit bounding box or polygon">
        <i class="fa fa-pencil-square-o"></i>
        Polygon
    </button>
    {% endif %}
    {% if args.allow_edit_points == "true" %}
        <button class="btn btn-primary btn-xs annotation-edit-pt-move" title="Move this annotation point">
            <i class="fa fa-plus"></i>
            Move
        </button>
        <button class="btn btn-danger btn-xs annotation-edit-pt-del" title="Delete this annotation point and all associated labels">
            <i class="fa fa-trash"></i>
            Delete
        </button>
    {% endif %}
{#    </div>#}
{% elif args.mode == "exemplars" %}
    <div class="small">
        <i class="fa fa-info-circle"></i> SHOWING EXEMPLARS (SHIFT + RIGHT CLICK/DBLCLICK)
    </div>
{% else %}
    <div class="magical-suggestions"  style="margin-bottom: 5px">
        {% if data.supplementary_annotations %}
            <i class="fa fa-magic"></i> Magical suggestions
            <small>
                (click to label):
                {% for l in data.supplementary_annotations %}
                <br>
                <a href="javascript:void(0)" class="label-labellink" data-color="{{ l.color }}" data-label_id="{{ l.label.id }}">
                    <i class='fa fa-square link' style='color: {{ l.color }}'></i>
                    {{ l.label.name }}
                    <em class="badge">prob: {{ (l.likelihood | round(2)) if l.likelihood else "?" }}</em>
                    <em class="badge">by: {{ l.user.full_name }}</em>
                </a>
                {% endfor %}
            </small>
        {% else %}
            <div class="help-text">
                <i class="fa fa-magic"></i> No "Magical suggestions" found...
            </div>
        {% endif %}
    </div>
    <div class="help-text"><b><i class="fa fa-lightbulb-o fa-fw"></i> TIPS &amp; TRICKS:</b>
        <ol style="padding-left: 15px;">
            {% if ns.has_label %}
            <li>RIGHT CLICK to edit comments, add tags, draw polygons, flag for review, add additional labels or link observations</li>
            <li>SHIFT + RIGHT CLICK to see exemplars</li>
            {% else %}
            <li>Select one or more points by LEFT CLICK or drawing a bounding box and then assign a label using the label list on the right</li>
            {% endif %}
            <li>LEFT CLICK and DRAG to draw bounding box</li>
            <li>SHIFT + LEFT CLICK and DRAG to draw circle</li>
        </ol>
    </div>
{% endif %}




</div>