{% set _container_id = "annotation_label_list-"~rendered_at %}
<div id="{{ _container_id }}">
<h2>Quick tag annotations: <b class="pull-right">#{{ data.annotations|length }}&nbsp;</b></h2>
{% if data.annotations %}
{% for a in data.annotations %}
<div class="annotation_label_container">
<a href="javascript:void(0)" rel="remove-annotation" class="pull-right" title="Remove label" data-id="{{ a.id }}"><i class="fa fa-times text-danger"></i></a>
{% if a.annotations %}
    {% for l in a.annotations %}
    <div class="annotation_label {% if not l.id %}unlabeled{% endif %}" data-annotation_label_id="{{l.id}}">
        <i class='fa fa-square link' style='color: {{l.color}}'></i>
        {% if l.label %}
            <b>{{l.label.name}}</b><br>
            <small>
            <i class="fa fa-tags"></i> TAGS:
            {% for t in l.tags %}
                <span class="badge" style="font-size: 9px; margin: 1px">{{t}}</span>
            {% endfor %}
            <div style="display: flex; flex-direction: row">
                <span><i class="fa fa-comment"></i> COMMENT:</span><input name="comment" type="text" value="{{l.comment or ''}}" class="annotation_label-comment" placeholder="Click to enter a comment" style="flex-grow: 1">
            </div>
            </small>
        {% else %}
            Not labeled yet
        {% endif %}
    </div>
    {% endfor %}
{% else %}
    Not labeled yet
{% endif %}
</div>
{% endfor %}
{% else %}
    <div class="help-block" style="padding: 10px">
    No annotations found. Click list above to add.
    </div>
{% endif %}
</div>