{% set _container_id = "add_tags-"~rendered_at %}
<div id="{{ _container_id }}">
    <div style="padding: 10px; background: rgba(255,255,255,0.1)">
        <div style="color: #ccc; font-size: xx-small">LABEL<small class="pull-right">[ID:{{ data.id }}]</small></div>
        <small class="pull-right">[ID:{{ data.label.id }}]</small>
        <b><i class="fa fa-square" style="color: {{ data.color }}"></i> {{ data.label.name }}</b>
        {% if data.comment %}
            <div style="font-size: x-small"><i class="fa fa-comment"></i> COMMENT: {{ data.comment }}</div>
        {% endif %}
        {% if data.tags | length > 0 %}
            <div style="margin-top:15px; color: #ccc; font-size: xx-small">CURRENT TAGS</div>
            {% for t in data.tags %}
                <span class="badge">
                    <i class="fa fa-tag"></i> {{ t.name }}
                    <a href="javascript:void(0)" data-id="{{ t.id }}" rel="remove_tag" title="Remove tag"><i class="fa fa-times"></i></a>
                </span>
            {% endfor %}
        {% endif %}
    </div>
    <form id="new_tag_form" onsubmit="return false">
        <div style="margin-top:15px; color: #ccc; font-size: xx-small">TAG SEARCH</div>
        <div class="input-group input-group-sm">
            <select class="form-control" id="new_tag_select" name="tags" multiple>
            </select>
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit"><i class="fa fa-tag"></i> ADD TAGS</button>
            </span>
        </div>
    </form>
    {% if data.suggested_tags | length > 0 %}
         <div>
            <div style="margin-top:15px; color: #ccc; font-size: xx-small">SUGGESTED TAGS (quick add)</div>
            {% for t in data.suggested_tags %}
                <a href="javascript:void(0)" data-id="{{ t.id }}" rel="add_tag" class="badge label-success" title="Add suggested tag">
                    <i class="fa fa-tag"></i> {{ t.name }}
                </a>
            {% endfor %}
        </div>
    {% endif %}

    <script>
        $(document).ready(function(){
            var $container = $("#{{ _container_id }}");
            var $container_parent = $container.parent();
            var $new_tag_select = $container.find("#new_tag_select");
            var $add_tag_links = $container.find("a[rel='add_tag']");
            var $remove_tag_links = $container.find("a[rel='remove_tag']");
            var $new_tag_form = $container.find("#new_tag_form");

            $add_tag_links.click(function(e){
                ajax.patch("/api/annotation/{{ data.id }}", JSON.stringify({tags:[$(this).data("id")]}), {success:function(){
                    $container_parent.trigger("reload");
                }});
            });

            $remove_tag_links.click(function(e){
                ajax.delete("/api/annotation/{{ data.id }}/tag/"+$(this).data("id"), {
                    success:function(){
                        $container_parent.trigger("reload");
                    }}, "Are you sure you want to remove this tag?");
            });

            $new_tag_form.on("submit", function(e){
                e.preventDefault();
                var data = $(this).serializeObject();
                var tags = Array.isArray(data.tags) ? data.tags : [data.tags];
                ajax.patch("/api/annotation/{{ data.id }}", JSON.stringify({tags: tags}), {success:function(){
                    $container_parent.trigger("reload");
                }});
            });

            $new_tag_select.ajax_select('/api/tag', {
                results_per_page:100,
                template_option: '<div class="title">[[name]]</div><div class="description">[[description]]</div>',
                build_query: function(search_term) {
                    var q = {filters: [], order_by: [{field:"name",direction:"asc"}]}
                    if (search_term) {
                        $(search_term.split(/(\s+)/)).each(function(i,s){
                            if (s.trim().length)
                                q.filters.push({or:[{name:"name",op:"ilike",val:'%'+s+'%'},{name:"description",op:"ilike",val:'%'+s+'%'}]});
                        });
                    }
                    return q;
                }
            });
            /*
            $new_tag_select.APISelect({
                url: "/api/tag?results_per_page=1000",
                quickaddfields: [{attr:{name:"name", type:"text", placeholder:"New tag name"}}],
                itemname: {name: ['name'], info: []},
                nonSelectedText: "Search / select Tags to add",
                labeltxt: "Tags"
            });
            */
        });
    </script>
</div>