{% set _container_id = "annotation-filter-container-"~rendered_at %}
<div id="{{ _container_id }}" class="annotation-filters" data-filters='[]' data-annotation_set_id="{{ data.id if data else (args.annotation_set_id if args else "") }}">
    <label style="width: 100%"><i class="fa fa-user-circle"></i> ANNOTATORS
        <select multiple name="annotators" class="form-control"></select>
    </label>
    <label style="width: 100%"><i class="fa fa-tag"></i> TAGS
        <select multiple name="tags" class="form-control"></select>
    </label>
    <label style="width: 100%"><i class="fa fa-comment"></i> COMMENT
        <input name="comment" class="form-control form-control-sm" type="text" value="" placeholder="Comment contains">
    </label>
    <label><i class="fa fa-flag"></i> FLAGS:</label><br>
    <label>
        <input name="needs_review" type="checkbox" value="true">
        NEEDS REVIEW
    </label>

    <script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $user_list = $container.find("select[name='annotators']");
        var $tag_list = $container.find("select[name='tags']");

        $user_list.ajax_select("/api/annotation/tally/user", {
            placeholder: 'Search first/last name, affiliation or email',
            allow_clear: true,
            dropdown_parent: $container_parent,
            template_item:  "[[&first_name]] [[&last_name]]",
            template_option: '<span class="title">[[first_name]] [[last_name]]</span> ' +
                    '<small class="pull-right description"><i class="fa fa-tags"></i> [[count]] annotations</small> ',
            build_query: function(search_term) {
                var q = {filters: [{name:"annotation_set_id",op:"eq",val:$container.data('annotation_set_id')}]}
                if (search_term) {
                    $(search_term.split(/(\s+)/)).each(function(i,s){
                        if (s.trim().length)
                            q.filters.push({or: [
                                {name:"user",op:"has",val:{name:"email",op:"ilike",val:'%'+s+'%'}},
                                {name:"user",op:"has",val:{name:"first_name",op:"ilike",val:'%'+s+'%'}},
                                {name:"user",op:"has",val:{name:"last_name",op:"ilike",val:'%'+s+'%'}},
                                {name:"user",op:"has",val:{name:"affiliations",op:"any",val:{name:"name",op:"ilike",val:'%'+s+'%'}}}
                          ]});
                    });
                }
                return q;
            }
        });

        $tag_list.ajax_select('/api/tag', {
            results_per_page:100,
            allow_clear: true,
            dropdown_parent: $container_parent,
            template_option: '<div class="title">[[name]]</div><div class="description">[[description]]</div>',
            build_query: function(search_term) {
                var q = {filters: [{name:'annotation_tags',op:'any',val:{name:'annotation',op:'has',val:{name:'annotation_set_id',op:'eq',val:$container.data('annotation_set_id')}}}],
                    order_by: [{field:"name",direction:"asc"}]};
                if (search_term) {
                    $(search_term.split(/(\s+)/)).each(function(i,s){
                        if (s.trim().length)
                            q.filters.push({or:[{name:"name",op:"ilike",val:'%'+s+'%'},{name:"description",op:"ilike",val:'%'+s+'%'}]});
                    });
                }
                return q;
            }
        });

    });
    </script>
</div>
