{% set _container_id="link-observations-"~rendered_at %}
<div id="{{ _container_id }}" class="">
<h3>
    {% if data.observation_count > 1 %}
    <i class='fa fa-link text-success'></i> {{ data.observation_count }} LINKED OBSERVATIONS!
    <span class="pull-right">[GroupID: {{ data.object_id }}]</span>
    {% else %}
    <i class='fa fa-link text-info'></i> Link this observation to one in another frame
    {% endif %}
</h3>

<div style="border: 1px solid #ccc; border-radius: 10px; padding: 10px; margin: 10px 0 10px 0; background-color: rgba(255,255,255,0.2)">
{% if data.observation_count > 1 %}
    <div class="small">
        <button class='btn btn-danger pull-right link-action' data-action="unlink"><i class='fa fa-unlink'></i> UNLINK</button>

        <i class='fa fa-info-circle fa-fw'></i> The selected annotation is part of an observation group containing <b>{{ data.observation_count }}
        observations of the same object.</b><br>
        <i class='fa fa-info-circle fa-fw'></i> Once linked in an observation group, any changes to labels will update the labels for the whole group<br>
        <i class="fa fa-exclamation-triangle fa-fw"></i> The annotation thumbnails below are ordered by temporal and spatial
        proximity.<br>
        <b><i class="fa fa-clock-o fa-fw"></i> {{ data.timestamp }}
            {{ ", x: "~(data.point.x | round(3)) if data.point.x else "" }}
            {{ ", y: "~(data.point.y | round(3)) if data.point.y else "" }}
            {{ ", t: "~(data.point.t | round(3)) if data.point.t else "" }}</b>
    </div>
{% else %}
    <table style="width: 100%; border: none;">
    <tr>
        <td style="vertical-align: middle; text-align: left;">
                <i class='fa fa-info-circle fa-fw'></i> Click a thumbnail below to <b>link this annotation to another
                observation of the same object.</b><br>
                <i class='fa fa-info-circle fa-fw'></i> Once linked in an observation group, any changes to labels will update the labels for the whole group<br>
                <i class="fa fa-info-circle fa-fw"></i> The annotation thumbnails below are ordered by temporal and spatial proximity.<br>
                <i class="fa fa-clock-o fa-fw"></i> <b>{{ data.timestamp }}</b><br>
                <i class="fa fa-crosshairs fa-fw"></i> <b>
                {{ "x:"~(data.point.x | round(3)) if data.point.x else "" }}
                {{ " y:"~(data.point.y | round(3)) if data.point.y else "" }}
                {{ " t:"~(data.point.t | round(3)) if data.point.t else "" }}</b>

        </td>
        <td style="text-align: right">
            <img style="max-height: 150px; margin-left: 15px; border: 5px solid white;" src="/api/media/{{ data.point.media_id }}/thumbnail?annotation_id={{ data.id }}&{{ data.updated_at|urlencode }}">
        </td>
    </tr>
    </table>

{% endif %}
</div>


{#{% include "models/annotation/list_thumbnails.html" %}#}
<div id="annotation-thumbnails">

</div>


<small class="help-block">
    <br>Thumbnails marked with <i class="fa fa-asterisk text-danger"></i> are the primary annotations of their observation
    group. <br>
    To set a new primary annotation for this observation group, click on the thumbnail you wish to set.
</small>
</div>
<script>
    $(document).ready(function() {
        var $container = $("#{{ _container_id }}");
        var $modal = $container.parents(".modal");
        var $annotation_thumbnails = $container.find("#annotation-thumbnails");

        var filters = [];
        var order_by = [{field:{method:'timestamp_proximity', args:['{{ data.timestamp }}']},direction:'asc'},
            {field:{method:'xy_distance', args:[{{ data.point.x }},{{ data.point.y }}]},direction:'asc'}];
        var include_columns = ["label_id","id","point","point.media_id","point.id","point.x","point.y",
            "point.updated_at", "timestamp", "updated_at"];
        var include_methods=["color", "tag_names", "object_id", {method:"timestamp_proximity",args:["{{ data.timestamp }}"]}];
        {% if data.observation_count > 1 %}            // if part of an observation group
            {% if data.parent_id %}             // if it is a child, retrieve parent and other children
                filters.push({or:[{name: "id", op: "eq", val: {{ data.parent_id }}},{name: "parent_id",op: "eq",val: {{ data.parent_id }}}]});
            {% else %}                          // if its a parent, get itself and its children
                filters.push({or:[{name: "id", op: "eq", val: {{ data.id }}},{name: "parent_id",op: "eq",val: {{ data.id }}}]});
            {% endif %}
        {% else %}                              // if not part of an observation group, show annotations with the same label, but from different frames
            filters.push({name:"label_id",op:"eq",val:{{ data.label.id }}});
            filters.push({name:'point',op:'has',val:{name:'media_id',op:'neq',val:{{ data.point.media_id }}}});
            include_methods.push("observation_count");
        {% endif %}

        var url = '/api/annotation_set/{{ data.annotation_set_id }}/annotations' +
            '?include_columns='+ JSON.stringify(include_columns) +
            '&include_methods='+ JSON.stringify(include_methods) +
            '&q='+JSON.stringify({filters:filters,order_by:order_by})+'&results_per_page=8' +
            '&template=models/annotation/list_thumbnails.html';
        load_content.paginated_html(url, $annotation_thumbnails, function(){
            $container.find(".link-action").click(function(e){
                if ($(this).data("action") === "unlink") {
                    ajax.delete("/api/annotation/{{ data.id }}/link",{success:function(d){
                        notify.info(d.message);
                        $modal.modal('hide');
                    }}, "Are you sure you want to unlink this label from the observation group?",
                    {title: "Unlink?", icon: "<i class='fa fa-unlink'></i>"});
                }
            });
            $container.find('a.label-thumbnail').click(function (e) {
                var thm_url = '/api/annotation/';
                {% if data.observation_count > 1 %}
                thm_url += $(this).data('id') + '/link';
                {% else %}
                thm_url += '{{ data.id }}/link/'+ $(this).data('id');
                {% endif %}
                ajax.patch(thm_url).done(function (d) {
                    notify.success(d.message);
                    $modal.modal('hide');
                });
            }).filter('[data-id="{{ data.id }}"]').css("border-color", "white");
            $annotation_thumbnails.find('a.label-thumbnail').tooltip({placement:'right',html:true});
        });
    });
</script>