{% set _container_id = "thumbnail_list-container-"~rendered_at %}
<div id="{{ _container_id }}">
{% if data.objects %}
<div class="label-thumbnail-container">
    {% if args.hide_pagination != 'true' %}
    {% include "models/paginate_model.html" %}
    {% endif %}
    <div class="label-thumbnail-list">
    {% for a in data.objects %}
        {% set link_title = "" %}
        {% if a.timestamp_proximity is defined %}
            {% set link_title = link_title~a.timestamp_proximity~" seconds from current frame" %}
        {% endif %}
        {% if a.tag_names %}
            {% set link_title = link_title~" TAGS: "~a.tag_names~"" %}
        {% endif %}
        {% if a.object_id %}
        {% set link_title = link_title~" [OID: "~a.object_id~"]" %}
        {% endif %}
        <a href="javascript:void(0)" data-id="{{ a.id }}" title="{{ link_title }}"  data-point_id="{{ a.point.id }}" data-meta='{{ a|tojson }}' class="label-thumbnail" style="{{ 'border-color:'~a.color if a.color else '' }}">
            <img  src="{{ request.host_url }}api/media/{{ a.point.media_id }}/thumbnail?annotation_id={{ a.id }}&{{ a.point.updated_at|urlencode }}">
{#            <i class="fa fa-check-circle select-icon"  style="{{ 'color:'~a.color if a.color else '' }}"></i>#}
            <i class="fa fa-check-square select-icon"></i>
            <span class="thumbnail-tools small">
                {% if a.tag_names %}
                    <i class="fa fa-tags" data-hover="tooltip" title="Tags: {{ a.tag_names }}"></i>
                {% endif %}
                {% if a.needs_review %}
                    <i class="fa fa-flag text-danger" data-hover="tooltip" title="Needs review"></i>
                {% endif %}
                {% if args.include_link == "true" %}  {# if explicit true, set it #}
                <i class="fa fa-external-link thm-ctl" data-hover="tooltip" title="Open in full annotation view" onclick="dataset_modal.media.annotate({{ a.point.media_id }}, {{ a.annotation_set_id }}, {point_ids:[{{ a.point.id }}]})"></i>
                {% elif args.include_link != "false" %} {# otherwise if not false, set action for handling by parent #}
                <i class="fa fa-external-link thm-ctl" data-hover="tooltip" title="Open in full annotation view" data-action="annotate" data-point_id="{{ a.point.id }}" data-media_id="{{ a.point.media_id }}"></i>
{#                <i class="fa fa-expand thm-ctl" title="Open in full annotation view" data-action="annotate" data-point_id="{{ a.point.id }}" data-media_id="{{ a.point.media_id }}"></i>#}
                {% endif %}
                {% if a.object_id == a.id %}
                    <i class="fa fa-asterisk text-danger" data-hover="tooltip" title="Marked as primary annotation of observation group"></i>
                {% endif %}
                {% if a.observation_count|default(0) > 1%}
                    <span class="text-success small" data-hover="tooltip" title="This object has been annotated {{ a.observation_count }} times">
                        <i class="fa fa-link"></i>{{ a.observation_count }}
                        {% if a.object_id %}
                        [OID:{{ a.object_id }}]
                        {% endif %}
                    </span>
                {% endif %}
            </span>
        </a>
    {% endfor %}
    </div>
    {% if args.hide_pagination != 'true' and args.top_pagination != "true" %}
    {% include "models/paginate_model.html" %}
    {% endif %}
</div>
{% else %}
    {% if args.hide_pagination != 'true' %}
    {% include "models/paginate_model.html" %}
    {% endif %}
<div class="alert">
    <i class="fa fa-exclamation-triangle text-danger"></i> No annotation thumbnails found...
</div>
{% endif %}
<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        $container.find('[data-hover="tooltip"]').tooltip();
    });
</script>
</div>