<div class="text-center">
    {% include "models/paginate_model.html" %}
    {% if data.metadata %}
    {% if data.metadata.page_stats %}
    <br><div class="badge-group">
        <span class="badge label-default"><i class="fa fa-bar-chart-o"></i> PAGE STATS:</span>
        <span class="badge label-default">MEAN: {{ data.metadata.page_stats.mean | round(1) }}</span>
        <span class="badge label-default">MEDIAN: {{ data.metadata.page_stats.median | round(1) }}</span>
        <span class="badge label-default">MIN: {{ data.metadata.page_stats.min | round(1) }}</span>
        <span class="badge label-default">MAX: {{ data.metadata.page_stats.max | round(1) }}</span>
        <span class="badge label-default">SUM: {{ data.metadata.page_stats.sum | round(1) }}</span>
    </div>
    {% endif %}
    {% endif %}

</div>
<hr>
{% if data.objects %}
    {% with data = (data.objects | to_dataframe) %}
    {% include "dataframe.html" %}
    {% endwith %}
{% else %}
    <div class="alert">
    <i class="fa fa-exclamation-triangle text-danger"></i> No data matching query parameters. Try tweaking your search.
    </div>
{% endif %}