<div class="text-center">
    {% include "models/paginate_model.html" %}
    {% if data.metadata %}
    {% if data.metadata.page_stats %}
    <br><div class="badge-group">
        <span class="badge label-default"><i class="fa fa-bar-chart-o"></i> PAGE STATS:</span>
        <span class="badge label-default">MEAN: {{ data.metadata.page_stats.mean | round(1) }}</span>
        <span class="badge label-default">MEDIAN: {{ data.metadata.page_stats.median | round(1) }}</span>
        <span class="badge label-default">MIN: {{ data.metadata.page_stats.min | round(1) }}</span>
        <span class="badge label-default">MAX: {{ data.metadata.page_stats.max | round(1) }}</span>
        <span class="badge label-default">SUM: {{ data.metadata.page_stats.sum | round(1) }}</span>
    </div>
    {% endif %}
    {% endif %}
</div>
<hr>
{% set tally_by = request.path | basename %}
<div class="tally-chart">
{% if data.objects %}
    {% for i in data.objects %}
        {% if tally_by == "label" %}
            {% set label = i.label_scheme_name~" > "~i.name %}
        {% elif tally_by == "deployment" %}
            {% set label = i.platform_name~" | "~i.campaign_name~" > "~i.name %}
        {% elif tally_by == "month" %}
            {% set label = i.month | int ~" / "~i.year | int %}
        {% elif tally_by == "user" %}
            {% set label = i.first_name ~" "~i.last_name %}
        {% else %}
            {% set label = i.name %}
        {% endif %}

        {% set color = i.color if i.color else "#ccc" %}

        <div class='tally-chart-row'>
            <div class='tally-chart-name'>{{ label }}</div><div class='tally-chart-val'>
                {% set width = (i.count / data.metadata.page_stats.max * 100) if data.metadata else 0 %}
                <div class='tally-chart-val-bar' title="{{ label }}: {{ i.count }}" rel="tooltip" style='width: {{ width }}%; background-color: {{ color }}'>
                    <span>{{ i.count | humanize('intcomma')}}</span>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="alert">
    <i class="fa fa-exclamation-triangle text-danger"></i> No annotations matching your search query.
    </div>
{% endif %}
</div>