<h2><i class="fa fa-tags"></i> DOMINANT ANNOTATION LABELS</h2>
{% set tally_by = request.path | basename %}
<br>
<div class="tally-chart tally-chart-sm">
{% if data.objects %}
    {% for i in data.objects %}
        {% if tally_by == "label" %}
            {% set label = i.label_scheme_name~" > "~(i.label_lineage_names if i.label_lineage_names else i.name) %}
{#            {% set label = i.label_scheme_name~" > "~i.name %}#}
        {% elif tally_by == "deployment" %}
            {% set label = i.campaign_name~" > "~i.name %}
        {% elif tally_by == "month" %}
            {% set label = i.month | int ~" / "~i.year | int %}
        {% elif tally_by == "user" %}
            {% set label = i.first_name ~" "~i.last_name %}
        {% else %}
            {% set label = i.name %}
        {% endif %}

        {% set color = i.color if i.color else "#ccc" %}

        <div class='tally-chart-row'  title="{{ label | safe }}: {{ i.count }}">
            <div class='tally-chart-name'>{{ label }}
            </div>
            <div class='tally-chart-val'>
                {% set width = (i.count / data.metadata.page_stats.max * 100) if data.metadata else 0 %}
                <div class='tally-chart-val-bar' rel="tooltip" style='width: {{ width }}%; background-color: {{ color }}'>
                    <span>{{ i.count }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
    <em><i class="fa fa-info-circle"></i>
        Showing top {{ data.objects | length }} of {{data.num_results | humanize('intcomma')}} labels
    </em>

{% else %}
    <div class="alert">
    <i class="fa fa-exclamation-triangle text-danger"></i> No annotations matching your search query.
    </div>
{% endif %}
</div>