<button type="button" onclick="$('.tr-preview-translations-nomatch').toggle()" class="btn btn-sm btn-info pull-right">TOGGLE NO MATCH</button>
<h4 class="text-center"><i class="fa fa-tags"></i> Preview label translations</h4>
{% if data.objects %}
    <div class="text-center">{% include "models/paginate_model.html" %}</div>

    {% include "models/annotation/tally_translate_table.html" %}

    <div class="text-center">{% include "models/paginate_model.html" %}</div>
    <em><i class="fa fa-info-circle"></i>
        Showing top {{ data.objects | length }} of {{data.num_results | humanize('intcomma')}} labels
    </em>
{% else %}
    <div class="alert">
    <i class="fa fa-exclamation-triangle text-danger"></i> No annotations matching your search query.
    </div>
{% endif %}
