{% set _container_id = "tally-annotations-container"~rendered_at %}
<div id="{{ _container_id }}">
    <form id="tally-annotations-form" class="form-horizontal">
        <div class="form-group">
            <div class="input-group  input-group-sm">
                <span class="input-group-addon"><b><i class="fa fa-filter"></i> FILTER ANNOTATIONS:</b></span>
                <span class="input-group-addon"><i class="fa fa-database"></i> PLATFORM:</span>
                <select name="platform_id" class="form-control"></select>
                <span class="input-group-addon"><i class="fa fa-map-marker"></i> CAMPAIGN</span>
                <select name="campaign_id" class="form-control"></select>
            </div>
            <div class="input-group  input-group-sm">
                <span class="input-group-addon"><i class="fa fa-users"></i> USER GROUP / PROJECT:</span>
                <select name="group_id" class="form-control"></select>
                <span class="input-group-addon"><i class="fa fa-users"></i> USER AFFILIATION:</span>
                <select name="affiliation_id" class="form-control"></select>
            </div>
            <div class="input-group  input-group-sm">

                <span class="input-group-addon"><i class="fa fa-calendar"></i> FROM:</span>
{#                <input class="form-control" name="from" type="date">#}
                <input type="text" name="from" class="form-control date-time" width="20"  placeholder="Filter From datetime (optional)" autocomplete="off" value="{{ current_datetime | format_datestring(offset_months=-6) }}">
{#                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>#}
                <span class="input-group-addon"><i class="fa fa-calendar"></i> TO:</span>
{#                <input class="form-control" name="to" type="date">#}
                <input type="text" name="to" class="form-control date-time" width="20"  placeholder="Filter To datetime (optional)" autocomplete="off">
{#                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>#}
                <span class="input-group-addon"><i class="fa fa-bar-chart-o"></i> SHOW COUNTS BY:</span>
                <select name="group_by" class="form-control">
                    <option value="label">Annotation Label</option>
                    <option value="month">Month & Year annotated</option>
                    <option value="campaign">Campaign</option>
                    <option value="deployment">Deployment</option>
                    <option value="platform">Platform</option>
                    <option value="affiliation">Affiliation</option>
                    <option value="usergroup">Usergroup</option>
                    <option value="user">User</option>
{#                    <option value="user">user</option>#}
        {#            <option value="platform">platform</option>#}
                </select>
                <span class="input-group-addon"><i class="fa fa-list-alt"></i> VIEW AS:</span>
                <select name="template" class="form-control">
                    <option value="models/annotation/tally_table.html">HTML table</option>
                    <option value="models/annotation/tally_chart.html" selected>Chart</option>
                    <option value="data.csv">Download CSV file</option>
                </select>
                <span class="input-group-addon" title="Results per page">#</span>
                <input type="number" name="results_per_page" class="form-control" width="3" value="50"  placeholder="Results per page">

                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btn-tally-annotations"><i class="fa fa-bar-chart"></i> GENERATE TALLY</button>
                </span>
                <a href="javascript:void(0)" class="input-group-addon"><i class="fa fa-gear"></i></a>
            </div>
        </div>
    </form>

    <div id="tally-annotations-data">
        <div class="alert"><i class="fa fa-info-circle"></i> Use options above to query annotations and generate summaries</div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var $container = $("#{{ _container_id }}");
        var $btn = $container.find("#btn-tally-annotations");
        var $data = $container.find("#tally-annotations-data");
        var $form = $container.find("#tally-annotations-form").submit(function(e){e.preventDefault(); return false;});
        var $platform_id = $form.find('[name="platform_id"]');
        var $group_id = $form.find('[name="group_id"]');
        var $affiliation_id = $form.find('[name="affiliation_id"]');
        var $campaign_id = $form.find('[name="campaign_id"]');

        var $datetimes = $container.find(".date-time").datetimepicker({
            fontAwesome: true,
            showSecond: true,
            format:'yyyy-mm-ddThh:ii:ss'
        });


        $btn.click(function(e){
            var q={filters: [] };
            var params = $form.serializeObject();
            //if (params.from) q.filters.push({name:"updated_at",op:"gte",val:params.from});
            //if (params.to) q.filters.push({name:"updated_at",op:"lte",val:params.to});
            if (params.from) q.filters.push({name:"created_at",op:"gte",val:params.from});
            if (params.to) q.filters.push({name:"created_at",op:"lte",val:params.to});
            if (params.group_id) q.filters.push({name:"annotation_set",op:"has",val: {name:"usergroups",op:"any",val: {name:"id",op:"eq",val:params.group_id}}});
            if (params.affiliation_id) q.filters.push({name:"user",op:"has",val: {name:"affiliations",op:"any",val: {name:"id",op:"eq",val:params.affiliation_id}}});
            if (params.platform_id) q.filters.push({name:"point",op:"has",val: {name:"media",op:"has",val: {name:"deployment",op:"has",val: {name:"platform_id",op:"eq","val":params.platform_id}}}});
            if (params.campaign_id) q.filters.push({name:"point",op:"has",val: {name:"media",op:"has",val: {name:"deployment",op:"has",val: {name:"campaign_id",op:"eq","val":params.campaign_id}}}});
            var url = '/api/annotation/tally/'+params.group_by+'?q='+JSON.stringify(q)+'&template='+params.template+'&minify=false&results_per_page='+params.results_per_page;
            if (params.template.endsWith('.csv')) {
                window.open(url, '_blank').focus();
            }
            else {
                load_content.paginated_html(url, $data);
            }
        });

        $platform_id.ajax_select("/api/platform", {
            template_option: '<div class="title">[[name]]</div><div class="description">[[description]]</div>',
            placeholder: "Filter by platform (optional)",
            allow_clear: true,
            build_query: function(search_term) {
                var q = {filters: [], order_by: [{field:"name",direction:"asc"}]}
                if (search_term) {
                    $(search_term.split(/(\s+)/)).each(function(i,s){
                        if (s.trim().length)
                            q.filters.push({name:"name",op:"ilike",val:'%'+s+'%'});
                    });
                }
                return q;
            }
        });

        $group_id.ajax_select("/api/groups", {
            template_item: "[[&name]]",
            template_option: '<small class="pull-right" title="Creation date" xmlns="http://www.w3.org/1999/html"><i class="fa fa-calendar"></i> created: [[created_at]]</small> ' +
                '<div class="title">' +
                '[[#current_user_is_owner]] <i class="fa fa-check-square text-success"></i>[[/current_user_is_owner]]' +
                '[[^current_user_is_owner]] '+
                '[[#current_user_is_member]]<i class="fa fa-user text-success" title="You are a member"></i>[[/current_user_is_member]]' +
                '[[^current_user_is_member]]<i class="fa fa-user text-danger" title="You are not a member"></i>[[/current_user_is_member]]' +
                '[[/current_user_is_owner]]'+
                ' [[name]]</div><div class="description">' +
                '<i class="fa fa-user-circle" title="Custodian"></i>&nbsp;[[user.first_name]]&nbsp;[[user.last_name]], ' +
                '<i class="fa fa-male"></i>&nbsp;[[member_count]]&nbsp;members, ' +
                '[[#is_public]]<i class="fa fa-users text-success"></i>&nbsp;public[[/is_public]][[^is_public]]<i class="fa fa-user"></i>&nbsp;private[[/is_public]], ' +
                '[[#is_restricted]]<i class="fa fa-eye-slash text-danger"></i>&nbsp;restricted[[/is_restricted]][[^is_restricted]]<i class="fa fa-eye"></i>&nbsp;unrestricted[[/is_restricted]], ' +
                '[[#requires_approval]]<i class="fa fa-lock text-danger"></i>&nbsp;needs&nbsp;approval[[/requires_approval]][[^requires_approval]]<i class="fa fa-unlock"></i>&nbsp;no&nbsp;approval[[/requires_approval]], ' +
                '[[#requires_agreement]]<i class="fa fa-handshake-o text-danger"></i>&nbsp;needs&nbsp;D.U.A[[/requires_agreement]][[^requires_agreement]]<i class="fa fa-handshake-o"></i>&nbsp;no&nbsp;D.U.A[[/requires_agreement]]' +
                '[[#groupinfo]] <br><em>[[groupinfo]]</em>[[/groupinfo]]',
            placeholder: "Filter by User group (optional)",
            allow_clear: true,
            build_query: function(search_term) {
                var q = {filters: [{name:'user_id', op: "is_not_null"}], order_by: [{field:"name",direction:"asc"}]}
                if (search_term) {
                    $(search_term.split(/(\s+)/)).each(function(i,s){
                        if (s.trim().length)
                            q.filters.push({name:"name",op:"ilike",val:'%'+s+'%'});
                    });
                }
                return q;
            }
        });

        $affiliation_id.ajax_select('/api/groups', {
            placeholder: 'Filter by Affiliation (optional)',
            dropdown_parent: $container,
            template_item: "[[&name]]",
            template_option: '<div class="title">[[name]]</div><div class="description">[[#groupinfo]]<em>[[groupinfo]]</em>[[/groupinfo]]</div>',
            allow_clear: true,
            build_query: function(search_term) {
                var q = {
                  filters: [{name:"group_type",op:"has",val:{name:"name",op:"eq",val:"affiliation"}}],
                  order_by: [{field:"name",direction:"asc"}]
                }
                if (search_term) {
                    $(search_term.split(/(\s+)/)).each(function(i,s){
                        if (s.trim().length)
                            q.filters.push({or: [
                                {name:"name",op:"ilike",val:'%'+s+'%'}, {name:"groupinfo",op:"ilike",val:'%'+s+'%'}
                            ]});
                    });
                }
                return q;
            }
        });;

        $campaign_id.ajax_select("/api/campaign", {
            //template_option: '<div class="title">[[name]]</div><div class="description">[[description]]</div>',
            placeholder: "Filter by Campaign (optional)",
            allow_clear: true,
            build_query: function(search_term) {
                var q = {filters: [{name:'user_id', op: "is_not_null"}], order_by: [{field:"name",direction:"asc"}]}
                if (search_term) {
                    $(search_term.split(/(\s+)/)).each(function(i,s){
                        if (s.trim().length)
                            q.filters.push({name:"name",op:"ilike",val:'%'+s+'%'});
                    });
                }
                return q;
            }
        });
    });
</script>