<table class="table table-striped table-responsive table-sm">
    <thead>
    <tr>
    <th style="text-align: left;vertical-align: middle">Original<br>Label</th>
    <th style="text-align: center; vertical-align: middle">#annotations<br>Translation Info</th>
    <th style="text-align: right;vertical-align: middle">Translated<br>Label</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data.objects %}
    <tr class="{{ 'tr-preview-translations-nomatch'  if not i.translated_id else 'tr-preview-translations-matched' }}">
    <td style="text-align: left;vertical-align: middle">
        {{ i.label_scheme_name }} | <b>{{ i.name }}</b> | ID {{ i.id }}<br>
        <small><i class="fa fa-square" style="color: {{ i.color }}"></i> {{ i.label_lineage_names }}</small>
    </td>
    <td style="width: 120px; text-align: center; padding: 5px; vertical-align: middle">
        {% set width = [(i.count / data.metadata.page_stats.max * 100) if data.metadata else 1, 1] | max %}
        <div><i class="fa fa-tags"></i> {{ i.count | humanize('intcomma') }}</div>
        <div><b class="small">{{ i.translated_info }}</div>
        <div style="width:{{ width }}%; height:5px; background-color: {{ i.color }}; display: inline-block"></div>
    </td>
    <td style="text-align: right;vertical-align: middle">
        {% if i.translated_id %}
        {{ i.translated_label_scheme_name }} | <b>{{ i.translated_name }}</b> | ID {{ i.translated_id }}<br>
        <small>{{ i.translated_lineage_names }} <i class="fa fa-square" style="color: {{ i.color }}"></i></small>
        {% else %}
            <i class="fa fa-exclamation-triangle text-danger"></i> <b>NO MATCH</b>
        {% endif %}
    </td>
    </tr>
    {% endfor %}
    </tbody>
</table>