<header class="panel-heading">
    <h2 class="panel-title">New EVENT TYPE</h2>
    <p class="help-block">
        Add a new event type to the list. This should be short and concise.
        Eg: Fault / Sample / Highlight / Comment / etc...
    </p>

</header>
<div class="panel-body">
    <form id="new-deployment-type-form" role="form" onsubmit="return false;" target="/api/deployment_event_type">

        <div class="form-group">
            <input name="name" type="text" class="form-control" placeholder="Event Type">
        </div>

        <br><br>
        <button type="submit" class="btn btn-success form-control"><i class="fa fa-plus-circle"></i> CREATE EVENT TYPE</button>

    </form>
</div>

<script>
    $(document).ready(function(){

        var $form = $("form#new-deployment-type-form");

        $form.submit(function(e){
            var $modal = $form.parents(".modal");
            var params = {
                name: $form.find("[name='name']").val()
            };

            var url = $form.attr("target");
            $.ajax({
                url: url,
                type: 'post',
                data: JSON.stringify(params),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    if (data.hasOwnProperty("id"))
                        notify.success("The Event Type was successfully created.");
                }
            }).done(function(data, textstat, jqxhr){
                console.log("SUCCESS! "+ url, data);
                $modal.trigger("completed", data);
            }).fail(function(jqxhr, textstat, err){
                console.log("ERROR! could not send command: "+ url, jqxhr);
                notify.error("ERROR! "+jqxhr.responseText);
            });

            e.preventDefault();
            return false;
        });
    });
</script>