
{% extends "layout.html" %}

{% block page_title %}Unauthorized{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="text-center">
        <h1>401</h1>
        <p>You are not authorized to see this page.
            {% if not current_user.is_authenticated() %}
            Please <a href="javascript:void(0)" onclick="user_modal.login()">Log in</a> or
            <a href="javascript:void(0)" onclick="user_modal.create()">Sign up</a>.
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
    user_modal.login();
});
</script>

{% endblock %}
