
{% extends "layout.html" %}

{% block page_title %}Server error{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="text-center">
        <h1>500</h1>
        <p>
        {% if errormsg %}
            {{ errormsg }}
        {% else %}
            Sorry, something went wrong on our system. Don't panic, we are fixing it! Please try again later.
        {% endif %}
        </p>
    </div>
</div>
{% endblock %}

