<html>
<head>
    {#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    {% assets "css_basic" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body style="padding: 0">

    <div class="alert" style="margin: 0">
    <a href="javscript:void(0)" onclick="$(this).siblings('pre').toggle()">
        <i class="fa fa-info-circle"></i> SHOW/HIDE  METADATA
    </a>
    <pre style="background-color: rgba(255,255,255,0.5); font-size: x-small; display: none"URL: {{ request.full_path }}{% if data.page %}
PAGE: {{ data.page }}/{{ data.total_pages }}{% endif %}{% if data.num_results %}
RESULTS: {{ data.objects|length }}/{{ data.num_results }}{% endif %}{% if data.metadata %}
METADATA: {{ data.metadata | as_json }}{% endif %}</pre>
    </div>
    {% with data = (data.objects | to_dataframe) if data.objects else (data | to_dataframe) %}
    {% include "dataframe.html" %}
    {% endwith %}
    {#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
    {#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>#}
    {% assets "js_basic" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html>