<footer>
  <small>
  <ul class="company">
    <li>Conceived and created by Ariell Friedman (<a href="http://greybits.com.au" target="_blank">Greybits Engineering</a>)</li>
{#      <li>Made by <a href="http://greybits.com.au" target="_blank">Greybits</a></li>#}
  </ul>

    <ul class="footer-nav">

      <li><a href="{{ url_for('public.about') }}">About</a></li>

      <li><a href="mailto:ariell@greybits.com.au">Contact</a></li>
    </ul>
  </small>
</footer>
