<html>
<head>
    <style>
        body {
            font-size: 11px;
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0; padding: 5px;
        }
        pre{
            font-size: 11px; margin: 10px; background-color: #eee; border-radius: 5px; padding: 8px; color: #404040;
        }

    </style>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>

</head>
<body>
HEADERS:
<pre><code class="">{{ headers }}</code></pre>
QUERYSTRING:
<pre>{% for key, value in args.items() %}
{{ key }}={{ value }}{% endfor %}</pre>
RESPONSE:
<pre><code class="lang-json">{{ data | as_json }}</code></pre>
<script>
    hljs.initHighlightingOnLoad();
</script>
</body>
</html>

