
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">   <!-- Fix for IE not showing font-awesome icons (untested) -->
  <meta charset="utf-8">

  <title>
      {% block page_title %}{{ config.PROJECT_NAME }}{% endblock %}{% block page_subtitle %}{% endblock %}
  </title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  <link rel="shortcut icon" href="/static/images/icons/tag.png">

{#  <link rel="stylesheet" href="{{ url_for('static', filename='libs/multiselect/multiple-select.css') }}" />#}
{#  <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap-multiselect/dist/css/bootstrap-multiselect.css') }}" />#}


  {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

<!-- JavaScript at the bottom for fast page loading -->
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{#<script src="{{ url_for('static', filename='libs/multiselect/jquery.multiple.select.js') }}"></script>#}
{#<script src="{{ url_for('static', filename='libs/bootstrap-multiselect/dist/js/bootstrap-multiselect.js') }}"></script>#}


  {% block css %}{% endblock %}

{% if config.ANALYTICS_GOOGLE_TAGID %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{config.ANALYTICS_GOOGLE_TAGID}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{config.ANALYTICS_GOOGLE_TAGID}}');
    </script>
{% endif %}

</head>
<body class="{% block body_class %}{% endblock %}">
{% block nav %} {% include "nav.html" %} {% endblock %}

{% block body %}

<header>{% block header %}{% endblock %}</header>
<div class="{% block content_class %}container{% endblock content_class %}">

  <div role="main">
    {% block content %}{% endblock %}
  </div>

</div><!-- end container -->

{% block footer %}
{% include "footer.html" %}
{% endblock %}

{% block js %}{% endblock %}
<!-- end scripts -->
{% endblock %}

{% include "flash_messages.html" %}

</body>
</html>

