
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('public.home') }}">
      <i class="fa fa-tag" style="color: white;"></i> {{ config.PROJECT_NAME }}</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        <li><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#"><i class="fa fa-info-circle"></i> About <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for("public.about") }}">About the Project</a></li>
            <li><a href="#">Meet the team</a></li>
            <li><a href="{{ url_for('public.api_help', template='api_help_page.html') }}" >API/Integration ref</a></li>
          </ul>
        </li>
        <li><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#"><i class="fa fa-globe"></i> Data <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for("geodata.explore") }}"><i class="fa fa-globe"></i> Explore Data</a></li>
{#            <li><a href="{{ url_for("public.snippet_with_nav", snippet="model_templates/label_scheme/get.html") }}"><i class="fa fa-tags"></i> Manage Annotation Schemes</a></li>#}
            <li><a href="javascript:void(0)" onclick="dataset_modal.resource_groups('label_scheme', {title:'Manage Annotations Schemes'})"><i class="fa fa-tags"></i> Manage Annotation Schemes</a></li>
          </ul>
        </li>
{#      <li><a href="{{ url_for('geodata.explore') }}">Explore</a></li>#}
    </ul>

    <ul class="nav navbar-nav navbar-right" style="margin-right: 0">
        {% if current_user and current_user.is_authenticated() %}
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-list-ul"></i> My Collections <span class="caret"></span></a>
              <ul id="my-collection-options" class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('geodata.explore') }}?action=newcollection"><i class="fa fa-plus-circle"></i> New Collection</a></li>
                <li><a href="javascript:void(0)" onclick="dataset_modal.media_collection_groups()"><i class="fa fa-list-ul"></i> Select/Manage My Collections</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> {{ current_user.username }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a class="navbar-link" href="javascript:void(0)" onclick="user_modal.logout()">Sign out</a></li>
                <li><a href="javascript:void(0)" onclick="user_modal.update('{{ current_user.id }}')">Edit details</a></li>
                <li><a href="javascript:void(0)" onclick="user_modal.api_token()">API Token</a></li>
              </ul>
            </li>
        {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> Not logged in <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="javascript:void(0)" onclick="user_modal.login()">Log in</a></li>
                <li><a href="javascript:void(0)" onclick="user_modal.create()">Sign up</a></li>
              </ul>
            </li>
        {% endif %}
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

