{% set _container_id = "detail-label_scheme-"~rendered_at %}
<div id="{{ _container_id }}">
    <div class="well well-sm">
        <ul class="dataset-info">
            <li style="font-size: xx-small; color: #ccc; text-transform: uppercase">ANNOTATION SCHEME:</li>
            {% include "models/label_scheme/list_item.html" %}
        </ul>
    </div>
</div>
