{% set _container_id = "label_scheme-form-container-"~rendered_at %}
<style>
    .exemplar-set-select-list .object-list {
        padding-left: 20px;
    }
    .exemplar-set-select-list .object-list .object-ctl {
        display: none;
    }
    .exemplar-set-select-list .object-list .object-description {
        display: none;
    }
    .exemplar-set-select-list .object-list .object-info .badge {
        background-color: rgba(0,0,0,0.1);
        border: 1px solid rgba(0,0,0,0.05);
        color: #666666;
    }
</style>
<div id="{{ _container_id }}">
<h4><i class="fa fa-tags"></i> Annotation Scheme</h4>
<form class="form-horizontal" id="group-form"
    {% if data.id %} action="/api/label_scheme/{{ data.id }}"  method="PATCH"
    {% else %} action="/api/label_scheme" method="POST" {% endif %}>
    {% if msg %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6 alert alert-{{ msg.status }}">{{ msg.msg }}</div>
    </div>
    {% endif %}

    <input type="hidden" name="user_id" value="{{ data.user_id or current_user.id }}">

    <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" name="name" placeholder="Name of Annotation Scheme" value="{{ data.name }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Description</label>
        <div class="col-sm-7">
            <textarea class="form-control" rows="6" name="description" placeholder="Short description of Annotation Scheme that will assist others who may wish to use it in the future">{{ data.description if data.description else "" }}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Options</label>
        <div class="col-sm-7">
            <div class="checkbox">
                <label>
                    <input name="is_hierarchy" type="checkbox" value="true" {{ "checked" if data.is_hierarchy else ""}}>
                    <i class="fa fa-sitemap"></i> <b>NESTED HIERARCHY</b><br><em>classes are arranged in a hierarchical structure</em>
                </label><br><br>
                <label>
                    <input id="is_parent_checkbox" type="checkbox" value="true" {{ "checked" if data.is_child else ""}}>
                    <i class="fa fa-clone"></i> <b>EXTENDS EXISTING SCHEME</b><br>
                    <em>this scheme is an extension of another one</em>
                </label>
                <div class="well well-sm">
                    <select data-parent_label_scheme_id="{{ data.parent_label_scheme.id if data.parent_label_scheme else "" }}" name="parent_label_scheme_id" class="form-control"></select>
                    <div class="help-block">
                        <i class="fa fa-info-circle"></i> Choose a Base Annotation Scheme to extend. All labels from the selected Base scheme will be
                        available to this one. Any additional labels added to this scheme will not be part of the Base scheme,
                        however any changes to the Base scheme will also affect this one.</div>
                </div>
            </div>
        </div>
    </div>
{#    {% if data.id %}#}
{#    <div class="form-group">#}
{#        <label class="col-sm-3 control-label">Exemplar sets</label>#}
{#        <div class="col-sm-8">#}
{#            {% include "models/label_scheme/select_exemplar_annotation_set.html" %}#}
{#        </div>#}
{#    </div>#}
{#    {% endif %}#}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <button type="submit" class="btn btn-primary">SAVE</button>

            {% if data.id %}
            <button id="delete-label_scheme" data-id="{{ data.id }}" type="button" class="btn btn-link pull-right">
                <span class="text-danger"><i class="fa fa-trash"></i> DELETE</span>
            </button>
            {% endif %}
        </div>
    </div>

</form>
<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $form = $container.find("#group-form");
        var $modal = $container.parents(".modal");
        var $parent_label_scheme_id = $container.find("[name='parent_label_scheme_id']");
        var $is_parent_checkbox = $container.find("#is_parent_checkbox");
        var label_scheme_id = {{ data.id or "null" }};
        var $delete_label_scheme_btn = $container.find("#delete-label_scheme");

        $form.APIForm({
            ajax_prefill: false,
            callback:function(data, form) {
                $modal.trigger("completed", data);
            }
        });

        $delete_label_scheme_btn.click(function(e){
            dataset_modal.label_scheme.remove($(this).data("id"), {
                success: function(){$modal.trigger("completed")}
            });
        });

        $is_parent_checkbox.change(function(){
            $parent_label_scheme_id.html("<option value=''>-- NO BASE SCHEME SELECTED --</option>");
            if ($(this).is(":checked")) {
                $parent_label_scheme_id.parent().show();
                var parent_label_scheme_id = $parent_label_scheme_id.data('parent_label_scheme_id');
                var filters = {filters:[{name:"is_child",op:"neq",val:true}]};
                if (label_scheme_id) filters.filters.push({name: "id", op: "neq", val: label_scheme_id});
                ajax.get('/api/label_scheme?q='+JSON.stringify(filters), {success:function(data){
                    $(data.objects).each(function(i,o){
                        $parent_label_scheme_id.append("<option value='"+o.id+"' "+((parent_label_scheme_id===o.id)?"selected":"")+">"+o.name+"</option>");
                    });
                }});
            }
            else {
                $parent_label_scheme_id.parent().hide()
            }
        }).trigger("change");
    });
</script>
</div>