<h2>
    <small class="pull-right">[ID:{{ data.id }}]</small>
    {% include "models/usergroup_icon.html" %}
    {{ data.name }}
</h2>
{% if data.parent_label_scheme %}
    <h4 title="This scheme is an extension of the '{{ data.parent_label_scheme.name }}' scheme">
        <i class="fa fa-clone text-warning" ></i> <span class="active-show"> EXTENDS: {{ data.parent_label_scheme.name }}</span>
    </h4>
{% endif %}

<table class="object-detail-table"><tbody>
    {% if data.description %}
    <tr><td>
        DESCRIPTION:
    </td><td>
        {{ data.description }}
    </td></tr>
    {% endif %}
    <tr><td>
        PERMISSIONS:
    </td><td>
        {% include "models/label_scheme/info_badges.html" %}
    </td></tr>
    <tr><td>
        PROPERTIES:
    </td><td>
        {% include "models/label_scheme/info_count_badges.html" %}
    </td></tr>
    <tr><td>
        OWNER/CREATOR:
    </td><td>
        {% with user=data.user, user_title="Scheme Custodian" %}
            {% include('models/users/user_badge.html') %}
        {% endwith %}
        {% if data.created_at %}
        <span class="badge active-show" title="Created: {{ data.created_at }}">
            <i class="fa fa-calendar"></i> created: {{ data.created_at | parse_datestring | humanize}}
        </span>
        {% endif %}
    </td></tr>
</tbody></table>