<span class="badge-group">

    {% if data.is_hierarchy %}
    <span class="badge" title="Hierarchical scheme with a nested structure">
        <i class="fa fa-sitemap" data-toggle="tooltip" title="Hierarchical scheme with a nested structure"></i>
        <span class="active-show"> Nested hierarchy</span>
    </span>
    {% else %}
    <span class="badge">
        <i class="fa fa-list-ul" data-toggle="tooltip" title="Flat list"></i>
        <span class="active-show"> Flat list</span>
    </span>
    {% endif %}
    <span class="badge">
        <i class="fa fa-tags" data-toggle="tooltip" title="Used by {{ data.annotation_set_count }} Annotation Sets"></i> {{ data.annotation_set_count|humanize('intcomma') }}
        <span class="active-show"> Annotation set{{ "s" if data.annotation_set_count!=1 }}</span>
    </span>
    <span class="badge">
        <i class="fa fa-check-square-o" data-toggle="tooltip" title="Has {{ data.exemplar_annotation_set_count }} Exemplar Set{{ "s" if data.exemplar_annotation_set_count!=1 }}"></i>
        {{ data.exemplar_annotation_set_count|humanize('intcomma') }}
        <span class="active-show"> Exemplar set{{ "s" if data.exemplar_annotation_set_count!=1 }}</span>
    </span>
</span>