<span class="badge-group">
    {% if data.current_user_is_owner %}
        <span class="badge">
            <i class="fa fa-pencil-square text-success"  data-toggle="tooltip" title="You can edit this annotation scheme"></i>
            <span class="active-show"> custodian</span>
        </span>
    {% elif data.current_user_can_edit %}
        <span class="badge" >
            <i class="fa fa-pencil-square text-success" data-toggle="tooltip" title="You can edit this annotation scheme"></i>
            <span class="active-show"> editor</span>
        </span>
    {% elif data.current_user_is_member %}
        <span class="badge" >
            <i class="fa fa-pencil-square text-info" data-toggle="tooltip" title="You can contribute this annotation scheme but changes need approval"></i>
            <span class="active-show"> contributor</span>
        </span>
    {% else %}
        <span class="badge">
            <i class="fa fa-pencil-square"  data-toggle="tooltip" title="You can view and use this scheme, but you cannot edit it"></i>
            <span class="active-show"> read-only</span>
        </span>
    {% endif %}

    <span class="badge">
        {% if data.is_public %}
            <i class="fa fa-users text-success" data-toggle="tooltip" title="This label scheme is public"></i>
            <span class="active-show"> public</span>
        {% else %}
            <i class="fa fa-user" data-toggle="tooltip" title="This label scheme is private{{ 'ly shared in '~data.usergroup_count~' groups' if data.usergroup_count>0 }}"></i>
            <span class="active-show"> private</span>
        {% endif %}
    </span>
    <span class="badge">
        <i class="fa fa-share-alt" data-toggle="tooltip" title="Shared in {{ data.usergroup_count }} Groups"></i>
        {{ data.usergroup_count }}
        <span class="active-show"> Groups</span>
    </span>

{#    <span class="badge" title="Shared in {{ data.usergroup_count|humanize('intcomma') }} Groups">#}
{#        <i class="fa fa-share-alt"></i> {{ data.usergroup_count }}<span class="active-show"> groups</span>#}
{#    </span>#}

{#    {% if data.media_count %}#}
{#    <span class="badge" title="Number of Media items in this Media Collection">#}
{#        <i class="fa fa-image"></i> {{ data.media_count |humanize('intcomma') }}<span class="active-show"> media items</span>#}
{#    </span>#}
{#    {% endif %}#}
</span>