{#  {#}
{#   "user_id": 1,#}
{#   "description": null,#}
{#   "current_user_can_edit": true,#}
{#   "user": {#}
{#    "username": "ariell",#}
{#    "first_name": "Ari",#}
{#    "last_name": "Friedman",#}
{#    "id": 1#}
{#   },#}
{#   "current_user_is_member": false,#}
{#   "tag_files": [#}
{#    {#}
{#     "fileurl": "/api/label_scheme_file/get/1",#}
{#     "description": "",#}
{#     "id": 1,#}
{#     "name": "custom-squidle.csv"#}
{#    }#}
{#   ],#}
{#   "is_hierarchy": true,#}
{#   "current_user_can_view": true,#}
{#   "current_user_is_owner": true,#}
{#   "is_public": false,#}
{#   "id": 1,#}
{#   "name": "Squidle 1.0"#}
{#  }#}

<li class="{{ 'active' if args.label_scheme_id == data.id else '' }}">
    <span class='object-ctl active-show'>
        <small>[ID:{{ data.id }}]</small>
        {% if data.current_user_can_edit %}
{#        <i class='fa fa-trash object-delete' data-id="{{ data.id }}" title="Delete"></i>#}
        <i class='fa fa-pencil object-edit' data-id="{{ data.id }}" title="Edit"></i>
        {% endif %}
        <i class='fa fa-share-alt object-share' data-id="{{ data.id }}" title="Share"></i>
    </span>
    <a class="object-link" data-id="{{ data.id }}" href='javascript:void(0)'>
        {% include "models/usergroup_icon.html" %}
        {{ data.name }}

        {% if data.parent_label_scheme %}
            <span class="badge">
            <i class="fa fa-clone text-warning" data-toggle="tooltip"  title="This scheme is an extension of the '{{ data.parent_label_scheme.name }}' scheme"></i>
            <b>EXTENDS:</b> {{ data.parent_label_scheme.name }} </span>
        {% endif %}

    </a>

    {% if data.description %}<div class="object-description active-show">{{ data.description }}</div>{% endif %}

    <div class="object-description">
        {% include "models/label_scheme/info_badges.html" %}

        {% include "models/label_scheme/info_count_badges.html" %}

{#        <span class="badge active-show" title="Owner / Creator"><i class="fa fa-user-circle"></i> {{ data.user.first_name }} {{ data.user.last_name }}#}
{#        {% if data.current_user_is_owner %}(me){% endif %}#}
{#        </span>#}
        {% with user=data.user, user_title='Scheme Custodian' %}
            {% include('models/users/user_badge.html') %}
        {% endwith %}
    {#    <span class="badge active-show" title="Date Created"><i class="fa fa-calendar"></i> {{ data.created_at }}</span>#}

        {% if data.data %}
        <span class="active-show">
            <a href="javascript:void(0)" class="badge" onclick="$(this).siblings('pre.info').toggle()">more <i class="fa fa-caret-down"></i></a>
            <pre class="info" style="display: none">{{ data.data | as_json }}</pre>
        </span>
        {% endif %}

    </div>
</li>