<h4>
    <i class='fa fa-tags'></i> Add Exemplar label to:
</h4>
<div class="well well-sm object-detail">
{% include "models/label_scheme/info_detail.html" %}
</div>

{% set _container_id = "label_scheme_exemplars-"~rendered_at %}
<div id="{{ _container_id }}">
    <div class="well well-sm exemplar-set-select-list">
        <p>Select an Exemplar Set from the list below:</p>
        <select name="exemplar_annotation_set_id" class="form-control"></select>
        <div class="help-block">
            <i class="fa fa-info-circle"></i> NOTES:
            <ul>
                <li>
                    Exemplar Sets consist of a <code>media_collection</code> and an <code>annotation_set</code> that contain
                    specifically selected <code>media</code> items and <code>annotations</code> used to mark exemplars for
                    specific <code>labels</code>.
                </li>
                <li>
                    If you don't see any Exemplar Sets in the list, you may not have the required edit access for this scheme to add exemplars.
                    Contact the scheme custodian to request access.
                </li>
                {% if data.parent_label_scheme %}
                <li>
                    This scheme <b>extends the '{{ data.parent_label_scheme.name }}' base scheme</b>, which may have
                    its own Exemplar Sets.
{#                    <ul><li>#}
                    If you wish to create an exemplar for a label in the base scheme and you have
                    adequate edit permissions, adding it to the exemplar set for the base scheme will make the exemplars
                    available to this one and any other schemes that extend it.
{#                    </li><li>#}
                    To only add the exemplar to this scheme, select or create an exemplar set.
{#                    </li></ul>#}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div>
        <a href="javascript:void(0)" data-dismiss='modal' class="btn btn-link" type="button" ><i class="fa fa-times"></i> CANCEL</a>
        {% if data.current_user_can_edit %}
            <button id="new_exemplar_set" title="Create a NEW Exemplar set" class="btn btn-link" type="button" ><i class="fa fa-plus"></i> NEW EXEMPLAR SET</button>
        {% endif %}
        <button id="select_exemplar_set" title="Add frame to selected Exemplar Set" class="btn btn-primary pull-right" type="button" ><i class="fa fa-plus"></i> ADD CURRENT FRAME</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var $container = $("#{{ _container_id }}");
        var $modal = $container.parents(".modal");
        var $new_exemplar_set_button = $container.find("#new_exemplar_set");
        var $select_exemplar_set_button = $container.find("#select_exemplar_set");
        var media_id = '{{ args.media_id }}';
        var label_scheme_id = '{{ data.id }}';
        var label_scheme_name = '{{ data.name }}';
        var label_scheme_data = JSON.parse('{{ data|tojson }}');
        var $exemplar_annotation_set_id = $container.find("select[name='exemplar_annotation_set_id']");

        $container.find(".object-list .object-link").click(function () {
            var media_collection_id = $(this).data("mcid");
            var annotation_set_id = $(this).data("id");
            notify.confirm("Are you sure you want to add the currently selected Media item to the set of exemplars for this Annotation Scheme?", {
                ok: function() {add_exemplar(media_collection_id, annotation_set_id, media_id)}
            });
        });

        $new_exemplar_set_button.click(function(){
            var annotation_set_name = "EXEMPLAR ANNOTATIONS: "+label_scheme_name+" scheme";
            var annotation_set_desc = "Exemplar annotations for "+ label_scheme_name+" scheme";
            var media_collection_name = "EXEMPLAR IMAGES: "+label_scheme_name+" scheme";
            var media_collection_desc = "Collection of media containing exemplar annotations";
            dataset_modal.media_collection.create(
                {name:media_collection_name, description: media_collection_desc},
                {oncompleted: function(media_collection){
                    dataset_modal.annotation_set.create(media_collection.id,
                        {name: annotation_set_name, description: annotation_set_desc, label_scheme_id: label_scheme_id, is_exemplar:'true'},
                        {oncompleted: function(annotation_set){
                            add_exemplar(annotation_set.id, media_id);
                        }}
                    )
                }}
            )
        });


        function add_exemplar(annotation_set_id, media_id) {
            console.log("/api/annotation_set/" + annotation_set_id + "/media/" + media_id);
            ajax.post("/api/annotation_set/" + annotation_set_id + "/media/" + media_id).done(function (data) {
                $modal.modal("hide");
                var $alert = notify.success("ADD EXEMPLAR ANNOTATIONS: <br>" +
                    "(a) Double-click to create a point <br>" +
                    "(b) Apply a label to create an exemplar<br>" +
                    "(c) Click-drag on a point to create a bounding box with which to crop the exemplar<br>" +
                    "(d) Close this annotation window to go back", -1);
                dataset_modal.media.annotate(data.id, annotation_set_id, {}, {
                    modal_id: "annotate-exemplar",
                    onhidden: function () {$alert.remove()}
                });
            })
        }

        $select_exemplar_set_button.click(function(){
            var annotation_set_id = $exemplar_annotation_set_id.val();
            if (annotation_set_id) {
                add_exemplar(annotation_set_id, media_id);
            }
        });


        $exemplar_annotation_set_id.ajax_select('/api/annotation_set', {
            placeholder: 'You need edit permissions to add exemplars',
            dropdown_parent: $modal,
            template_option: '<span class="title">[[label_scheme.name]]</span> ' +
                        '<span class="badge"><i class="fa fa-tags"></i> [[annotation_count]] exemplars</span> ' +
                        '<span class="badge">[[#current_user_can_edit]]<i class="fa fa-check-square text-success"></i>[[/current_user_can_edit]][[^current_user_can_edit]]<i class="fa fa-times text-danger"></i>[[/current_user_can_edit]] editable</span> ' +
                        '<span class="badge"><i class="fa fa-share-alt"></i> [[usergroup_count]] groups</span> ' +
                        '<div class="description"><b>MEDIA COLLECTION:</b> [[media_collection.name]]<br><b>ANNOTATION SET:</b> [[name]]</div>',
            template_item: "[[label_scheme.name]] ([[name]])",
            process_objects: function(objects) {
                // delete children property which causes select to break (it expects a group)
                return objects.map(function(o){delete o.children; return o;});
            },
            build_query: function(search_term) {
                var q = {filters:[
                    {name:"is_exemplar",op:"eq",val:true},
                    {name:"label_scheme_id",op:"in",val:label_scheme_data.parent_label_scheme_ids}
                ]};
                if (search_term) q.filters.push({name:"name",op:"ilike",val:'%'+search_term+'%'});
                return q;
            }
        });

        /*
        $exemplar_annotation_set_id.selectize({
            valueField: 'id',
            labelField: 'name',
            searchField: ['name'],
            placeholder: 'You need edit permissions to add exemplars',
            //items: [],  // array of the initial selected values
            preload: true,
            create: false,
            render: {
                option: function(item, escape) {
                    return '<div class="selectize-option">' +
                        '<span class="title">' + escape(item.label_scheme.name) +'</span> ' +
                        '<span class="badge"><i class="fa fa-tags"></i> ' + escape(item.annotation_count) + ' exemplars</span> ' +
                        '<span class="badge">' + (item.current_user_can_edit ? '<i class="fa fa-check-square text-success"></i>' : '<i class="fa fa-times text-danger"></i>') + ' editable</span> ' +
                        '<span class="badge"><i class="fa fa-share-alt"></i> ' + escape(item.usergroup_count) + ' groups</span> ' +
                        '<div class="description"><b>MEDIA COLLECTION:</b> '+escape(item.media_collection.name)+"<br><b>ANNOTATION SET:</b> "+escape(item.name) + '</div>' +
                    '</div>';
                }
            },
            load: function(query, callback) {
                //if (!query.length) return callback();
                var filters = [{"name":"is_exemplar","op":"eq","val":true}, {"name":"label_scheme_id","op":"in","val":label_scheme_data.parent_label_scheme_ids}];
                if (!query.length) filters.push({"name":"name","op":"ilike","val":encodeURIComponent('%'+query+'%')});
                $.ajax({
                    url: '/api/annotation_set?q='+JSON.stringify({filters:filters}),
                    type: 'GET',
                    error: function() {
                        callback();
                    },
                    success: function(res) {
                        //console.debug(res);
                        callback(res.objects);
                    }
                });
            }
        }).trigger("load");
        */


    });
</script>