{% set _container_id = "label_scheme_list-"~rendered_at %}

{#<style>#}
{#    #label-list {max-height: 700px;}#}
{#</style>#}

<div class="dataset-select-list" id="{{ _container_id }}">
    <div class="row">
        <div class="col-sm-6">
            <div class="" id="label_scheme-list">
                <span class="pull-right text-right">
                    {% include "models/paginate_model.html" %}
                </span>
                <h5><i class='fa fa-tags'></i> Annotation Schemes</h5>
                <div class="well well-sm">
                <ul class="nav nav-pills nav-stacked object-list">
                    {% if data.objects | length > 0 %}
                        {% for o in data.objects %}
                            {% with data = o %}
                            {% include "models/label_scheme/list_item.html" %}
                            {% endwith %}
                        {% endfor %}
                    {% else %}
                        <li style="padding: 20px"><small>There are no <i class='fa fa-tags'></i>
                            Annotation Schemes here yet. You can create a new one using the button below.
                        </small></li>
                    {% endif %}
                </ul>
                <button class="btn btn-default form-control object-new"><i class="fa fa-plus-square"></i> New Annotation Scheme</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <span class="pull-right">
                    <div class="badge-group paginate-list-controls">
                    <a href="javascript:void(0)" class="badge" data-toggle="refresh-class-list" title="Refresh list" data-page="1"><i class="fa fa-refresh"></i></a>
                    </div>
                </span>
                <h5><i class='fa fa-list-ul'></i> Class Labels</h5>
                <div class="well well-sm">
                    <div class="object-list" id="label_scheme_detail"></div>
                    <button class="btn btn-default form-control object-new-label"><i class="fa fa-plus-square"></i> New Class Label</button>
                </div>
            </div>
        </div>
    </div>



{#<script src="/static/api_libs/annotation/label_scheme.js"></script>#}
<script type="text/javascript">
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        //var current_user_id = parseInt("{{ current_user.id }}");
        var current_label_scheme_id = parseInt("{{ args.label_scheme_id }}");
        //var selected_media_collection_id = null;
        //var selected_annotation_set_id = null;
        var $list_container = $container.find("#label_scheme-list");
        var $label_scheme_detail_container = $container.find("#label_scheme_detail");
        var $object_links = $list_container.find(".object-link");
        //var $object_delete_links = $list_container.find(".object-delete");
        var $object_edit_links = $list_container.find(".object-edit").tooltip({placement:"bottom", container: $container_parent});
        var $object_new_links = $list_container.find(".object-new");
        var $object_share_links = $list_container.find(".object-share").tooltip({placement:"bottom", container: $container_parent});
        var $refresh_class_list = $container.find("[data-toggle='refresh-class-list']");
        var $object_new_label_links = $container.find(".object-new-label").prop("disabled", true);


        $container.find("[data-toggle='tooltip']").tooltip({placement:'auto', container:$container});

        var label_scheme_obj = new LabelScheme($label_scheme_detail_container, {});
        label_scheme_obj.initList();


        // Build current URI
        {#var current_uri = "{{ base_url }}";#}
        {#{% for k,v in args.items() %}current_uri = current_uri.updateURIParam('{{ k | safe }}', '{{ v | safe }}');#}
        {#{% endfor %}#}

        $refresh_class_list.click(function(e){
            label_scheme_obj.refreshList();
        });

        // click action for media collection links
        $object_links.click(function(){
            // select/deselect list item if collection changed
            if (current_label_scheme_id !== $(this).data("id")) {
                current_label_scheme_id = $(this).data("id");
            }
            $object_links.parent("li.active").removeClass("active");
            $(this).parent("li").addClass("active");

            label_scheme_obj.refreshList(current_label_scheme_id, null, "", true);
            //label_scheme_obj.refreshList(current_label_scheme_id);
            $object_new_label_links.prop("disabled", false);
        }).filter("[data-id='"+current_label_scheme_id+"']").trigger("click");

        // handle delete links
        /*
        $object_delete_links.click(function(){
            dataset_modal.label_scheme.remove($(this).data("id"), {
                success: function(){refresh_list()}
            });
        });
        */

        // handle edit links
        $object_edit_links.click(function(){
            dataset_modal.label_scheme.update($(this).data("id"), {oncompleted:
                function(data){refresh_list(data ? data.id : null)}
            });
        });

        $object_share_links.click(function(){
            dataset_modal.label_scheme.share($(this).data("id"), {
                onhidden: function(){refresh_list($(this).data("id"))}
            });
        });

        // handle new button
        $object_new_links.click(function(){
            dataset_modal.label_scheme.create({}, {
                oncompleted: function(data){refresh_list(data.id)},
                hide_open_modals: true
            });
        });

        $object_new_label_links.click(function(){
            if (current_label_scheme_id) {
                dataset_modal.label.create(current_label_scheme_id, {
                    oncompleted: function (data) {
                        label_scheme_obj.refreshList();
                    }
                });
                /*
                open_modal("/ui/models/label/edit.html?label_scheme_id="+current_label_scheme_id, {
                    modal_class: 'modal-md',
                    oncompleted: function (data) {
                        label_scheme_obj.refreshList();
                    }
                })
                */
            }
        });

        function refresh_list(label_scheme_id) {
            if (typeof label_scheme_id === 'undefined') label_scheme_id=current_label_scheme_id;
            //load_content.paginated_html(url, $container_parent);
            $container_parent.trigger("reload", {label_scheme_id:label_scheme_id});
        }
    });
</script>

</div>