{% set _container_id = "datasource-form-container-"~rendered_at %}

<div id="{{ _container_id }}">
<style>
    #datasource-form .advanced {
        display: none;
    }
    #datasource-form.show-advanced .advanced {
        display: block;
    }
</style>
<form class="form-horizontal" id="datasource-form"
      action="{{ "/api/datasource/"~data.id if data.id else "/api/datasource" }}"
      method="{{ "PATCH" if data.id else "POST" }}">
    <h4><i class="fa fa-folder-open"></i> Platform Datasource</h4>
    {% if msg %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6 alert alert-{{ msg.status }}">{{ msg.msg }}</div>
    </div>
    {% endif %}
    {#
    name
    campaign_search
    datafile_pattern
    datafile_search
    deployment_search
    media_pattern
    mediadir_search
    thumb_pattern
    thumbdir_search
    urlbase_browse
    datafile_operations
    datasource_type_id
    platform_id
    user_id
    created_at
    #}
    <input type="hidden" name="user_id" value="{{ data.user_id or current_user.id }}">
    <input type="hidden" name="platform_id" value="{{ data.platform_id or args.platform_id }}">
    <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" name="name" placeholder="Name of Datasource" value="{{ data.name or args.name }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Datasource type</label>
        <div class="col-sm-7">
            <select class="form-control" name="datasource_type_id" data-value="{{ data.datasource_type.id if data.datasource_type else args.datasource_type_id }}">

            </select>
            <div class="help-block">
                If unsure, select <b>"local"</b>.
            </div>
        </div>
    </div>

    <div class="form-group advanced">
        <label class="col-sm-3 control-label">URLBASE_BROWSE</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" name="urlbase_browse" placeholder="Path pattern for URLBASE_BROWSE" value="{{ data.urlbase_browse or "" }}">
        </div>
    </div>
    <div class="form-group advanced">
        <label class="col-sm-3 control-label">CAMPAIGN_SEARCH</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" name="campaign_search" placeholder="Path pattern for CAMPAIGN_SEARCH" value="{{ data.campaign_search or "" }}">
        </div>
    </div>
    <div class="form-group advanced">
        <label class="col-sm-3 control-label">DATAFILE_SEARCH</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" name="datafile_search" placeholder="Path pattern for DATAFILE_SEARCH" value="{{ data.datafile_search or "" }}">
        </div>
    </div>
    <div class="form-group advanced">
        <label class="col-sm-3 control-label">DEPLOYMENT_SEARCH</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" name="deployment_search" placeholder="Path pattern for DEPLOYMENT_SEARCH" value="{{ data.deployment_search or "" }}">
        </div>
    </div>
    <div class="form-group advanced">
        <label class="col-sm-3 control-label">MEDIADIR_SEARCH</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" name="mediadir_search" placeholder="Path pattern for MEDIADIR_SEARCH (optional)" value="{{ data.mediadir_search or "" }}">
        </div>
    </div>
    <div class="form-group advanced">
        <label class="col-sm-3 control-label">THUMBDIR_SEARCH</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" name="thumbdir_search" placeholder="Path pattern for THUMBDIR_SEARCH (optional)" value="{{ data.thumbdir_search or "" }}">
        </div>
    </div>
    <div class="form-group advanced">
        <label class="col-sm-3 control-label">DATAFILE_PATTERN</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" name="datafile_pattern" placeholder="Path pattern for DATAFILE_PATTERN" value="{{ data.datafile_pattern or "" }}">
        </div>
    </div>
    <div class="form-group advanced">
        <label class="col-sm-3 control-label">MEDIA_PATTERN</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" name="media_pattern" placeholder="Path pattern for MEDIA_PATTERN" value="{{ data.media_pattern or "" }}">
        </div>
    </div>
    <div class="form-group advanced">
        <label class="col-sm-3 control-label">THUMB_PATTERN</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" name="thumb_pattern" placeholder="Path pattern for THUMB_PATTERN" value="{{ data.thumb_pattern or "" }}">
        </div>
    </div>
    <div class="form-group advanced">
        <label class="col-sm-3 control-label">DATAFILE_OPERATIONS</label>
        <div class="col-sm-7">
            <textarea rows="10" class="form-control" name="datafile_operations" placeholder="Path pattern for DATAFILE_OPERATIONS">{{ (data.datafile_operations or "{}")  | as_json }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <a class="btn btn-link btn-xs" href="javascript:void(0)" onclick="$(this).parents('form').toggleClass('show-advanced')" title="Show/hide advanced options" data-hover="tooltip" data-placement="left">
                <b><i class="fa fa-info-circle"></i> Show Advanced Options <i class="fa fa-caret-up"></i></b>
            </a>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <a href="javascript:void(0)" tabindex="100" data-dismiss="modal"  class="btn btn-default">Cancel</a>
            <button type="submit" tabindex="0" class="btn btn-primary">Save</button>
            {% if data.id %}
            <button id="delete-annotation_set" data-id="{{ data.id }}" type="button" class="btn btn-link pull-right">
                <span class="text-danger"><i class="fa fa-trash"></i> DELETE</span>
            </button>
            {% endif %}
        </div>
    </div>


</form>
<script type="text/javascript">
    $(document).ready(function() {
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $modal = $container.parents(".modal");
        var $datasource_type_select = $container.find("select[name='datasource_type_id']");
        var $form = $container.find("form#datasource-form");

        $datasource_type_select.ajax_select("/api/datasource_type", {dropdown_parent: $container})
            .ajax_select_val($datasource_type_select.data("value"));

        $form.APIForm({
            ajax_prefill: false,
            callback:function(data, form) {
                $modal.trigger("completed", data);
            }
        });
    });
</script>
</div>
