<div class="stats-datasets">
    <table>
        <tr><td>#CAMPAIGNS:</td><td>{{ data.campaigns|humanize('intcomma') }}</td></tr>
        <tr><td>#PLATFORMS:</td><td>{{ data.platforms|humanize('intcomma') }}</td></tr>
        <tr><td>#DEPLOYMENTS:</td><td>{{ data.deployments|humanize('intcomma') }}</td></tr>
        <tr><td>#MEDIA:</td><td>{{ data.media|humanize('intcomma') }}</td></tr>
    </table>
</div>