<div class="stats-userdata">
    <table>
        <tr><td>#USERS:</td><td>{{ data.users }}</td></tr>
        <tr><td>#GROUPS:</td><td>{{ data.groups }}</td></tr>
        <tr><td>#ANNOTATIONS:</td><td>{{ data.annotations }}</td></tr>
    </table>
</div>