{% set _container_id = resource~"-groups-"~rendered_at %}
{% set resource = args.resource %}
<div class="add-to-usergroup-modal" id="{{ _container_id }}">
    <div class="well well-sm object-detail">
        <div style="font-size: small; color: #757575; text-transform: uppercase">
            SHARE {{ resource }}:
        </div>
        {% include "models/"~resource~"/info_detail.html" %}
    </div>

    <div id="usergroup-lists">
        <h5><i class="fa fa-plus-square"></i> SHARE TO A NEW GROUP:</h5>
{#        {% if not data.current_user_is_owner %}#}
{#            <div class="alert alert-warning">#}
{#            <i class="fa fa-exclamation-triangle"></i>#}
{#            You are not the owner of this object, so you can't share it to new groups.#}
{#            You may be able to add users to its existing groups if you have adequate permissions.#}
{#            </div>#}
{#        {% else %}#}
        <form id="resource_group_add" class="form-group-add">
            <div class="form-group">
                <select name="group_id" class="form-control">
                </select>
                <div style="margin-top: 5px">
                    <button  type="submit" class="btn btn-success" title="Share this Dataset to Group. NOTE: this will grant all group members access to it.">
                        <i class="fa fa-share-alt"></i> SHARE TO GROUP
                    </button>
                    <button id="btn-new-group" type="button" title="Create a new group" class="btn btn-link pull-right">
                        <i class="fa fa-plus-square fa-fw"></i> CREATE NEW GROUP
                    </button>
                </div><!-- /input-group -->
            </div>
        </form>
{#        {% endif %}#}
        <div>
            <div id="resource_groups_list">
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function(){
            var $container = $("#{{ _container_id }}");
            var $container_parent = $container.parent();
            var $usergroup_lists = $container.find("#resource_groups_list");
            var $new_group_btn = $container.find("#btn-new-group"); // /ui/models/groups/edit.html
            var $resource_group_add_form = $container.find("#resource_group_add");
            var $group_id_select = $resource_group_add_form.find("select[name='group_id']");

            var resource_group_filter_name = "shared_{{args.resource}}s";
            var dataset_id = "{{ data.id }}";
            var resource = "{{args.resource}}";

            // load groups
            var q = {filters:[{name:resource_group_filter_name,op:"any",val:{name:"id",op:"eq",val:dataset_id}}]};
            var groups_url = '/api/groups?template=models/groups/list.html&results_per_page=20' +
                '&q='+JSON.stringify(q)+"&dataset_id="+dataset_id+"&resource="+resource;
            load_content.paginated_html(groups_url, $usergroup_lists);

            $new_group_btn.click(function(e){
                open_modal("/ui/models/groups/edit.html", {
                    modal_id: 'new_form-modal',
                    modal_class: 'modal-md',
                    hide_open_modals: true,
                    oncompleted: function(data){
                        //console.log(data);
                        //load_content.html('{{ url|safe }}&selected_group_id='+data.id, $container_parent);
                        notify.success("New group has been created.");
                        $group_id_select.ajax_select_val(data.id);
                    }
                });
            });

            $resource_group_add_form.on('submit', function(e){
                e.preventDefault();
                var data = $(this).serializeObject();
                if (data.group_id) {
                    var url = "/api/{{ resource }}/{{ data.id }}/group/" + data.group_id;
                    ajax.post(url, {}, {success: function (data) {
                        notify.success("Dataset has been shared! It will now be accessible to all members of that group.");
                        //load_resource_current_groups(data.instance_id, $usergroup_lists);
                        $usergroup_lists.trigger("reload");
                        $group_id_select.val(null).trigger("change.select2");
                    }});
                }
                else
                    notify.error("Please select a group from the list.")
            });


            $group_id_select.ajax_select("/api/groups", {
                placeholder: 'Search by group name / info',
                allow_clear: true,
                dropdown_parent: $container_parent,
                template_item: "[[&name]]",
                template_option: '<small class="pull-right" title="Creation date" xmlns="http://www.w3.org/1999/html"><i class="fa fa-calendar"></i> created: [[created_at]]</small> ' +
                    '<div class="title">' +
                    '[[^current_user_can_add_member]] <i class="fa fa-exclamation-triangle text-danger"></i>[[/current_user_can_add_member]]' +
                    '[[#current_user_is_owner]] <i class="fa fa-check-square text-success"></i>[[/current_user_is_owner]]' +
                    ' [[name]]</div><div class="description">' +
                    'custodian: <i class="fa fa-user-circle"></i> [[user.first_name]] [[user.last_name]], ' +
                    '<i class="fa fa-male"></i> [[member_count]] members, ' +
                    '[[#is_public]]<i class="fa fa-users text-success"></i> public[[/is_public]][[^is_public]]<i class="fa fa-user"></i> private[[/is_public]], ' +
                    '[[#is_restricted]]<i class="fa fa-eye-slash text-danger"></i> restricted[[/is_restricted]][[^is_restricted]]<i class="fa fa-eye"></i> unrestricted[[/is_restricted]], ' +
                    '[[#requires_approval]]<i class="fa fa-lock text-danger"></i> needs approval[[/requires_approval]][[^requires_approval]]<i class="fa fa-unlock"></i> no approval[[/requires_approval]], ' +
                    '[[#requires_agreement]]<i class="fa fa-handshake-o text-danger"></i> needs D.U.A[[/requires_agreement]][[^requires_agreement]]<i class="fa fa-handshake-o"></i> no D.U.A[[/requires_agreement]]' +
                    '[[#groupinfo]] <br><em>[[groupinfo]]</em>[[/groupinfo]]' +
                    '[[^current_user_can_add_member]]<div class="text-danger">You can share datasets, but you don\'t have permission to add members.</div>[[/current_user_can_add_member]]</div>',
                build_query: function(search_term) {
                    var q = {
                      filters: [
                        {not:{name:resource_group_filter_name,op:"any",val:{name:"id",op:"eq",val:dataset_id}}},
                        {name:"current_user_can_share_data",op:"eq",val:true}
                      ],
                      order_by: [{field:"current_user_is_owner",direction:"desc"},{field:"current_user_can_add_member",direction:"desc"},{field:"name",direction:"desc"}]
                    }
                    if (search_term) {
                        $(search_term.split(/(\s+)/)).each(function(i,s){
                            if (s.trim().length)
                                q.filters.push({or: [
                                    {"name":"name","op":"ilike","val":'%'+s+'%'},
                                    {"name":"groupinfo","op":"ilike","val":'%'+s+'%'}
                                ]});
                        });
                    }
                    return q;
                }
            });
        });
    </script>
</div>