{% set _container_id = "group_user-"~rendered_at %}
<div id="{{ _container_id }}">
{#    <h4><i class="fa fa-user-plus"></i> Manage group memberships</h4>#}
    <div class="well well-sm object-detail">
        <div style="font-size: small; color: #757575; text-transform: uppercase">
            MANAGE MEMBERS OF GROUP:
        </div>
        <h2>
            {% include "models/groups/usergroup_icon.html" %}
            {{ data.name }}
            <small class="pull-right">[ID:{{ data.id }}]</small>
        </h2>

        {% include "models/groups/info_detail_table.html" %}
    </div>
    <div class="">
        <h5><i class="fa fa-user-plus"></i> ADD NEW MEMBER:</h5>
        <div class="well well-sm">
        {% if data.current_user_can_add_member %}
        <form id="add_user_form" autocomplete="off" class="" onsubmit="return false;">
            <div class="form-group">
                <select id="user_list" name="user_id" class="form-control">
    {#            <option value="123" selected>Default option</option>#}
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-share-alt"></i> ADD MEMBER</button>
                <h6>SET NEW MEMBER'S PERMISSIONS:</h6>
                <div class="">
                    <label data-toggle="tooltip" title="grant permission to edit & change shared datasets">
                        <input type="checkbox" name="can_edit" value="true" {% if data.current_user_is_edit_member %}checked{% else %}disabled{% endif %}>
                        <b>CAN EDIT</b>
                    </label> |
                    <label data-toggle="tooltip" title="grant permission to add other people to this group">
                        <input type="checkbox" name="can_add_members" value="true" {% if data.current_user_can_add_member %}checked{% else %}disabled{% endif %}>
                        <b>CAN ADD MEMBERS</b>
                    </label>
                    {% if data.requires_approval %}
                        <i class="fa fa-exclamation-triangle text-danger" data-toggle="tooltip"  title="This group requires approval of all memberships by the custodian."></i>
                    {% endif %}
                    |
                    <label data-toggle="tooltip" title="grant permission to share datasets with the group">
                        <input type="checkbox" name="can_share_data" value="true" {% if data.current_user_can_share_data %}checked{% endif %} {% if not data.current_user_can_share_data or data.is_restricted %}disabled{% endif %}>
                        <b>CAN SHARE DATA</b>
                    </label>
                    {% if data.is_restricted %}
                        <i class="fa fa-exclamation-triangle text-danger" data-toggle="tooltip" title="This group is restricted, so members will only see their own datasets."></i>
                    {% endif %}
                    |
                    <label data-toggle="tooltip"  title="member will only become active once approved">
                        <input type="checkbox" name="approved" value="true" {% if not data.current_user_is_owner %}disabled{% endif %} {% if not data.requires_approval or data.current_user_is_owner %}checked{% endif %}>
                        <b>IS APPROVED</b>
                    </label>
                    {% if data.requires_approval and not data.current_user_is_owner %}
                        <i class="fa fa-exclamation-triangle text-danger" data-toggle="tooltip"  title="Only the Custodian can approve members to this Group."></i>
                    {% endif %}
    {#                <label>#}
                        {# TODO: IF GROUP REQUIRES AGREEMENT, CHANGE THIS OPTION DEPENDING ON WHETHER CUSTODIAN #}
    {#                    <input type="checkbox" name="has_agreed" value="true" disabled>#}
    {#                    <b>HAS AGREED:</b> #}
    {#                </label>#}
    {#                <input name="has_agreed" value="true" type="hidden">#}
{#                    <div class="help-block">#}
{#                        <i class="fa fa-info-circle"></i> You can assign membership permissions below or equal to your own.#}
{#                    </div>#}
                </div>
            </div>
        </form>
        {% else %}
        <div class="alert">
        <i class="fa fa-exclamation-triangle text-danger"></i>
        You do not have permissions to add members to this group. Contact the custodian to request permission.
        </div>
        {% endif %}
        </div>
    </div>
    <div id="member_select_list" class="dataset-select-list share-to-group">

    </div>
    <script>
        $(document).ready(function() {
            var $container = $("#{{ _container_id }}");
            var $container_parent = $container.parent();
            var $user_form = $container.find("#add_user_form");
            var $list_container = $container.find("#member_select_list");
            var $user_list = $container.find("#user_list");

            $container.find("[data-toggle='tooltip']").tooltip({placement:'auto'});

            function load_current_members() {
                var requires_agreement = "{{ data.requires_agreement }}"==="True";
                var q = {filters: [{name: "group_id", op: "eq", val: "{{data.id}}"}],
                    order_by: [{field: "approved", direction: "asc"}]};
                if (requires_agreement)  q.order_by.push({field: "has_agreed", direction: "asc"});
                q.order_by.push({field: "created_at", direction: "desc"});

                var url = "/api/usergroups?template=models/usergroups/list_users.html&results_per_page=15&q=" + JSON.stringify(q)
                load_content.paginated_html(url, $list_container, function () {
                    $user_list.trigger("change.select2");
                });
            }

            load_current_members();

            $user_form.on("submit", function(e){
                e.preventDefault();
                var data = $user_form.serializeObject();
                if (data.hasOwnProperty('user_id') && data.user_id) {
                    var url = "/api/users/" + data.pop('user_id') + "/group/{{ data.id }}";
                    //console.log(url, data);
                    ajax.post(url, JSON.stringify(data)).done(function (data) {
                        notify.success("User has been added to the Group.");
                        //load_content.html('{{ url|safe }}', $container_parent);
                        $list_container.trigger("reload");
                        $user_list.val(null).trigger("change");
                    });
                }
                else {
                    notify.error("Select a User to add to this Group");
                }
            });


            /*
            $user_list.selectize({
                valueField: 'id',
                //labelField: ['first_name', 'last_name'],
                searchField: ['first_name', 'last_name', 'affiliations_names'],
                //placeholder: 'Search by first name, last name or affiliation',
                //items: [],  // array of the initial selected values
                preload: true,
                create: false,
                render: {
                    option: function(item, escape) {
                        return '<div class="selectize-option">' +
                            '<span class="title">' + escape(item.first_name+' '+item.last_name) +'</span> ' +
                            '<span class="badge" title="Last login"><i class="fa fa-calendar"></i> last login: ' + escape(item.last_login) + '</span> ' +
                            '<div class="description"><b>AFFILIATION:</b> '+escape(item.affiliations_names)+"<br><em>"+escape(item.info?item.info:"") + '</em></div>' +
                        '</div>';
                    },
                    item: function(item, escape) {
                        //console.debug(item.first_name+' '+item.last_name);
                        return '<div>'+escape(item.first_name+' '+item.last_name)+'</div>';
                    }
                },
                load: function(query, callback) {
                    //if (!query.length) return callback();
                    var selectizeobj = this;
                    var filters = [
                        {not:{name:"usergroups",op:"any",val:{name:"group_id",op:"eq",val:"{{data.id}}"}}},
                        {name:"id",op:"neq",val:"{{data.user.id}}"},
                        {name:"active",op:"eq",val:true}
                    ];
                    var order_by = [{"field":"last_login","direction":"desc"}, {"field":"first_name","direction":"asc"}];
                    if (query.length>0) {
                        var query_filters = {"or":[]};
                        $(query.split(/(\s+)/)).each(function(i,el){
                            query_filters.or.push({"name":"first_name","op":"ilike","val":encodeURIComponent('%'+el+'%')},
                            {"name":"last_name","op":"ilike","val":encodeURIComponent('%'+el+'%')},
                            {"name":"affiliations","op":"any","val":{"name":"name","op":"ilike","val":encodeURIComponent('%'+el+'%')}})
                        });
                        filters.push(query_filters);
                    }
                    $.ajax({
                        url: '/api/users?results_per_page=100&q='+JSON.stringify({filters:filters, order_by:order_by}),
                        type: 'GET',
                        error: function() {
                            console.error("ERROR CALLBACK!");
                            callback();
                        },
                        success: function(res) {
                            //console.debug(res);
                            callback(res.objects);
                            selectizeobj.settings.placeholder = "Search by first name, last name or affiliation (showing "+res.objects.length+"/"+res.num_results+")";
                            selectizeobj.updatePlaceholder();
                        }
                    });
                }
            });
            */

            $user_list.ajax_select("/api/users", {
                placeholder: 'Search by first name, last name, affiliation or email',
                allow_clear: true,
                dropdown_parent: $container_parent,
                template_item:  "[[&first_name]] [[&last_name]]",
                template_option: '<span class="title">[[first_name]] [[last_name]]</span> ' +
                        '<small class="pull-right description"><i class="fa fa-calendar"></i> last login: [[last_login]]</small> ' +
                        '<div class="description"><b>AFFILIATION:</b> [[affiliations_names]]<br><em>[[info]]</em></div>',
                build_query: function(search_term) {
                    var q = {
                      filters: [
                        {not:{name:"usergroups",op:"any",val:{name:"group_id",op:"eq",val:"{{data.id}}"}}},
                        {name:"id",op:"neq",val:"{{data.user.id}}"},
                        {name:"active",op:"eq",val:true}
                      ],
                      order_by: [{field:"first_name",direction:"asc"},{field:"last_name",direction:"asc"}]
                    }
                    if (search_term) {
                        $(search_term.split(/(\s+)/)).each(function(i,s){
                            if (s.trim().length)
                                q.filters.push({or: [
                                    {name:"email",op:"ilike",val:'%'+s+'%'},
                                    {name:"first_name",op:"ilike",val:'%'+s+'%'}, {name:"last_name",op:"ilike",val:'%'+s+'%'},
                                    {name:"affiliations",op:"any",val:{name:"name",op:"ilike",val:'%'+s+'%'}}
                              ]});
                        });
                    }
                    return q;
                }
            });
        });
    </script>

</div>



