{% set _container_id = "group-detail-"~rendered_at %}
<div id="{{ _container_id }}">
    <div class="well well-sm object-detail">
        <div style="font-size: small; color: #757575; text-transform: uppercase">GROUP DETAILS:</div>
        <h2>
            {% include "models/groups/usergroup_icon.html" %}
            {{ data.name }}
            <small class="pull-right">[ID:{{ data.id }}]</small>
        </h2>

        {% with _hide_alert_count=True %}
            {% include "models/groups/info_current_user_alerts.html" %}
        {% endwith %}

        {% include "models/groups/info_detail_table.html" %}
    </div>

    {% set _agreement_link = '<a href="javascript:void(0)" onclick="open_modal(\''~(data.dua_link or "/static/images/404_not_found.jpg")~'\', {iframe:true, hide_open_modals:true})">Data Usage Agreement</a>' %}

{#    {% if data.dataset_counts %}#}
{#    <div class="well well-sm">#}
{#        <h4><i class="fa fa-share-alt fa-fw"></i> SHARE STATS</h4>#}
{#        <ul class="help-block">#}
{#            <li class="">#}
{#                <b>{{ data.member_count|humanize("intcomma") }}</b> Members(s)</li>#}
{#            <li class="">#}
{#                <b>{{ data.dataset_counts.media_collections|humanize("intcomma") }}</b> Media Collection(s)</li>#}
{#            <li class="">#}
{#                <b>{{ data.dataset_counts.annotation_sets|humanize("intcomma") }}</b> Annotation Set(s)</li>#}
{#            <li class="">#}
{#                <b>{{ data.dataset_counts.label_schemes|humanize("intcomma") }}</b> Label Scheme(s)</li>#}
{#        </ul>#}
{#    </div>#}
{#    {% endif %}#}

    <div class="well well-sm">
        {% if data.current_user_is_owner %}
{#        <span class="pull-right">#}
{#            <button type="button" class="btn btn-primary btn-sm">#}
{#                Manage#}
{#            </button>#}
{#        </span>#}

        <h4><i class="fa fa-info-circle fa-fw"></i> CUSTODIAN</h4>
        <div class="help-block">
            <i class="fa fa-check-square text-success"></i> You are the owner / custodian of this group.
        </div>
        {% if data.requires_agreement %}
        <h5><i class="fa fa-handshake-o fa-fw"></i> DATA USAGE AGREEMENT:</h5>
        <div class="help-block">
            <i class="fa fa-exclamation-triangle text-danger"></i> This group has a {{ _agreement_link|safe }} and
            requires that members agree to it in order to access shared data.
        </div>
        {% endif %}


        {% elif data.current_user_is_pending_approval %}
        <h4><i class="fa fa-info-circle fa-fw"></i> MEMBERSHIP PENDING APPROVAL</h4>

        <p class="help-block well well-sm">
            <i class="fa fa-info-circle fa-fw"></i>
            Your membership is pending approval from the custodian of this group.<br>
            <i class="fa fa-info-circle fa-fw"></i>
            Click the email link if you would like to contact the custodian:
            {% with user=data.user, user_title="Group custodian" %}
                {% include('models/users/user_badge.html') %}
            {% endwith %}
        </p>
        <a id="member_delete_btn" href="javascript:void(0)" class="btn btn-danger btn-sm">
            <i class="fa fa-times"></i> Cancel Application
        </a>
        {% else %}
        <form id="membership_form" autocomplete="off" onsubmit="return false;">
            {% if data.current_user_is_member %}
            <h4><i class="fa fa-info-circle fa-fw"></i> MY MEMBERSHIP</h4>
            <p class="help-block">
                <i class="fa fa-check-square fa-fw text-success"></i>
                You are a member of this group.
                {% if data.current_user_has_agreed %}
                    <br><i class="fa fa-check-square fa-fw text-success"></i>
                    You have agreed to the {{ _agreement_link|safe }}
                {% endif %}
            </p>
            {% else %}
            <h4><i class="fa fa-info-circle"></i> APPLY FOR MEMBERSHIP?</h4>
            <p class="help-block">
                <i class="fa fa-times fa-fw text-danger"></i>
                You are not currently a member of this group.<br>
                <i class="fa fa-info-circle fa-fw"></i>
                Select the options below and 'APPLY TO JOIN' if you would like to
                join this group.
            </p>

            {% endif %}
            <div class="well well-sm">
                <h5>MY PERMISSIONS:</h5>
                <div class="help-block">
                    {% if data.current_user_is_member %}
                        <i class="fa fa-info-circle fa-fw"></i>
                        You can reduce permissions without approval, but
                        custodian approval is needed to elevate permissions.
                        You will loose access until approved.
                    {% else %}
                        <i class="fa fa-info-circle fa-fw"></i>
                        Apply to join below. Your membership application will need to be approved by the group
                        custodian.
                    {% endif %}
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="can_edit"
                               value="true" {{ "checked" if data.current_user_is_edit_member else "" }}>
                        <b>CAN EDIT:</b> request permission to edit & change shared datasets.
                    </label><br>
                    <label>
                        <input type="checkbox" name="can_add_members"
                               value="true" {{ "checked" if data.current_user_can_add_member else "" }}>
                        <b>CAN ADD MEMBERS:</b> request permission to add other users to this group.
                        {% if data.requires_approval %}
                            <div class="help-block">
                                &boxur; <i class="fa fa-exclamation-triangle text-danger"></i>
                                This group requires approval of all memberships by the custodian.
                            </div>
                        {% endif %}
                    </label><br>
                    <label>
                        <input type="checkbox" name="can_share_data" value="true" {{ "checked" if data.current_user_can_share_data else "" }}>
                        <b>CAN SHARE DATA:</b> request permission to share your datasets with the group.
                        {% if data.is_restricted %}
                            <div class="help-block">
                                &boxur; <i class="fa fa-exclamation-triangle text-danger"></i>
                                This group is restricted, so members will only see their own datasets. Custodians
                                see all.
                            </div>
                        {% endif %}
                    </label>
                </div>
            </div>
            {% if data.requires_agreement %}
            <div class="well well-sm">
                <h5><i class="fa fa-handshake-o fa-fw"></i> DATA USAGE AGREEMENT:</h5>
                <div class="checkbox">
                    <div class="help-block">
                        <i class="fa fa-exclamation-triangle text-danger"></i> This group has a
                        {{ _agreement_link|safe }} and requires that you agree to it in order to access shared data.
                    </div>
                    <label>
                        <input name="has_agreed" value="true"
                               type="checkbox" {{ "checked" if data.current_user_has_agreed else "" }}>
                        <b>AGREE TO D.U.A.</b>: I confirm that I have read, understand and agree to
                        the {{ _agreement_link|safe }}
                    </label>
                </div>
            </div>
            {% endif %}
            <div>
                {% if data.current_user_is_member %}
                    <button id="member_update_btn" type="button" class="btn btn-primary">
                        <i class="fa fa-check-square-o"></i> Update Membership
                    </button>
                    <a id="member_delete_btn" href="javascript:void(0)" class="btn btn-link pull-right">
                        <span class="text-danger"><i class="fa fa-unlink"></i> Cancel Membership</span>
                    </a>
                {% else %}
                    <button id="member_apply_btn" type="button" class="btn btn-success">
                        <i class="fa fa-user-plus"></i> APPLY TO JOIN
                    </button>
                {% endif %}
            </div>
        </form>
        {% endif %}
    </div>

    <script>
        $(document).ready(function () {
            var $container = $("#{{ _container_id }}");
            var $container_parent = $container.parent();
            var $membership_form = $container.find("#membership_form");
            var $member_apply_btn = $container.find("#member_apply_btn");
            var $member_update_btn = $container.find("#member_update_btn");
            var $member_delete_btn = $container.find("#member_delete_btn");
            var membership_url = "/api/users/{{ current_user.id }}/group/{{ data.id }}";

            $member_apply_btn.click(function () {
                create_update_membership('post');
            });
            $member_update_btn.click(function () {
                create_update_membership('patch');
            });

            $member_delete_btn.click(function () {
                ajax.delete(membership_url, {
                    success: function (data) {
                        notify.success("Your group membership has been cancelled.");
                        $container_parent.trigger("reload");
                    }
                }, "Are you sure that you want to cancel your membership to this group?");
            });

            function create_update_membership(ajax_fnc) {
                var data = $membership_form.serializeObject();
                //console.log(url, data);
                ajax[ajax_fnc](membership_url, JSON.stringify(data)).done(function (data) {
                    notify.success("Your membership request has been updated.");
                    $container_parent.trigger("reload");
                });
            }
        });
    </script>
</div>