{% set _container_id = "dua_alerts_list-"~rendered_at %}
{% set ns = namespace(has_dua=false) %}
<div class="" id="{{ _container_id }}">
    {% if data.objects | length > 0 %}
    <div class="well well-sm small">
        <div><i class="fa fa-fw fa-info-circle"></i> Shared with you through <b>{{ data.num_results }} group{% if data.num_results != 1 %}s{% endif %}</b>.</div>
        <ul class="alerts-list" style="display: none; margin: 10px">
            {% for o in data.objects %}
{#                {% with data = o %}#}
{#                {% include "models/groups/list_item.html" %}#}
{#                {% endwith %}#}
                <li>
                {% with data = o %}
                    {% include "models/groups/usergroup_icon.html" %}
                    <b>{{ data.name }}</b>{% if data.groupinfo %}: <em>{{ data.groupinfo }}</em>{% endif %}
                    <br>{% include "models/groups/info_badges.html" %}
                    {% if data.dua_link and data.requires_agreement %}
                        {% set ns.has_dua = True %}
                        <br><i class="fa fa-fw fa-handshake-o text-danger"></i> <a href="{{ data.dua_link }}" target="_blank">VIEW DATA USAGE AGREEMENT</a>
                    {% endif %}
                {% endwith %}
                </li>
            {% endfor %}
        </ul>
        {% if ns.has_dua %}
        <div><i class="fa fa-fw fa-exclamation-triangle text-danger"></i> Subject to one or more <b>Data Usage Agreements</b>.</div>
        {% endif %}
        <a class="btn btn-xs btn-link" href="javascript:void(0)" onclick="$(this).siblings('ul.alerts-list').toggle()"><i class="fa fa-fw fa-caret-up"></i> Expand for more info</a>
    </div>
    {% endif %}
<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
    });
</script>

</div>