{% set _container_id = "affiliation-group-form-container-"~rendered_at %}
<div id="{{ _container_id }}">
<h4><i class="fa fa-users"></i> Affiliation</h4>
<form class="form-horizontal" id="group-form"
    {% if data.id %} action="/api/groups/{{ data.id }}"  method="PATCH"
    {% else %} action="/api/groups" method="POST" {% endif %}>
    {% if msg %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-8 alert alert-{{ msg.status }}">{{ msg.msg }}</div>
    </div>
    {% endif %}

{#    <input type="hidden" name="user_id" value="{{ data.user_id or current_user.id }}">#}
    <input type="hidden" name="group_type_name" value="affiliation">

    <div class="form-group">
        <label class="col-sm-3 control-label">Organisation name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="name" placeholder="Name of Organisation" value="{{ data.name }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Location</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="groupinfo" placeholder="City, Country" value="{{ data.groupinfo or '' }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Organisation description</label>
        <div class="col-sm-8">
            <textarea class="form-control" rows="4" name="description" placeholder="More info / description of organisation">{{ data.description or '' }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                CANCEL
            </button>
            <button type="submit" class="btn btn-primary">
                SAVE
            </button>
        </div>
    </div>

</form>
<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $form = $container.find("#group-form");
        var $modal = $container.parents(".modal");
        var $group_type_id = $container.find("select[name='group_type_id']");
        var $btn_delete = $container.find("#delete-group");
        var $description = $container.find("textarea[name='description']");


        $form.APIForm({
            ajax_prefill: false,
            callback:function(data, form) {
                $modal.trigger("completed", data);
            }
        });
    });
</script>
</div>