{% set _container_id = "group-form-container-"~rendered_at %}
<div id="{{ _container_id }}">
<h4><i class="fa fa-share-alt"></i> Edit Group Info</h4>
<form class="form-horizontal" id="group-form"
    {% if data.id %} action="/api/groups/{{ data.id }}"  method="PATCH"
    {% else %} action="/api/groups" method="POST" {% endif %}>
    {% if msg %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6 alert alert-{{ msg.status }}">{{ msg.msg }}</div>
    </div>
    {% endif %}

    <input type="hidden" name="user_id" value="{{ data.user_id or current_user.id }}">
    <input type="hidden" name="group_type_name" value="{{ data.group_type.name if data.group_type else "usergroup" }}">

    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="name" placeholder="Name of Group" value="{{ data.name }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Group&nbsp;info</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="groupinfo" placeholder="Short info / tag-line (shown in group lists)" value="{{ data.groupinfo or '' }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-9">
            <textarea class="form-control" rows="4" name="description" placeholder="Description of group (shown in detail views)">{{ data.description or '' }}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">DUA link</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="dua_link" placeholder="HTTP link to Data Usage Agreement (optional)" value="{{ data.dua_link or ''}}">
            <div class="help-block">
                If provided, and the "REQUIRE AGREEMENT" option is checked below, members will need to agree to the
                terms of the linked document before they can access data shared in this group.
            </div>
        </div>
    </div>
{#    <div class="form-group">#}
{#        <label class="col-sm-2 control-label">Group type</label>#}
{#        <div class="col-sm-9">#}
{#            <select name="group_type_id" class="form-control" data-value="{{ data.group_type.id if data.group_type else "" }}">#}
{#                <option></option>#}
{#            </select>#}
{#        </div>#}
{#    </div>#}
    <div class="form-group">
        <label class="col-sm-2 control-label">Options</label>
        <div class="col-sm-9">
            <div class="checkbox">
                <label>
                    <input name="is_public" type="checkbox" value="true" {% if data.is_public %}checked{% endif %}>
                    <i class="fa fa-users fa-fw text-success"></i> <b>PUBLIC</b><br>
                    <span>
                        Select this option to make datasets shared in this group publicly viewable (read-only) to all
                        users. Group members can still be selectively granted edit permissions.
                    </span>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input name="is_restricted" type="checkbox" value="true" {% if data.is_restricted %}checked{% endif %}>
                    <i class="fa fa-eye-slash fa-fw text-danger"></i> <b>RESTRICT DATA VISIBILITY</b><br>
                    <span>
                        Select this option to restrict the visibility of shared data in this group. Members will only
                        see their own datasets and won't be able to see datasets shared by other members.<br>
                        Custodians will be able to see all shared datasets. This can be useful when managing data from
                        lots of different contributors that don't want to share data between them
                        (or for automated labelling services).
                    </span>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input name="requires_agreement" type="checkbox" value="true" {% if data.requires_agreement %}checked{% endif %}>
                    <i class="fa fa-handshake-o fa-fw text-danger"></i> <b>REQUIRE AGREEMENT</b><br>
                    <span>
                        Select this option to enforce the Data Usage Agreement in the link above. Members will be
                        required to agree to usage terms before accessing shared data.
                    </span>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input name="requires_approval" type="checkbox" value="true" {% if data.requires_approval %}checked{% endif %}>
                    <i class="fa fa-lock fa-fw text-danger"></i> <b>REQUIRE CUSTODIAN APPROVAL</b><br>
                    <span>
                        Select this option to prevent members from adding other members without approval. All added
                        members will need to be approved by the group custodian and will not have access until approved.
                        If left unchecked, members with the relevant permission can add other members without approval.
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                CANCEL
            </button>
            <button type="submit" class="btn btn-primary">
                SAVE
            </button>
            {% if data.id %}
            <button id="delete-group" data-id="{{ data.id }}" type="button" class="btn btn-link pull-right">
                <span class="text-danger"><i class="fa fa-trash"></i> DELETE</span>
            </button>
            {% endif %}
        </div>
    </div>

</form>
<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $form = $container.find("#group-form");
        var $modal = $container.parents(".modal");
        var $group_type_id = $container.find("select[name='group_type_id']");
        var $btn_delete = $container.find("#delete-group");
        var $description = $container.find("textarea[name='description']");


        $form.APIForm({
            ajax_prefill: false,
            callback:function(data, form) {
                $modal.trigger("completed", data);
            }
        });

        /*
        ajax.get("/api/group_types", {success: function(data){
            $.each(data.objects, function(i,o){
                $group_type_id.append("<option value='"+o.id+"'>"+o.name+"</option>");
            });
            $group_type_id.val($group_type_id.data("value"));
        }});
        */

        // handle delete links
        $btn_delete.click(function(e){
            ajax.delete('/api/groups/'+$(this).data("id"), {success: function(){
                //$container_parent.load(current_uri);
                $modal.trigger("completed", {});
            }}, "Are you sure you want to delete this Group? <br><br><b>NOTE:</b> Datasets will not be deleted, but all " +
                "sharing through this group will be undone! <br><br>You can <b>not</b> undo this operation.");
        });



    });
</script>
</div>