{% set _container_id = "group_object_list-"~rendered_at %}
<div class="dataset-select-list dataset-select-modal" id="{{ _container_id }}">
    {% if args.title %}<h3>{{ args.title }}</h3>{% endif %}
    <div class="row">
        <div class="col-sm-3">
            <div class="" id="group-list">
                {% with _title="<i class='fa fa-filter'></i> Filters" %}
                {% include "models/groups/resource_select_list.html" %}
                {% endwith %}
                <button class="btn btn-default form-control" id="btn_manage_groups"><i class="fa fa-share-alt"></i> Manage Memberships / Join Groups</button>
                <small class="help-block">
{#                    <i class="fa fa-info-circle fa-fw"></i> NB: only groups that have shared datasets will appear above.<br>#}
                    <i class="fa fa-check-square fa-fw"></i> You are the creator or owner.<br>
                    <i class="fa fa-share-alt fa-fw"></i> Shared with you (as a Group member).<br>
                    <i class="fa fa-users fa-fw"></i> Visible because it has been shared publicly.
                </small>

            </div>
        </div>
        <div class="col-sm-9" id="group_object_list_container">
        </div>
    </div>

<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $list_container = $container.find("#group-list");
        var $btn_manage_groups = $container.find("#btn_manage_groups");

        $list_container.find("li.active>a").first().trigger("click");

        $btn_manage_groups.click(function(e){
            dataset_modal.manage_groups({hide_open_modals: true, onhidden: function(data){
                $container_parent.trigger("reload");
            }});
            e.preventDefault();
        });
    });

</script>

</div>
