<table class="object-detail-table"><tbody>
    {% if data.groupinfo %}
    <tr><td>
        GROUP&nbsp;TAGLINE:
    </td><td>
        {{ data.groupinfo }}
    </td></tr>
    {% endif %}
    <tr><td>
        GROUP&nbsp;INFO:
    </td><td>
        {% include "models/groups/info_badges.html" %}
    </td></tr>
    <tr><td>
        MY&nbsp;PERMISSIONS:
    </td><td>
        {% include "models/usergroups/info_badges.html" %}
    </td></tr>
    <tr><td>
        CUSTODIAN:
    </td><td>
        {% with user=data.user, user_title="Group custodian" %}
            {% include('models/users/user_badge.html') %}
        {% endwith %}
        <span class="badge active-show">
            <i class="fa fa-calendar" data-toggle="tooltip" title="Date created: {{ data.created_at | format_datestring(format="%Y-%m-%d") }}"></i> created: {{ data.created_at | parse_datestring | humanize() }}
        </span>
    </td></tr>
    {% if data.description %}
    <tr><td>
        GROUP&nbsp;DESCRIPTION:
    </td><td>
        <pre style="max-width: 100%; white-space: pre-wrap;">{{ data.description }}</pre>
    </td></tr>
    {% endif %}
    {% if data.dataset_counts %}
    <tr><td>
        SHARING STATS:
    </td><td>
            <span class="badge"><b>{{ data.member_count|humanize("intcomma") }}</b> Member{{ "s" if data.dataset_counts.member_count!=1 }}</span>
            <span class="badge"><b>{{ data.dataset_counts.media_collections|humanize("intcomma") }}</b> Media Collection{{ "s" if data.dataset_counts.media_collections!=1 }}</span>
            <span class="badge"><b>{{ data.dataset_counts.annotation_sets|humanize("intcomma") }}</b> Annotation Set{{ "s" if data.dataset_counts.annotation_sets!=1 }}</span>
            <span class="badge"><b>{{ data.dataset_counts.label_schemes|humanize("intcomma") }}</b> Label Scheme{{ "s" if data.dataset_counts.label_schemes!=1 }}</span>
    </td></tr>
    {% endif %}
</tbody></table>