<span class="badge-group">
    {% if data.is_public %}
    <span class="badge label-default">
        <i class="fa fa-users text-success"  data-toggle='tooltip' title="Public group. All datasets shared will be be publicly viewable."></i>
        <span class="active-show"> public</span></span>
    {% else %}
    <span class="badge label-default">
    <i class="fa fa-user"  data-toggle='tooltip' title="Private group. Public users will not be able to view shared datasets."></i><span class="active-show"> private</span></span>
    {% endif %}

    {% if data.is_restricted %}
    <span class="badge label-default">
        <i class="fa fa-eye-slash text-danger"  data-toggle='tooltip' title="Restricted group. Members cannot see datasets from other members. Custodians can see everything."></i>
        <span class="active-show">restricted</span>
    </span>
    {% else %}
    <span class="badge label-default">
        <i class="fa fa-eye"  data-toggle='tooltip' title="Unrestricted group. Members can see datasets from other members."></i>
        <span class="active-show">unrestricted</span>
    </span>
    {% endif %}

    {% if data.requires_approval %}
    <span class="badge label-default">
        <i class="fa fa-lock text-danger"  data-toggle='tooltip' title="Group requires custodian approval. Every member that is added needs to be approved by the custodian."></i>
        <span class="active-show">needs approval</span>
    </span>
    {% else %}
    <span class="badge label-default" >
        <i class="fa fa-unlock" data-toggle='tooltip' title="Group does not require custodian approval to add members."></i>
        <span class="active-show">no approval</span>
    </span>
    {% endif %}

    {% if data.requires_agreement %}
    <span class="badge label-default" >
        <i class="fa fa-handshake-o text-danger" data-toggle='tooltip' title="Group requires members to agree to a Data Usage Agreement."></i>
        <span class="active-show">needs D.U.A.</span>
    </span>
    {% else %}
    <span class="badge label-default" >
        <i class="fa fa-handshake-o" data-toggle='tooltip' title="Group does not require Data Usage Agreement."></i>
        <span class="active-show">no D.U.A.</span>
    </span>
    {% endif %}
</span>



{#<span class="badge active-show" title="Date created"><i class="fa fa-calendar"></i> {{ data.created_at }}</span>#}

{#<span class="badge active-show" title="Group Owner / Custodian">#}
{#    <i class="fa fa-user-circle"></i> {{ data.user.first_name }} {{ data.user.last_name }} {% if data.current_user_is_owner %}(me){% endif %}#}
{#</span>#}