{% set _alert_count=0 %}
<span class="active-show">
    {% if data.current_user_is_owner %}
        {% if data.pending_member_count > 0 %}
            {% set _alert_count = _alert_count + 1 %}
            <div class="object-alert">
                <a class="object-add"  data-id="{{ data.id }}" title="{{ data.pending_member_count }} member(s) pending approval" href="javascript:void(0)">
                    <i class="fa fa-fw fa-exclamation-triangle text-danger"></i>
                    {{ data.pending_member_count }} member(s) pending approval
                </a>
            </div>
        {% endif %}
    {% elif data.current_user_is_pending_approval %}
        {% set _alert_count = _alert_count + 1 %}
        <div class="object-alert">
            <i class="fa fa-fw fa-exclamation-triangle text-danger"></i>
            Awaiting approval from the custodian
        </div>
    {% elif data.current_user_is_member %}
        {% if data.requires_agreement and not data.current_user_has_agreed %}
            {% set _alert_count = _alert_count + 1 %}
            <div class="object-alert">
                <a class="object-detail"  data-id="{{ data.id }}" title="Click to agree to D.U.A." href="javascript:void(0)">
                    <i class="fa fa-fw fa-exclamation-triangle text-danger"></i>
                    You need to agree to the Data Usage Agreement
                </a>
            </div>
        {% endif %}
    {% else %}
{#        {% set _alert_count = _alert_count + 1 %}#}
        <div class="object-alert">
            <a class="object-detail"  data-id="{{ data.id }}" title="You're not a member of this group" href="javascript:void(0)">
                <i class="fa fa-fw fa-exclamation-triangle text-danger"></i>
                You are not a member of this group
            </a>
        </div>
    {% endif %}

    {% if data.is_public %}
        <div class="object-alert">
            <i class="fa fa-fw fa-info-circle text-success"></i>
            This is a public group so datasets are publicly viewable
        </div>
    {% endif %}
</span>

{% if _alert_count>0 and not _hide_alert_count %}
    <span class="label label-danger active-hide" title="{{ _alert_count }} membership alert(s)"><i class="fa fa-exclamation-triangle"></i>{{ _alert_count }}</span>
{% endif %}