{% set _container_id = "groups_list-"~rendered_at %}
{% if _title is not defined %}
    {% set _title='<i class="fa fa-share-alt"></i> Groups' %}
{% endif %}
<div class="dataset-select-list" id="{{ _container_id }}">
    <span class="pull-right text-right">
        {% include "models/paginate_model.html" %}
    </span>
    <h5>{{_title | safe}}</h5>
    <div class="well well-sm ">
    <ul class="nav nav-pills nav-stacked object-list">
        {% block extra_list_items %}{% endblock %}
        {% if data.objects | length > 0 %}
        {% for o in data.objects %}
            {% with data = o %}
            {% include "models/groups/list_item.html" %}
            {% endwith %}
        {% endfor %}
        {% else %}
            <li style="padding: 20px"><small><i class="fa fa-th-list"></i> Nothing to see here.</small></li>
        {% endif %}
    </ul>
    </div>

    <script>
    $(document).ready(function() {
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $list_container = $container.find(".object-list");
        var $object_links = $list_container.find(".object-link");
        var $object_add = $list_container.find(".object-add").tooltip({placement:"bottom", container: $container_parent});
        var $object_edit = $list_container.find(".object-edit").tooltip({placement:"bottom", container: $container_parent});
        var $object_detail = $list_container.find(".object-detail").tooltip({placement:"bottom", container: $container_parent});
        var $object_remove = $list_container.find(".object-remove").tooltip({placement:"bottom", container: $container_parent});
        var $group_object_list_container = $container.parents(".dataset-select-modal").find("#group_object_list_container");
        var list_args = '{{ (args.list_args or '{}')|safe }}';

        $container.find("[data-toggle='tooltip']").tooltip({placement:'auto', container:$container});

        $object_links.click(function(e){
            $object_links.parent("li.active").removeClass("active");
            $(this).parent("li").addClass("active");
            var resource = $(this).data("resource");
            if (resource) {
                var filters = $(this).data("filters");
                var template = "models/"+resource+"/select_list.html";
                var q = {filters: filters ? filters: [], order_by:[{field:"created_at",direction:"desc"}]};
                //{field:"current_user_is_owner", direction:"desc"}, {field:"current_user_can_edit", direction:"desc"},
                var url = "/api/" + resource + "?q=" + JSON.stringify(q) + '&template=' + template + '&results_per_page=100';
                $.each(JSON.parse(list_args), function(k,v){
                    url = url.updateURIParam(k, v);
                });
                //console.debug(url);
                load_content.paginated_html(url, $group_object_list_container);
                //$group_object_list_container.trigger("reload", url);
            }
            e.preventDefault();
        });

        $object_add.click(function(e){
            var url = '/api/groups/'+$(this).data("id")+'?template=models/groups/add_user_to_group.html';
            open_modal(url, {
                modal_id: 'add_users_to_group-modal',
                modal_class: 'modal-lg',
                hide_open_modals: true
            });
            e.preventDefault();
        });

        $object_edit.click(function (e) {
            var url = '/api/groups/'+$(this).data("id")+"?template=models/groups/edit.html";
            open_modal(url, {
                modal_id: 'edit_group-modal',
                modal_class: 'modal-md',
                hide_open_modals: true,
                oncompleted: function(data){
                    $container_parent.trigger("reload", {group_id: data.id});
                }
            });
            e.preventDefault();
        });

        $object_detail.click(function (e) {
            var url = '/api/groups/'+$(this).data("id")+"?template=models/groups/detail.html";
            open_modal(url, {
                modal_id: 'detail_group-modal',
                modal_class: 'modal-lg',
                hide_open_modals: true,
            });
            e.preventDefault();
        });

        $object_remove.click(function(){
            if ($(this).data("resource") && $(this).data("dataset_id")) {
                var url = "/api/"+$(this).data("resource")+"/"+$(this).data("dataset_id")+"/group/" + $(this).data("id");
                ajax.delete(url, {
                    success: function () {
                        notify.success("Dataset has been removed from group! " +
                            "It will no longer be accessible by members of that group.");
                        $container_parent.trigger("reload");
                        //load_resource_current_groups(resource_id, $usergroup_lists);
                        //$group_id_select.trigger("change.select2");
                        //$group_id_select[0].selectize.refreshOptions(false);
                    }
                }, "Are you sure you want to remove this Dataset from this Group? The dataset will not be deleted, but it will no longer be shared.");
            }
        });

    });
    </script>
</div>