<li class="{{ 'active' if (args.group_id|string) == (data.id|string) else '' }}">
    <span class='object-ctl'>
        <small class="active-show">[ID:{{ data.id }}]</small>
        {% if (not data.current_user_is_member and not data.current_user_is_owner and not data.current_user_is_pending_approval) %}
            <i class='fa fa-user-plus object-detail text-success' data-id="{{ data.id }}" title="Apply to join"></i>
        {% endif %}
        <i class='fa fa-info-circle object-detail active-show' data-id="{{ data.id }}" title="More details"></i>
        {% if not args.dataset_id and (data.current_user_is_owner or data.user.id==current_user.id)%}
            <i class='fa fa-pencil object-edit active-show' data-id="{{ data.id }}" title="Edit"></i>
        {% endif %}
        {% if data.current_user_is_owner or data.current_user_can_add_member or data.user.id==current_user.id %}
            <i class='fa fa-user-plus object-add' data-id="{{ data.id }}" title="Share: add users to group"></i>
        {% else %}
            <i class='fa fa-user-plus active-show text-warning' data-toggle="tooltip" title="You don't have permission to add users to this Group"></i>
        {% endif %}
        {% if args.dataset_id and args.resource %}
            <i class="fa fa-chain-broken object-remove text-danger active-show" data-id="{{ data.id }}" data-resource="{{ args.resource }}" data-dataset_id="{{ args.dataset_id }}" title="Remove dataset from this group (undo sharing)"></i>
        {% endif %}
    </span>

    <a class="object-link"
       data-filters='[{"name":"usergroups","op":"any","val":{"name":"id","op":"eq","val":{{data.id}}}}]' href='javascript:void(0)'
       data-resource="{{ args.resource }}"
       data-dataset_id="{{ args.dataset_id }}">
        {% include "models/groups/usergroup_icon.html" %}
        {{ data.name }} {% if data.group_type and _edit_membership==True%}<span class="badge">{{ data.group_type.name }}</span>{% endif %}
    </a>

    {% if data.groupinfo %}
    <div class="object-description active-show">
        {{ data.groupinfo }}
    </div>
    {% endif %}

    <div class="object-description">
{#        <span class="active-hide" style="color: #dddddd">&boxur;&boxh;</span>#}
{#        <a class="object-detail" data-id="{{ data.id }}" href="javascript:void(0)">#}
{#            <h6 class="active-show">GROUP INFO:</h6>#}
{#        </a>#}
        {% include "models/groups/info_badges.html" %}

        <span class="badge" >
            <i class="fa fa-male" data-toggle='tooltip' title="Group contains {{ data.member_count }} members"></i>
            {{ data.member_count|humanize('intcomma') }} member{% if data.user_count!=1 %}s{% endif %}
        </span>


{#        <a class="object-detail" data-id="{{ data.id }}" href="javascript:void(0)">#}
{#            <h6 class="active-show">MY MEMBERSHIP:</h6>#}
{#        </a>#}
        {% include "models/usergroups/info_badges.html" %}

{#        <h6 class="active-show">CUSTODIAN / CREATION INFO:</h6>#}
        <span class="active-show">
        {% with user=data.user, user_title="Group custodian" %}
            {% include('models/users/user_badge.html') %}
        {% endwith %}
        <span class="badge">
            <i class="fa fa-calendar" data-toggle="tooltip" title="Date created: {{ data.created_at | format_datestring(format="%Y-%m-%d") }}"></i>
            created: {{ data.created_at | parse_datestring | humanize() }}
        </span>
        </span>

        {# ALERTS #}
        {% include "models/groups/info_current_user_alerts.html" %}
    </div>
</li>


