{% set _container_id = "manage_my_groups-"~rendered_at %}
<div class="dataset-select-list dataset-select-modal" id="{{ _container_id }}">
    <h4><i class="fa fa-user"></i> Manage my Groups and Memberships</h4>
    <div class="row">
        <div class="col-sm-4">
            <h5><i class='fa fa-filter'></i> Filters</h5>
            <div class="well well-sm">
                <ul class="nav nav-pills nav-stacked object-list">
                    <li {% if args.group=="all" %}class="active"{% endif %} title="All groups, yours and others" data-toggle="tooltip">
                        <a class="object-link" data-filters='[{"name":"user_id","op":"is_not_null"}]' href="#">
                            <i class="fa fa-asterisk text-danger fa-fw"></i> All Groups
                        </a>
{#                        <div class="object-description active-show">#}
{#                            Groups created by you and others#}
{#                        </div>#}
                    </li>
                    <li {% if args.group | default('mine') =="mine" %}class="active"{% endif %} title="Groups for which you are the creator / custodian" data-toggle="tooltip">
                        <a class="object-link" data-filters='[{"name":"user_id","op":"is_not_null"},{"name":"current_user_is_owner","op":"eq","val":true}]' href="#">
                            <i class="fa fa-check-square fa-fw text-success"></i> My Groups
                        </a>
{#                        <div class="object-description active-show">#}
{#                            You are the creator / custodian#}
{#                        </div>#}
                    </li>
                    <li {% if args.group=="shared" %}class="active"{% endif %} title="Groups created by others, and you are a member" data-toggle="tooltip">
                        <a class="object-link" data-filters='[{"name":"user_id","op":"is_not_null"},{"name":"current_user_is_owner","op":"eq","val":false},{"name":"current_user_is_member","op":"eq","val":true}]' href="#">
                            <i class="fa fa-share-alt fa-fw text-success"></i> Shared With Me
                        </a>
{#                        <div class="object-description active-show">#}
{#                            Groups created by others, and you are a member#}
{#                        </div>#}
                    </li>
                    <li {% if args.group=="pending_my_approval" %}class="active"{% endif %} title="Your Groups with membership applications awaiting your approval" data-toggle="tooltip">
                        <a class="object-link" data-filters='[{"name":"current_user_is_owner","op":"eq","val":true},{"name":"usergroups","op":"any","val":{"name":"approved","op":"eq","val":false}}]' href="#">
                            <i class="fa fa-exclamation-triangle fa-fw text-danger"></i> My Groups: waiting approvals
                        </a>
{#                        <div class="object-description active-show">#}
{#                            Membership applications awaiting your approval#}
{#                        </div>#}
                    </li>
                    <li {% if args.group=="pending_custodian" %}class="active"{% endif %} title="Groups you have been added to, but are awaiting custodian approval" data-toggle="tooltip">
                        <a class="object-link" data-filters='[{"name":"user_id","op":"is_not_null"},{"name":"current_user_is_owner","op":"eq","val":false},{"name":"current_user_is_pending_approval","op":"eq","val":true}]' href="#">
                            <i class="fa fa-thumbs-down fa-fw text-danger"></i> My pending applications
                        </a>
{#                        <div class="object-description active-show">#}
{#                            Your applications awaiting custodian approval#}
{#                        </div>#}
                    </li>
                    <li {% if args.group=="pending_agreement" %}class="active"{% endif %} title="Group memberships awaiting your confirmation of the Data Usage Agreement" data-toggle="tooltip">
                        <a class="object-link" data-filters='[{"name":"user_id","op":"is_not_null"},{"name":"current_user_is_owner","op":"eq","val":false},{"name":"requires_agreement","op":"eq","val":true},{"name":"current_user_is_member","op":"eq","val":true},{"name":"current_user_has_agreed","op":"eq","val":false}]' href="#">
                            <i class="fa fa-handshake-o fa-fw text-danger"></i> My pending D.U.A.'s
                        </a>
{#                        <div class="object-description active-show">#}
{#                            Awaiting your confirmation of the Data Usage Agreement#}
{#                        </div>#}
                    </li>
                    <li {% if args.group=="other" %}class="active"{% endif %} title="Other groups that you're not a member of yet" data-toggle="tooltip">
                        <a class="object-link" data-filters='[{"name":"user_id","op":"is_not_null"},{"name":"current_user_is_owner","op":"eq","val":false},{"name":"current_user_is_member","op":"eq","val":false},{"name":"current_user_is_pending_approval","op":"eq","val":false}]' href="#">
                            <i class="fa fa-lock fa-fw text-danger"></i> Other groups
                        </a>
{#                        <div class="object-description active-show">#}
{#                            Groups that you're not a member of yet#}
{#                        </div>#}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8" id="manage_my_groups_list_container">

        </div>
    </div>

    <script>
    $(document).ready(function() {
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $groups_list_container = $container.find("#manage_my_groups_list_container");
        var $object_links = $container.find(".object-link");


        $container.find("[data-toggle='tooltip']").tooltip({placement:"right", container:$container});
        $object_links.click(load_group_list);
        $container.find("li.active>a").first().trigger("click");

        function load_group_list(e) {
            $object_links.parent("li.active").removeClass("active");
            $(this).parent("li").addClass("active");
            var url = "/api/groups?template=models/groups/manage_list.html&results_per_page=200";
            /*
            var order_by = [{field:"current_user_is_owner", direction:"desc"},{field:"current_user_is_member",direction:"desc"},
            {field:"current_user_is_pending_approval",direction:"desc"},{field:"is_public", direction:"desc"},
            {field:"name",direction:"asc"}];
            */
            var order_by = [{field:"name",direction:"asc"}];
            url += "&q="+JSON.stringify({filters:$(this).data("filters"), order_by: order_by});
            load_content.paginated_html(url, $groups_list_container);
            e.preventDefault();
        }
    });
    </script>
</div>