{% set _container_id = "manage_groups_list-"~rendered_at %}
<div class="dataset-select-modal" id="{{ _container_id }}">
    {% include "models/groups/list.html" %}
    <button class="btn btn-default form-control object-new" id="btn_new_group"><i class="fa fa-plus-square"></i> New Group</button>

<script>
    $(document).ready(function(){
        var $container = $("#{{ _container_id }}");
        var $container_parent = $container.parent();
        var $btn_new_group = $container.find("#btn_new_group");

        $btn_new_group.click(function(e){
            open_modal("/ui/models/groups/edit.html", {
                modal_id: 'new_form-modal',
                modal_class: 'modal-md',
                hide_open_modals: true,
                oncompleted: function(data){
                    //console.log(data);
                    //var url = '{{ url|safe }}';
                    //url = url.updateURIParam('group_id', data.id);
                    //load_content.html(url, $container_parent);
                    $container_parent.trigger("reload", {group_id:data.id});
                }
            });
        });
    });
</script>

</div>