{% extends "models/groups/list.html" %}
{% block extra_list_items %}
<li {% if args.group_id=="all" %}class="active"{% endif %}>
    <a class="object-link" href="#"
       data-filters='[]'
       data-resource="{{ args.resource }}"
       data-dataset_id="{{ args.dataset_id }}">
        <i class="fa fa-asterisk text-danger fa-fw"></i> All
    </a>
{#    <div class="object-description">#}
{#        All visible {{ args.resource }}s#}
{#    </div>#}
</li>
<li {% if args.group_id=="mine" %}class="active"{% endif %}>
    <a class="object-link"
       data-filters='[{"name":"current_user_is_owner","op":"eq","val":true}]' href="#"
       data-resource="{{ args.resource }}"
       data-dataset_id="{{ args.dataset_id }}">
        <i class="fa fa-check-square fa-fw text-success"></i> Mine
    </a>
{#    <div class="object-description">#}
{#        Your {{ args.resource }}s#}
{#    </div>#}
</li>
<li {% if args.group_id=="shared" %}class="active"{% endif %}>
    <a class="object-link"
        data-filters='[{"name":"current_user_is_owner","op":"eq","val":false},{"name":"current_user_is_member","op":"eq","val":true}]' href="#"
        data-resource="{{ args.resource }}"
        data-dataset_id="{{ args.dataset_id }}">
        <i class="fa fa-share-alt fa-fw text-success"></i> Shared with me
    </a>
{#    <div class="object-description">#}
{#        Other people's shared {{ args.resource }}s#}
{#    </div>#}
</li>
<li {% if args.group_id=="public" %}class="active"{% endif %}>
    <a class="object-link"
       data-filters='[{"name":"is_public","op":"eq","val":true}]' href="#"
       data-resource="{{ args.resource }}"
       data-dataset_id="{{ args.dataset_id }}">
        <i class="fa fa-users fa-fw text-success"></i> Public
    </a>
{#    <div class="object-description">#}
{#        Publicly viewable {{ args.resource }}s#}
{#    </div>#}
</li>
{#<li><a class="object-link" data-filters='[{"name":"current_user_can_edit","op":"eq","val":true},{"name":"current_user_is_owner","op":"eq","val":false}]' href="#"><i class="fa fa-share-alt text-success"></i> Shared with me (editable)</a></li>#}
{#<li><a class="object-link" data-filters='[{"name":"current_user_can_view","op":"eq","val":true},{"name":"current_user_can_edit","op":"eq","val":false}]' href="#"><i class="fa fa-share-alt"></i> Shared with me (read-only)</a></li>#}
{#<li style="height:1px; background-color: #e6e6e6; margin:0; padding: 0"></li>#}
<li title="List of groups that contain this object type" style="padding: 4px; color: #aaaaaa; font-size: xx-small; border-top: solid #e6e6e6 1px;">
    FILTER BY GROUPS:
</li>

{% endblock %}