{% if data.user.id==current_user.id %}
    <i class="fa fa-check-square fa-fw" title="You are the owner/custodian of this group"></i>
{% elif data.current_user_is_member %}
    <i class="fa fa-share-alt fa-fw" title="This group has been shared with you"></i>
{% elif data.is_public %}
    <i class="fa fa-users fa-fw" title="You can see this group because it is public"></i>
{% elif data.current_user_is_pending_approval %}
    <i class="fa fa-thumbs-down fa-fw" title="Your membership request is pending approval"></i>
{% else %}
    <i class="fa fa-lock fa-fw" title="You do not have access to this group"></i>
{% endif %}