
<style>


</style>



<div id="annotation-modal-container-{{ rendered_at }}" class="media-gui-container annotate-media-container {% if not args.q %}nomedialist{% endif %}">
    <div class="media-container">
        <div id="media-container" style="height: 100%"></div>
    </div>

{#    <div class="ctl-mini-container">#}
{#        <h2 title="Annotation window options"><i class="fa fa-file-image-o"></i></h2>#}
{#        <a class='ctl-btn' data-click="close" title="Close annotation window"  data-hover="tooltip" data-placement="right" href="javascript:void(0)" ><i class='fa fa-times-circle'></i></a>#}
{#        <a class='ctl-btn hide-nomedialist' data-click="prev" title="Previous item"  data-hover="tooltip" data-placement="right" href="javascript:void(0)" ><i class='fa fa-chevron-circle-left'></i></a>#}
{#        <a class='ctl-btn hide-nomedialist' data-click="next" title="Next item"  data-hover="tooltip" data-placement="right" href="javascript:void(0)" ><i class='fa fa-chevron-circle-right'></i></a>#}
{#        <a class='ctl-btn' data-click="reload" title="Reload/resize"  data-hover="tooltip" data-placement="right" href="javascript:void(0)" ><i class='fa fa-refresh'></i></a>#}
{#        <a class='ctl-btn' title="Annotation Set info/instructions"  data-hover="tooltip" data-placement="right" href="javascript:alert('Not implemented yet')" ><i class='fa fa-info-circle'></i></a>#}
{#        <a class="ctl-btn" title="Log a bug report / feature request" data-hover="tooltip" data-placement="right" href="javascript:void(0)" onclick="open_modal('{{ url_for('public.userissue') }}', {modal_id:'userissue-modal', modal_class:'modal-md'})"><i class="fa fa-bug"></i></a>#}
{#        <a class="ctl-btn hide-nomedialist" data-hover="tooltip" data-placement="right" title="Toggle thumbnail pane" onclick="$('#annotation-modal-container').toggleClass('hide-thumbnails')" href="javascript:void(0)"><i class="fa fa-film"></i></a>#}
{#    </div>#}

    <div class="ctl-container">
        <div class="ctl-settings">
            <div class="ctl-controls">
                <a class='ctl-btn pull-right' data-click="close" title="Close annotation window"  data-hover="tooltip" data-placement="bottom" data-container="#annotation-modal-container" href="javascript:void(0)" ><i class='fa fa-times'></i></a>
                <a class='ctl-btn pull-right hide-nomedialist' data-click="next" title="Next Media item [RIGHT keyboard arrow]"  data-hover="tooltip" data-placement="bottom" data-container="#annotation-modal-container" href="javascript:void(0)" ><i class='fa fa-chevron-right'></i></a>
                <a class='ctl-btn pull-right hide-nomedialist' data-click="prev" title="Previous Media item [LEFT keyboard arrow]"  data-hover="tooltip" data-placement="bottom" data-container="#annotation-modal-container" href="javascript:void(0)" ><i class='fa fa-chevron-left'></i></a>
                <a class='ctl-btn' title="Information / instructions"  data-hover="tooltip" data-placement="bottom" data-container="#annotation-modal-container" href="javascript:doc_modal.wiki('{{ config.WIKI_PAGES.annotation_help }}')" ><i class='fa fa-info-circle'></i></a>
                <a class="ctl-btn" title="Report a bug / feature request" data-hover="tooltip" data-placement="bottom" data-container="#annotation-modal-container" href="javascript:void(0)" onclick="open_modal('{{ url_for('public.userissue') }}', {modal_id:'userissue-modal', modal_class:'modal-md'})"><i class="fa fa-bug"></i></a>
                <a class="ctl-btn hide-nomedialist" data-hover="tooltip" data-placement="bottom" data-container="#annotation-modal-container" title="Toggle thumbnail pane" onclick="$('#annotation-modal-container').toggleClass('hide-thumbnails')" href="javascript:void(0)"><i class="fa fa-film"></i></a>
                <a class='ctl-btn' data-click="reload" title="Reload/resize"  data-hover="tooltip" data-placement="bottom" data-container="#annotation-modal-container" href="javascript:void(0)" ><i class='fa fa-refresh'></i></a>
                <a class='ctl-btn' data-click="fullscreen" title="Toggle Fullscreen"  data-hover="tooltip" data-placement="bottom" data-container="#annotation-modal-container" href="javascript:void(0)" ><i class='fa fa-arrows-alt'></i></a>
            </div>
        </div>
        <div class="ctl-settings fill-height" style="min-height: 250px;">
            <div style="display: block">
            <h2>
{#                <a class='ctl-btn pull-right' data-click="close" title="Close annotation window"  data-hover="tooltip" data-placement="bottom" href="javascript:void(0)" ><i class='fa fa-times-circle'></i></a>#}
                <i class="fa fa-tags"></i> Annotate
                <a class="ctl-btn" href="#annotate_parameters" data-click='toggle' data-hover="tooltip" data-placement="bottom" title="Toggle annotation options"><i class="fa fa-cog"></i></a>
{#                <a class="ctl-btn" href="#tag-scheme-favourites-container" title="Toggle My Favourites List" data-click='toggle' data-hover="tooltip" data-placement="bottom"><i class="fa fa-star"></i></a>#}
{#                <a class="ctl-btn" href="#tag-scheme-recent-container" title="Toggle My Smart List" data-click='toggle' data-hover="tooltip" data-placement="bottom"><i class="fa fa-magic"></i></a>#}
                <a class="ctl-btn" href="#media-labels-container" title="Toggle Whole-frame annotations" data-click='toggle' data-hover="tooltip" data-placement="bottom"><i class="fa fa-image"></i></a>
                <a class="ctl-btn" href="javascript:void(0)" id="exemplar-button" title="Add exemplar annotation" data-hover="tooltip" data-placement="bottom"><i class="fa fa-check-square-o"></i></a>
                <a class="ctl-btn" href="#batch-tag-container" title="Show batch tagging controls" data-click='toggle' data-hover="tooltip" data-placement="bottom"><i class="fa fa-tags"></i></a>
            </h2>
            <div class="parameters" id="annotate_parameters">
                Annotation settings
            </div>
            </div>

            <div id="batch-tag-container" style="border: solid 1px #666; padding: 6px; margin-bottom: 2px; display: none">
                <select id="batch-tag-select" class="form-control" name="tags" multiple></select>
                <button id="batch-tag-btn" type="button" class="btn btn-primary btn-xs" style="width: 100%"><i class="fa fa-tag"></i> ASSIGN TAG(S)</button>
            </div>

            <div class="fill-height" style="border: 1px solid rgba(255,255,255,0.1); margin-top: 5px; padding: 5px; overflow-y: hidden; height:100%;">
{#                <div id="tag-scheme-favourites-container" style="display: none; border: solid 1px #666; padding: 3px; margin-bottom: 2px">My Favourites. Not implemented yet, but when it is, you will be able to save a shortlist of labels for quick reference.</div>#}
{#                <div id="tag-scheme-recent-container" style="display: none;border: solid 1px #666; padding: 3px; margin-bottom: 2px">My Smart List. List of most recently used/suggested labels. Not implemented yet.</div>#}
                <div class="fill-height"  id="tag-scheme-container"></div>
            </div>

            <div id="media-labels-container" style="border: solid 1px #666; padding: 6px; margin-bottom: 2px;">
                <h2 title="Apply annotations to the whole frame" data-hover="tooltip" data-placement="left" data-container="#annotation-modal-container">Whole-frame<br>annotations:</h2>
                <span id="media-labels"></span>
{#                <a id="new_media_label" class='ctl-btn' title="Add new whole-frame annotation"  data-hover="tooltip" data-placement="top" href="javascript:void(0)" ><i class='fa fa-plus-circle'></i></a>#}
            </div>

        </div>

{#        <div class="ctl-settings">#}
{#            <h2>#}
{#                <i class="fa fa-image"></i> Labels#}
{#                <a class="ctl-btn" href="#media_label_parameters" data-click='toggle' data-hover="tooltip" data-placement="bottom" title="Show/hide extra options"><i class="fa fa-cog"></i></a>#}
{#                <a class="ctl-btn" href="javascript:void(0)" title="Add new Whole Frame label" data-hover="tooltip" data-placement="bottom"><i class="fa fa-plus-circle"></i></a>#}
{#                <a class="ctl-btn pull-right" href="javascript:void(0)" title="Show/hide section" onclick="$('#media-labels').toggle(200)" data-hover="tooltip" data-placement="bottom"> <i class="fa fa-minus-circle"></i> </a>#}
{#            </h2>#}
{#            <div class="parameters" id="media_label_parameters">#}
{#                Some parameters#}
{#            </div>#}
{#            <div id="media-labels"></div>#}
{#        </div>#}



        <div class="ctl-settings">
            <h2>
{#                <a class="ctl-btn pull-right show-hide-params" href="javascript:void(0)" title="Show/hide parameters" data-hover="tooltip" data-placement="bottom"><i class="fa fa-cog"></i></a>#}
                <a class="ctl-btn pull-right" href="javascript:void(0)" title="Show/hide media utils" onclick="$(this).parents('.ctl-settings').find('.tab-content').toggle(200)" data-hover="tooltip" data-placement="top"> <i class="fa fa-caret-down"></i> </a>
                <i class="fa fa-wrench"></i> Media info/utils
                <a class="ctl-btn" href="#util-params" data-click='toggle' data-hover="tooltip" data-placement="top" title="Show/hide extra options"><i class="fa fa-cog"></i></a>
                <a class="ctl-btn" href="#media-tools" title="Media tools" role="tab" data-toggle="tab" data-hover="tooltip" data-placement="top"><i class="fa fa-search-plus"></i></a>
                <a class="ctl-btn" href="#media-info" title="Media info" role="tab" data-toggle="tab" data-hover="tooltip" data-placement="top"><i class="fa fa-info-circle"></i></a>
            </h2>
            <div class="parameters" id="util-params">
                <div class="help-block">Media Object</div>
                <a href="javascript:void(0)" id="remove_media_from_collection" class="text-danger">
                    <i class="fa fa-trash fa-fw"></i> Remove Media Item
                </a> from Media Collection<br>
                <a href="javascript:void(0)" id="open_media">
                    <i class="fa fa-info-circle fa-fw"></i> Show Detailed Info
                </a> for Media Item
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="media-tools"></div>
                <div role="tabpanel" class="tab-pane" id="media-info" style="border: 1px solid rgba(255,255,255,0.1); margin-top: 5px; padding: 5px;">

                </div>
            </div>
        </div>
{#        <div class="ctl-settings">#}
{#            <a class="show-hide-params" href="javascript:void(0)" title="Show/hide parameters"><i class="fa fa-cog"></i></a>#}
{#            <h2><i class="fa fa-info-circle"></i> Info</h2>#}
{#            <div id="media-info" class="help-block">Some info</div>#}
{#            <div class="parameters">#}
{#                Parameters#}
{#            </div>#}
{#        </div>#}

    </div>

    <!-- thumbnails -->
    <div class="thumbnail-container" id="thumbnail-container">
        <div class="help-block" style="display: block; text-align: center; margin-top: 20px;">There are no thumbnails to view here</div>
    </div>

    <div class="notifications"></div>
{#    <span class="thumbnail-container-info badge label-default"><i class="fa fa-info-circle"></i> Showing page ?/? from ? items.</span>#}
</div>

<script>
    $( document ).ready(function() {
        //var $label_scheme_select = $("#tag-scheme-select");
        var $main_container = $("#annotation-modal-container-{{ rendered_at }}");
        var $modal = $main_container.parents(".modal");
        var $media_container = $main_container.find("#media-container");
        var $tools_container = $main_container.find("#media-tools");
        var $util_params = $main_container.find("#util-params");
        var $thumbnail_container = $main_container.find("#thumbnail-container");
        var $info_container = $main_container.find("#media-info");
        var $label_scheme_container = $main_container.find("#tag-scheme-container");
        var $labels_container = $main_container.find("#media-labels");
        var $annotation_settings = $main_container.find("#annotate_parameters");
        var $exemplar_button = $main_container.find("#exemplar-button").hide();  // hide by default, only show if not exemplar set (below)
        var $remove_media_from_collection = $main_container.find("#remove_media_from_collection");
        var $open_media = $main_container.find("#open_media");
        var $batch_tag_select = $main_container.find("#batch-tag-select");
        var $batch_tag_btn = $main_container.find("#batch-tag-btn");
        //var $frame_label_btn = $main_container.find("#new_media_label");

        //var $show_grid_checkbox = $main_container.find('#annotate_parameters [name="point-show-grid"]');


        var label_scheme_obj = new LabelScheme($label_scheme_container, {
            annotation_set_id: parseInt("{{annotation_set.id}}"),
            on_label_click:function (tg_info) {
                //console.log(tg_info);
                media_obj.set_label_selected({label_id:tg_info.id});
            }});
        var media_obj = new MediaObject($media_container, $tools_container, $info_container, $labels_container, $thumbnail_container, $annotation_settings);
        label_scheme_obj.initList();
        //label_scheme_obj.annotation_set_id = parseInt("{{annotation_set.id}}");

        // give tag scheme container class to ensure it is the full height of the modal
        //label_scheme_obj.$list_container.addClass("fill-media-height");



        $remove_media_from_collection.click(function(){
            dataset_modal.annotation_set.remove_media_item(media_obj.annotation_set_id, media_obj.media_id, {
                success: function(data) {
                    notify.success("Media Object has been removed from this Media Collection.");
                    $modal.modal("hide");
                }
            });
        });
        $open_media.click(function(){
            dataset_modal.media.view(media_obj.media_id);
        })

        // Load media object
        media_obj.load_media( "{{media.id}}", "{{annotation_set.id}}", "{{ current_user.id }}",
            function(data){  // media callback
                var label_scheme_id = data.annotation_set.label_scheme_id;
                label_scheme_obj.refreshList(label_scheme_id);
            },
            function(){      // media type loaded callback
                // fill height
{#                var $fill_el = $("#annotation-modal-container .fill-media-height");#}
{#                var $fill_cont = $("#annotation-modal-container .fill-media-height-container");#}
{#                var height = Math.max(media_obj.$media.height() - ($fill_cont.height() - $fill_el.height()),200);#}
{#                $fill_el.css({"max-height":height, "height":height});#}
                // handle click of preselected points
                {% for i in args.point_ids %}
                    $media_container.find("svg#point-{{ i }}").trigger("click");
                    //console.log('{{ i }}', $media_container.find("svg#point-{{ i }}"));
                {% endfor %}
        });

        $batch_tag_btn.click(function(e){
            media_obj.set_label_selected({tags: $batch_tag_select.val()});
        });

        $batch_tag_select.ajax_select('/api/tag', {
            results_per_page:100,
            placeholder: "Search or select one or more Tags to apply",
            dropdown_parent: $main_container,
            template_option: '<div class="title">[[name]]</div><div class="description">[[description]]</div>',
            build_query: function(search_term) {
                var q = {filters: [], order_by: [{field:"name",direction:"asc"}]}
                if (search_term) {
                    $(search_term.split(/(\s+)/)).each(function(i,s){
                        if (s.trim().length)
                            q.filters.push({or:[{name:"name",op:"ilike",val:'%'+s+'%'},{name:"description",op:"ilike",val:'%'+s+'%'}]});
                    });
                }
                return q;
            }
        });




        $main_container.find("[data-click='next']").click(media_obj.next);
        $main_container.find("[data-click='prev']").click(media_obj.prev);
        $main_container.find("[data-click='reload']").click(media_obj.reload);
        $main_container.find("[data-click='fullscreen']").click(media_obj.toggle_fullscreen);
        $main_container.find("[data-click='close']").click(function(){
            media_obj.toggle_fullscreen(false);
            media_obj.close_window(this);
        });
        $main_container.find("[data-click='toggle']").click(function(e){
            $($(this).attr("href")).toggle(200);
            //$(this).parents(".ctl-settings").find('.parameters').toggle(200);
            e.preventDefault();
            return false;
        });
        $main_container.find(".fill-height").css({"flex-grow":"1", 'height':'100%'}).parent().css({display: 'flex', 'flex-direction': 'column'});
        $main_container.find('[data-hover="tooltip"]').tooltip();

        $thumbnail_container.on('mouseenter mouseleave', function(){
            media_obj.autoscroll_thumbnails();
        }).mousewheel(function(e, delta) {
            this.scrollLeft += (delta * 40);
            e.preventDefault();
        });

        {% if not annotation_set.is_exemplar %}
        $exemplar_button.click(function(e){
            open_modal('/api/label_scheme/'+label_scheme_obj.label_scheme_id+'?media_id='+media_obj.media_id+
                '&template=models/label_scheme/select_exemplar_annotation_set.html', {modal_class:"modal-lg"});

            /*
            var q = {"filters":[{"name":"label_scheme_id","op":"in","val":label_scheme_obj.parent_label_scheme_ids},{"name":"is_exemplar","op":"eq","val":true}]};
            var template = "models/annotation_set/select_exemplar_annotation_set.html";
            var url = '/api/annotation_set'.updateURIParam('q',q).updateURIParam('template',template);
            open_modal(url, {modal_class:"modal-md"});
            */
        }).show();
        {% endif %}

        {% if args.q is defined %}
        // load thumbnails
        var q = '{{ args.q|safe }}',
            page_index = "{{args.page_index}}",
            page = "{{args.page}}",
            results_per_page = "{{args.results_per_page}}";
        media_obj.load_thumbnails(q, page_index, page, results_per_page).done(function(){
            media_obj.autoscroll_thumbnails()
        });
        {% endif %}
    });
</script>
