{% extends "layout.html" %}
{% block page_subtitle %} ANNOTATE: {{ data.media_collection.name }} > {{ data.name }} ({{ data.id }}){% endblock %}
{% block css %}
{#<link rel="stylesheet" href="{{ url_for('static', filename='libs/leaflet/leaflet-0.7.3/leaflet.css') }}" />#}
{#<link rel="stylesheet" href="{{ url_for('static', filename='libs/leaflet/MarkerCluster.Default.css') }}" />#}
<link rel="stylesheet" href="{{ url_for('static', filename='css/column-collapsible.css') }}" />
{#<link rel="stylesheet" href="{{ url_for('static', filename='libs/leaflet/leaflet-measure.css') }}" />#}
{#<link href="/static/api_libs/geodata/media.css?v=0.12" rel="stylesheet">#}
{#<link href="/static/api_libs/geodata/deployment.css" rel="stylesheet">#}
{% assets "css_annotate" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% assets "js_annotate" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<style>
.form-export {
    margin-left: 0;
    margin-right: 0;
}
#map {
    position: absolute; bottom: 0; top: 0; left:0; right:0;
}
body {
    /*background-color: #ccc;*/
}

.dataset-field {
    font-size: 10px;
    color: #898989;
    margin: 5px 0 0 0;
}

.nav-item-data-resource {
    color: #ccc;
}

</style>
{% endblock %}


{% block nav %}
    {% with nav_title = "analyse" %}
    {% include "geodata/nav.html" %}
    {% endwith %}
{% endblock %}

{% block content_class %}container-fluid full-height{% endblock content_class %}
{% block content %}
<div class="" style="margin: 0; padding: 0; width: 100%; height: 100%">
    <div class="row" style="height: 100%">

        <!-- Expanding Column -->
        <div class="tab-content col-sm-12 full-height">
{#            <div id="map" role="tabpanel" class="tab-pane">#}
{#                <div style="text-align: center">#}
{#                    <i class="fa fa-globe fa-3x loading"></i><br>#}
{#                    Collection map view: not implemented yet#}
{#                </div>#}
{#            </div>#}
            <div id="img" class="tab-pane">
{#                <i class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>#}
                {% if data.parent_id %}
                <small class="pull-right" title="This is not a standalone annotation set. It is a child of another one">
                    <i class="fa fa-exclamation-triangle text-warning"></i> SUPPLEMENTARY ANNOTATION SET
                </small>
                {% endif %}
                <div id="media_container"></div>
            </div>
            <div id="qac" role="tabpanel" class="tab-pane ">
                QA/QC
            </div>
            <div id="dat" role="tabpanel" class="tab-pane">

            </div>
        </div>

{#        <!-- Collapsing Column -->#}
{#        <div class="col-sm-2 column well form-horizontal form-export column-collapsible collapsed" >#}
{#            <h4 title="Show dataset info" class="text-center collapsed-show">#}
{#                <a href="javascript:void(0)" onclick="$('.column').removeClass('collapsed');" ><i class="fa fa-caret-left"></i></a>#}
{#                <i class="fa fa-info-circle"></i>#}
{#            </h4>#}
{#            <div class="collapsed-hide dataset-info">#}
{#                <h4>#}
{#                    <a href="javascript:void(0)" onclick="$('.column').addClass('collapsed');" class="collapse-link pull-right"><i class="fa fa-caret-right"></i></a>#}
{#                    <i class="fa fa-info-circle"></i> Info#}
{#                </h4>#}
{#                <hr>#}
{#                <div class="dataset-field"><i class='fa fa-list-ul'></i> Media Collection:</div>#}
{#                <ul id="media_collection-info" class="dataset-info"></ul>#}
{#                <hr>#}
{#                <div class="dataset-field"><i class='fa fa-tags'></i> Annotation Set:</div>#}
{#                <ul id="annotation_set-info" class="dataset-info"></ul>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
{#<script src="{{ url_for('static', filename='libs/leaflet/leaflet-0.7.3/leaflet-src.js') }}"></script>#}
{#<script src="{{ url_for('static', filename='libs/leaflet/leaflet.markercluster-src.js') }}"></script>#}
{#<script src="//maps.google.com/maps/api/js?v=3.2&sensor=false"></script>#}
{#<script src="{{ url_for('static', filename='libs/leaflet/leaflet-google.js') }}"></script>#}
{#<script src="{{ url_for('static', filename='libs/CamanJS-4.1.1/dist/caman.full.min.js') }}"></script>#}

{#<script src="/static/api_libs/geodata/templates/templates.js" type="text/javascript"></script>#}
{#<script src="/static/api_libs/geodata/media2.js?v=0.12" type="text/javascript"></script>#}
{#<script src="/static/api_libs/geodata/deployment.js?v=0.12" type="text/javascript"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js" type="text/javascript"></script>#}



<script type="text/javascript">

$(document).ready(function(){

    $('[data-toggle="tooltip"]').tooltip({placement: "auto"});
    var $media_tab = $("#img");
    var $media_container = $media_tab.find("#media_container");
    //var $select_tally_type = $("#select_tally_type").change(show_tally_plot);
    //var $chart = $("#collection_labels_chart");
    var $qaqc_container = $("#qac");
    var $data_container = $("#dat");
    var filt_cache = {};


    var media = new Media($media_container, {}, {
        on_click: on_media_click,
        on_reload: on_media_reload,
        apiurl_media: "/api/annotation_set/{{ data.id }}/media"
    });

    //media.show_counts = true;

    function on_media_click(media_id) {
        //alert('OPEN ANNOTATION VIEW FOR: '+media_id);
        $(this).parent("a.media-thm-link").siblings("a.media-thm-link.active").removeClass("active");
        $(this).parent("a.media-thm-link").addClass("active");
        var params = media.get_params();
        params.page_index=$(this).data('page_index');
        dataset_modal.media.annotate(media_id, '{{data.id}}', params, {
            onhidden:function(){$media_container.trigger("reload")}
        })
    }
    function on_media_reload(){
        // add some extra controls for annotations to the top pagination controls only
        var $pagination_controls = media.$container.find(".paginate-list-params").first().find(".paginate-list-controls");
        var $media_filter = $('<a class="badge" href="javascript:void(0)" title="Sort or filter results on selected criteria"><i class="fa fa-filter"></i> FILTER/SORT</a>');

        if (!$.isEmptyObject(filt_cache)) {
            $media_container.prepend("<small class='pull-left'><i class='fa fa-exclamation-triangle text-warning'></i> FILTER APPLIED</small>");
        }
        /*
        var $annotation_log = $('<a class="badge" href="javascript:void(0)" title="View searchable log of Annotations"><i class="fa fa-th-list"></i> VIEW LOG</a>');
        $annotation_log.click(function(){
            open_modal("/geodata/event_annotation_list/{{data.media_collection.id}}/{{data.id}}",{
                modal_id: 'media-event_annotation_list',
                modal_class: 'modal-lg'
            });
        }).prependTo($pagination_controls);
        */
        $media_filter.click(function(){
            //notify.info("Coming soon!");
            open_modal("/ui/models/media/build_filter.html?annotation_set_id={{data.id}}&q="+JSON.stringify(media.q),{
                modal_class: 'modal-md',
                backdrop: true,
                //remember_state: true
                oncompleted: function(filts){
                    var q = {filters:[], order_by: []};
                    if (filts.hasOwnProperty("needs_review"))
                        q.filters.push({name:'annotations',op:'any',val:{name:'annotations',op:'any',val:{name:'needs_review',op:'eq',val: true}}});
                    if (filts.hasOwnProperty("label_status")) {
                        if (filts.label_status === "has_no_annotations")
                            q.filters.push({"name":{"method":"has_annotations","args":['{{data.id}}']},"op":"eq","val":false});
                        else if (filts.label_status === "has_unlabeled_annotations")
                            //q.filters.push({"name":{"method":"has_unlabeled_annotations","args":['{{data.id}}']},"op":"eq","val":true});
                            q.filters.push({or:[
                                {name:{method:"has_annotations",args:["{{data.id}}"]},op:"eq",val:false},
                                {name:{method:"has_unlabeled_annotations",args:["{{data.id}}"]},op:"eq",val:true}
                            ]})
                        else if (filts.label_status === "fully_labelled")
                            q.filters.push({and:[
                                {name:{method:"has_annotations",args:["{{data.id}}"]},op:"eq",val:true},
                                {name:{method:"has_unlabeled_annotations",args:["{{data.id}}"]},op:"eq",val:false}
                            ]})
                    }
                    if (filts.hasOwnProperty("deployment_ids")) {
                        q.filters.push({name:'deployment_id',op:'eq',val:filts.deployment_ids});
                    }
                    if (filts.hasOwnProperty("order_by")) {
                        if (filts.order_by.includes('deployment_id'))
                            q.order_by.push({"field":"deployment_id","direction":"asc"});
                        if (filts.order_by.includes('timestamp'))
                            q.order_by.push({"field":"timestamp_start","direction":"asc"});
                        if (filts.order_by.includes('created_at'))
                            q.order_by.push({"field":"created_at","direction":"asc"});
                    }

                    media.reload(q);
                    filt_cache = filts;
                },
                onshown: function(){
                    console.log(filt_cache);
                    var $form = $(this).find("form#media_collection-media-filters");
                    if (filt_cache.hasOwnProperty("needs_review"))
                        $form.find("input[name='needs_review']").prop('checked', true);
                    if (filt_cache.hasOwnProperty("label_status"))
                        $form.find("input[name='label_status']").filter('[value="'+filt_cache.label_status+'"]').prop('checked', true);
                    if (filt_cache.hasOwnProperty("order_by"))
                        $form.find("input[name='order_by']").filter('[value="'+filt_cache.order_by+'"]').prop('checked', true);
                    if (filt_cache.hasOwnProperty("deployment_ids"))
                        $form.find("input[name='deployment_ids']").ajax_select_val(filt_cache.deployment_ids);
                }
            });
        }).prependTo($pagination_controls);
    }

    $('a.explore-tab-link[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        history.pushState(null, null, $(e.target).attr("href")); // add tab hash to URL
        refresh_tabs();
    });


    $("nav").find(".nav-item-data-resource").click(function(){
        dataset_modal.share_resource($(this).data("id"), $(this).data("resource"));
        /*
        var $this = $(this);
        if (!$this.data("_popover_loaded")) {
            var url = "/api/" + $this.data("resource") + "/" + $this.data("id") + "?template=models/" + $this.data("resource") + "/info_detail.html"
            var $popover_content = $("<div class='object-detail'>");
            load_content.html(url, $popover_content, function (data) {
                $this.popover({trigger:"hover",html:true, placement:"auto", content: $popover_content});
                $this.popover("show");
                $this.data("_popover_loaded", true);
            });
        }
        else {
            $(this).popover("show");
        }
        */
    });

    {#var annotation_set_template = 'models/annotation_set/list_item.html';#}
    {#var media_collection_template = 'models/media_collection/list_item.html';#}
    {#$("#annotation_set-info").load("/api/annotation_set/{{data.id}}?template="+annotation_set_template);#}
    {#$("#media_collection-info").load("/api/media_collection/{{data.media_collection.id}}?template="+media_collection_template);#}


    // load tab
    var current_tab = (location.hash !== "") ? location.hash : "#img";
    $('a.explore-tab-link[href="'+current_tab+'"]').tab("show");

    function refresh_tabs(){
        // update img tab
        if (media.$container.is(":visible")) {
            //console.log("RELOADED MEDIA!");
            media.reload();
        }
        else if ($qaqc_container.is(":visible")) {
            // /api/annotation_set/84/export?format=json&file=text&transform=classtally
            load_content.html("/api/annotation_set/{{ data.id }}?template=models/annotation_set/qaqc_thumbnail_list.html",$qaqc_container);
        }

        // update export tab
        else if ($data_container.is(":visible")) {
            load_content.html("/api/annotation_set/{{ data.id }}?template=models/annotation_set/export_tab.html", $data_container);
        }
    }
});
</script>
{% endblock %}