{% extends "layout.html" %}
{% block css %}
{#<link rel="stylesheet" href="{{ url_for('static', filename='libs/leaflet/leaflet-0.7.3/leaflet.css') }}" />#}
{#<link rel="stylesheet" href="{{ url_for('static', filename='libs/leaflet/MarkerCluster.Default.css') }}" />#}
<link rel="stylesheet" href="{{ url_for('static', filename='css/column-collapsible.css') }}" />
{#<link rel="stylesheet" href="{{ url_for('static', filename='libs/leaflet/leaflet-measure.css') }}" />#}
{#<link href="/static/api_libs/geodata/media.css?v=0.12" rel="stylesheet">#}
{#<link href="/static/api_libs/geodata/deployment.css" rel="stylesheet">#}
{% assets "css_annotate" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% assets "js_annotate" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<style>
.form-export {
    margin-left: 0;
    margin-right: 0;
}
#map {
    position: absolute; bottom: 0; top: 0; left:0; right:0;
}
body {
    /*background-color: #ccc;*/
}

.tg-chart .tg-chart-row {
    width: 100%;
    display: block;
    cursor: hand;
    font-size: 9px;
}
.tg-chart .tg-chart-name {
    width: 30%;
    text-align: right;
    display: inline-block;
    overflow: auto;
    padding: 2px 5px;
    height: 15px;
    overflow: hidden;
}
.tg-chart .tg-chart-val {
    width: 70%;
    display: inline-block;
    margin: 0;
    padding: 0;
{#    border-top: 1px solid #e9e9e9;#}
}
.tg-chart .tg-chart-val-bar {
    top: 0;
    text-align: left;
    position: relative;
    height: 15px;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.tg-chart .tg-chart-val-bar span{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -50px;
    width: 50px;
    color: #000;
    padding-left: 3px;
}
.tg-chart .tg-chart-val-bar:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.dataset-field {
    font-size: 9px;
    color: #ccc;
    margin: 5px 0 0 0;
}

</style>
{% endblock %}


{% block nav %}
    {% with nav_title = "analyse", media_collection_id=params.media_collection_id, annotation_set_id=params.annotation_set_id %}
    {% include "geodata/nav.html" %}
    {% endwith %}
{% endblock %}

{% block content_class %}column-collapsible-container{% endblock content_class %}
{% block content %}
<div class="container" style="margin: 0; padding: 0; width: 100%; height: 100%">
    <div class="row" style="height: 100%">

        <!-- Expanding Column -->
        <div class="tab-content col-sm-10 column column-expandable collapsed">
{#            <div id="map" role="tabpanel" class="tab-pane">#}
{#                <div style="text-align: center">#}
{#                    <i class="fa fa-globe fa-3x loading"></i><br>#}
{#                    Collection map view: not implemented yet#}
{#                </div>#}
{#            </div>#}
            <div id="img" class="tab-pane" style="padding: 0 10px;">
{#                <i class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>#}
                <div id="media_container"></div>
            </div>
            <div id="dat" role="tabpanel" class="tab-pane">
                <h2 style="text-align: center"><i class="fa fa-bar-chart loading"></i> Data & Export</h2>
                <div class="row well" style="min-height: 20px">
                    <div id="export_annotation_set_info" class="col-sm-offset-1 col-sm-3"></div>
                    <div id="export_annotation_set_options" class="col-sm-4">
                        <form class="form-horizontal form-export" method="get" action="/api/annotation_set/{{params.annotation_set_id}}/export" style="margin-bottom: 0">
                            <h4>Export Annotations:</h4>
                            <small class="help-block">Include:</small>
{#                            <input type="hidden" value="basic" name="return"> <!-- dummy value to prevent default -->#}
                            <input type="hidden" name="format" value="csv">
                            <input type="hidden" name="file" value="attachment">
                            <label><input name="return" value="pose" type="checkbox" checked> Lat, Lon, Alt &amp; Depth</label><br>
                            <label title="Not available with all output transformations"><input name="return" value="pointinfo" type="checkbox" checked> Point info (x,y,t)</label><br>
                            <label title="Not available with all output transformations"><input name="return" value="labelinfo" type="checkbox" checked> Label info (class,tags,comments)</label><br>
                            <label><input name="return" value="labelemail" type="checkbox" checked> Labeler email</label><br>
                            <label><input name="return" value="mediapaths" type="checkbox"> URLs for Media &amp; Thumbnail</label><br>
                            <label><input name="return" value="posedata" type="checkbox"> Additional Sensor Data</label><br>
                            <label><input name="return" value="datasetkeys" type="checkbox"> Campaign, Deployment &amp; Platform keys</label><br>

                            <small class="help-block">Options:</small>
                            <label><input name="filter" value="" type="radio" checked> All label types</label><br>
                            <label><input name="filter" value="has-xy" type="radio"> Exclude whole-frame labels</label><br>
                            <label><input name="filter" value="doesnthave-xy" type="radio"> Only whole-frame labels</label><br>
                            <label><input name="filter" value="has-label" type="checkbox" checked> Exclude unlabeled points</label><br>
{#                            <!-- DISABLED EVENTS: since it is misleading. Will only export events that have annotations, not just events -->#}
{#                            <label><input name="return" value="events" type="checkbox" disabled> Logged Events that have been linked</label><br>#}

                            <small class="help-block">Transform output:</small>
                            <label title="Export points (x,y,t)."><input type="radio" name="transform" value="" checked> Point data (row per point)</label><br>
                            <label title="Export counts per media item."><input type="radio" name="transform" value="aggregate"> Aggregated counts (row per frame) </label><br>
                            <label title="Export counts per media item (including unused classes)."><input type="radio" name="transform" value="aggregate-allclasses" disabled> Aggregated counts (inc. unused classes) </label><br>
                            <label title="Export counts per class."><input type="radio" name="transform" value="classtally"> Class tally (row per class, no frame/point info) </label><br>
                            <div id="export_annotation_set_options_validate">
                                <label title="Export validation data for QA/QC."><input type="radio" name="transform" value="validate"> VALIDATION</label>
                                <select class="form-control" name="validation_id"></select>
                            </div>
                            <br><button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> EXPORT ANNOTATIONS</button>

                        </form>
                    </div>
                    <div class="col-sm-3">
                        <form class="form-horizontal form-export" method="get" action="/api/media_collection/{{ params.media_collection_id }}/export" style="margin-bottom: 0">
                            <h4>Export Media Collection:</h4>
                            <small class="help-block">Media data. Also include:</small>
                            {# ?output=json&include=pose&include=posedata&include=datasetkeys&include=events #}
                            Fields to include:<br>
                            <input type="hidden" name="format" value="csv">
                            <input type="hidden" name="file" value="attachment">
                            <label><input name="return" value="pose" type="checkbox" checked> Lat, Lon, Alt &amp; Depth</label><br>
                            <label><input name="return" value="posedata" type="checkbox" checked> Additional Sensor Data</label><br>
                            <label><input name="return" value="datasetkeys" type="checkbox" checked> Campaign, Deployment &amp; Platform keys</label><br>
                            <label><input name="return" value="mediapaths" type="checkbox"> URLs for Media &amp; Thumbnail</label><br>
                            <label><input name="return" value="events" type="checkbox" checked> Frames w. Events (excl. frames w/o events)</label><br>
                            <br><button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> EXPORT COLLECTION</button>
                        </form>
                        <hr>
                        <form class="form-horizontal form-export" method="get" action="" style="margin-bottom: 0">
                            <h4>Export Events by Deployment:</h4>
{#                            Fields to include:<br>#}
                            <small class="help-block">Media data. Also include:</small>
                            <input name="return" value="events" type="hidden">
                            <label><input name="return" value="pose" type="checkbox" checked> Lat, Lon, Alt &amp; Depth</label><br>
                            <label><input name="return" value="posedata" type="checkbox" checked> Additional Sensor Data</label><br>
                            <label><input name="return" value="datasetkeys" type="checkbox" checked> Campaign, Deployment &amp; Platform keys</label><br>
                            <label><input name="return" value="mediapaths-resolved" type="checkbox"> URLs for Media &amp; Thumbnail</label><br>
                            <select id="event_export_deployment_select" class="form-control">
                                <option>SELECT DEPLOYMENT</option>
                            </select>
                            <br><button disabled type="submit" class="btn btn-primary"><i class="fa fa-download"></i> EXPORT EVENT LOG</button>
                        </form>
                    </div>
                </div>
                <div class="row" style="padding-top: 25px">
                    <div class="col-sm-offset-1 col-sm-2 text-right">
                        <h4>Tally annotations by:</h4>
                    </div>
                    <div class="col-sm-2">
                        <select id="select_tally_type" class="form-control">
                            <option value="classtally" selected>Class labels</option>
                            <option value="deploymenttally">Deployments</option>
                        </select>
                    </div>
                    <div class="col-sm-offset-1 col-sm-10">
                        <div id="collection_labels_chart" class="tg-chart"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Collapsing Column -->
        <div class="col-sm-2 column well form-horizontal form-export column-collapsible collapsed" >
{#            <a href="javascript:void(0)" onclick="$('.column').addClass('collapsed'); deployment_map.resetSize()" class="collapse-link collapsed-hide"><i class="fa fa-arrow-right"></i></a>#}
{#            <a href="javascript:void(0)" onclick="$('.column').removeClass('collapsed'); deployment_map.resetSize()" class="collapsed-show btn">#}
{#            <a href="javascript:void(0)" onclick="$('.column').addClass('collapsed');" class="collapse-link collapsed-hide"><i class="fa fa-caret-right"></i></a>#}
            <h4 title="Show dataset info" class="text-center collapsed-show">
                <a href="javascript:void(0)" onclick="$('.column').removeClass('collapsed');" ><i class="fa fa-caret-left"></i></a>
                <i class="fa fa-info-circle"></i>
            </h4>
            <div class="collapsed-hide dataset-info">
                <h4>
                    <a href="javascript:void(0)" onclick="$('.column').addClass('collapsed');" class="collapse-link pull-right"><i class="fa fa-caret-right"></i></a>
                    <i class="fa fa-info-circle"></i> Info
                </h4>
                <hr>
                <div class="dataset-field"><i class='fa fa-list-ul'></i> Media Collection:</div>
                <ul id="media_collection-info" class="dataset-info"></ul>
                <hr>
                <div class="dataset-field"><i class='fa fa-tags'></i> Annotation Set:</div>
                <ul id="annotation_set-info" class="dataset-info"></ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
{#<script src="{{ url_for('static', filename='libs/leaflet/leaflet-0.7.3/leaflet-src.js') }}"></script>#}
{#<script src="{{ url_for('static', filename='libs/leaflet/leaflet.markercluster-src.js') }}"></script>#}
{#<script src="//maps.google.com/maps/api/js?v=3.2&sensor=false"></script>#}
{#<script src="{{ url_for('static', filename='libs/leaflet/leaflet-google.js') }}"></script>#}
{#<script src="{{ url_for('static', filename='libs/CamanJS-4.1.1/dist/caman.full.min.js') }}"></script>#}

{#<script src="/static/api_libs/geodata/templates/templates.js" type="text/javascript"></script>#}
{#<script src="/static/api_libs/geodata/media2.js?v=0.12" type="text/javascript"></script>#}
{#<script src="/static/api_libs/geodata/deployment.js?v=0.12" type="text/javascript"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js" type="text/javascript"></script>#}



<script type="text/javascript">

$(document).ready(function(){

    $('[data-toggle="tooltip"]').tooltip();
    var $media_tab = $("#img");
    var $media_container = $media_tab.find("#media_container");
    var $select_tally_type = $("#select_tally_type").change(show_tally_plot);
    var $chart = $("#collection_labels_chart");


    var media = new Media($media_container, {}, {
        on_click: on_media_click,
        on_reload: on_media_reload,
        apiurl_media: "/api/annotation_set/{{ params.annotation_set_id }}/media"
    });

    //media.show_counts = true;

    function on_media_click(media_id) {
        //alert('OPEN ANNOTATION VIEW FOR: '+media_id);
        $(this).parent("a.media-thm-link").siblings("a.media-thm-link.active").removeClass("active");
        $(this).parent("a.media-thm-link").addClass("active");
        var params = media.get_params();
        params.page_index=$(this).data('page_index');
        dataset_modal.media.annotate(media_id, '{{params.annotation_set_id}}', params, {
            onhidden:function(){$media_container.trigger("reload")}
        })
    }
    function on_media_reload(){
        // add some extra controls for annotations to the top pagination controls only
        var $pagination_controls = media.$container.find(".paginate-list-params").first().find(".paginate-list-controls");
        var $annotation_log = $('<a class="badge" href="javascript:void(0)" title="View searchable log of Annotations"><i class="fa fa-th-list"></i> VIEW LOG</a>');
        var $media_filter = $('<a class="badge" href="javascript:void(0)" title="Sort or filter results on selected criteria"><i class="fa fa-filter"></i> FILTER</a>');
        $annotation_log.click(function(){
            open_modal("/geodata/event_annotation_list/{{params.media_collection_id}}/{{params.annotation_set_id}}",{
                modal_id: 'media-event_annotation_list',
                modal_class: 'modal-lg'
            });
        }).prependTo($pagination_controls);
        $media_filter.click(function(){
            //notify.info("Coming soon!");
            open_modal("/ui/models/media/build_filter.html",{
                modal_class: 'modal-md',
                backdrop: true
            });
        }).prependTo($pagination_controls);
    }

    $('a.explore-tab-link[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        history.pushState(null, null, $(e.target).attr("href")); // add tab hash to URL
        refresh_tabs();
    });

    var annotation_set_template = 'models/annotation_set/list_item.html';
    var media_collection_template = 'models/media_collection/list_item.html';
    $("#annotation_set-info").load("/api/annotation_set/{{params.annotation_set_id}}?template="+annotation_set_template);
    $("#media_collection-info").load("/api/media_collection/{{params.media_collection_id}}?template="+media_collection_template);


    // load tab
    var current_tab = (location.hash !== "") ? location.hash : "#img";
    $('a.explore-tab-link[href="'+current_tab+'"]').tab("show");


    function show_tally_plot() {
        var tally_type = $select_tally_type.val();
        var name_field = (tally_type === "classtally") ? "label_name" : "deployment_name";

        ajax.get("/api/annotation_set/{{params.annotation_set_id}}/export?format=json&file=text&transform="+tally_type).done(function(data){
            $chart.html("");
            //$chart.append("<h4>Label distribution</h4>");
            if (data.objects.length > 0) {
                var max_val = data.objects[0].count * 0.0105;
                $(data.objects).each(function (i, l) {
                    var $row = $("<div class='tg-chart-row'><div class='tg-chart-name'>" + l[name_field] + "</div><div class='tg-chart-val'></div></div>");
                    var $bar = $("<div class='tg-chart-val-bar' style='display:none; width: " + l.count / max_val + "%; background-color: " + l['color'] + "'><span>" + l.count + "</span></div>");
                    $row.find(".tg-chart-val").html($bar);
                    $chart.append($row);
                    $bar.show(500 + (Math.random() - 0.4) * 500);
                    $bar.tooltip({title: l[name_field] + ": " + l.count, placement: "left"});
                });
            }


            var continue_annotating = (data.info.point_count-data.info.annotation_count > 0)
                ? "<a class='btn btn-primary' href='#img' aria-controls='img'  role='tab' data-toggle='tab'><i class='fa fa-tag'></i> Continue Annotating</a>"
                : "";
            $("#export_annotation_set_info").html(
                "<h4>Dataset info:</h4>"+
                "<small style='display:block; margin-bottom:10px'>" +
                    "<div class='dataset-field'><i class='fa fa-list-ul'></i> Media Collection:</div>"+data.info.media_collection.name+" (ID: "+data.info.media_collection.id+")" +
                    "<div class='dataset-field'><i class='fa fa-tags'></i> Annotation Set:</div>"+data.info.name+" (ID: "+data.info.id+")" +
                    "<div class='dataset-field'>Label Scheme:</div>"+data.info.label_scheme.name +
                    "<div class='dataset-field'>Counts:</div>Media items: "+data.info.media_count +
                    "<br>Total points : "+data.info.point_count +
                    "<br>Labeled points: "+data.info.annotation_count +
                    "<br>Unlabeled points: "+(data.info.point_count-data.info.annotation_count) +
                "</small><br>"+
{#                    "<ul>" +#}
{#                        "<li><b>Media Collection</b>: "+data.media_collection.name+" (ID: "+data.media_collection.id+")</li>" +#}
{#                        "<li><b>Annotation Set</b>: "+data.name+" (ID: "+data.id+")</li>" +#}
{#                        "<li><b>Label Scheme</b>: "+data.label_scheme.name+"</li>" +#}
{#                        "<li><b># media items</b>: "+data.n_media+"</li>" +#}
{#                        "<li><b># points labeled</b>: "+nlabels+"</li>" +#}
{#                        "<li><b># points UNLABELED</b>: "+(data.n_annotations-nlabels)+"</li>" +#}
{#                        "<li><b># points TOTAL</b>: "+data.n_annotations+"</li>" +#}
{#                    "</ul>" +#}
                continue_annotating
            );

            var $validation_opts = $("#export_annotation_set_options_validate");
            if (data.info.children.length>0){
                $validation_opts.show();
                var $val_ids = $validation_opts.find("select[name='validation_id']").html("");
                $(data.info.children).each(function(i, el){
                    $val_ids.append("<option value='"+el.id+"'>"+el.name+" ("+el.created_at+")</option>");
                });
            }
            else {
                $validation_opts.hide();
            }
        });
    }


    function refresh_tabs(){
        // update img tab
        if (media.$container.is(":visible")) {
            //console.log("RELOADED MEDIA!");
            media.reload();
        }

        // update deployment_map tab
        /*
        else if (deployment_map.$container.is(":visible") && deployment_map.needs_refresh) {
            deployment_map.reload();
        }
        */

        // update export tab
        else {

            // update annotation set info and show plot
            show_tally_plot();

            // Handle deployment select for event export
            // TODO: this export should not be on this page - should probably go on explore with deployment select
            var $deployment_select = $("#event_export_deployment_select");
            var $deploment_event_form = $deployment_select.parents("form");
            var $deployment_event_form_button = $deploment_event_form.find("button[type='submit']");

            var url = '/api/deployment?q={"order_by":[{"field":"created_at","direction":"desc"}]}&results_per_page=200';
            $.getJSON(url, function(data){
                $deployment_select.html("<option>SELECT DEPLOYMENT</option>");
                $(data.objects).each(function(i,d){
                    $deployment_select.append("<option value='"+d.id+"'>"+d.campaign_id+" | "+d.name+"</option>");
                });
            });

            $deployment_select.change(function(){
                if (parseInt($(this).val())>0) {
                    $deploment_event_form.attr("action", "/api/deployment/" + $(this).val() + "/export");
                    $deployment_event_form_button.prop('disabled', false);
                }
                else {
                    $deployment_event_form_button.prop('disabled', true);
                }
            });

        }
    }
});
</script>
{% endblock %}