{% extends "layout.html" %}
{% block css %}
{#<link rel="stylesheet" href="/static/libs/leaflet/leaflet-1.3.3/leaflet.css" />#}
<link rel="stylesheet" href="/static/libs/leaflet/leaflet-1.9.3/leaflet.css" />
<link rel="stylesheet" href="/static/libs/leaflet/Leaflet.markercluster-1.3.0/dist/MarkerCluster.css" />
<link rel="stylesheet" href="/static/libs/leaflet/Leaflet.markercluster-1.3.0/dist/MarkerCluster.Default.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='libs/leaflet/L.Control.ZoomMin.css') }}" />
<link rel="stylesheet" href="/static/libs/leaflet/leaflet.groupedlayercontrol.min.css" />
<link rel="stylesheet" href="/static/libs/leaflet/leaflet.sqlayers.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/column-collapsible.css') }}" />
{#<link href="/static/api_libs/geodata/media.css" rel="stylesheet">#}
<link href="/static/api_libs/geodata/explore.css?v=0.01" rel="stylesheet">

{% endblock %}

{% block page_subtitle %} EXPLORE{% endblock %}

{% block nav %}
    {% with nav_title = "explore" %}
    {% include "geodata/nav.html" %}
    {% endwith %}
{% endblock %}

{% block content_class %}column-collapsible-container{% endblock content_class %}
{% block content %}
<div class="container" style="margin: 0; padding: 0; width: 100%; height: 100%">
    <div class="row" style="height: 100%">

        <!-- Expanding Column -->
        <div class="tab-content col-sm-9 column column-expandable">
            <div id="map" role="tabpanel" class="tab-pane active">
{#                <i class="fa fa-spinner fa-spin fa-3x fa-fw loading"></i>#}
            </div>
            <div id="img" class="tab-pane">
{#                <i class="fa fa-spinner fa-spin fa-3x fa-fw loading"></i>#}
            </div>
            <div id="dat" role="tabpanel" class="tab-pane well">
                <ul class="nav nav-tabs">
                  <li><a href="#dat-deployments" data-toggle="tab"><i class="fa fa-map-marker"></i> Deployments</a></li>
                  <li><a href="#dat-annotation_sets" data-toggle="tab"><i class="fa fa-tags"></i> Annotation Sets</a></li>
                  <li class="active"><a href="#dat-annotations" data-toggle="tab"><i class="fa fa-bar-chart"></i> Annotation Tally</a></li>
                </ul>
                <div id="dat-tab-content" class="tab-content">
                  <div class="tab-pane fade" id="dat-deployments">
                      <div class="alert"><i class="fa fa-info-circle"></i>
                          Coming soon: query and download from list of deployments
                      </div>

                  </div>
                  <div class="tab-pane fade" id="dat-annotation_sets">
                      <div class="alert"><i class="fa fa-info-circle"></i>
                        Coming soon: query and batch download of annotation_sets
                      </div>
                  </div>
                  <div class="tab-pane fade active in" id="dat-annotations">
                    {% include "models/annotation/tally_controls.html" %}
                  </div>
                </div>
            </div>
        </div>



        <!-- Collapsing Column -->
        <div class="col-sm-3 column well form-horizontal column-collapsible filter-options" >
            <a href="javascript:void(0)" onclick="$('.column').removeClass('collapsed');" class="collapsed-show btn" title="Show explore, filter and data management options.">
                <i class="fa fa-arrow-left"></i><br>
                <i class="fa fa-eye"></i><br>
                <i class="fa fa-filter"></i><br>
                <i class="fa fa-list-ul"></i>
            </a>
            <div class="collapsed-hide" id="explore-filters">
                <a href="javascript:void(0)" onclick="$('.column').addClass('collapsed');" class="collapse-link pull-right"><i class="fa fa-arrow-right"></i></a>
                {% include "geodata/partials/explore_filters.html" %}

                <!--SAVE DATASETS-->
                {% if current_user and current_user.is_authenticated() %}
                <h5 title="Save filtered datasets to a Collection for further analysis" data-toggle="tooltip" data-placement="left">
                    <i class="fa fa-list-ul"></i> Save to Media Collection:
                </h5>

                <label>
                    <input type="radio" name="save_to" value="new" checked  onclick='$("select#media_collection_id").prop("disabled",true).val(null).trigger("change")'> Create <b>NEW</b>
                </label>&nbsp; &nbsp;
                <label>
                    <input type="radio" name="save_to" value="existing" onclick='$("select#media_collection_id").prop("disabled",false)'> Add to <b>EXISTING</b>
                </label>
                <select disabled class="form-control" id="media_collection_id"></select>
                <div class="form-group" id="collection-manager" >
                    <button disabled id="btn-new-collection" class="btn btn-primary btn-sm  pose-filter form-control" onclick=""><i class="fa fa-plus-circle"></i> Save Selection</button>
                </div>
                {% else %}
                    <div class="help-block"><i class="fa fa-info-circle"></i> <a href="javascript:void(0)" onclick="user_modal.login()">Sign in</a> for more options and to create / manage your datasets.</div>
                {% endif %}
            </div>
        </div>



    </div>
</div>

{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
{#<script src="/static/libs/leaflet/leaflet-1.3.3/leaflet.js"></script>#}
<script src="/static/libs/leaflet/leaflet-1.9.3/leaflet.js"></script>
<script src="/static/libs/leaflet/Leaflet.markercluster-1.3.0/dist/leaflet.markercluster.js"></script>
<script src="/static/libs/leaflet/leaflet.sqlayers.js"></script>
<script src="/static/libs/leaflet/leaflet.groupedlayercontrol.min.js"></script>
<script src="/static/libs/leaflet/L.Control.ZoomMin.js"></script>
{#<script src="{{ url_for('static', filename='libs/leaflet/L.Control.ZoomMin.js') }}"></script>#}

{#<script src="/static/api_libs/geodata/media2.js?v=0.0.1" type="text/javascript"></script>#}
<script src="/static/api_libs/geodata/explore.js?v=0.0.5" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function(){
        {#var current_user_id = parseInt("{{ current_user.id }}");#}
        var filt_params_str = '{{ (request.args.filters | safe) or "{}" }}';
        var init_filters = JSON.parse(filt_params_str);
        var $img_tab = $("#img");
        var $map_tab = $("#map");
        var $explore_filter = $("#explore-filters");
        var $tab_nav_links = $('a.explore-tab-link[data-toggle="tab"]');
        var $deployment_count = $explore_filter.find("#selected-deployment-count");
        var $new_collection_btn = $("#btn-new-collection");
        var $existing_collection_btn = $("#btn-existing-collection");
        var $media_collection_id = $("select#media_collection_id");
        var $datetimes = $explore_filter.find(".pose-filter-datetime").datetimepicker({
            fontAwesome:true,
            showSecond: true,
            format: "yyyy-mm-ddThh:ii:ss"
        });

        var default_tabhash = (location.hash !== "") ? location.hash : "#map";

        // initialise list


        var explore_filters = new ExploreFilters($explore_filter, {
            on_update_filters: on_update_filters,
            on_campaign_select: on_campaign_select,
            on_deployment_select: on_deployment_select,
            on_platform_select: on_platform_select,
            on_update_pose_filters: on_update_pose_filters
        }).init(init_filters);


        // intialise map
        var explore_map = new ExploreMap($map_tab, explore_filters.filters, {
            update_filters: explore_filters.update_filters
        }).init();

        // initialise API JS objects
        var media = new Media($img_tab, explore_filters.filters);


        // add any initial filters from url params
        /*
        $.each(init_filters, function(k,v){
            explore_filters.update_filters(k,v);
        });
        */



        function on_update_filters(filters){
            $deployment_count.html("("+filters.deployment_ids.length+")");
            //refresh_tabs();
            explore_map.wms_layer.pose_points.reload();
            // Refresh media
            if (media.$container.is(":visible")) {
                console.log("Refreshing MEDIA tab");
                media.reload();
            }
        }

        function on_platform_select(platform_id) {
            explore_filters.reload("campaign");
            explore_map.reload_markers("campaign");
            explore_map.wms_layer.deployment_tracks.reload();
        }

        function on_campaign_select(campaign_id) {
            explore_map.campaign_select(campaign_id, true);
            //explore_map.reload_markers("deployment");
        }

        function on_deployment_select(deployment_id){
            explore_map.deployment_toggle_select(deployment_id, true);
            //explore_map.wms_layer.pose_points.reload();
        }

        function on_update_pose_filters(field, value) {
            //if (value)
                //explore_map.wms_layer.pose_points.reload();
                //show_tab("img");
        }

        function show_tab(tabid) {
            var tabhash = (tabid[0] === "#") ? tabid : "#"+tabid;
            $tab_nav_links.filter("[href='"+tabhash+"']").tab('show');
        }

        function refresh_tabs(){
            // update img tab
            if (media.$container.is(":visible")) {
                console.log("Refreshing MEDIA tab");
                media.reload();
            }
            // update deployment_map tab
            else if (explore_map.$container.is(":visible")) {
                console.log("Refreshing MAP tab");
                explore_map.reload_markers("campaign");
                explore_map.reload_markers("deployment");
                explore_map.map_reset_size();
            }
            /*
            else if (info_tab.$container.is(":visible") && info_tab.needs_refresh) {
                info_tab.reload();
            }
            */
        }



        // on tab shown event
        $tab_nav_links.on('shown.bs.tab', function (e) {
            console.log("Tab Shown: "+$(e.target).attr("href"));
            history.pushState(null, null, $(e.target).attr("href")); // add tab hash to URL
            refresh_tabs();
        });


        // new collection button
        $new_collection_btn.click(function(){
            //var media_query = JSON.stringify({filters:media.get_filters()});
            var media_query = JSON.stringify({filters:media.build_query()["filters"]});
            if ($media_collection_id.val()) {
                dataset_modal.media_collection.update($media_collection_id.val(), {
                    oncompleted: function(data){dataset_modal.media_collection_groups(data.id, null, {})}
                }, {addmedia_q: media_query, append:"true"});
            }
            else {
                dataset_modal.media_collection.create({addmedia_q: media_query});
            }
            /*
            var q = JSON.stringify({filters:media.build_query()["filters"]});
            open_modal('/ui/models/media_collection/edit.html?addmedia_q='+q, {
                modal_id:'collection-modal',
                modal_class:'modal-md',
                oncompleted: function(data){
                    dataset_modal.media_collection_groups(data.id, null, {});
                }
            });
            */
        });

        $media_collection_id.ajax_select("/api/media_collection", {
            placeholder: 'Select existing, or leave bank for new',
            allow_clear: true,
            //dropdown_parent: $form,
            template_item:  "[[&name]]",
            template_option: '<small class="pull-right" title="Creation date" xmlns="http://www.w3.org/1999/html"><i class="fa fa-calendar"></i> created: [[created_at]]</small> ' +
                    '<div class="title">' +
                    '[[#current_user_is_owner]] <i class="fa fa-check-square text-success"></i>[[/current_user_is_owner]]' +
                    ' [[name]]</div><div class="description">' +
                    '<small>[[description]]</small> '+
                    '<i class="fa fa-user-circle"></i> [[user.first_name]] [[user.last_name]], ' +
                    '<i class="fa fa-male"></i> [[member_count]] members, ' +
                    '[[#is_public]]<i class="fa fa-users text-success"></i> public[[/is_public]][[^is_public]]<i class="fa fa-user"></i> private[[/is_public]]',
            build_query: function(search_term) {
                var q = {
                  filters: [
                    {"name":"current_user_is_owner","op":"eq","val":true}
                  ],
                  order_by: [{"field":"created_at","direction":"desc"}]
                }
                if (search_term) {
                    $(search_term.split(/(\s+)/)).each(function(i,s){
                        if (s.trim().length)
                            q.filters.push({or: [
                                {name:"name",op:"ilike",val:'%'+s+'%'},
                                {name:"user", op: "has", val:{name:"first_name",op:"ilike",val:'%'+s+'%'}},
                                {name:"user", op: "has", val:{name:"last_name",op:"ilike",val:'%'+s+'%'}}
                          ]});
                    });
                }
                return q;
            }
        });


        $existing_collection_btn.click(function(){
            //var media_query = JSON.stringify({filters:media.get_filters()});
            var url = '/ui/models/media_collection/select_single.html';
            open_modal(url, {
                modal_class:'modal-md',
                oncompleted: function(data){console.log(data)}
            });
        });

        // show default tab
        show_tab(default_tabhash);
    });



</script>
{% endblock %}