<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <title>
      {{ config.PROJECT_NAME }}: MediaPlayer
    </title>

{% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% assets "css_annotate" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
<link rel="shortcut icon" href="/static/images/icons/tag.png">
<link rel="stylesheet" href="/static/libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">




    <style>
        body {
            position: relative;
            font-size: 12px;
            color: #ccc;
            background-color: #222222;
        }

        .modal-full .modal-body{
            padding: 0;
        }

        .media-gui-container .thumbnail-container {
            direction: rtl;
        }

        .btn-hotkey button {
            color: #ccc;
        }
        .btn-hotkey button b, .btn-hotkey button i, .btn-hotkey button:hover {
            color: #fff;
        }

        #media-gui-container .notifications .badge {
            max-width: 1000px;
            white-space: normal;
            text-align: left;
        }
    </style>
</head>

<body>
    <div class="media-gui-container" id="media-gui-container">
        <div class="ctl-container">
            <!--Sidebar content-->

            <div class="ctl-settings">
                <a class="ctl-btn" href="/" title="Back to home page" data-hover="tooltip" data-placement="right"><i class="fa fa-home"></i></a>
                <a class="ctl-btn" href="javascript:void(0)" title="Instructions/help" data-hover="tooltip" data-placement="right" onclick="open_modal('/static/html/instructions_frame_player.html',{modal_class: 'modal-md modal-dark'})"><i class="fa fa-question-circle"></i></a>
                <a class="ctl-btn" href="javascript:void(0)" id="toggle-fullscreen" title="Toggle fullscreen" data-hover="tooltip" data-placement="right"><i class="fa fa-arrows-alt"></i></a>
                <span class="ctl-btn pull-right">
                    <span title="Logged in as: {{ current_user.full_name() }} ({{ current_user.email }})" data-hover="tooltip" data-placement="left"><i class="fa fa-user"></i> {{ current_user.username }}</span>
                    <a class="ctl-btn" href="javascript:void(0)" title="Swap user" data-hover="tooltip" data-placement="left"
                       onclick="user_modal.login('Are you sure you want to swap users? NOTE: only shared Annotation Sets will be visible by different users.')"><i class="fa fa-recycle"></i></a>
                    <a class="ctl-btn" href="javascript:void(0)" title="API key / token" data-hover="tooltip" data-placement="left" onclick="user_modal.api_token()"><i class="fa fa-key"></i></a>
                </span>
            </div>





            <div class="ctl-settings">
                <a class="ctl-btn pull-right" data-click='toggle' href="#capture_parameter" title="Show/hide parameters" data-hover="tooltip" data-placement="left"><i class="fa fa-cog"></i></a>
                <h2><i class="fa fa-camera"></i> Media capture</h2>
                <div class="help-block">Save frames to DEPLOYMENT</div>
                <div class="parameters" id="capture_parameter">
{#                    <div class="input-group input-group-sm fade-started">#}
{#                        <span class="input-group-addon">Platform:</span>#}
{#                        <select class="form-control input-sm" name="platform_id"></select>#}
{#                    </div>#}
{#                    <div class="input-group input-group-sm fade-started">#}
{#                        <span class="input-group-addon">Deployment:</span>#}
{#                        <select class="form-control input-sm" name="deployment_id"></select>#}
{#                    </div>#}
                    <div class="input-group input-group-sm fade-started">
                        <span class="input-group-addon">SRC:</span>
                        <select class="form-control input-sm" name="mode">
{#                            <option selected value="capture">Realtime capture</option>#}
                            {% if config.FRAME_LOGGER_ACTION %}
                            {% for k in config.FRAME_LOGGER_ACTION.keys() %}
                            <option value="{{ k }}">{{ k }}</option>
                            {% endfor %}
                            {% endif %}
                            <option value="">playback</option>
                        </select>
                    </div>
                    <div class="input-group input-group-sm fade-started">
                        <span class="input-group-addon">every:</span>
                        <input name="logger_period" type="number" step="1" min="50" class="form-control" value="1000" style="text-align: right">
                        <span class="input-group-addon">ms</span>
                    </div>
                </div>
{#                <div class="help-block">Start/stop frame capture:</div>#}
                <button class="btn btn-success btn-main hide-started" data-target="frameplayer" data-action="start">
                    <i class="fa fa-play"></i> START CAPTURE
                </button>
                <button class="btn btn-warning btn-main hide-stopped" data-target="frameplayer" data-action="stop" data-confirm="Are you sure you want to STOP CAPTURE?">
                    <i class="fa fa-stop"></i> STOP CAPTURE
                </button>
{#                <label class="hide-started"><input type="checkbox" checked name="start_fullscreen"> Play in fullscreen</label>#}
{#                <button class="btn btn-xs btn-link hide-stopped" id="toggle-fullscreen" title="Toggle fullscreen" data-hover="tooltip" data-placement="bottom"><i class="fa fa-arrows-alt"></i> TOGGLE FULLSCREEN</button>#}
            </div>




            <div class="ctl-settings">
                <a class="ctl-btn pull-right"  data-click='toggle' href="#annotate_parameters" title="Show/hide parameters" data-hover="tooltip" data-placement="left"><i class="fa fa-cog"></i></a>
{#                <a class="ctl-btn pull-right" href="javascript:void(0)" id="toggle-fullscreen" title="Toggle fullscreen" data-hover="tooltip" data-placement="left"><i class="fa fa-arrows-alt"></i></a>#}
{#                <a class="ctl-btn pull-right" href="javascript:void(0)" title="Instructions/help" data-hover="tooltip" data-placement="left" onclick="open_modal('/static/html/instructions_frame_player.html',{modal_class: 'modal-md modal-dark'})"><i class="fa fa-question-circle"></i></a>#}
                <h2><i class="fa fa-tags"></i> Annotation</h2>
{#                <div class="parameters" id="annotate_parameters">#}
{#                    <div class="help-block">Upon save:</div>#}
{#                    <label><input name="annotate_action" type="radio"> OPEN ANNOTATION WINDOW</label>#}
{#                    <label><input name="annotate_action" type="radio" checked> OPEN QUICK COMMENT BOX</label>#}
{#                </div>#}
                <div class="help-block">Log data to COLLECTION &amp; ANNOTATION SET</div>
                <div class="parameters" id="annotate_parameters" style="display: block;">
                    <div class="input-group input-group-sm" title="Media Collection" data-hover="tooltip" data-placement="left" data-container="#media-gui-container">
                        <select class="form-control input-sm" name="media_collection_id"></select>
                        <span class="input-group-btn">
                            <button class="btn btn-info" id="new-media_collection"><i class="fa fa-plus-circle"></i> NEW</button>
                        </span>
                    </div>
                    <div class="input-group input-group-sm" title="Annotation Method" data-hover="tooltip" data-placement="left" data-container="#media-gui-container">
                        <select class="form-control input-sm" name="annotation_set_id"></select>
                        <span class="input-group-btn">
                            <button class="btn btn-info" id="new-annotation_set"><i class="fa fa-plus-circle"></i> NEW</button>
                        </span>
                    </div>
                </div>


{#                <div class="btn-group btn-flex btn-main">#}
{#                  <button type="button" class="btn btn-primary"><i class="fa fa-tag"></i> ANNOTATE</button>#}
{#                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                    <i class="fa fa-caret-down"></i>#}
{#                  </button>#}
{#                  <ul class="dropdown-menu dropdown-menu-right">#}
{#                    <li><a href="#"><label><input name="annotate_action" type="radio"> OPEN ANNOTATION WINDOW</label></a></li>#}
{#                    <li><a href="#"><label><input name="annotate_action" type="radio" checked> OPEN QUICK COMMENT BOX</label></a></li>#}
{#                  </ul>#}
{#                </div>#}
                <div>
                    <div class="fade-stopped">
                        <div class="btn-group btn-flex btn-hotkey">
                          <button title="[S]: Quick save to Collection (annotate later)" data-hover="tooltip" data-placement="top" data-container="body"  class="btn btn-primary btn-sm" id="frame-save"><i class="fa fa-save"></i> QUICK <b>S</b>AVE</button>
                          <button title="[E]: Log a new event (also saves frame)" data-hover="tooltip" data-placement="top" data-container="body" class="btn btn-primary btn-sm" id="log-event"><i class="fa fa-comment"></i> LOG <b>E</b>VENT</button>
                          <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right" id="log-event-options"></ul>
                        </div>
                        <div class="btn-group btn-2-col btn-hotkey">
                            <button title="[T]: Save frame & apply quick-tag" data-hover="tooltip" data-placement="top" data-container="body" class="btn btn-primary btn-sm" id="frame-tag"><i class="fa fa-tag"></i> QUICK <b>T</b>AG</button>
                            <button title="[A]: Save frame & annotate in detail" data-hover="tooltip" data-placement="top" data-container="body" class="btn btn-primary btn-sm" id="frame-annotate"><i class="fa fa-photo"></i> <b>A</b>NNOTATE</button>
                        </div>
                    </div>
    {#                <div class="help-block">Explore Collection:</div>#}
                    <div class="btn-group btn-3-col">
                        <button id="open-event_annotation_list" class="btn btn-link btn-xs"><i class="fa fa-list-alt"></i> VIEW LOG</button>
                        <button id="open-annotation-set" class="btn btn-link btn-xs"><i class="fa fa-image"></i> OPEN SET</button>
                        <button id="manage-annotation_sets" class="btn btn-link btn-xs"><i class="fa fa-list-ul"></i> MANAGE</button>
                    </div>
                </div>
            </div>


            <div class="ctl-settings fade-stopped">
                <a class="ctl-btn pull-right"  data-click='toggle' href="#feed_parameters"  title="Show/hide parameters" data-hover="tooltip" data-placement="left"><i class="fa fa-cog"></i></a>
                <h2><i class="fa fa-play-circle"></i> Live frame feed</h2>
                <div class="help-block">Display captured frames</div>
                <div class="parameters" id="feed_parameters">
                    <div class="input-group input-group-sm fade-playing">
                        <span class="input-group-addon">every:</span>
                        <input name="feed_period" type="number" step="1.0" min="300" class="form-control" value="500" style="text-align: right">
                        <span class="input-group-addon">ms</span>
                    </div>
                    <div class="input-group input-group-sm fade-playing">
                        <span class="input-group-addon">show:</span>
                        <input name="results_per_page" type="number" step="1.0" min="1" max="1000" class="form-control" value="100" style="text-align: right">
                        <span class="input-group-addon">past frames</span>
                    </div>
                    <div class="input-group input-group-sm fade-playing">
                        <span class="input-group-addon">Filter media.key:</span>
                        <input name="media_key_filter" class="form-control" value="" placeholder="match text in media.key">
                    </div>
                    <div class="input-group input-group-sm fade-playing">
                        <span class="input-group-addon">Order by:</span>
                        <select class="form-control input-sm" name="media_sort_field">
                            <option value="created_at" selected>Added at</option>
                            <option value="timestamp_start">Timestamp</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-success btn-main hide-playing" data-target="frameplayer" data-action="play"><i class="fa fa-play"></i> RESUME FEED [ &#9251; ]</button>
                <button class="btn btn-danger btn-main hide-paused" data-target="frameplayer" data-action="pause"><i class="fa fa-pause"></i> PAUSE FEED [ &#9251; ]</button>
                <button id="capture-frame-button" class="btn btn-primary btn-main hide-stopped hide-nocapture" data-target="frameplayer" data-action="capture"><i class="fa fa-camera"></i> GRAB FRAME [ &crarr; ]</button>

            </div>


            <div class="ctl-settings fade-stopped fill-height" style="min-height: 100px">
                <h2>
                    <a href="javascript:void(0)" id="preview_media" class="ctl-btn pull-right"  title="More info / options" data-hover="tooltip" data-placement="left"><i class="fa fa-external-link-square"></i></a>
                    <i class="fa fa-info-circle"></i> Media data
                </h2>
                <div id="pose-info-container" class="fill-height" style="overflow-y: scroll; font-size: 11px"></div>
            </div>

        </div>
        <div class="media-container" id="media-container">
            <div style="padding: 150px 0; text-align: center;">
                Nothing to see here...<br>
                Start Capturing frames to show the live feed.
            </div>
        </div>

        <!-- thumbnails -->
        <div class="thumbnail-container" id="thumbnail-container"></div>

        <div class="notifications">
            <a href="#" class="badge alert-danger flash hide-playing hide-stopped" data-target="frameplayer" data-action="play"><i class="fa fa-info-circle"></i> LIVE FEED IS PAUSED. STILL CAPTURING IN BACKGROUND. HIT "SPACE" TO RESUME <i class="fa fa-play"></i></a>
            <span class="badge alert-info hide-started"><i class="fa fa-exclamation-circle"></i> CAPTURE HAS BEEN STOPPED. NOT SAVING FRAMES. <em id="realtime-status-message"></em></span>
{#            <span class="badge alert-danger flash hide-playing hide-stopped"><i class="fa fa-info-circle"></i> LIVE FEED IS PAUSED. STILL CAPTURING IN BACKGROUND.</span>#}
            <span id="realtime-warning-message" class="badge alert-warning"><i class="fa fa-exclamation-circle"></i> CONNECTING TO REALTIME SERVICE...</span>
            <span id="realtime-error-message" class="badge alert-danger"><i class="fa fa-exclamation-circle"></i> CONNECTING TO REALTIME SERVICE...</span>
        </div>
        <span class="thumbnail-container-info badge label-default hide-paused"><i class="fa fa-info-circle"></i> Scroll or select thumbnails to view previous frames (PAUSES LIVE FEED)</span>
    </div>


    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "js_annotate" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript" src="/static/api_libs/geodata/frame_player.js"></script>
    <script type="text/javascript" src="/static/libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

    <script>
        $(document).ready(function(){
            // defaults
            var deployment_id = "";
            var default_feed_period = 1000;
            var default_results_per_page = 25;
            //var help_template = "/static/html/instructions_frame_player.html";

            var $main_container = $("#media-gui-container");
            var $thumbnail_container = $main_container.find("#thumbnail-container");
            var $media_container = $main_container.find("#media-container");
            var $pose_info_container = $main_container.find("#pose-info-container");

            //var $start_btn = $main_container.find("#start-logging");
            //var $stop_btn = $main_container.find("#stop-logging");
            //var $capture_btn = $main_container.find("#trigger-capture");
            //var $play_btns = $main_container.find(".btn-control-resume");
            //var $pause_btn = $main_container.find("#pause-playback");
            var $fullscreen_btn = $main_container.find("#toggle-fullscreen");
            var $frame_annotate_btn = $main_container.find("#frame-annotate");
            var $frame_save_btn = $main_container.find("#frame-save");
            var $frame_tag_btn = $main_container.find("#frame-tag");
            var $preview_media = $main_container.find("#preview_media");
            var $annotation_set_btn = $main_container.find("#open-annotation-set");
            var $event_annotation_list_btn = $main_container.find("#open-event_annotation_list");
            var $new_media_collection_btn = $main_container.find("#new-media_collection");
            var $new_annotation_set_btn = $main_container.find("#new-annotation_set");
            var $log_event_btn = $main_container.find("#log-event");
            var $capture_frame_btn = $main_container.find("#capture-frame-button");
            var $manage_annotation_set_btn = $main_container.find("#manage-annotation_sets");

            var $logger_period = $main_container.find("[name='logger_period']");
            var $feed_period = $main_container.find("[name='feed_period']").val(default_feed_period);
            var $results_per_page = $main_container.find("[name='results_per_page']").val(default_results_per_page);
            var $media_key_filter = $main_container.find("[name='media_key_filter']");
            var $media_sort_field = $main_container.find("[name='media_sort_field']");
            //var $start_fullscreen = $main_container.find("[name='start_fullscreen']");
            var $log_event_options = $main_container.find("#log-event-options");

            {#var $deployment_id = $main_container.find("[name='deployment_id']");#}
            {#var $platform_id = $main_container.find("[name='platform_id']");#}
            var $media_collection_id = $main_container.find("[name='media_collection_id']");
            var $annotation_set_id = $main_container.find("[name='annotation_set_id']");
            var $mode = $main_container.find("[name='mode']");

            var $error_message = $main_container.find("#realtime-error-message");
            var $warning_message = $main_container.find("#realtime-warning-message");
            var $status_message = $main_container.find("#realtime-status-message");

            var playergui = FramePlayerGUI();
            var log_timer;

            playergui.init({
                deployment_id:deployment_id,
                $main_container:$main_container,
                $thumbnails_container: $thumbnail_container,
                $media_container: $media_container,
                $pose_info_container: $pose_info_container,
                delay: default_feed_period,
                results_per_page: default_results_per_page
            });



            // Setup endpoints
            function get_actions() {
                var capture_src = $mode.val();
                if (capture_src) {
                    ajax.get("/geodata/frame_player/"+capture_src+"/actions", {
                        success: function (action_data) {
                            console.log("actions:", action_data);
                            playergui.update_capture_actions(action_data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            if (($mode.val())) {
                                var msg = ajax._parse_error(jqXHR, textStatus, errorThrown);
                                notify.error("ERROR! Unable to load actions from Framegrabber service: " + msg,
                                    5000, "frame_grabber_actions_notification");
                            }
                            setTimeout(get_actions, 5000);
                        }
                    });
                }
            }

            /*
             * Local functions
             */
            function check_logger_status () {
                console.debug("Checking logger status...");
                if ($mode.val()!=="") {
                    $thumbnail_container.css("direction", "rtl");   // change thumbnail direction: scroll left
                    ajax.get("/geodata/frame_player/" + $mode.val() + "/status?_=" + Date.now(), {
                        success: function (data) {
                            console.debug(data);
                            if (data.status === "running") {
                                if (data.dataset != null) {
                                    playergui.options.deployment_id = data.deployment_id;   // if no deployment ID is set, update to current one
                                    if (playergui.state() === "stopped") { // start player automatically if not started
                                        console.log("Setting GUI state: STARTING...");
                                        playergui.start(false);
                                    }
                                }
                                else {
                                    // We should never get to this since error would be thrown in framegrabber but left here just in case
                                    console.log("No deployment... STOPPING");
                                    notify.error("DATA ERROR: No deployment found in framegrabber status. Sending STOP signal.");
                                    playergui.execute_capture_endpoint("stop");
                                    //update_status_error("SQ+: DATA ERROR: No deployment found in framegrabber status.");
                                }
                            }
                            else if (data.status === "stopped") {
                                if (playergui.state() !== "stopped") { // stop frame grabber if it has been stopped
                                    console.log("Correcting GUI state: STOPPING...");
                                    playergui.stop(false);
                                    update_media_collection_select(null);
                                }
                                //$media_container.load("/static/html/instructions_frame_player.html");
                            }
                            if (!$.isEmptyObject(data.error_message)) update_status_error(data.error_message, $error_message);
                            else update_status_error(null, $error_message);
                            if (!$.isEmptyObject(data.warning_message)) update_status_error(data.warning_message, $warning_message);
                            else update_status_error(null, $warning_message);
                            $status_message.html(data.status_message);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            //console.log(jqxhr);
                            var msg = "FRAMEGRABBER: CONNECTION ERROR: ";
                            try {
                                msg += ajax._parse_error(jqXHR, textStatus, errorThrown)
                            }
                            catch (e) {
                                msg += "Unable to connect to Framegrabber service. Check it is running and REFRESH in your browser.";
                            }
                            update_status_error({"COMMSERROR": msg + ' (' + jqXHR.status + ')'}, $error_message);
                        }
                    }).always(function () {
                        setTimeout(check_logger_status, parseInt($logger_period.val()));
                    });
                    return;
                }
                else {  // $mode.val() === "playback"
                    if (playergui.options.deployment_id === null && !playergui.is_stopped) {
                        var dataset_modal_id = "playback-dataset-select-modal";
                        if ($("#" + dataset_modal_id).length === 0) {
                            open_modal("/ui/geodata/partials/frame_player_dataset_selector.html", {
                                modal_id: dataset_modal_id,
                                modal_class: 'modal-right-panel modal-dark',
                                //iframe: true,
                                oncompleted: function (data) {
                                    console.log("modaldata: ", data);
                                    playergui.options.deployment_id = data.deployment_id
                                }
                            });
                        }
                    }
                    else {
                        // If playback, change direction, and advance thumbnails
                        $thumbnail_container.css("direction", "ltr");   // change thumbnail direction: scroll right
                        var $active_thm = $thumbnail_container.find("a.thm.active");
                        var thmindex = $thumbnail_container.find("a.thm").index($active_thm);
                        //console.log((thmindex+1.0)/playergui.options.results_per_page);
                        if (!playergui.is_paused) {
                            if ((thmindex + 1.0) / playergui.options.results_per_page > 0.5)
                                playergui.options.offset++;   // advance pagination if passed middle of page
                            else
                                playergui.active_thm_index++; // advance selection if not passed middle of page
                        }
                    }
                }
                setTimeout(check_logger_status, parseInt($logger_period.val()));
                update_status_error(null, $error_message);
                update_status_error(null, $warning_message);
                //return status_xhr;
            }

            function update_status_error(messages, $container) {
                $container.html('').hide();
                if (messages != null) {
                    var msg="";
                    for (var key in messages) {msg += messages[key]+"<br>"}
                    $container.html('<i class="fa fa-exclamation-circle"></i> '+msg).fadeIn(100);
                }
            }

            /*
            function update_deployment_select(platform_id, current_deployment_id) {
                if (platform_id != null) {
                    var $select = $deployment_id;
                    if (current_deployment_id == null) current_deployment_id = "";
                    var url = '/api/deployment?q={"filters":[{"name":"platform_id","op":"eq","val":' + platform_id + '}],"order_by":[{"field":"created_at","direction":"desc"}]}&results_per_page=100';
                    ajax.get(url, {
                        success: function (data) {
                            $select.html("<option value='" + current_deployment_id + "'>CURRENT DEPLOYMENT</option>");
                            $(data.objects).each(function (i, d) {
                                $select.append("<option value='" + d.id + "'>" + d.campaign.name + " | " + d.name + "</option>");
                            });
                            $select.trigger("change");
                            playergui.options.offset = 0;
                        }
                    });
                }
            }
            */

            function update_media_collection_select(id) {
                var $select = $media_collection_id;
                $select.html("<option value=''>SELECT MEDIA COLLECTION</option>");
                var url = '/api/media_collection?q={"filters":[{"name":"current_user_can_edit","op":"eq","val":true}],"order_by":[{"field":"created_at","direction":"desc"}]}&results_per_page=1000';
                ajax.get(url, {
                    success: function (data) {
                        $(data.objects).each(function(i,p){
                            var selected = (id==p.id) ? "selected" : "";
                            $select.append("<option "+selected+" value='"+p.id+"'>"+p.name+"</option>");
                        });
                        if (typeof id === "undefined")
                            $media_collection_id.val(sessionStorage.getItem("frame_player_media_collection_id"));  // restore value if available
                        else if (id === null)
                            sessionStorage.removeItem("frame_player_media_collection_id");  // forget media_collection

                        $select.trigger('change');
                    }
                });
            }

            function update_annotation_set_select(media_collection_id, id) {
                var $select = $annotation_set_id;

                if (media_collection_id) {
                    $select.html("<option value=''>SELECT ANNOTATION METHOD</option>");
                    var url = '/api/annotation_set?q={"filters":[{"name":"current_user_can_edit","op":"eq","val":true},{"name":"media_collection_id","op":"eq","val":' + media_collection_id + '}],"order_by":[{"field":"created_at","direction":"desc"}]}&results_per_page=1000';

                    ajax.get(url, {
                        success: function (data) {
                            $(data.objects).each(function (i, d) {
                                var selected = (id === d.id) ? "selected" : "";
                                $select.append("<option " + selected + " value='" + d.id + "'>" + d.name + "</option>");
                                //$select.append("<option "+selected+" value='"+d.id+"'>"+d.media_collection.name+" | "+d.name+"</option>");
                            });
                            if (typeof id === "undefined")
                                $annotation_set_id.val(sessionStorage.getItem("frame_player_annotation_set_id"));  // restore value if available
                            else if (id===null)
                                sessionStorage.removeItem("frame_player_annotation_set_id");    // forget annotation_set

                            $select.trigger("change");
                        }
                    });
                }
                else {
                    $select.html("");
                }
            }

            function new_annotation_set_modal(media_collection_id) {
                var qsparams = {name: "REALTIME: "+(new Date).toISOString()};
                dataset_modal.annotation_set.create(media_collection_id, qsparams, {
                    modal_class:'modal-md',
                    oncompleted: function (data) {
                        update_annotation_set_select(data.media_collection.id, data.id);
                        notify.confirm("If other users will need access to this dataset, you must share it. " +
                            "Would you like to share this Annotation Set in a Group now?", {
                            ok_text: "SHARE",
                            cancel_text: "DO NOT SHARE",
                            title: "Share this dataset?",
                            ok: function() {
                                dataset_modal.annotation_set.share(data.id, {modal_class: 'modal-md'});
                            }
                        })
                    }
                });
            }

            function new_media_collection_modal() {
                // get latest deployment info and use it to automatically suggest a name for the collection
                var url = '/api/deployment';
                if (playergui.options.deployment_id) {
                    url += "/"+playergui.options.deployment_id;
                }
                else {
                    var q = {order_by:[{field:"created_at",direction:"desc"}],limit:1,single:true};
                    url = url.updateURIParam('q', JSON.stringify(q));
                }

                ajax.get(url, {success:function(data){
                    var qsparams = {
                        name: data.key,
                        description: "Frames from: "+data.campaign.name+" > "+data.key +
                            " (created in Realtime GUI at "+(new Date).toISOString()+")"
                    };
                    dataset_modal.media_collection.create(qsparams, {
                        modal_class:'modal-md',
                        oncompleted: function(data){
                            update_media_collection_select(data.id);
                            new_annotation_set_modal(data.id);
                        }   // update media collection when hidden
                    });
                }});
            }

            function log_event(media_collection_id, annotation_set_id, event_type_id) {
                if (!playergui.options.deployment_id || !playergui.media_id || !playergui.pose_data) {
                    notify.error("ERROR! Logger not ready yet.");
                }
                else {
                    var qsparams = 'deployment_id=' + playergui.options.deployment_id + '&media_id=' + playergui.media_id +
                        '&pose_id=' + playergui.pose_data.id + '&timestamp=' + playergui.pose_data.timestamp+"&event_type_id="+event_type_id;
                    playergui.pause($mode.val());
                    open_modal('/ui/models/deployment_event/create.html?' + qsparams, {
                        modal_id: 'deployment_event-modal',
                        modal_class: 'modal-right-panel modal-dark',
                        oncompleted: function(data){
                            notify.success("SUCCESS! Event has been logged.", 4000, "notify-event-logged");
                            if (data.media_id) {
                                //playergui.save_to_collection(media_collection_id, annotation_set_id, false);
                                //add_media_to_collection(data.media_id, media_collection_id);
                                playergui.save_to_collection(media_collection_id, null, null, data.media_id);
                            }
                            playergui.play($mode.val());
                        },
                        onshown: function() {
                            $(this).find("[name='description']").focus();
                            console.log($(this), $(this).find("[name='description']"));
                        }
                    });
                }
            }

            /*
            function add_media_to_collection(media_id, media_collection_id){

                if (!parseInt(media_id)>0) notify.error("ERROR! Not added to collection. There is no valid media item to add...");
                else if (!parseInt(media_collection_id)>0) notify.error("ERROR! Not added to collection. You first need to select or create a Media Collection");
                else {
                    var url = "/api/media_collection_media";
                    var mcm_data = {media_id: media_id, media_collection_id: media_collection_id};

                    $.ajax({
                        url: url,
                        data: JSON.stringify(mcm_data),
                        dataType: 'json',
                        type: 'POST',
                        contentType: 'application/json',
                        error: function (xhr, textstatus, errthrown) {
                            console.log(xhr, textstatus, errthrown);
                            notify.error("ERROR! " + textstatus + ": " + xhr.responseText, 0);
                        },
                        success: function (resp) {
                            console.log("Frame has been added", resp);
                        }
                    });
                }
            }
            */

            // set capture endpoints
            // if set to string, treated as GET
            // if set to function, treated as callback and executed
            /*
            playergui.update_capture_actions({
                start: "/geodata/frame_player/start",
                stop: function(data) {
                    clearInterval(log_timer);
                    $media_container.load(help_template);
                    $.getJSON("/geodata/frame_player/stop", data);
                    playergui.toggle_fullscreen(false);
                }
            });
            */


            // Add capture controls if frame capture control is set up in config
            {% if not config.FRAME_LOGGER_CAPTURE %}
                $main_container.find(".hide-nocapture").hide();
            {% endif %}


            // Add actions to frameplayer controls
            $main_container.find("[data-target='frameplayer']").click(function(){
                var data = $(this).data();
                if (data.hasOwnProperty("action")) {
                    var action = data.action;
                    var confirm_msg = (data.hasOwnProperty('confirm')) ? data.confirm : false;
                    console.debug("Executing frameplayer action: ", action);

                    if (playergui.hasOwnProperty(action)) {
                        if (confirm_msg !== false)
                            notify.confirm(confirm_msg, {ok: function(){
                                playergui[action]($mode.val());
                                if (action === "stop") update_media_collection_select(null);
                            }});
                        else {
                            playergui[action]($mode.val());
                            if (action === "stop") update_media_collection_select(null);
                        }
                          // get action from data element
                    }
                    else {
                        console.log("ERROR! Action not found...");
                    }
                }
            });


            /*
            $start_btn.click(function(){
                //if ($start_fullscreen.is(":checked")) playergui.toggle_fullscreen(true);
                playergui.start();

                //$.getJSON("/geodata/frame_player/start", {
                //    deployment_id: $deployment_id.val(),
                //    period: $logger_period.val(),
                //    platform_id: $platform_id.val()
                //});
            });

            $stop_btn.click(function(){
                playergui.stop();
                //playergui.toggle_fullscreen(false);
                //$.getJSON("/geodata/frame_player/stop");
            });

            $play_btns.click(function(){
                playergui.play();
                //$.getJSON("/geodata/frame_player/play").fail(function(jqXHR, stat, err){console.log("ERROR with framegrabber play endpoint:",jqXHR, stat, err)});
            });

            $pause_btn.click(function(){
                playergui.pause();
                //$.getJSON("/geodata/frame_player/pause").fail(function(jqXHR, stat, err){console.log("ERROR with framegrabber pause endpoint:",jqXHR, stat, err)});
            });
            */

            $preview_media.click(function(){dataset_modal.media.view(playergui.media_id)});

            $fullscreen_btn.click(function(){playergui.toggle_fullscreen()});
            $frame_annotate_btn.click(function(){
                playergui.save_to_collection($media_collection_id.val(), $annotation_set_id.val(), function(media_collection_id, annotation_set_id, media_id){
                    //var qs = '?media_q={"filters":[{"name":"media_collections","op":"any","val":{"name":"id","op":"eq","val":"' + media_collection_id + '"}}],"order_by":[{"field":"created_at","direction":"desc"}]}&page=1&results_per_page=50&page_index=0';
                    dataset_modal.media.annotate(media_id, annotation_set_id, {}, {
                        onhidden: function () {playergui.play($mode.val())},
                        keyboard: true
                    });
                    /*
                    var qs = '';  // no thumbnails - quicker loading
                    open_modal("/iframe/geodata/annotate/" + media_id + "/" + annotation_set_id + qs, {
                        modal_id: 'media-modal-annotate',
                        modal_class: 'modal-full modal-dark',
                        show_close: false,
                        iframe: true,
                        onhidden: function () {
                            playergui.play($mode.val()==="capture");
                        }
                    });
                    */
                    //notify.info("<i class='fa fa-info-circle'></i> Apply point-label and/or whole-frame annotations. Close this window once you are complete to return to the feed.");
                });
            });
            $frame_save_btn.click(function(){
                var xhr = playergui.save_to_collection($media_collection_id.val(), $annotation_set_id.val(), function(media_collection_id, annotation_set_id, media_id){
                    playergui.play($mode.val());
                });
                if (typeof xhr.done === 'function')
                    xhr.done(function(data){
                        notify.success("SUCCESS! Frame has been saved.", 5000, "notify-frame-saved");
                    });
            });
            $frame_tag_btn.click(function(){
                playergui.save_to_collection($media_collection_id.val(), $annotation_set_id.val(), function(media_collection_id, annotation_set_id, media_id){
                    open_modal("/ui/models/media/get_frame_labels.html?media_id="+media_id+"&annotation_set_id="+annotation_set_id,{
                        modal_id: 'media-modal-frame-annotate',
                        modal_class: 'modal-right-panel modal-dark',
                        backdrop: false,
                        prevent_submodal_hide: true,
                        //remember_state: true,
                        onhidden: function () {
                            playergui.play($mode.val());
                        }
                    });
                });
            });
            $annotation_set_btn.click(function(){
                if ($media_collection_id.val() === "")
                    notify.error("You first need to select or create a Media Collection");
                else if ($annotation_set_id.val() === "")
                    notify.error("You first need to select or create an Annotation Set");
                else {
                    playergui.pause($mode.val());
                    window.open('/geodata/annotation_set/'+$annotation_set_id.val()+'#img');
                }
                /*
                open_modal('/geodata/collection?media_collection_id='+$media_collection_id.val()+'&annotation_set_id='+$annotation_set_id.val()+'#img', {
                    modal_id:'media-modal-annotation_set',
                    modal_class:'modal-full modal-dark',
                    iframe:true,
                    onhidden: function(){
                        playergui.play();
                    }
                })
                */
            });
            $manage_annotation_set_btn.click(function(){
                dataset_modal.media_collection_groups($media_collection_id.val(), $annotation_set_id.val(), {
                    oncompleted: function(data) {
                        update_annotation_set_select(data.media_collection_id, data.annotation_set_id);
                        update_media_collection_select(data.media_collection_id);
                    }
                });
            });
            $new_media_collection_btn.click(function(){
                new_media_collection_modal();
            });
            $new_annotation_set_btn.click(function(){
                if ($media_collection_id.val() === "")
                    notify.error("You first need to select or create a Media Collection");
                else
                    new_annotation_set_modal($media_collection_id.val());
            });
            $log_event_btn.click(function(){
                log_event($media_collection_id.val(), $annotation_set_id.val(), null);
            });

            $event_annotation_list_btn.click(function(){
                //$media_collection_id.val(), $annotation_set_id.val()
                if ($media_collection_id.val() === "")
                    notify.error("You first need to select or create a Media Collection");
                else if ($annotation_set_id.val() === "")
                    notify.error("You first need to select or create an Annotation Set");
                else
                    open_modal("/geodata/event_annotation_list/"+$media_collection_id.val()+"/"+$annotation_set_id.val(),{
                        modal_id: 'media-event_annotation_list',
                        modal_class: 'modal-dark modal-lg',
                        //remember_state: true,
                        onhidden: function(){playergui.play($mode.val())},
                        onshown: function(){playergui.pause($mode.val())}
                    });
            });

            $feed_period.change(function(){
                playergui.update_options({delay: $(this).val()})
            });
            $results_per_page.change(function(){
                playergui.update_options({results_per_page: $(this).val()})
            });
            $media_key_filter.change(function(){
                playergui.update_options({media_key_filter: $(this).val()})
            });
            $media_sort_field.change(function(){
                playergui.update_options({media_sort_field: $(this).val()})
            });
            /*
            $deployment_id.change(function(){
                playergui.update_options({deployment_id: $(this).val(), offset:0})
            });
            $platform_id.change(function(){
                update_deployment_select($(this).val(), null);
            });
            */
            $media_collection_id.change(function(){
                update_annotation_set_select($(this).val());
                sessionStorage.setItem("frame_player_media_collection_id", $(this).val());  // remember collection
            });
            $annotation_set_id.change(function(){
                sessionStorage.setItem("frame_player_annotation_set_id", $(this).val());   // remember annotation_set
            });

            $thumbnail_container.scroll(function(){
                console.debug(this.scrollLeft);
                // if hovering, and not pause and user starts to scroll (more than 5 pixels), pause player.
                if ($thumbnail_container.is(':hover') && !playergui.is_paused && Math.abs(this.scrollLeft)>5) {
                    playergui.pause($mode.val());
                }
            }).mousewheel(function(e, delta) {
                this.scrollLeft -= (delta * 40);
                e.preventDefault();
            });

            $main_container.find("[data-click='toggle']").click(function(e){
                $($(this).attr("href")).toggle(200);
                //$(this).parents(".ctl-settings").find('.parameters').toggle(200);
                e.preventDefault();
                return false;
            });

            $main_container.find('[data-hover="tooltip"]').tooltip();

            $main_container.find(".fill-height").css("flex-grow", "1").parent().css({display: 'flex', 'flex-direction': 'column'});

            update_media_collection_select();
            check_logger_status();
            get_actions();




            // handle keyboard events
            $(document).on("keydown", function(e) {
                if (!$(e.target).is(":input") && !$("body").hasClass("modal-open")) {
                    e.stopImmediatePropagation();   // prevent multiple firings of keyboard event
                    if (e.which === 65) {   // key: A
                        $frame_annotate_btn.trigger("click");
                    }
                    else if (e.which === 84) {   // key: T
                        $frame_tag_btn.trigger("click");
                    }
                    else if (e.which === 83) {   // key: S
                        $frame_save_btn.trigger("click");
                    }
                    else if (e.which === 69) {   // key: E
                        $log_event_btn.trigger("click");
                    }
                    else if (e.which === 32) {   // space
                        if (playergui.is_paused) playergui.play($mode.val());
                        else playergui.pause($mode.val());
                    }
                    else if (e.which === 37) {   // left
                        // prev frame
                        if ($thumbnail_container.css("direction") === "rtl")
                            $thumbnail_container.find("a.thm.active").next("a.thm").trigger("click");
                        else
                            $thumbnail_container.find("a.thm.active").prev("a.thm").trigger("click");
                        playergui.autoscroll_thumbnails();
                    }
                    else if (e.which === 39) {   // right
                        // next frame
                        if ($thumbnail_container.css("direction") === "rtl")
                            $thumbnail_container.find("a.thm.active").prev("a.thm").trigger("click");
                        else
                            $thumbnail_container.find("a.thm.active").next("a.thm").trigger("click");
                        playergui.autoscroll_thumbnails();
                    }
                    else if (e.which === 13) {   // enter/return
                        $capture_frame_btn.trigger("click");   // capture frame
                    }
                    else {
                        console.log("*** KEY NOT CONFIGURED: e.which=" + e.which);
                        return;
                    }
                    e.preventDefault();
                }
            });



            // Load dynamic content
            /*
            ajax.get('/api/platform?results_per_page=500', {success:function(data){
                var $select = $platform_id;
                $select.html("");
                $(data.objects).each(function(i,p){
                    $select.append("<option value='"+p.id+"'>"+p.name+"</option>");
                });
                $select.trigger('change');
            }});
            */

            ajax.get('/api/deployment_event_type?results_per_page=500', {success:function(data){
                console.log(data);
                $log_event_options.html("");
                $(data.objects).each(function(i, el){
                    var $a = $("<a href='javascript:void(0)'><i class='fa fa-comment-o'></i> EVENT: "+el.name+"</a>");
                    $a.click(function(){
                        log_event($media_collection_id.val(), $annotation_set_id.val(), el.id);
                    });
                    $log_event_options.append($("<li></li>").append($a));
                });
            }});

        });
    </script>

{% include "flash_messages.html" %}

</body>
</html>
