<nav class="navbar  navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="navbar-brand"><a href="{{ url_for('public.home') }}"><i class="fa fa-tag" style="color: white;"></i></a>&nbsp;<b>SQ+</b>: <span style="text-transform: uppercase">{{ nav_title }}</span></span>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        {% if current_user and current_user.is_authenticated() %}
        <li class="dropdown"><a href="#" class="dropdown-toggle" style="border-left: solid 2px #505050; border-right:solid 2px #505050;" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-list-ul"></i> My Data <span class="caret"></span></a>
          <ul id="my-collection-options" class="dropdown-menu" role="menu">
              <li><a href="{{ url_for('geodata.explore') }}?action=newcollection"><i class="fa fa-plus-circle"></i> New Collection</a></li>
              <li>
                  <a href="javascript:void(0)" onclick="dataset_modal.media_collection_groups('{{ data.media_collection.id if data is defined }}','{{ data.id if data is defined }}')">
                  <i class="fa fa-list-ul"></i> My Datasets</a>
              </li>
              <li>
                  <a href="javascript:void(0)" onclick="dataset_modal.manage_groups()">
                  <i class="fa fa-share-alt"></i> My Groups / Memberships</a>
              </li>
          </ul>
        </li>
        {% endif %}

        {% if nav_title == "explore" %}
        <li><a class="explore-tab-link" href="#map" aria-controls="map" role="tab" data-toggle="tab"><i class="fa fa-globe"></i> Map</a></li>
        <li><a class="explore-tab-link" href="#img" aria-controls="img"  role="tab" data-toggle="tab"><i class="fa fa-image"></i> Media</a></li>
        <li><a class="explore-tab-link" href="#dat" aria-controls="dat"  role="tab" data-toggle="tab"><i class="fa fa-bar-chart"></i> Datasets & Stats</a></li>
        {% elif nav_title == "analyse" %}
        <li><a class="explore-tab-link" href="#img" aria-controls="img"  role="tab" data-toggle="tab"><i class="fa fa-tag"></i> Annotate</a></li>
        <li><a class="explore-tab-link" href="#qac" aria-controls="qac"  role="tab" data-toggle="tab"><i class="fa fa-check-square-o"></i> QA/QC</a></li>
        <li><a class="explore-tab-link" href="#dat" aria-controls="dat"  role="tab" data-toggle="tab"><i class="fa fa-bar-chart"></i> Export</a></li>
        {% endif %}


        {% if data is defined %}
            <li>
                <a class="nav-item-data-resource" style="border-right: solid 2px #505050;" href="javascript:void(0)" data-id="{{ data.id }}" data-resource="annotation_set">
                    <i class="fa fa-share-alt fa-fw"></i> Share
                </a>
            </li>
            <li class="navbar-text"
                title="media_collection[ID:{{ data.media_collection.id }}]: {{ data.media_collection.name }}, annotation_set[ID:{{ data.id }}]: {{ data.name }} (created: {{ data.created_at|parse_datestring|humanize() }})">
                <span class="label">
                    <i class="fa fa-th-list"></i> {{ data.media_collection.name }}
                </span>
                <i class="fa fa-caret-right text-danger"></i>
                <span class="label">
                    <i class="fa fa-tag"></i> {{ data.name }}
                </span>
            </li>


{#            <li>#}
{#                <a class="nav-item-data-resource" style="border-left: solid 2px #505050;" href="javascript:void(0)" data-id="{{ data.media_collection.id }}" data-resource="media_collection">#}
{#                    <i class="fa fa-th-list"></i> {{ data.media_collection.name }}#}
{#                </a>#}
{#            </li>#}
{#            <li class="navbar-text"><i class="fa fa-caret-right text-danger"></i></li>#}
{#            <li>#}
{#                <a class="nav-item-data-resource" style="border-right: solid 2px #505050;" href="javascript:void(0)" data-id="{{ data.id }}" data-resource="annotation_set">#}
{#                    <i class="fa fa-tag"></i> {{ data.name }}#}
{#                </a>#}
{#            </li>#}
        {% endif %}
    </ul>

    <ul class="nav navbar-nav navbar-right" style="margin-right: 0">


        <li><a title="More info"  data-toggle="tooltip" data-placement="bottom" href="{{ url_for('public.about') }}"><i class="fa fa-info-circle"></i></a></li>
        {% if current_user and current_user.is_authenticated() %}
            <li><a title="Bug report / feature request" data-toggle="tooltip" data-placement="bottom" href="javascript:void(0)" onclick="open_modal('{{ url_for('public.userissue') }}', {modal_id: 'userissue-modal', modal_class:'modal-md'})"><i class="fa fa-bug"></i></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> {{ current_user.username }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a class="navbar-link" href="javascript:void(0)" onclick="user_modal.logout()">Sign out</a></li>
                <li><a href="javascript:void(0)" onclick="user_modal.update('{{ current_user.id }}')">Edit details</a></li>
                <li><a href="javascript:void(0)" onclick="user_modal.api_token()">API Token</a></li>
              </ul>
            </li>
        {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> Not logged in <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="javascript:void(0)" onclick="user_modal.login()">Log in</a></li>
                <li><a href="javascript:void(0)" onclick="user_modal.create()">Sign up</a></li>
              </ul>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>